
<div class="separator"><b>Email configuration</b></div>
<br>
    <div class="form-group row">
   <label class="col-md-2 control-label"> Professional Email ID
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
        <input name="professional_email" placeholder="Enter Email" class="form-control" type="text">

    </div>
  </div>

   <label class="col-md-2 control-label">Professional Email's Password
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
      <input type="text" name="professional_email_password" placeholder="Enter Password" data-type="adhaar-number" maxLength="19" class="form-control" >

  </div>
    </div>
</div>


<!-- &lt;!&ndash; Modal &ndash;&gt;-->
<!--  <div class="modal fade" id="myModal" role="dialog">-->
<!--    <div class="modal-dialog">-->

<!--      &lt;!&ndash; Modal content&ndash;&gt;-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h4 class="modal-title">Test Email Credentials</h4>-->
<!--          <button type="button" class="close" data-dismiss="modal">&times;</button>-->

<!--        </div>-->
<!--        <div class="modal-body">-->


<!--        <div class="row" >-->

<!--           <div class="col-md-12">-->
<!--               <h5>Credentials:</h5>-->
<!--               <span>Email Id: {% if admin_id.professional_email == None %}{% else %}{{admin_id.professional_email}}{% endif %}</span><br>-->
<!--               <span>Password: {% if admin_id.professional_email_password == None %}{% else %}{{admin_id.professional_email_password}}{% endif %}</span>-->
<!--           </div>-->
<!--  <br>-->
<!--            <div class="col-md-12">-->
<!--            <form action="" method="post" >{% csrf_token %}-->
<!--                <input type="hidden" name="test_professional_email" value="{{admin_id.professional_email}}">-->
<!--                <input type="hidden" name="test_professional_email_password" value="{{admin_id.professional_email_password}}">-->

<!--                <center>-->

<!--            <button type="submit" name="test_submit" class="btn btn-primary">CHECK</button>-->
<!--        </center>-->
<!--            </form>-->
<!--            </div>-->
<!--        </div>-->


<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->