
<!DOCTYPE html>

<html lang="en">
	<!--begin::Head-->
	<head><base href="">
		{% load static %}
		<meta charset="utf-8" />
		<title></title>
		<meta name="description" content="Updates and statistics" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Page Vendors Styles(used by this page)-->
		<link href="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" />
		<!--end::Page Vendors Styles-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="{% static 'plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'plugins/custom/prismjs/prismjs.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->
		<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="header-mobile-fixed subheader-enabled aside-enabled aside-fixed aside-secondary-enabled page-loading">
		<!--begin::Main-->
		<!--begin::Header Mobile-->
		<div id="kt_header_mobile" class="header-mobile">
			<!--begin::Logo-->
			<a href="index.html">
				<img alt="Logo" src="assets/media/logos/logo-letter-2.png" class="logo-default max-h-30px" />
			</a>
			<!--end::Logo-->
			<!--begin::Toolbar-->
			<div class="d-flex align-items-center">
				<button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
					<span></span>
				</button>
			</div>
			<!--end::Toolbar-->
		</div>
		<!--end::Header Mobile-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Aside-->
					{% include 'base_templates/aside.html' %}


				<!--end::Aside-->
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
					<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div class="" id="kt_subheader">
							<div class="container-fluid">
								<!--begin::Info-->


<style>

* {
color:;
}
  .faicons {
  font-size: 18px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: #5a5c69;
  }

  .icon-border {
  border: 1px solid #d1d3e2;
  border-radius: 5px 1px 1px 5px;
  border-right: none;


  }

  .control-label {
  color: black;

  }

</style>

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content" style="background-color: white;">


        <!-- Topbar -->
        <!-- End of Topbar -->


<br>
<br>
          <center>
            <h1 class="h3 mb-0 text-gray-800">AMC</h1>
              </center>
<br>
<br>
    <form class="well form-horizontal" ion="" method="post"  id="contact_form" style="padding:20px;">{% csrf_token%}
<fieldset>

 <div class="form-group row">
    <label class="col-md-2 control-label">Customer Number


</label>

    <div class="col-md-3 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-users faicons"></i></span>
    <select name="customer_number" id="display_limit" onchange="choice1(this)" class="form-control">
    <option value="-----">---------</option>
       {% for item in cust_sugg %}
  <option value="{{item.pk}}">{{item.pk}} - {{item.customer_name}} - {{item.company_name}}</option>

   {% endfor %}
</select>

    </div>
Format : (crm no)
  </div>


      <!--<label class="col-md-1 control-label">Customer Number-->


<!--</label>-->

    <div class="col-md-3 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-users faicons"></i></span>
    <select name="customer_number" id="display_limit2" onchange="choice1(this)" class="form-control">
    <option value="-----">---------</option>
       {% for item in cust_sugg %}
  <option value="{{item.pk}}">{{item.customer_name}} - {{item.company_name}}</option>

   {% endfor %}
</select>

    </div>
Format : (customer name)
  </div>


      <div class="col-md-3 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-users faicons"></i></span>
    <select name="customer_number" id="display_limit3" onchange="choice1(this)" class="form-control">
    <option value="-----">---------</option>
       {% for item in cust_sugg %}
  <option value="{{item.pk}}">{{item.company_name}} - {{item.customer_name}}</option>

   {% endfor %}
</select>

    </div>
Format : (company name)
  </div>

</div>
    <hr>
 <div id="loaded_customer">

<div class="form-group row">

      <label class="col-md-2 control-label">Customer Name *



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-users faicons"></i></span>
  <input  name="customer_name" required placeholder="Customer Name" class="form-control"  type="text">
    </div>
  </div>




  <label class="col-md-2 control-label">Company Name

</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-building faicons"></i></span>
  <input  name="company_name" placeholder="Company Name" class="form-control"  type="text">
    </div>
  </div>




</div>



<div class="form-group row">
    <label class="col-md-2 control-label">Contact Number. *
    </label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
  <input name="contact_no" onkeypress="" maxlength="10" minlength="10"  required placeholder="Contact No." class="form-control"  type="number">
    </div>
  </div>
  <label class="col-md-2 control-label">Customer E-mail id


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-envelope faicons"></i></span>
  <input type="email" name="customer_email_id" placeholder="Customer E-mail id" class="form-control">
    </div>
  </div>


</div>
   <div class="form-group row">
  <label class="col-md-2 control-label">Address *






</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-envelope faicons"></i></span>
  <input type="Address" required name="customer_address" placeholder="Address" class="form-control"  >
    </div>
  </div>
   </div>

 </div>
<!--  <div class="form-group row">-->

<!-- <label class="col-md-2 control-label">Second Person-->

<!--</label>-->

<!--    <div class="col-md-4 inputGroupContainer">-->
<!--  <div class="input-group">-->
<!--      <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>-->
<!--    <input type="text" name="second_person" placeholder="Name" class="form-control" >-->
<!--    </div>-->
<!--  </div>-->

<!--    <label class="col-md-2 control-label">Contact No-->

<!--</label>-->

<!--    <div class="col-md-4 inputGroupContainer">-->
<!--  <div class="input-group">-->
<!--  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>-->
<!--  <input name="second_contact_no" placeholder="Contact No" class="form-control" type="number" >-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="form-group row">-->

<!-- <label class="col-md-2 control-label">Third Person-->

<!--</label>-->

<!--    <div class="col-md-4 inputGroupContainer">-->
<!--  <div class="input-group">-->
<!--      <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>-->
<!--    <input type="text" name="third_person" placeholder="Name" class="form-control" >-->
<!--    </div>-->
<!--  </div>-->

<!--    <label class="col-md-2 control-label">Contact No-->

<!--</label>-->

<!--    <div class="col-md-4 inputGroupContainer">-->
<!--  <div class="input-group">-->
<!--  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>-->
<!--  <input name="third_contact_no" placeholder="Contact No" class="form-control" type="number" >-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


  <div class="form-group row">


    <label class="col-md-2 control-label">Type of Scale *





</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
    <select id="divselector" required name="type_of_scale" onchange="choice1(this)" class="form-control">
       <option value="">Select Scale Type</option>

    {% for item in type_purchase %}
  <option value="{{item.name}}">{{item.name}}</option>

   {% endfor %}

  </select>
    </div>
  </div>




  <label class="col-md-2 control-label">Scale Serial Number






</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
  <input  name="serial_no_scale" placeholder="Scale Serial Number


" class="form-control"  type="text">
    </div>
  </div>
  </div>


  <div class="form-group row">
    <label class="col-md-2 control-label">Contract Validity in Years

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  <input  name="contract_valid_in_years" placeholder="Contract Validity in Years



" class="form-control"  type="text">
    </div>
  </div>

  <label class="col-md-2 control-label">Contract Amount *


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-money faicons"></i></span>
  <input  name="contract_amount" required placeholder="Contract Amount" class="form-control"  type="number">


     </div>
  </div>
  </div>


  <div class="form-group row">


    <label class="col-md-2 control-label">Contact No. For Reporting Breakdown
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-phone faicons"></i></span>
  <input  name="contract_no_reporting_breakdown" placeholder="Contact No. For Reporting Breakdown" class="form-control"  type="text">
    </div>
  </div>


  <label class="col-md-2 control-label">Contract Start Date *







</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  <input id="contract_start_date" required name="contract_start_date" placeholder="Contract Start Date" class="form-control"  type="date">
    </div>
  </div>
  </div>

  <div class="form-group row">

    <label class="col-md-2 control-label">Contract End Date *






</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  <input  name="contract_end_date" placeholder="Contract End Date




" required class="form-control"  type="date">
    </div>
  </div>
  </div>


<center>
  <button type="submit" value="submit" class="btn btn-primary">Save</button>

</center>



<br>







</fieldset>
</form>
</div>
    </div>

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

<script>
  window.onload = function() {
document.getElementById('contract_start_date').required = false;
};


  function choice1(select) {
     //alert(select.options[select.selectedIndex].value);
    $.ajax({                       // initialize an AJAX request
        url: "/load_customer/",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'item_id': select.options[select.selectedIndex].value       // add the country id to the GET parameters

        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
    $("#loaded_customer").html(data);
        }
      });
}

</script>



							</div>
						</div>
					</div>
				</div>



				<!--end::Purchase-->
			</div>
			<!--end::Content-->
		</div>
		<!--end::Demo Panel-->
		<!--begin::Global Config(global config for global JS scripts)-->

		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="{% static 'plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'plugins/custom/prismjs/prismjs.bundle.js' %}"></script>
<script src="{% static 'js/scripts.bundle.js' %}"></script>
<!--end::Global Theme Bundle-->
<!--begin::Page Vendors(used by this page)-->
<script src="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
<!--end::Page Vendors-->
<!--begin::Page Scripts(used by this page)-->
<script src="{% static 'js/pages/widgets.js' %}"></script>
		<!--end::Page Scripts-->
	</body>
	<!--end::Body-->
</html>