
<!DOCTYPE html>

<html lang="en">
	<!--begin::Head-->
	<head><base href="">
		{% load static %}
		<meta charset="utf-8" />
		<title></title>
		<meta name="description" content="Updates and statistics" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Page Vendors Styles(used by this page)-->
		<link href="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" />
		<!--end::Page Vendors Styles-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="{% static 'plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'plugins/custom/prismjs/prismjs.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
		        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->
		<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="header-mobile-fixed subheader-enabled aside-enabled aside-fixed aside-secondary-enabled page-loading">
		<!--begin::Main-->
		<!--begin::Header Mobile-->
		<div id="kt_header_mobile" class="header-mobile">
			<!--begin::Logo-->
			<a href="index.html">
				<img alt="Logo" src="assets/media/logos/logo-letter-2.png" class="logo-default max-h-30px" />
			</a>
			<!--end::Logo-->
			<!--begin::Toolbar-->
			<div class="d-flex align-items-center">
				<button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
					<span></span>
				</button>
			</div>
			<!--end::Toolbar-->
		</div>
		<!--end::Header Mobile-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Aside-->
					{% include 'base_templates/aside.html' %}


				<!--end::Aside-->
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
					<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div class="" id="kt_subheader">
							<div class="container-fluid">


<style>
  .faicons {
  font-size: 18px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: #5a5c69;
  }

  .icon-border {
  border: 1px solid #d1d3e2;
  border-radius: 5px 1px 1px 5px;
  border-right: none;


  }

  .control-label {
  color: black;

  }

</style>

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column" style="background-color: white;">

      <!-- Main Content -->
      <div id="content" style="margin-top: 3%;">


        <!-- Topbar -->
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <center><h3>Add Sales Details</h3></center>

        <div class="" >

          <!--<div class="row" style="padding:20px;">-->
               <!--&lt;!&ndash;<label class="col-md-6 control-label">CRM Number:</label>&ndash;&gt;-->

          <!--</div>-->
<br>


    <form class="well form-horizontal" ion="" method="POST"  id="contact_form" style="padding:20px;" enctype="multipart/form-data" >{% csrf_token %}

<div class="form-group row">


    <div class="col-md-2 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-users faicons"></i></span>
    <input name="customer_number" id="cust_id" list="display_limit1" onchange="choice1(this)" class="form-control">
        <datalist id="display_limit1">
       {% for item in cust_sugg %}
  <option value="{{item.pk}}">{{item.pk}}</option>

   {% endfor %}
            </datalist>

    </div>
Format : (crm no)
  </div>


    <div class="col-md-3 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-users faicons"></i></span>
    <input name="customer_number" id="cust_id1" list="display_limit2" onchange="choice2(this)" class="form-control">
        <datalist id="display_limit2">
       {% for item in cust_sugg %}
  <option value="{{item.pk}}">{{item.customer_name}}</option>
   {% endfor %}
            </datalist>

    </div>
Format : (customer name)
  </div>


      <div class="col-md-3 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-users faicons"></i></span>
    <input name="customer_number" id="cust_id2" list="display_limit3" onchange="choice3(this)" class="form-control">
        <datalist id="display_limit3">
       {% for item in cust_sugg %}
  <option value="{{item.pk}}">{{item.company_name}}</option>
   {% endfor %}
            </datalist>

    </div>
Format : (company name)
  </div>

    <div class="col-md-2 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-users faicons"></i></span>
     <input name="customer_number" id="cust_id3" list="display_limit4" onchange="choice4(this)" class="form-control">
        <datalist id="display_limit4">
       {% for item in cust_sugg %}
  <option value="{{item.pk}}">{{item.contact_no}}</option>

   {% endfor %}
            </datalist>

    </div>
Format : (contact no)
  </div>
        <div class="col-md-2 inputGroupContainer row">
        <div class="col-md-4">
    <button style="width: 40px;" class="btn btn-success"><i class="fa fa-search" style=""></i></button>
        </div>
                    <div class="col-md-6">
    <button style="width:40px;" type="button" onclick="clearData()" class="btn btn-warning"><i class="fa fa-close">X</i></button>
        </div>

        </div>
</div>
    <!--<input type="text" id="id_input"   >-->
<hr style="background-color: gray;">

<hr>
  <!--<div class="col-md-4 inputGroupContainer">-->
  <!--<div class="input-group">-->
  <!--<span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>-->
  <!--<input name="crm_no" placeholder="Enter CRM NO"  class="form-control"  type="text" list="crm_no">-->
    <!--<datalist style="height:20px;" id="crm_no">-->
      <!--<option value="Energy industry"></option>-->
    <!--</datalist>-->
  <!--</div></div>-->





<div id="loaded_customer">

  <div class="form-group row">
  <label class="col-md-2 control-label ">Name Of Customer *
</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="customer_name" placeholder="Full Name" required class="form-control" id="customer_name"  type="text">
    </div>
  </div>

    <label class="col-md-2 control-label">Contact Number *

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-phone faicons"></i></span>
  <input  name="contact_no" placeholder="Contact No" class="form-control" onkeypress="" id="contact_no" maxlength="10" minlength="10" required type="number" >
    </div>
  </div>
</div>



<div class="form-group row">
    <label class="col-md-2 control-label">Company Name
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-building faicons"></i></span>
  <input  name="company_name" placeholder="Company Name" class="form-control" id="company_name"  type="text">
    </div>
  </div>
        <label class="col-md-2 control-label">Address *

</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-card faicons"></i></span>
  <input class="form-control" name="customer_address" id="customer_address"  placeholder="Address"/>
    </div>
  </div>
</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Email Id
  </label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-envelope faicons"></i></span>
  <input type="email" name="customer_email_id" placeholder="Customer Email Id" id="customer_email_id"  class="form-control" >
    </div>
  </div>

  <label id="label_customer_gst_no" class="col-md-2 control-label">Customer GST No.
  </label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-envelope faicons"></i></span>
  <input type="text" name="customer_gst_no" placeholder="Customer GST No" id="customer_gst_no"  class="form-control" >
    </div>
  </div>

</div>

</div>
        <hr style="background-color: gray;">

  <div class="form-group row">

  <label class="col-md-2 control-label">New/Repeat Sale *
</label>
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-book faicons"></i></span>
<select name="new_repeat_purchase" id="new_repeat_purchase_id" required class="form-control">
  <option value="New">New</option>
  <option value="Repeat">Repeat</option>
</select>
    </div>
  </div>






    <label id="label_bill_no" class="col-md-2 control-label">Bill No

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="bill_no" id="bill_no" placeholder="Bill No" class="form-control"  type="text">
    </div>
  </div>
  </div>
<hr style="background-color: gray;">





<div class="form-group row">

<label class="col-md-2 control-label">Channel of Marketing


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
 <span class="input-group-addon icon-border"><i class="fa fa-angle-double-down faicons"></i></span>

      <select name="channel_of_marketing" id="channel_of_marketing" class="form-control">
  <option value="">Select Channel of Marketing</option>
  {% for item in channel_marketing %}
          <option value="{{item.id}}">{{item.name}}</option>
          {% endfor %}
</select>


<!--    <input  type="text"  name="channel_of_marketing" id="channel_of_marketing" placeholder="Channel of Marketing" class="form-control" list="channel110">-->
<!--    <i class="fa fa-angle-double-down faicons" style="margin-left: -40px; z-index:9999; width: 10%;"></i>-->
<!--    <datalist style="height:20px;" id="channel110">-->
<!--      <option value="Phone"></option>-->
<!--      <option value="Whatsapp"></option>-->
<!--      <option value="Email"></option>-->
<!--&lt;!&ndash;      <option value="Hsc"></option>&ndash;&gt;-->
<!--&lt;!&ndash;      <option value="Sales"></option>&ndash;&gt;-->
<!--      <option value="Google"></option>-->
<!--      <option value="Justdial"></option>-->
<!--      <option value="Reference"></option>-->
<!--      <option value="Existing Customer"></option>-->
<!--      <option value="BNI"></option>-->
<!--      <option value="Others"></option>-->
<!--    </datalist>-->

    </div>
  </div>



    <label class="col-md-2 control-label">Industry *

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-angle-double-down faicons"></i></span>

        <select name="industry" id="industry" required class="form-control">
  <option value="">Select Industry</option>
  {% for item in indutry %}
          <option value="{{item.id}}">{{item.name}}</option>
          {% endfor %}
</select>

<!--    <input id="industry_id" type="text" required name="industry" placeholder="Industry" class="form-control" list="channel2">-->
<!--        <i class="fa fa-angle-double-down faicons" style="margin-left: -40px; z-index:9999; width: 10%;"></i>-->
<!--    <datalist style="height:20px;" id="channel2">-->
<!--      <option value="Energy industry"></option>-->
<!--      <option value="Chemicals"></option>-->
<!--      <option value="Industrial Metals "></option>-->
<!--      <option value="Gold/Gems and precious Metals "></option>-->
<!--      <option value="Home and Heavy Construction companies "></option>-->
<!--      <option value="Electrical and Electronic Manufacturers"></option>-->
<!--      <option value="Industrial Transportation"></option>-->
<!--      <option value="Agriculture"></option>-->
<!--      <option value="Poultry/Livestock"></option>-->
<!--      <option value="Healthcare Equipment and Services"></option>-->
<!--      <option value="Textiles"></option>-->
<!--      <option value="Hotels"></option>-->
<!--      <option value="Grocery/Retail"></option>-->
<!--      <option value="Bakery"></option>-->
<!--      <option value="Supplier"></option>-->
<!--      <option value="BNI"></option>-->
<!--      <option value="Online Promotion"></option>-->
<!--      <option value="Fishing"></option>-->
<!--      <option value="Dealer"></option>-->
<!--    </datalist>-->
    </div>
  </div>
</div>



<div class="form-group row">

<label class="col-md-2 control-label">Channel of Sales *


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
 <span class="input-group-addon icon-border"><i class="fa fa-angle-double-down faicons"></i></span>

            <select name="channel_of_sales" id="channel_of_sales_id" required class="form-control">
  <option value="">Select Channel of Sales</option>
  {% for item in channel_sales %}
          <option value="{{item.id}}">{{item.name}}</option>
          {% endfor %}
</select>


<!--    <input  type="text" required name="channel_of_sales" id="channel_of_sales_id" placeholder="Channel of Sales" class="form-control" list="channel10">-->
<!--    <i class="fa fa-angle-double-down faicons" style="margin-left: -40px; z-index:9999; width: 10%;"></i>-->
<!--    <datalist style="height:20px;" id="channel10">-->
<!--      <option value="Retail through Physical Store"></option>-->
<!--      <option value="Online Market Places"></option>-->
<!--      <option value="Website"></option>-->
<!--      <option value="Indiamart"></option>-->
<!--      <option value="App"></option>-->
<!--      <option value="Field Salesmen"></option>-->
<!--      <option value="Fairs and Trade Shows"></option>-->
<!--    </datalist>-->
    </div>
  </div>

    <label class="col-md-2 control-label">Channel of Dispatch *


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>


           <select name="channel_of_dispatch" id="channel_of_dispatch_id" required class="form-control">
  <option value="">Select Channel of Dispatch</option>
  {% for item in channel_dispatch %}
          <option value="{{item.id}}">{{item.name}}</option>
          {% endfor %}
</select>


<!--  <input  type="text" name="channel_of_dispatch" id="channel_of_dispatch_id" placeholder="Channel of Dispatch" required class="form-control" list="channel">-->
<!--        <i class="fa fa-angle-double-down faicons" style="margin-left: -40px; z-index:9999; width: 10%;"></i>-->

<!--    <datalist style="height:20px;" id="channel">-->
<!--              <option value="Franchisee Store">-->
<!--              <option value="Transport">-->
<!--      <option value="Courier">-->
<!--      <option value="Online Market Places">-->
<!--      <option value="Delivery Boys">-->
<!--    </datalist>-->
    </div>
  </div>
      </div>


<hr style="background-color: gray;">

      <div class="form-group row">
    <label class="col-md-2 control-label">P&F
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="total_pf" id="total_pf_id" onkeyup="calculate_total_amount()"  value="0.0" placeholder="P&F Amount" class="form-control" step="any" type="number">
    </div>
  </div>

<label class="col-md-2 control-label">Notes
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-file faicons" style="margin-top: 20px;"></i></span>
<textarea name="notes" id="notes_id" placeholder="Notes" class="form-control"></textarea>
</div>

  </div>

</div>



      <div class="form-group row">

  <label class="col-md-2 control-label">Payment Mode *
</label>
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-book faicons"></i></span>
<select name="payment_mode" id="payment_mode_id" onchange="show()"  required class="form-control">
  <option value="">Select</option>
  <option value="Cash">Cash</option>
  <option  value="Cheque">Cheque</option>
  <option  value="Credit">Credit</option>
  <option  value="Razorpay">Razorpay</option>
  <option  value="Google Pay">Google Pay</option>
  <option  value="NEFT">NEFT</option>
</select>
    </div>
  </div>
<label class="col-md-2 control-label">GST


</label>

              <div class="col xl-12">
                  <div class="col-md-4 inputGroupContainer">
  <div class="custom-control custom-checkbox">

    <input type="checkbox" class="custom-control-input" onclick="on_gst()" id="gst_id"  name="gst_id"     >

  <label class="custom-control-label"    for="gst_id"></label>
  </div>
</div>

              </div>
      </div>
<div id="payment_cheque2" style="display: none;">
            <div class="form-group row">

<label class="col-md-2 control-label">Bank Name*


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="bank_name" value="" id="bank_name2" placeholder="Bank Name" class="form-control"  type="text">
    </div>
  </div>

  <label class="col-md-2 control-label">Cheque No*


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="cheque_no" id="cheque_no2" value="" placeholder="Cheque Number" class="form-control"  type="text">
    </div>
  </div>


</div>
            <div class="form-group row">

<label class="col-md-2 control-label">Cheque Date*


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="cheque_date" id="cheque_date2" value="" placeholder="Cheque Date" class="form-control"  type="date">
    </div>
  </div>

<!--  <label class="col-md-2 control-label">Cheque Notes*-->


<!--</label>-->
<!--  <div class="col-md-4 inputGroupContainer">-->
<!--  <div class="input-group">-->
<!--  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>-->
<!--    <textarea name="cheque_notes" id="cheque_notes"  rows="6" placeholder="Cheque Notes" class="form-control" >{purchase_id_id.cheque_notes}</textarea>-->
<!--    </div>-->
<!--  </div>-->

</div>
      </div>
          <div id="payment_neft2" style="display: none;">
            <div class="form-group row">

<label class="col-md-2 control-label">Bank Name*


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="neft_bank_name" value="" id="neft_bank_name2" placeholder="Bank Name" class="form-control"  type="text">
    </div>
  </div>

<label class="col-md-2 control-label">NEFT Date*


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="neft_date" id="neft_date2" value="" placeholder="Cheque Date" class="form-control"  type="date">
    </div>
  </div>



</div>
            <div class="form-group row">

 <label class="col-md-2 control-label">Reference No


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="reference_no" id="reference_no2" value="" placeholder="Reference Number" class="form-control"  type="text">
    </div>
  </div>

</div>
      </div>
          <div id="payent_credit2" style="display: none;">
                          <div class="form-group row">

<label class="col-md-2 control-label">Authorised By*


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="credit_authorised_by" id="credit_authorised_by_id"  placeholder="Authorised By" class="form-control"  type="text">
    </div>
  </div>

<label class="col-md-2 control-label">Pending Amount*


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="credit_pending_amount" id="credit_pending_amount_id" value="0.0" placeholder="Pending Amount" class="form-control" step="any" type="number">
    </div>
  </div>



</div>

          </div>

<hr style="background-color: gray;">

<div class="form-group row">
  <label class="col-md-2 control-label">Date of Sale *
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  <input  name="date_of_purchase" id="date_of_purchase" required placeholder="Date of Sale"  class="form-control"  type="date">
    </div>
  </div>


      <label class="col-md-2 control-label">Sales Person *

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input name="sales_person" placeholder="Sales Person" value="{{ user.profile_name }}" required class="form-control" list="channel101" type="text">
    <datalist style="height:20px;" id="channel101">
      {% for item in sales_person_sugg %}
      <option value="{{item.profile_name}}"></option>
    {% endfor %}
    </datalist>
    </div>
  </div>
  </div>


      <div class="form-group row">
 <label class="col-md-2 control-label">PO Number


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="po_number" placeholder="PO Number" class="form-control"  type="text">
    </div>
  </div>

           <label class="col-md-2 control-label">Upload PO File

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
    <input type="file" name="upload_op_file" id="fileToUpload" class="form-control">
    </div>
          <p>Note: File size must be less than 5 mb </p>

  </div>

</div>
              <div class="form-group row">
  <label class="col-md-2 control-label">Bill Address

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <textarea id="bill_address_id" name="bill_address" placeholder="Bill Address" class="form-control"></textarea>
    </div>
  </div>
<label class="col-md-2 control-label">Shipping Address

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
    <textarea id="shipping_address_id" name="shipping_address" placeholder="Shipping Address" class="form-control"></textarea>

    </div>
  </div>
              </div>

              <div class="form-group row">
                <label class="col-md-2 control-label">Bill Notes
                </label>
                  <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                    <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
                    <textarea id="bill_note_id" name="bill_notes" placeholder="Bill Notes" class="form-control"></textarea>
                  </div>
                </div>
              </div>





        <hr style="background-color: gray;">

<script>

          function on_gst(){
                gst_selected = document.getElementById("gst_id").checked;
                if (gst_selected == true){
                      $('#customer_gst_no').attr('required', '');
                      $("#label_customer_gst_no").html("Customer GST No. *");
                }
                else{
                      $('#customer_gst_no').removeAttr('required', '');
                      $("#label_customer_gst_no").html("Customer GST No.");
                }
          }
          function show(){
              var mode = document.getElementById("payment_mode_id").value;
              var x = document.getElementById("payment_cheque2");
              var y = document.getElementById("payment_neft2");
              var z = document.getElementById("payent_credit2");
              if (mode == 'Cheque'){
                  y.style.display = "none";
                  z.style.display = "none";
                  x.style.display = "block";

                  $('#bank_name2').attr('required', '');
                  $('#cheque_no2').attr('required', '');
                  $('#cheque_date2').attr('required', '');

                  $('#credit_authorised_by_id').removeAttr('required', '');
                  $('#credit_pending_amount_id').removeAttr('required', '')

                  $('#neft_bank_name2').removeAttr('required', '');
                  $('#neft_date2').removeAttr('required', '');
                  document.getElementById("gst_id").checked = true;
              }

             else if (mode == 'NEFT'){
                  x.style.display = "none";
                  z.style.display = "none";
                  y.style.display = "block";

                  $('#neft_bank_name2').attr('required', '');
                  $('#neft_date2').attr('required', '');

                  $('#credit_authorised_by_id').removeAttr('required', '');
                  $('#credit_pending_amount_id').removeAttr('required', '')

                  $('#bank_name2').removeAttr('required', '');
                  $('#cheque_no2').removeAttr('required', '');
                  $('#cheque_date2').removeAttr('required', '');
                  document.getElementById("gst_id").checked = true;
              }
              else if (mode == 'Credit'){
                  x.style.display = "none";
                  y.style.display = "none";
                  z.style.display = "block";

                  $('#credit_authorised_by_id').attr('required', '');
                  $('#credit_pending_amount_id').attr('required', '');

                  $('#neft_bank_name2').removeAttr('required', '');
                  $('#neft_date2').removeAttr('required', '');

                  $('#bank_name2').removeAttr('required', '');
                  $('#cheque_no2').removeAttr('required', '');
                  $('#cheque_date2').removeAttr('required', '');
                  document.getElementById("gst_id").checked = false;
              }
              else{
                  if (mode == 'Razorpay'){
                  document.getElementById("gst_id").checked = true;

                  }
                  else{
                    document.getElementById("gst_id").checked = false;

                  }
                  x.style.display = "none";
                  y.style.display = "none";
                  z.style.display = "none";

                  $('#credit_authorised_by_id').removeAttr('required', '');
                  $('#credit_pending_amount_id').removeAttr('required', '');

                  $('#neft_bank_name2').removeAttr('required', '');
                  $('#neft_date2').removeAttr('required', '');

                  $('#bank_name2').removeAttr('required', '');
                  $('#cheque_no2').removeAttr('required', '');
                  $('#cheque_date2').removeAttr('required', '');
              }
          }
</script>

<div class="row" style="
    margin: 0;
    position: relative;
    left:38%;">
   <button type="submit" value="Submit" class="btn btn-primary">Add Product</button>

</div>



  <br>
</fieldset>
    </form>
  <!--Product List-->


                </div>
              </div>
            </div>

<br>

<script>
function clearData() {

  document.getElementById("customer_name").value = "";
  document.getElementById("contact_no").value = "";
  document.getElementById("company_name").value = "";
  document.getElementById("customer_address").value = "";
  document.getElementById("customer_email_id").value = "";
  document.getElementById("cust_id").value = "";
  document.getElementById("cust_id1").value = "";
  document.getElementById("cust_id2").value = "";
  document.getElementById("cust_id3").value = "";
}
</script>
<script>
function choice1(select) {
     //alert(select.options[select.selectedIndex].value);
     var cust_id = document.getElementById('cust_id').value;

    $.ajax({                       // initialize an AJAX request
        url: "/load_customer/",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'item_id': cust_id      // add the country id to the GET parameters

        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
    $("#loaded_customer").html(data);
      $("#industry_id").val($("#latest_sale_industry_id").val());
      $("#channel_of_dispatch_id").val($("#latest_sale_channel_dispatch_id").val());
      $("#channel_of_sales_id").val($("#latest_sale_channel_sales_id").val());
      $("#notes_id").val($("#latest_sale_notes_id").val());
      $("#shipping_address_id").val($("#latest_sale_shipping_id").val());
      $("#bill_address_id").val($("#latest_sale_billing_id").val());

    alert("Customer details loaded sucessfully!");
        }
      });
      document.getElementById('channel_of_marketing').value = 'Existing Customer';
}
function choice2(select) {
     //alert(select.options[select.selectedIndex].value);
     var cust_id1 = document.getElementById('cust_id1').value;

    $.ajax({                       // initialize an AJAX request
        url: "/load_customer/",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'item_id': cust_id1      // add the country id to the GET parameters

        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
    $("#loaded_customer").html(data);
      $("#industry_id").val($("#latest_sale_industry_id").val());
      $("#channel_of_dispatch_id").val($("#latest_sale_channel_dispatch_id").val());
      $("#channel_of_sales_id").val($("#latest_sale_channel_sales_id").val());
      $("#notes_id").val($("#latest_sale_notes_id").val());
      $("#shipping_address_id").val($("#latest_sale_shipping_id").val());
      $("#bill_address_id").val($("#latest_sale_billing_id").val());
    alert("Customer details loaded sucessfully!");
        }
      });
            document.getElementById('channel_of_marketing').value = 'Existing Customer';

}
function choice3(select) {
     //alert(select.options[select.selectedIndex].value);
     var cust_id2 = document.getElementById('cust_id2').value;

    $.ajax({                       // initialize an AJAX request
        url: "/load_customer/",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'item_id': cust_id2     // add the country id to the GET parameters

        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
    $("#loaded_customer").html(data);
      $("#industry_id").val($("#latest_sale_industry_id").val());
      $("#channel_of_dispatch_id").val($("#latest_sale_channel_dispatch_id").val());
      $("#channel_of_sales_id").val($("#latest_sale_channel_sales_id").val());
      $("#notes_id").val($("#latest_sale_notes_id").val());
      $("#shipping_address_id").val($("#latest_sale_shipping_id").val());
      $("#bill_address_id").val($("#latest_sale_billing_id").val());
    alert("Customer details loaded sucessfully!");
        }
      });
            document.getElementById('channel_of_marketing').value = 'Existing Customer';

}
function choice4(select) {
     //alert(select.options[select.selectedIndex].value);
     var cust_id3 = document.getElementById('cust_id3').value;

    $.ajax({                       // initialize an AJAX request
        url: "/load_customer/",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'item_id': cust_id3     // add the country id to the GET parameters

        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
    $("#loaded_customer").html(data);
      $("#industry_id").val($("#latest_sale_industry_id").val());
      $("#channel_of_dispatch_id").val($("#latest_sale_channel_dispatch_id").val());
      $("#channel_of_sales_id").val($("#latest_sale_channel_sales_id").val());
      $("#notes_id").val($("#latest_sale_notes_id").val());
      $("#shipping_address_id").val($("#latest_sale_shipping_id").val());
      $("#bill_address_id").val($("#latest_sale_billing_id").val());
    alert("Customer details loaded sucessfully!");
        }
      });
            document.getElementById('channel_of_marketing').value = 'Existing Customer';

}
  document.getElementById("date_of_purchase").valueAsDate = new Date();
</script>
  <!-- End of Page Wrapper -->


							</div>
						</div>
					</div>
				</div>



				<!--end::Purchase-->
			</div>
			<!--end::Content-->
		</div>
		<!--end::Demo Panel-->
		<!--begin::Global Config(global config for global JS scripts)-->

		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="{% static 'plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'plugins/custom/prismjs/prismjs.bundle.js' %}"></script>
<script src="{% static 'js/scripts.bundle.js' %}"></script>
<!--end::Global Theme Bundle-->
<!--begin::Page Vendors(used by this page)-->
<script src="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
<!--end::Page Vendors-->
<!--begin::Page Scripts(used by this page)-->
<script src="{% static 'js/pages/widgets.js' %}"></script>
		<!--end::Page Scripts-->
	</body>
	<!--end::Body-->
</html>