 <!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HSCO</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/dashboard/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

<style>

* {
color:;
}
  .faicons {
  font-size: 18px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #5a5c69;
  }

  .icon-border {
  border: 1px solid #d1d3e2;
  border-radius: 5px 1px 1px 5px;
  border-right: none;


  }

  .control-label {
  color: black;

  }

</style>

  <!-- Page Wrapper -->
  <div id="wrapper">
	{% include 'base_templates/sidebar.html' %}

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content" style="background-color: white;">


        <!-- Topbar -->
	{% include 'base_templates/navbar_for_dashboard.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <center><h3>Add Purchase Module</h3></center>

        <div class="container-fluid" >

          <!--<div class="row" style="padding:20px;">-->
               <!--&lt;!&ndash;<label class="col-md-6 control-label">CRM Number:</label>&ndash;&gt;-->

          <!--</div>-->
<br>


    <form class="well form-horizontal" autocomplete="off" action="" method="POST"  id="contact_form" style="padding:20px;" enctype="multipart/form-data" >{% csrf_token %}

<div class="form-group row">
    <label class="col-md-2 control-label">Customer Number


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-users faicons"></i></span>
    <select name="customer_number" id="display_limit" onchange="choice1(this)" class="form-control">
    <option value="-----">---------</option>
       {% for item in cust_sugg %}
  <option value="{{item.pk}}">{{item.pk}} - {{item.customer_name}} - {{item.company_name}}</option>

   {% endfor %}
</select>

    </div>
Format : (crm no)-(customer name)-(company name)
  </div>
</div>


  <!--<div class="col-md-4 inputGroupContainer">-->
  <!--<div class="input-group">-->
  <!--<span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>-->
  <!--<input name="crm_no" placeholder="Enter CRM NO"  class="form-control"  type="text" list="crm_no">-->
    <!--<datalist style="height:20px;" id="crm_no">-->
      <!--<option value="Energy industry"></option>-->
    <!--</datalist>-->
  <!--</div></div>-->





<div id="loaded_customer">

  <div class="form-group row">
  <label class="col-md-2 control-label ">Name Of Customer
</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="customer_name" placeholder="Full Name" required class="form-control"  type="text">
    </div>
  </div>

    <label class="col-md-2 control-label">Company Name
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-building faicons"></i></span>
  <input  name="company_name" placeholder="Company Name" class="form-control"  type="text">
    </div>
  </div>
</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Address

</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-card faicons"></i></span>
  <input class="form-control" required name="customer_address" placeholder="Address"/>
    </div>
  </div>

    <label class="col-md-2 control-label">Contact Number

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-phone faicons"></i></span>
  <input  name="contact_no" placeholder="Contact No" class="form-control" required type="number" maxlength="10" minlength="10" pattern="[0-9]{9}">
    </div>
  </div>



</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Email Id
  </label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-envelope faicons"></i></span>
  <input type="email" name="customer_email_id" placeholder="Customer Email Id" class="form-control"  type="email">
    </div>
  </div>


</div>

</div>


  <div class="form-group row">


    <label class="col-md-2 control-label">Date of Purchase
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  <input  name="date_of_purchase" id="date_of_purchase" required placeholder="Date of Purchase"  class="form-control"  type="Date">
    </div>
  </div>
</div>



<div class="form-group row">


      <label class="col-md-2 control-label">Sales Person

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input name="sales_person" placeholder="Sales Person" required class="form-control" list="channel101" type="text">
    <datalist style="height:20px;" id="channel101">
      {% for item in sales_person_sugg %}
      <option value="{{item.name}}"></option>
    {% endfor %}
    </datalist>
    </div>
  </div>







  <label class="col-md-2 control-label">New/Repeat Purchase
</label>
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-book faicons"></i></span>
<select name="new_repeat_purchase" required placeholder="New/Repeat Purchase" class="form-control">
  <option value="New">New</option>
  <option value="Repeat">Repeat</option>
</select>
    </div>
  </div>



</div>

    <!--<label class="col-md-2 control-label">Quantity-->

<!--</label>-->

    <!--<div class="col-md-4 inputGroupContainer">-->
  <!--<div class="input-group">-->
  <!--<span class="input-group-addon icon-border"><i class="fa fa-list faicons"></i></span>-->
  <!--<input  name="quantity" placeholder="Quantity" class="form-control"  type="text">-->
    <!--</div>-->
  <!--</div>-->









<div class="form-group row" >

  <label class="col-md-2 control-label">PO Number


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="po_number" placeholder="PO Number" class="form-control"  type="text">
    </div>
  </div>





 <label class="col-md-2 control-label">Upload PO File

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
    <input type="file" name="upload_op_file" id="fileToUpload" class="form-control">
    </div>
  </div>
</div>



<div class="form-group row">
    <label class="col-md-2 control-label">Bill No

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="bill_no" placeholder="Bill No" class="form-control"  type="text">
    </div>
  </div>



<label class="col-md-2 control-label">Channel of Sales


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
 <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
    <input  type="text" required name="channel_of_sales" placeholder="Channel of Sales" class="form-control" list="channel10">
    <datalist style="height:20px;" id="channel10">
      <option value="Retail through Physical Store"></option>
      <option value="Online Market Places"></option>
      <option value="India Mart"></option>
      <option value="Website"></option>
      <option value="App"></option>
      <option value="Field Salesmen"></option>
      <option value="Fairs and Trade Shows"></option>
    </datalist>
    </div>
  </div>
</div>

  <div class="form-group row">


    <label class="col-md-2 control-label">Industry

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
    <input  type="text" required name="industry" placeholder="Industry" class="form-control" list="channel2">
    <datalist style="height:20px;" id="channel2">
      <option value="Energy industry"></option>
      <option value="Chemicals"></option>
      <option value="Industrial Metals "></option>
      <option value="Gold/Gems and precious Metals "></option>
      <option value="Home and Heavy Construction companies "></option>
      <option value="Electrical and Electronic Manufacturers"></option>
      <option value="Industrial Transportation"></option>
      <option value="Agriculture"></option>
      <option value="Poultry/Livestock"></option>
      <option value="Healthcare Equipment and Services"></option>
      <option value="Textiles"></option>
      <option value="Hotels"></option>
      <option value="Grocery/Retail"></option>
      <option value="Bakery"></option>
    </datalist>
    </div>
  </div>



  <label class="col-md-2 control-label">Value of Goods



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="value_of_goods" placeholder="Value of Goods" class="form-control" step="0.2" type="number">
    </div>
  </div>
  </div>


  <div class="form-group row">


    <label class="col-md-2 control-label">Channel of Dispatch


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  type="text" name="channel_of_dispatch" placeholder="Channel of Dispatch" required class="form-control" list="channel">
    <datalist style="height:20px;" id="channel">
      <option value="Courier">
      <option value="Transport">
      <option value="Franchisee Store">
      <option value="Online Market Places">
      <option value="Delivery Boys">
    </datalist>
    </div>
  </div>





  <label class="col-md-2 control-label">Notes



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-file faicons" style="margin-top: 20px;"></i></span>
<textarea name="notes" placeholder="Notes" class="form-control"></textarea>
</div>
  </div>
  </div>


  <div class="form-group row">


    <label class="col-md-2 control-label">Feedback Form Filled
</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-book faicons"></i></span>
<select name="feedback_form_filled" placeholder="New/Repeat Purchase" class="form-control" value="False" class="form-control">
  <option value="False">No</option>
  <option value="True">Yes</option>
</select>
    </div>
  </div>
  </div>

<center>
   <button type="submit" value="Submit" class="btn btn-primary">Save and Add Product</button>
</center>



  <br>
</fieldset>
    </form>
  <!--Product List-->


                </div>
              </div>
            </div>
      </div>
<br>


<script>
function choice1(select) {
     //alert(select.options[select.selectedIndex].value);
    $.ajax({                       // initialize an AJAX request
        url: "/load_customer/",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'item_id': select.options[select.selectedIndex].value       // add the country id to the GET parameters

        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
    $("#loaded_customer").html(data);
    alert("Customer details loaded sucessfully!");
        }
      });
}

  document.getElementById("date_of_purchase").valueAsDate = new Date();
</script>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/dashboard/jquery.min.js' %}"></script>
  <script src="{% static 'js/dashboard/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'jjs/dashboard/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/dashboard/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'js/dashboard/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/dashboard/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/dashboard/chart-pie-demo.js' %}"></script>
    </div>
  </div>

</body>

</html>
