 <!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HSCO</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/dashboard/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

<style>

* {
color:;
}
  .faicons {
  font-size: 18px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #5a5c69;
  }

  .icon-border {
  border: 1px solid #d1d3e2;
  border-radius: 5px 1px 1px 5px;
  border-right: none;


  }

  .control-label {
  color: black;

  }

</style>

  <!-- Page Wrapper -->
  <div id="wrapper">
	{% include 'base_templates/sidebar.html' %}

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content" style="background-color: white;">


        <!-- Topbar -->
	{% include 'base_templates/navbar_for_dashboard.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
         <center>  <h1>Onsite Repairing Module</h1>  </center>


          <div class="row" style="padding:20px;">
               <label class="col-md-6 control-label">CRM Number: 9766</label>

          </div>
<br>


    <form class="well form-horizontal" action=" " method="post"  id="contact_form" style="padding:20px;">
<fieldset>

<div class="form-group row">
  <label class="col-md-2 control-label ">Repairing Number




</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="first_name" placeholder="Repairing Number



" class="form-control"  type="text">
    </div>
  </div>

    <label class="col-md-2 control-label">Customer Name



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="first_name" placeholder="Customer Name


" class="form-control"  type="text">
    </div>
  </div>



</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Company Name





</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-building faicons"></i></span>
  <input  name="first_name" placeholder="Company Name


" class="form-control"  type="text">
    </div>
  </div>

    <label class="col-md-2 control-label">Customer Number





</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input type="number" name="first_name" placeholder="Customer Number



" class="form-control"  type="text">
    </div>
  </div>



</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Previous Repairing number





</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="first_name" placeholder="Previous Repairing number


" class="form-control"  type="email">
    </div>
  </div>

    <label class="col-md-2 control-label">In Warranty




</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-card faicons"></i></span>
  <input  name="first_name" placeholder="In Warranty
" class="form-control"  type="text">
    </div>
  </div>

</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Phone number





</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-phone faicons"></i></span>
  <input type="number" name="first_name" placeholder="Phone number

" class="form-control"  type="text">
    </div>
  </div>

    <label class="col-md-2 control-label">Customer E-mail id




</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-envelope faicons"></i></span>
  <input type="email" name="first_name" placeholder="Customer E-mail id


" class="form-control"  type="text">
    </div>
  </div>

</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Date the complaint was Received







</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  <input  name="first_name" placeholder="Date the complaint was Received


" class="form-control"  type="text">


     </div>
  </div>

    <label class="col-md-2 control-label">Customer Address





</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-card faicons"></i></span>
  <textarea name="textarea"></textarea>
    </div>
  </div>

</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Complaint Received By






</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-list faicons"></i></span>
  <input  name="first_name" placeholder="Complaint Received By



" class="form-control"  type="text">
    </div>
  </div>

    <label class="col-md-2 control-label">Nearest Railway Station





</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-card faicons"></i></span>
  <input  name="first_name" placeholder="Nearest Railway Station



" class="form-control"  type="text">
    </div>
  </div>

</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Train Line






</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-train faicons"></i></span>
  <input  name="first_name" placeholder="Train Line



" class="form-control"  type="text">
    </div>
  </div>

    <label class="col-md-2 control-label">Products To be repaired





</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-wrench faicons"></i></span>
  <input  name="first_name" placeholder="Products To be repaired



" class="form-control"  type="text">
    </div>
  </div>

</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Type of Machine






</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
  <input  name="first_name" placeholder="Type of Machine



" class="form-control"  type="text">
    </div>
  </div>

    <label class="col-md-2 control-label">Model





</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
  <input  name="first_name" placeholder="Model



" class="form-control"  type="text">
    </div>
  </div>

</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Sub model


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
  <input  name="first_name" placeholder="Sub model



" class="form-control"  type="text">
    </div>
  </div>

    <label class="col-md-2 control-label">  Capacity

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
  <input  name="first_name" placeholder="Capacity

" class="form-control"  type="text">
    </div>
  </div>

</div>

<div class="form-group row">


    <label class="col-md-2 control-label">Problem in the scale

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
  <input  name="first_name" placeholder="Problem in the scale

" class="form-control"  type="text">
    </div>
  </div>

</div>




  <div class="form-group row">
  <label class="col-md-2 control-label">Components Replaced in Waranty(if scale in Waranty)



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-list faicons"></i></span>
  <input  name="first_name" placeholder="Components Replaced in Waranty(if scale in Waranty)




" class="form-control"  type="text">
    </div>
  </div>

    <label class="col-md-2 control-label">Components Replaced


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-list faicons"></i></span>
  <input  name="first_name" placeholder="Components Replaced


" class="form-control"  type="text">
    </div>
  </div>

</div>




  <div class="form-group row">
  <label class="col-md-2 control-label">Cost



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-money faicons"></i></span>
  <input  name="first_name" placeholder="Cost




" class="form-control"  type="text">
    </div>
  </div>

    <label class="col-md-2 control-label">Visiting Charges Told to Customer


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="first_name" placeholder="Visiting Charges Told to Customer


" class="form-control"  type="text">
    </div>
  </div>

</div>



  <div class="form-group row">
  <label class="col-md-2 control-label">Total Cost



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-money faicons"></i></span>
  <input  name="first_name" placeholder="Total Cost




" class="form-control"  type="text">
    </div>
  </div>

    <label class="col-md-2 control-label">Complaint Assigned To


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="first_name" placeholder="Complaint Assigned To


" class="form-control"  type="text">
    </div>
  </div>

</div>



  <div class="form-group row">
  <label class="col-md-2 control-label">Complain Assigned On



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  <input  name="first_name" placeholder="Complain Assigned On




" class="form-control"  type="text">
    </div>
  </div>

    <label class="col-md-2 control-label">Time Taken to Reach Destination and Return to office in Minutes


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-clock-o faicons"></i></span>
  <input  name="first_name" placeholder="Time Taken to Reach Destination and Return to office in Minutes


" class="form-control"  type="text">
    </div>
  </div>

</div>





  <div class="form-group row">
  <label class="col-md-2 control-label">Notes




</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-list faicons"></i></span>
  <input  name="first_name" placeholder="Notes





" class="form-control"  type="text">
    </div>
  </div>

    <label class="col-md-2 control-label">Feedback given



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-list faicons"></i></span>
  <input  name="first_name" placeholder="Feedback given



" class="form-control"  type="text">
    </div>
  </div>

</div>


<center>
	<button class="btn btn-primary">Save</button>

</center>



<br>







</fieldset>
</form>
</div>

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/dashboard/jquery.min.js' %}"></script>
  <script src="{% static 'js/dashboard/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'jjs/dashboard/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/dashboard/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'js/dashboard/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/dashboard/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/dashboard/chart-pie-demo.js' %}"></script>

</body>

</html>
