 <!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HSCO</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/dashboard/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

<style>

* {
color:;
}
  .faicons {
  font-size: 18px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #5a5c69;
  }

  .icon-border {
  border: 1px solid #d1d3e2;
  border-radius: 5px 1px 1px 5px;
  border-right: none;


  }

  .control-label {
  color: black;

  }

</style>

  <!-- Page Wrapper -->
  <div id="wrapper">
	{% include 'base_templates/sidebar.html' %}

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content" style="background-color: white;">


        <!-- Topbar -->
	{% include 'base_templates/navbar_for_dashboard.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid" >
         <center>  <h1 style="color: black; font-size: 25px;">Repairing Module</h1>
         <br>
         </center>
          <br>

<div style="color:black; font-size: 15px; border: 1px solid black; border-radius: 5px; padding: 15px;" class="row">

    <div class="col-xl-4 col-md-2 col-mb-2">
        <input type="checkbox" name="vehicle3" value="Boat" checked> Scale is collected but estimate is not given. &nbsp; &nbsp; <br>
  <input type="checkbox" name="vehicle3" value="Boat"> Estimate is given but Estimate is not confirmed. &nbsp; &nbsp; <br>
         <input type="checkbox" name="vehicle3" value="Boat"> Estimate is confirmed but not repaired. &nbsp; &nbsp;

    </div>


    <div class="col-xl-4 col-md-2 col-mb-2">

  <input type="checkbox" name="vehicle3" value="Boat"> Repaired but not collected. &nbsp; &nbsp; <br>
  <input type="checkbox" name="vehicle3" value="Boat"> Finally Collected. &nbsp; &nbsp;
    </div></div>


<br>


    <form class="well form-horizontal" action=" " method="post"  id="contact_form" style="padding:20px;">{% csrf_token %}
<fieldset>

<div class="form-group row">
  <label class="col-md-2 control-label ">Repairing Number


</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="repairingnumber" required placeholder="Repairing Number

" class="form-control"  type="text">
    </div>
  </div>

    <label class="col-md-2 control-label">Customer Number


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="customer_no" placeholder="Customer Number

" class="form-control"  type="text">
    </div>
  </div>



</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Previous Repairing Number



</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-card faicons"></i></span>
  <input  name="previous_repairing_number" placeholder="Previous Repairing number
" class="form-control"  type="text">
    </div>
  </div>

    <label class="col-md-2 control-label">In Warranty
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-book faicons"></i></span>
    <input type="text" placeholder="In Warranty" required name="in_warranty" class="form-control" value="" list="war">
    <datalist style="height:20px;" id="war">
    <option value = "Yes"></option>
    <option value = "No"></option>
    </datalist>
    </div>
  </div>



</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Date Of Purchase



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  <input type="date" name="date_of_purchase" placeholder="" class="form-control" type="Date">
    </div>
  </div>
    <label class="col-md-2 control-label">Today's Date



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  <input  name="today_date" required placeholder="Today's date

" class="form-control"  type="date">
    </div>
  </div>
</div>



<div class="form-group row">


    <label class="col-md-2 control-label">Name



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="name" required placeholder="Name" class="form-control"  type="text">
    </div>
  </div>

  <label class="col-md-2 control-label">Company Name





</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-building faicons"></i></span>
  <input  name="company_name" placeholder="Company Name
" class="form-control"  type="text">


     </div>
  </div>
</div>



<div class="form-group row">
    <label class="col-md-2 control-label">Phone Number



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-phone faicons"></i></span>
  <input  name="phone_no" required placeholder="Phone Number

" class="form-control"  type="text">
    </div>
  </div>


  <label class="col-md-2 control-label">Email-id




</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-envelope faicons"></i></span>
  <input type="email" name="customer_email_id" placeholder="Email-id

" class="form-control"  type="text">
    </div>
  </div>
</div>

<div class="form-group row">

    <label class="col-md-2 control-label">Location



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-marker faicons"></i></span>
  <input  name="location" placeholder="Location

" class="form-control" required type="text">
    </div>
  </div>

  <label class="col-md-2 control-label">Products To Be Repaired

</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-wrench faicons"></i></span>
  <input  name="products_to_be_repaired" placeholder="products To be repaired

" class="form-control"  type="text">
    </div>
  </div>
</div>

<div class="form-group row">

<label class="col-md-2 control-label">Type of Machine


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
    <input  type="text" name="type_of_machine" placeholder="Type of Machine" class="form-control" list="type_of_machine">
    <datalist style="height:20px;" id="type_of_machine">
      <option value="Mechanical"></option>
      <option value="Digital"></option>
    </datalist>
    </div>
  </div>



  <label class="col-md-2 control-label">Model



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
      <input  type="text" placeholder="Model" required class="form-control" name="model" list="model">
    <datalist style="height:20px;" id="model">
    <option value = "Table Top"></option>
    <option value = "Platform Scale"></option>
    <option value = "POS Scales"></option>
    <option value = "Water Proof Scales"></option>
    <option value = "Jewellery Scales"></option>
    <option value = "Lab Scales"></option>
    <option value = "Crane Scales"></option>
    <option value = "Platform Scales"></option>
    <option value = "Mobile Platforms"></option>
    <option value = "Infant Scales"></option>
    <option value = "Baby Cum Adult Scales"></option>
    <option value = "Animal Scales"></option>
    <option value = "Cattle Scales"></option>
    <option value = "Supra Pall Scales"></option>
    </datalist>
  </div>
  </div>
  </div>

  <!--<div class="form-group row">-->


    <!--&lt;!&ndash;<label class="col-md-2 control-label">Sub model&ndash;&gt;-->



<!--&lt;!&ndash;</label>&ndash;&gt;-->

    <!--&lt;!&ndash;<div class="col-md-4 inputGroupContainer">&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="input-group">&ndash;&gt;-->
  <!--&lt;!&ndash;<span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>&ndash;&gt;-->
  <!--&lt;!&ndash;<input  name="sub_model" placeholder="Sub model" class="form-control"  type="text">&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->



  <!--<label class="col-md-2 control-label">Problem In The Scale-->
<!--</label>-->
  <!--<div class="col-md-4 inputGroupContainer">-->
  <!--<div class="input-group">-->
  <!--<span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>-->
      <!--<input  type="text" name="problem_in_scale" placeholder="Problem In The Scale" class="form-control" list="problem_in_scale">-->
    <!--<datalist style="height:20px;" id="problem_in_scale">-->
    <!--<option value = "Scale not turning On"></option>-->
    <!--<option value = "Scale is showing incorrect weight"></option>-->
    <!--<option value = "Scale only shows 888888"></option>-->
    <!--<option value = "Scale only shows zero"></option>-->
    <!--<option value = "Weight is slowly increasing or decreasing"></option>-->
    <!--<option value = "buttons are not working"></option>-->
    <!--<option value = "Scale doesnt show stable weight"></option>-->
    <!--<option value = "Display problems (Display gets distorted while showing weight)"></option>-->
    <!--<option value = "Scale is not working on battery or scale is not charging"></option>-->
    <!--<option value = "Scale turns OFF automatically"></option>-->
    <!--<option value = "Others"></option>-->
    <!--</datalist>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="form-group row">-->

    <!--<label class="col-md-2 control-label">Components Replaced In Waranty(If Scale In Waranty)-->



<!--</label>-->

    <!--<div class="col-md-4 inputGroupContainer">-->
  <!--<div class="input-group">-->
  <!--<span class="input-group-addon icon-border"><i class="fa fa-wrench faicons"></i></span>-->
    <!--<input  type="text" name="components_replaced_in_warranty" placeholder="Components Replaced IW" class="form-control" list="components_replaced_in_warranty">-->
    <!--<datalist style="height:20px;" id="components_replaced_in_warranty">-->
    <!--<option value = "Display"></option>-->
    <!--<option value = "Touch Pad"></option>-->
    <!--<option value = "LED"></option>-->
    <!--<option value = "Transformer"></option>-->
    <!--<option value = "Battery"></option>-->
    <!--<option value = "Switch"></option>-->
    <!--<option value = "Main Cord wire"></option>-->
    <!--<option value = "Main Circuit Board"></option>-->
    <!--<option value = "SMPS"></option>-->
    <!--<option value = "Load Cell"></option>-->
    <!--<option value = "Misc"></option>-->
    <!--</datalist>-->
    <!--</div>-->
  <!--</div>-->


  <!--<label class="col-md-2 control-label">Components Replaced-->

<!--</label>-->
  <!--<div class="col-md-4 inputGroupContainer">-->
  <!--<div class="input-group">-->
  <!--<span class="input-group-addon icon-border"><i class="fa fa-wrench faicons"></i></span>-->
    <!--<input  type="text" name="components_replaced" placeholder="Components Replaced" class="form-control" list="components_replaced">-->
    <!--<datalist style="height:20px; color:white;" id="components_replaced">-->
    <!--<option value = "Display">-->
    <!--<option value = "Touch Pad">-->
    <!--<option value = "LED">-->
    <!--<option value = "Transformer">-->
    <!--<option value = "Battery">-->
    <!--<option value = "Switch">-->
    <!--<option value = "Main Cord wire">-->
    <!--<option value = "Main Circuit Board">-->
    <!--<option value = "SMPS">-->
    <!--<option value = "Load Cell">-->
    <!--<option value = "Misc">-->
    <!--</datalist>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

  <div class="form-group row">

    <label class="col-md-2 control-label">Replaced Scale given
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
    <input  type="text" placeholder="Components Replaced" required name="replaced_scale_given" class="form-control" value="" list="replaced_scale_given">
    <datalist style="height:20px; color:white;" id="replaced_scale_given">
    <option value = "Yes"></option>
    <option value = "No"></option>
    </datalist>

    </div>
  </div>







    <label class="col-md-2 control-label">Total Cost




</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-money faicons"></i></span>
  <input  name="total_cost" placeholder="Total Cost" value="0.0" required class="form-control"  type="text">
    </div>
  </div>

</div>








  <div class="form-group row">
  <label class="col-md-2 control-label">Informed On

</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  <input  name="informed_on" placeholder="Informed On


" class="form-control" required type="text">
    </div>
  </div>

    <label class="col-md-2 control-label">Informed By




</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="informed_by" placeholder="Informed By" class="form-control"  type="text">
    </div>
  </div>

</div>



  <div class="form-group row">
  <label class="col-md-2 control-label">Confirmed Estimate

</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-list faicons"></i></span>


    <input  type="text" placeholder="Confirmed Estimate" name="confirmed_estimate" class="form-control" value="" list="confirmest">
    <datalist style="height:20px;" id="confirmest">
    <option value = "Yes"></option>
    <option value = "No"></option>
    </datalist>
    </div>
  </div>

    <label class="col-md-2 control-label">Repaired
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-list faicons"></i></span>
  <input  type="text" placeholder="Repaired" name="repaired" class="form-control" value="" list="Repaired">
    <datalist style="height:20px;" id="Repaired">
    <option value = "Yes"></option>
    <option value = "No"></option>
    </div>
  </div>

</div>









  <div class="form-group row">
  <label class="col-md-2 control-label">Repaired date

</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  <input type="date" name="repaired_date" placeholder="Repaired date" class="form-control"  type="text" value="">
    </div>
  </div>



  <label class="col-md-2 control-label">Delivery Date
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  <input type="date" name="delivery_date" placeholder="Delivery Date" class="form-control"  type="text" value="">
    </div>
  </div>
</div>



<div class="form-group row">

    <label class="col-md-2 control-label">Delivered By
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="delivery_by" placeholder="Delivery By" class="form-control"  type="text" value="">
    </div>
  </div>





  <label class="col-md-2 control-label">Feedback Given

</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-list faicons"></i></span>
  <input  name="feedback_given" placeholder="Feedback Given" class="form-control" disabled type="text" value="NO">
    </div>
  </div>
</div>


<!--<p>"Below Provide Various button to send various SMS and E-mail  like-->
<!--1) Scale Submit sms-->
<!--2) Estimate informed sms-->
<!--3) Repairing done sms-->
<!--4) Late mark sms-->
<!--5) Final Deleviry sms"-->
<!--</p>-->
<br>
<center>
	<button type="submit" class="btn btn-primary"> Save and Add Product</button>

</center>
          <br>






<br>







</fieldset>
</form>
</div>

        <br>

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
    </div></div>


  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/dashboard/jquery.min.js' %}"></script>
  <script src="{% static 'js/dashboard/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'jjs/dashboard/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/dashboard/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'js/dashboard/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/dashboard/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/dashboard/chart-pie-demo.js' %}"></script>

</body>

</html>
