 <!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HSCO</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<!--<script src = "http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>-->
    <script src = "http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/dashboard/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
	{% include 'base_templates/sidebar.html' %}

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
<script>
$(document).ready(function(){

    $(".editableBox22").change(function(){
        $(".timeTextBox22").val($(".editableBox22 option:selected").html());
    });
});

$(document).ready(function(){

    $(".editableBoxa22").change(function(){
        $(".timeTextBoxa22").val($(".editableBoxa22 option:selected").html());
    });
});


$(document).ready(function(){

    $(".editableBoxaa").change(function(){
        $(".timeTextBoxaa").val($(".editableBoxaa option:selected").html());
    });
});
</script>

        <!-- Topbar -->
	{% include 'base_templates/navbar_for_dashboard.html' %}
        <!-- End of Topbar -->

<style>

* {
color:;
}
  .faicons {
  font-size: 18px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #5a5c69;
  }

  .icon-border {
  border: 1px solid #d1d3e2;
  border-radius: 5px 1px 1px 5px;
  border-right: none;


  }

  .control-label {
  color: black;

  }

</style>
                   <style>
          .editableBox, .editableBox1,.editableBoxa22  {
    width: 70%;
    height: 30px;
}

.timeTextBox, .timeTextBox1 , .timeTextBoxa22 {
    width: 65%;
    margin-left: -70%;
    height: 25px;
    border: none;
}

          .editableBox22  {
    width: 70%;
    height: 30px;
}

.timeTextBox22 {
    width: 65%;
    margin-left: -70%;
    height: 25px;
    border: none;
}


.editableBoxa,.editableBoxa1 {
    width: 70%;
    height: 30px;
}

.timeTextBoxa,.timeTextBoxa1 {
    width: 65%;
    margin-left: -70%;
    height: 25px;
    border: none;
}


.editableBoxaa ,.editableBoxaa1 {
    width: 70%;
    height: 30px;
}

.timeTextBoxaa ,.timeTextBoxaa1{
    width: 65%;
    margin-left: -70%;
    height: 25px;
    border: none;
}



.editableBoxz {
    width: 70%;
    height: 30px;
}

.timeTextBoxz {
    width: 65%;
    margin-left: -70%;
    height: 25px;
    border: none;
}

        </style>

        <!-- Begin Page Content -->
        <div class="container-fluid">
<center>
         <!-- Page Heading -->
            <h1 class="h3 mb-0 text-gray-800"> Add Product</h1>
</center>
            {% if messages %}

                     <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% for message in messages %}

  <strong>Error : </strong> {{ message }}
                         {% endfor %}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% endif %}
<br>
<br>
            <div id="rec_data"></div>

            <form method="POST" action="" onsubmit="return isOneChecked();" >{% csrf_token %}


<div class="form-group row">

        <label class="col-md-2 control-label">Type of Scale *


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>

      <select id="divselector" required onchange="choice1(this)" class="form-control">
       <option value="">Select Scale Type</option>

    {% for item in type_purchase %}
  <option value="{{item.pk}}">{{item.name}}</option>

   {% endfor %}

  </select>


     </div>
  </div>

            <label class="col-md-2 control-label">Model *


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>

      <select id="id_subcat" required onchange="choice_model(this)" class="form-control">


  </select>


     </div>
  </div>
</div>


<div class="form-group row">




                            <label class="col-md-2 control-label">Sub Model *


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>

      <select id="id_subcat2" onchange="choice_sub_model(this)" class="form-control">


  </select>


     </div>
  </div>

                            <label class="col-md-2 control-label">Sub Sub Model


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>

      <select required id="id_subcat22" onchange="choice_sub_sub_model(this)" class="form-control">



  </select>


     </div>
  </div>
</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Brand


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
 <input value="HSCO" type="text" placeholder="brand" class="form-control" name="brand" >
    <!--<datalist style="height:20px;" id="brand">-->
    <!--<option value = "HSCO"></option>-->
    <!--</datalist>-->
  </div>
  </div>

    <label class="col-md-2 control-label">Capacity *

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-truck faicons"></i></span>
  <input  name="capacity" required placeholder="Capacity" class="form-control"  type="text" value="">
    </div>
  </div>

</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Unit *


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-list faicons"></i></span>
 <input  type="text" required placeholder="unit" value="kg" class="form-control" name="unit" list="unit">
    <datalist style="height:20px;" id="unit">
    <option value = "gm"></option>
    <option value = "kg"></option>
    <option value = "Ton"></option>
    <option value = "Liter"></option>
    <option value = "ml"></option>
    <option value = "meter"></option>
    <option value = "inch"></option>
    <option value = "foot"></option>
    </datalist>
  </div>
  </div>


  <label class="col-md-2 control-label">Amount *



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="value_of_goods" required placeholder="Rate x quantity" class="form-control" step="0.2" type="number">
    </div>
  </div>




</div>


                <div class="form-group row">
                    <label class="col-md-2 control-label">Serial No. of Scale

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-sort-numeric-asc faicons"></i></span>
  <input  name="serial_no_scale" placeholder="Serial No. of Scale" class="form-control"  type="text" value="">
    </div>
  </div>
<!--                    <label class="col-md-2 control-label">Purchase Type:-->

<!--</label>-->

<!--    <div class="col-md-4 inputGroupContainer">-->
<!--  <div class="input-group">-->
<!--  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>-->
<!--  <input  name="purchase_type" placeholder="Purchase Type" class="form-control"  type="text" value="">-->
<!--    </div>-->
<!--  </div>-->
                    <label class="col-md-2 control-label">Quantity *

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-suitcase faicons"></i></span>
  <input  name="quantity" placeholder="Quantity" required class="form-control" type="text" value="1">
    </div>
  </div>



<!--                    <label class="col-md-2 control-label">Sales Person-->

<!--</label>-->

<!--    <div class="col-md-4 inputGroupContainer">-->
<!--  <div class="input-group">-->
<!--  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>-->
<!--  <input  name="sales_person" placeholder="Sales Person" class="form-control"  type="text" value="">-->
<!--    </div>-->
<!--  </div>-->

                </div>
                                                <div class="form-group row">
  <label class="col-md-2 control-label">Select Godown



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-file faicons" style="margin-top: 20px;"></i></span>
<select name="godown" id="godown" onchange="choice5(this)" class="form-control" >
    {% if default_godown %}
          <option value="{{default_godown.id}}">{{default_godown.name_of_godown}}</option>
    {% endif %}
  {% for godown in godowns %}
  <option value="{{godown.id}}">{{godown.name_of_godown}}</option>

  {% endfor %}
</select>
  </div>
  </div>

</div>

                                <div class="form-group row">


                    <label class="col-md-2 control-label">Last Product ?
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <!--<span class="input-group-addon icon-border"><i class="fa fa-address-book faicons"></i></span>-->
  YES:<input  name="is_last_product_yes" value="yes" placeholder="Is deleted" class="form-control" type="radio">
  NO:<input  name="is_last_product_yes" value="no" placeholder="Is deleted" class="form-control" type="radio">

    </div>
  </div>
</div>
            <br>


  <input type="hidden" value="" id="type_of_scale" name="type_of_scale">
  <input type="hidden" value="" id="model_of_purchase" name="model_of_purchase">
  <input type="hidden" value="" id="sub_model" name="sub_model">
  <input type="hidden" value="" id="sub_sub_model" name="sub_sub_model">


<center>
    <button style="background-color: #FC6E20;" type="submit" value="submit" class="btn btn-primary">Submit</button>

</center>
            </form>


  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
      </div>
    </div>
  </div>

  <script>
  function choice5(select) {


    $.ajax({                       // initialize an AJAX request
        url: "/stock_does_not_exist/",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'model_of_purchase': $('#model_of_purchase').val(),     // add the country id to the GET parameters
          'type_of_scale': $("#type_of_scale").val(),      // add the country id to the GET parameters
          'sub_model': $("#sub_model").val(),       // add the country id to the GET parameters
          'sub_sub_model': $("#sub_sub_model").val(),      // add the country id to the GET parameters
          'godown': select.options[select.selectedIndex].value ,      // add the country id to the GET parameters
          'quantity': $("#quantity").val(),     // add the country id to the GET parameters

        },
        success: function (data) {   // `data` is the return of the `load_cities` view function

    $("#rec_data").html(data);


        }
      });
}


  </script>

<script>
function choice1(select) {
     //alert(select.options[select.selectedIndex].value);


       $("#type_of_scale").val(select.options[select.selectedIndex].text);

    $.ajax({                       // initialize an AJAX request
        url: "/load_models/",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'item_id': select.options[select.selectedIndex].value       // add the country id to the GET parameters

        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
    $("#id_subcat").html(data);

    if ($('#id_subcat option').length > 1)
    {
    $('#id_subcat').attr('required', '');
    $('#id_subcat2').attr('required', '');
    $('#id_subcat22').attr('required', '');
    }
    else{
    $('#id_subcat').removeAttr('required');
    $('#id_subcat2').removeAttr('required');
    $('#id_subcat22').removeAttr('required');
    }



        }
      });
}
function choice_model(select) {
$("#model_of_purchase").val(select.options[select.selectedIndex].text);
     //alert(select.options[select.selectedIndex].value);
    $.ajax({                       // initialize an AJAX request
        url: "/load_sub_models/",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'item_id': select.options[select.selectedIndex].value       // add the country id to the GET parameters

        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
    $("#id_subcat2").html(data);

       if ($('#id_subcat2 option').length > 1)
    {
    $('#id_subcat2').attr('required', '');
    $('#id_subcat22').attr('required', '');


    }
    else{
    $('#id_subcat2').removeAttr('required');
    $('#id_subcat22').removeAttr('required');

    }


        }
      });
}

function choice_sub_model(select) {
$("#sub_model").val(select.options[select.selectedIndex].text);
     //alert(select.options[select.selectedIndex].value);
    $.ajax({                       // initialize an AJAX request
        url: "/load_sub_sub_models/",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'item_id': select.options[select.selectedIndex].value       // add the country id to the GET parameters

        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
    $("#id_subcat22").html(data);

     if ($('#id_subcat2 option').length > 1)
    {
    $('#id_subcat22').removeAttr('required');

    }
    else{
    $('#id_subcat22').attr('required', '');

    }


        }
      });
}

function choice_sub_sub_model(select) {
$("#sub_sub_model").val(select.options[select.selectedIndex].text);
$.ajax({
// initialize an AJAX request
            url: "/get_product_details/",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
              'model_of_purchase': $('#model_of_purchase').val(),     // add the country id to the GET parameters
              'type_of_scale': $("#type_of_scale").val(),      // add the country id to the GET parameters
              'sub_model': $("#sub_model").val(),       // add the country id to the GET parameters
              'sub_sub_model': select.options[select.selectedIndex].value,      // add the country id to the GET parameters

            },
            success: function (data) {   // `data` is the return of the `load_cities` view function

        $("#product_details").html(data);


            }
          })
}

function isOneChecked() {
  // All <input> tags...
  var chx = document.getElementsByTagName('input');
  for (var i=0; i<chx.length; i++) {
    // If you have more than one radio group, also check the name attribute
    // for the one you want as in && chx[i].name == 'choose'
    // Return true from the function on first match of a checked item
    if (chx[i].type == 'radio' && chx[i].checked) {
    alert("Are you sure it's last product?\n you will not be able to add product again.");
      return true;
    }
  }
  // End of the loop, return false
  alert("Please Select any one radio buttons in last product field.");
  return false;
}


  </script>



  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/dashboard/jquery.min.js' %}"></script>
  <script src="{% static 'js/dashboard/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'jjs/dashboard/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/dashboard/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'js/dashboard/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/dashboard/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/dashboard/chart-pie-demo.js' %}"></script>





<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>



</body>

</html>

 <!---->
     <!--<div id="China" class="divs d1 ">-->
<!--<div class="form-group row">-->

    <!--<label class="col-md-2 control-label">Model of Purchase-->

<!--</label>-->

    <!--<div class="col-md-4 inputGroupContainer">-->
<!--<div class="wrapper">-->
    <!--<select class="editableBox1" name="chinaVar2" id="chinaD1" style="border: 1px solid grey; border-radius: 5px;">-->
      <!--<option value="" selected="selected">Select</option>-->
    <!--</select>-->
    <!--<input class="timeTextBox1" name="model_of_purchase" maxlength="30"/>-->
<!--</div>-->
  <!--</div>-->

<!--</div>-->
         <!--<div class="form-group row">-->
     <!--<label class="col-md-2 control-label">Sub Model-->


<!--</label>-->
  <!--<div class="col-md-4 inputGroupContainer">-->
    <!--<div class="wrapper">-->
    <!--<select class="editableBoxa1" name="chinaVar1a" id="chinaD2" size="1"  style="border: 1px solid grey; border-radius: 5px;">-->
<!--<option value="" selected="selected">Select</option>-->
    <!--</select>-->
    <!--<input class="timeTextBoxa1" name="sub_model" maxlength="30"/>-->
<!--</div>-->
  <!--</div>-->
  <!--<label class="col-md-2 control-label">Sub Sub Model-->


<!--</label>-->
  <!--<div class="col-md-4 inputGroupContainer">-->
   <!--<div class="wrapper">-->
    <!--<select class="editableBoxaa1" name="chinaVar3" id="chinaD3" size="1"  style="border: 1px solid grey; border-radius: 5px;">-->
<!--<option value="" selected="selected">Select</option>-->
    <!--</select>-->
    <!--<input class="timeTextBoxaa1" name="sub_sub_model" maxlength="30"/>-->

<!--</div>-->
  <!--</div>-->



<!--</div>-->
     <!--</div>-->


    <!--<div id="Electronical" class="divs d2 ">-->
<!--<div class="form-group row">-->

    <!--<label class="col-md-2 control-label">Model of Purchase-->

<!--</label>-->

    <!--<div class="col-md-4 inputGroupContainer">-->
<!--<div class="wrapper">-->
    <!--<select class="editableBox" name="state" id="electronicsD1" size="1" style="border: 1px solid grey; border-radius: 5px;">-->
      <!--<option value="" selected="selected">Select</option>-->
    <!--</select>-->
    <!--<input class="timeTextBox" name="model_of_purchase1" maxlength="30"/>-->
<!--</div>-->
  <!--</div>-->

<!--</div>-->
         <!--<div class="form-group row">-->
     <!--<label class="col-md-2 control-label">Sub Model-->


<!--</label>-->
  <!--<div class="col-md-4 inputGroupContainer">-->
    <!--<div class="wrapper">-->
    <!--<select  class="editableBoxa22" name="countrya" id="electronicsD2" size="1"  style="border: 1px solid grey; border-radius: 5px;">-->
<!--<option value="" selected="selected">Select</option>-->
    <!--</select>-->
    <!--<input class="timeTextBoxa22" name="sub_model1" maxlength="30"/>-->
<!--</div>-->
  <!--</div>-->
  <!--<label class="col-md-2 control-label">Sub Sub Model-->


<!--</label>-->
  <!--<div class="col-md-4 inputGroupContainer">-->
   <!--<div class="wrapper">-->
    <!--<select class="editableBoxaa" id="electronicsD3" size="1"  style="border: 1px solid grey; border-radius: 5px;">-->
<!--<option value="" selected="selected">Select</option>-->
    <!--</select>-->
    <!--<input class="timeTextBoxaa" name="sub_sub_model1" maxlength="30"/>-->

<!--</div>-->
  <!--</div>-->



<!--</div>-->
     <!--</div>-->

                <!--<div id="Mechanical" class="divs d3 ">-->
<!--<div class="form-group row">-->

    <!--<label class="col-md-2 control-label">Model of Purchase-->

<!--</label>-->

    <!--<div class="col-md-4 inputGroupContainer">-->
<!--<div class="wrapper">-->
    <!--<select class="editableBox22" name="state" id="mechD1" size="1" style="border: 1px solid grey; border-radius: 5px;">-->
      <!--<option value="" selected="selected">Select</option>-->
    <!--</select>-->
    <!--<input class="timeTextBox22" name="model_of_purchase2" maxlength="30"/>-->
<!--</div>-->
  <!--</div>-->

<!--</div>-->
         <!--<div class="form-group row">-->
     <!--<label class="col-md-2 control-label">Sub Model-->


<!--</label>-->
  <!--<div class="col-md-4 inputGroupContainer">-->
    <!--<div class="wrapper">-->
    <!--<select  class="editableBoxa"  name="countrya" id="mechD2" size="1"  style="border: 1px solid grey; border-radius: 5px;">-->
<!--<option value="" selected="selected">Select</option>-->
    <!--</select>-->
    <!--<input class="timeTextBoxa" name="sub_model2" maxlength="30"/>-->
<!--</div>-->
  <!--</div>-->

                  <!--<label class="col-md-2 control-label">Sub Model-->


<!--</label>-->
  <!--<div class="col-md-4 inputGroupContainer">-->
    <!--<div class="wrapper">-->
    <!--<select  class="editableBoxz" name="countrya" id="mechD3" size="1"  style="border: 1px solid grey; border-radius: 5px;">-->
<!--<option value="" selected="selected">Select</option>-->
    <!--</select>-->
    <!--<input class="timeTextBoxz" name="sub_sub_model2" maxlength="30"/>-->
<!--</div>-->
  <!--</div>-->
         <!--</div>-->






<!--</div>-->

   <!--<script>-->
<!--$( document ).ready(function() {-->
        <!--$('.divs').css("display", "none");-->

<!--});-->
<!--$(function() {-->
  <!--$('#divselector').change(function(){-->
    <!--$('.divs').css("display", "none");-->
    <!--$('#' + $(this).val()).css("display", "block");;-->
  <!--});-->
<!--});-->

            <!--</script>-->
  <!--<script>-->

<!--$(document).ready(function(){-->

    <!--$(".editableBox").change(function(){-->
        <!--$(".timeTextBox").val($(".editableBox option:selected").html());-->
    <!--});-->
<!--});-->

<!--$(document).ready(function(){-->

    <!--$(".editableBoxa").change(function(){-->
        <!--$(".timeTextBoxa").val($(".editableBoxa option:selected").html());-->
    <!--});-->
<!--});-->


<!--$(document).ready(function(){-->

    <!--$(".editableBoxz").change(function(){-->
        <!--$(".timeTextBoxz").val($(".editableBoxz option:selected").html());-->
    <!--});-->
<!--});-->





<!--$(document).ready(function(){-->

    <!--$(".editableBox1").change(function(){-->
        <!--$(".timeTextBox1").val($(".editableBox1 option:selected").html());-->
    <!--});-->
<!--});-->

<!--$(document).ready(function(){-->

    <!--$(".editableBoxa1").change(function(){-->
        <!--$(".timeTextBoxa1").val($(".editableBoxa1 option:selected").html());-->
    <!--});-->
<!--});-->


<!--$(document).ready(function(){-->

    <!--$(".editableBoxz1").change(function(){-->
        <!--$(".timeTextBoxz1").val($(".editableBoxz1 option:selected").html());-->
    <!--});-->
<!--});-->
<!--</script>-->

<!--<script>-->
<!--var China = {-->
<!--"Luggage Scales": {-->
<!--"None": ['None'],-->
<!--},-->
<!--"Personal Scales": {-->
<!--"None": ['None'],-->
<!--},-->
<!--"Kitchen Scales": {-->
<!--"None": ['None'],-->
<!--},-->
<!--"Jewellery Scales": {-->
<!--"None": ['None'],-->
<!--},-->
<!--"Sealing Machines": {-->
<!--"None": ['None'],-->
<!--},-->
<!--}-->








<!--var electronics = {-->

<!--"Table Top Scales": {-->
<!--"ABS": ['ABS001','ABS002','ABS003','ABS004','ABS005','ABS006'],-->
<!--"MSS": ['MSS001','MSS002','MSS003','MSS004','MSS005','MSS006'],-->
<!--"SSS": ['SSS001','SSS002','SSS003','SSS004','SSS005','SSS006'],-->
<!--"MSB": ['MSB001','MSB002','MSB003','MSB004','MSB005','MSB006'],-->
<!--"SSB": ['SSB001','SSB002','SSB003','SSB004','SSB005','SSB006'],-->
<!--"MSBP":['MSBP001','MSBP002','MSBP003','MSBP004','MSBP005','MSBP006'],-->
<!--"SSBP":['SSBP001','SSBP002','SSBP003','SSBP004','SSBP005','SSBP006'],-->
<!--"PRCFB":['PRC001','PRC002','PRC003','PRC004','PRC005','PRC006'],-->
<!--"PRCP":['PRCP001','PRCP002','PRCP003','PRCP004','PRCP005','PRCP006']-->
<!--},-->


<!--"POS Scales": {-->
<!--"PRCPT":['PRCPT001','PRCPT002','PRCPT003','PRCPT004'],-->
<!--"POSP": ['PRCPT005','PRCPT006','PRCPT007']-->
<!--},-->


<!--"Water Proof Scales": {-->
<!--"ABSWR": ['ABSWR001','ABSWR002','ABSWR003','ABSWR004','ABSWR005','ABSWR006','ABSWR007'],-->
<!--"SSWR" : ['SSWR001','SSWR002','SSWR003','SSWR004','SSWR005','SSWR006','SSWR007']-->
<!--},-->


<!--"Jewellery Scales": {-->
<!--"JEWE" :['JEWE001','JEWE002','JEWE003','JEWE004','JEWE005','JEWE006','JEWE007']-->
<!--},-->



<!--"Lab Scales": {-->
<!--"LAB" :['LAB001','LAB002','LAB003','LAB004','LAB005','LAB006','LAB007','LAB008']-->
<!--},-->



<!--"Hanging Scales": {-->
<!--"CRS" :['CRS001','CRS002','CRS003','CRS004','CRS005','CRS006']-->
<!--},-->



<!--"Crane Scales": {-->
<!--"CRH" :['CRH001','CRH002','CRH003','CRH004','CRH005','CRH006','CRH007'],-->
<!--"Crane Scales with Remote Display and Printer" : ['CRH008','CRH009','CRH010','CRH011'],-->
<!--"Crane Scale with Heat Shield": ['CRH012','CRH013','CRH014'],-->
<!--"Crane Scale with Hand Held Remote Display": ['CRH015','CRH016','CRH017']-->
<!--},-->


<!--"Platform Scales": {-->
<!--"PLSS" : ['PLSS001','PLSS002','PLSS003','PLSS004','PLSS005','PLSS006','PLSS007'],-->
<!--"PLCHQ" : ['PLCHQ001','PLCHQ002','PLCHQ003','PLCHQ004','PLCHQ005','PLCHQ006','PLCHQ007'],-->
<!--"PLCHQH" : ['PLCHQH008','PLCHQH009','PLCHQH010','PLCHQH011','PLCHQH012'],-->
<!--"PLCHQR": ['PLCHQR013','PLCHQR014','PLCHQR015','PLCHQR016','PLCHQR017'],-->
<!--"PLSSW": ['PLSSW001','PLSSW002','PLSSW003','PLSSW004','PLSSW005'],-->
<!--"PLSSWWR": ['PLSSWWR001','PLSSWWR002','PLSSWWR003','PLSSWWR004','PLSSWWR005','PLSSWWR006','PLSSWWR007']-->
<!--},-->


<!--"Mobile Platforms": {-->
<!--"PLSSCHI": ['PLSSCHI001','PLSSCHI002','PLSSCHI003','PLSSCHI004','PLSSCHI005','PLSSCHI006','PLSSCHI007'],-->
<!--"PLCHQCHI": ['PLCHQCHI001','PLCHQCHI002','PLCHQCHI003','PLCHQCHI004','PLCHQCHI005','PLCHQCHI006','PLCHQCHI007','PLCHQCHI008','PLCHQCHI009','PLCHQCHI010']-->
<!--},-->


<!--"Infant Scales": {-->
<!--"BCI": ['BCI001','BCI002','BCI003','BCI004','BCIC005']-->
<!--},-->


<!--"Baby Cum Adult Scales": {-->
<!--"BCA": ['BCA001','BCA002','BCA003','BCA004']-->
<!--},-->


<!--"Animal Scales": {-->
<!--"AS": ['AS001','AS002','AS003','AS004','AS005']-->
<!--},-->


<!--"Cattle Scales": {-->
<!--"AWSSSG": ['ASSSG001','ASSSG002','ASSSG003','ASSSG004'],-->
<!--"AWSCIG": ['AWSCIG001','AWSCIG002','AWSCIG003','AWSCIG004','AWSCIG005','AWSCIG006']-->
<!--},-->


<!--"Supra Pall Scales": {-->
<!--"SUP": ['SUP001','SUP002','SUP003','SUP004','SUP005']-->
<!--},-->



<!--"Supra Pall Scales": {-->
<!--"LPG": ['LPG001']-->
<!--},-->

<!--}-->













<!--var mechanical = {-->



<!--"Weights": {-->
<!--"CI Weight": ['None'],-->
<!--"SS Weight": ['None'],-->
<!--"Brass Weight": ['None'],-->
<!--"Brass Flat Weight": ['None'],-->
<!--"SS Weight box": ['None']-->
<!--},-->

<!--"Mechanical Platform Scales": {-->
<!--"None": ['None'],-->
<!--},-->
<!--"Peg Measure": {-->
<!--"None": ['None'],-->
<!--},-->
<!--"Sealing Machines": {-->
<!--"None": ['None'],-->
<!--},-->
<!--"Mandir Scales": {-->
<!--"None": ['None'],-->
<!--},-->
<!--"Pedestral": {-->
<!--"None": ['None'],-->
<!--},-->
<!--"Counter Scales": {-->
<!--"Emboss Body Counter Scale with Tray": ['J5','J6'],-->
<!--"Plain Body Counter Scale ": ['J2','J5','J6'],-->
<!--"Stainless Steel Counter Scale": ['J2','J5','J6'],-->
<!--},-->
<!--"Circular Spring Balance": {-->
<!--"None": ['None'],-->
<!--},-->
<!--"Conical Measure": {-->
<!--"GI Conical Measure": ['None'],-->
<!--"SS Conical Measure": ['None'],-->
<!--"Brass Conical Measure": ['None'],-->

<!--},-->
<!--"Milk Measure": {-->
<!--"Aluminium Milk Measure": ['None'],-->
<!--"Stainless Steel Milk Measure": ['None'],-->

<!--},-->
<!--"Handy": {-->
<!--"None": ['None'],-->

<!--},-->
<!--"Dip Rod": {-->
<!--"None": ['None'],-->
<!--},-->
<!--"Dip Stick": {-->
<!--"None": ['None'],-->
<!--},-->
<!--"Meter Patti": {-->
<!--"None": ['None'],-->
<!--},-->
<!--"B Class Scales": {-->
<!--"None": ['None'],-->
<!--},-->
<!--"Ratio Palla Scales": {-->
<!--"None": ['None'],-->
<!--},-->
<!--"Dandi Kata": {-->
<!--"SDK": ['None'],-->
<!--"TDK": ['None'],-->
<!--},-->
<!--"Tagri Kata": {-->
<!--"TKGI": ['None'],-->
<!--"TKSS": ['None'],-->
<!--},-->


<!--}-->







<!--window.onload = function () {-->
<!--var chinaD1 = document.getElementById("chinaD1"),-->
<!--chinaD2 = document.getElementById("chinaD2"),-->
<!--chinaD3 = document.getElementById("chinaD3");-->
<!--for (var chinaVar1 in China) {-->
<!--chinaD1.options[chinaD1.options.length] = new Option(chinaVar1, chinaVar1);-->
<!--}-->
<!--chinaD1.onchange = function () {-->
<!--chinaD2.length = 1; // remove all options bar first-->
<!--chinaD3.length = 1; // remove all options bar first-->
<!--if (this.selectedIndex < 1) return; // done-->
<!--for (var chinaVar2 in China[this.value]) {-->
<!--chinaD2.options[chinaD2.options.length] = new Option(chinaVar2, chinaVar2);-->
<!--}-->
<!--}-->

<!--chinaD1.onchange(); // reset in case page is reloaded-->
<!--chinaD2.onchange = function () {-->
<!--chinaD3.length = 1; // remove all options bar first-->
<!--if (this.selectedIndex < 1) return; // done-->
<!--var chinaVar3 = China[chinaD1.value][this.value];-->
<!--for (var i = 0; i < chinaVar3.length; i++) {-->
<!--chinaD3.options[chinaD3.options.length] = new Option(chinaVar3[i], chinaVar3[i]);-->
<!--}-->
<!--}-->


<!--// Electronics JS Code-->
<!--// Electronics JS Code-->



<!--var electronicsD1 = document.getElementById("electronicsD1"),-->
<!--electronicsD2 = document.getElementById("electronicsD2"),-->
<!--electronicsD3 = document.getElementById("electronicsD3");-->
<!--for (var electVar1 in electronics) {-->
<!--electronicsD1.options[electronicsD1.options.length] = new Option(electVar1, electVar1);-->
<!--}-->
<!--electronicsD1.onchange = function () {-->
<!--electronicsD2.length = 1; // remove all options bar first-->
<!--electronicsD3.length = 1; // remove all options bar first-->
<!--if (this.selectedIndex < 1) return; // done-->
<!--for (var electVar2 in electronics[this.value]) {-->
<!--electronicsD2.options[electronicsD2.options.length] = new Option(electVar2, electVar2);-->
<!--}-->
<!--}-->
<!--electronicsD1.onchange(); // reset in case page is reloaded-->
<!--electronicsD2.onchange = function () {-->
<!--electronicsD3.length = 1; // remove all options bar first-->
<!--if (this.selectedIndex < 1) return; // done-->
<!--var electVar3 = electronics[electronicsD1.value][this.value];-->
<!--for (var i = 0; i < electVar3.length; i++) {-->
<!--electronicsD3.options[electronicsD3.options.length] = new Option(electVar3[i], electVar3[i]);-->
<!--}-->
<!--}-->


<!--// Mechanical JS Code-->
<!--// Mechanical JS Code-->


<!--var mechD1 = document.getElementById("mechD1"),-->
<!--mechD2 = document.getElementById("mechD2"),-->
<!--mechD3 = document.getElementById("mechD3");-->
<!--for (var mechVar1 in mechanical) {-->
<!--mechD1.options[mechD1.options.length] = new Option(mechVar1, mechVar1);-->
<!--}-->
<!--mechD1.onchange = function () {-->
<!--mechD2.length = 1; // remove all options bar first-->
<!--mechD3.length = 1; // remove all options bar first-->
<!--if (this.selectedIndex < 1) return; // done-->
<!--for (var mechVar2 in mechanical[this.value]) {-->
<!--mechD2.options[mechD2.options.length] = new Option(mechVar2, mechVar2);-->
<!--}-->
<!--}-->
<!--mechD1.onchange(); // reset in case page is reloaded-->
<!--mechD2.onchange = function () {-->
<!--mechD3.length = 1; // remove all options bar first-->
<!--if (this.selectedIndex < 1) return; // done-->
<!--var mechVar2 = mechanical[mechD1.value][this.value];-->
<!--for (var i = 0; i < mechVar2.length; i++) {-->
<!--mechD3.options[mechD3.options.length] = new Option(mechVar2[i], mechVar2[i]);-->
<!--}-->
<!--}-->



<!--}-->
<!--</script>-->