 <!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HSCO</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>


  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/dashboard/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
  {% include 'base_templates/sidebar.html' %}

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">


        <!-- Topbar -->
  {% include 'base_templates/navbar_for_dashboard.html' %}
        <!-- End of Topbar -->


<style>

.container-fluid {
font-size: 14px;
}
  .faicons {
  font-size: 18px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #5a5c69;
  }

  .icon-border {
  border: 1px solid #d1d3e2;
  border-radius: 5px 1px 1px 5px;
  border-right: none;


  }

  .control-label {
  color: black;

  }

</style>
<style>
    .border-right-primary{border-right:.25rem solid #4e73df!important}
</style>
            <script> function disable() {
  document.getElementById("name").disabled = true;
  }

  function enable() {
   document.getElementById("name").disabled = false;
  }

var form = document.getElementById("contact_form");
var elements = form.elements;
for (var i = 0, len = elements.length; i < len; ++i) {
    elements[i].disabled = true;
}
</script>


        <!-- Begin Page Content -->
        <div class="container-fluid">
<center>
         <!-- Page Heading -->
            <h1 class="h3 mb-0 text-gray-800"> Onrepair Product</h1>
</center>
<br>

<script>
function myFunction() {

  var x = document.getElementById("myText10");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
    document.getElementById("myText").disabled = false;
    document.getElementById("myText2").disabled = false;
    document.getElementById("myText3").disabled = false;
    document.getElementById("myText4").disabled = false;
    document.getElementById("myText5").disabled = false;
    document.getElementById("myText6").disabled = false;
    document.getElementById("myText7").disabled = false;
    document.getElementById("myText8").disabled = false;
    document.getElementById("myText9").disabled = false;
    document.getElementById("myText10").style.display = "block";



}
</script>
<br>

            <form method="POST">{%csrf_token%}


<div class="form-group row">


    <label class="col-md-2 control-label">Type of Machine



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
    <input  type="text" name="type_of_machine" disabled id="myText" value="{{onsite_id.type_of_machine}}" list="type_of_scale"placeholder="Type of Machine" class="form-control" >
  <i class="fa fa-angle-double-down faicons" style="margin-left: -40px; z-index:9999; width: 10%;"></i>
    <datalist style="height:20px;" id="type_of_scale">
    <option value = "Digital"></option>
    <option value = "Mechanical"></option>
    </datalist>
    </div>
  </div>

    <label class="col-md-2 control-label">Model

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
    <input  type="text" name="model" placeholder="Model" disabled id="myText2" value="{{onsite_id.model}}" class="form-control" >

    </div>
  </div>



</div>




<div class="form-group row">
   <label class="col-md-2 control-label">Sub model



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
    <input  type="text" name="sub_model" disabled id="myText3" value="{{onsite_id.sub_model}}" placeholder="Sub model" class="form-control" >

    </div>
  </div>   <label class="col-md-2 control-label">Cost



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-money faicons"></i></span>
    <input  type="text" name="cost" disabled id="myText4" value="{{onsite_id.cost}}" placeholder="Cost" class="form-control" >

    </div>
  </div>
</div>



<div class="form-group row">
   <label class="col-md-2 control-label">Capacity



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-truck  faicons"></i></span>
    <input  type="text" name="capacity" disabled id="myText5" value="{{onsite_id.capacity}}" placeholder="Capacity" class="form-control" >

    </div>
  </div>

     <label class="col-md-2 control-label">Problem in the scale



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
    <input  type="text" name="problem_in_scale" disabled id="myText6" list="problem_in_scale" value="{{onsite_id.problem_in_scale}}" placeholder="Problem in the scale" class="form-control" >
 <i class="fa fa-angle-double-down faicons" style="margin-left: -40px; z-index:9999; width: 10%;"></i>
    <datalist style="height:20px;" id="problem_in_scale">
    <option value = "Scale not turning On"></option>
    <option value = "Scale is showing incorrect weight"></option>
    <option value = "Scale only shows 888888"></option>
    <option value = "Scale only shows zero"></option>
    <option value = "Weight is slowly increasing or decreasing"></option>
    <option value = "buttons are not working"></option>
    <option value = "Scale doesnt show stable weight"></option>
    <option value = "Display problems (Display gets distorted while showing weight)"></option>
    <option value = "Scale is not working on battery or scale is not charging"></option>
    <option value = "Scale turns OFF automatically"></option>
    <option value = "Others"></option>
    </datalist>
    </div>
  </div>

</div>





  <div class="form-group row">
   <label class="col-md-2 control-label">Components Replaced in Waranty(if scale in Waranty)



</label>
      <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-gears faicons"></i></span>
          <input  type="text" name="components_replaced_in_warranty" list="components_replaced_in_warranty" disabled id="myText7" value="{{onsite_id.components_replaced_in_warranty}}" placeholder="Components Replaced in Waranty" class="form-control" >
  <i class="fa fa-angle-double-down faicons" style="margin-left: -40px; z-index:9999; width: 10%;"></i>
      <datalist style="height:20px;" id="components_replaced_in_warranty">
    <option value = "Display"></option>
    <option value = "Touch Pad"></option>
    <option value = "LED"></option>
    <option value = "Transformer"></option>
    <option value = "Battery"></option>
    <option value = "Switch"></option>
    <option value = "Main Cord wire"></option>
    <option value = "Main Circuit Board"></option>
    <option value = "SMPS"></option>
    <option value = "Load Cell"></option>
    <option value = "Misc"></option>
    </datalist>
    </div>
  </div>

    <label class="col-md-2 control-label">Components Replaced
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-window-restore faicons"></i></span>
  <input  name="components_replaced" placeholder="Components Replaced" list="components_replaced" disabled id="myText8" value="{{onsite_id.components_replaced_in_warranty}}" class="form-control"  type="text">
      <i class="fa fa-angle-double-down faicons" style="margin-left: -40px; z-index:9999; width: 10%;"></i>
      <datalist style="height:20px;" id="components_replaced">
    <option value = "Display"></option>
    <option value = "Touch Pad"></option>
    <option value = "LED"></option>
    <option value = "Transformer"></option>
    <option value = "Battery"></option>
    <option value = "Switch"></option>
    <option value = "Main Cord wire"></option>
    <option value = "Main Circuit Board"></option>
    <option value = "SMPS"></option>
    <option value = "Load Cell"></option>
    <option value = "Misc"></option>
    </datalist>
  </div>
  </div>

</div>



<div class="wrapper" style="display:none;">
    <select class="editableBoxz" name="district" id="districtSel" size="1"  id="myText9" style="border: 1px solid grey; border-radius: 5px;">
<option value="" selected="selected">Select</option>

    </select>
    <input class="timeTextBoxz" name="timebox" maxlength="5"/>
</div>


<div class="col-md-12 ">
      <br>
    <center>
        <button  onclick="myFunction()" class="btn btn-primary" type="reset" style="">Edit</button>
        <br>
        <br>
        <button style="display:none;" id="myText10" type="submit" value="Submit" class="btn btn-primary">Save</button>
      </center>
    </div>

</form>
</div>


            <br>




  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/dashboard/jquery.min.js' %}"></script>
  <script src="{% static 'js/dashboard/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'jjs/dashboard/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/dashboard/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'js/dashboard/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/dashboard/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/dashboard/chart-pie-demo.js' %}"></script>
        <script>

$(function() {
$("#stars").val("0");
    $("div.star-rating > s").on("click", function(e) {

    // remove all active classes first, needed if user clicks multiple times
    $(this).closest('div').find('.active').removeClass('active');

    $(e.target).parentsUntil("div").addClass('active'); // all elements up from the clicked one excluding self
    $(e.target).addClass('active');  // the element user has clicked on


        var numStars = $(e.target).parentsUntil("div").length+1;
        $("#stars").val(numStars);


    });
});




</script>
      </div>
    </div>
  </div>
</body>

</html>
