 <!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Career | HSCO</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery.min.js"></script>
<script src="lib/year-select.js"></script>
  <!-- Custom styles for this template-->
  <link href="{% static 'css/dashboard/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top" style="background-color:#FAA252;">

<style>

* {
color:;
}
  .faicons {
  font-size: 18px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #5a5c69;
  }

  .icon-border {
  border: 1px solid #d1d3e2;
  border-radius: 5px 1px 1px 5px;
  border-right: none;


  }

  .control-label {
  color: black;

  }

</style>

<style>
.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}




.dropbtn12 {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn12:hover {background-color: orange;}




.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.ui-datepicker-calendar {
   display: none;
}


.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: white;
}

.dropdown:hover .dropbtn {
  background-color: #black;
}


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
</style>

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content" style="background-color: white;">


        <!-- Topbar -->
        <!-- End of Topbar -->

<div class="row">
    <div class="card-body" style="background-color:#1E1E1C;">
        <p style="float:left;">One Stop for all Your Weighing Needs</p>
    </div>

</div>

    <form class="well form-horizontal" ion="" method="post"  id="contact_form" style="padding:20px;">{% csrf_token%}
<fieldset>
    <div class="row" style="margin-left:05%;">
        <div class="card-body" style=" background-color:#ffffff;">
            <div class="col-md-2">
                                  <div style="width:100%; float: left;">
                                              <img src="{% static 'images/hsco.jpg' %}" style="height: 70px; padding-top: 5px; ">

              </div>
            </div>

            <div class="col-md-12">
               <button class="dropbtn12"> Suggest a Scale</button> <button class="dropbtn12"> Home </button>
                    <div class="dropdown">
                    <button class="dropbtn dropbtn12">About Us </button>
                    <div class="dropdown-content">
                    <a href="https://hindustanscale.com/know-more-about-us/">Vision,Mission &amp; Values</a>
                    <a href="https://hindustanscale.com/know-more-about-us/">Awards &amp; Certification</a>
                    <a href="https://hindustanscale.com/know-more-about-us/">Customers</a>
                    <a href="https://hindustanscale.com/know-more-about-us/">Customer Installation</a>
                    </div>
                    </div>
                    <div class="dropdown">
                    <button class="dropbtn dropbtn12">Products </button>
                    <div class="dropdown-content">
                    <a href="https://hindustanscale.com/products/">Electronic Scales</a>
                    <a href="https://hindustanscale.com/products/">Mechanical Scales</a>
                    <a href="https://hindustanscale.com/products/">Lifestyle Scales (Not For Commercial Use)</a>
                    <a href="https://hindustanscale.com/products/">Bluetooth Scales</a>
                    </div>
                    </div>
                    <div class="dropdown">
                    <button class="dropbtn dropbtn12">Services</button>
                    <div class="dropdown-content">
                    <a href="https://hindustanscale.com/service-request/">Services</a>
                    </div>
                    </div>
                  <div class="dropdown">
                    <button class="dropbtn dropbtn12">Blogs</button>
                    <div class="dropdown-content">
                    <a href="https://hindustanscale.com/blogs/">Blogs</a>
                    </div>
                    </div>
                      <div class="dropdown">
                    <button class="dropbtn dropbtn12">Career</button>
                    <div class="dropdown-content">
                    <a href="https://hindustanscale.com/career/">Career</a>
                    </div>
                    </div>
                  <div class="dropdown">
                    <button class="dropbtn dropbtn12">Help & Videos</button>
                    <div class="dropdown-content">
                    <a href="https://hindustanscale.com/troubleshooting-video/">Help & Videos</a>
                    </div>
                    </div>
                  <div class="dropdown">
                    <button class="dropbtn dropbtn12">Contact Us</button>
                    <div class="dropdown-content">
                    <a href="https://hindustanscale.com/contact-us/">Contact Us</a>
                    </div>
                    </div>
            </div>
            </div>
        </div>
    <hr>


          {% if request.session.context_sess.success_exist_65 %}

                    <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success : </strong> {{request.session.context_sess.success_65}}
  <a href="https://hindustanscale.com/"><button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
                        </button></a>
</div>

      <script>
    setTimeout(function (){
window.location.replace("https://hindustanscale.com/");
}
, 3000);

    </script>
{% endif %}
     {% if request.session.context_sess.error_exist_65 %}
                     <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error : </strong> {{request.session.context_sess.error_65}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
    <br>

 <div id="loaded_customer">

<div class="form-group row" style="display:none;">

      <label class="col-md-2 control-label">Current Stage



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">

{{career_form.current_stage}}
    </div>
  </div>


</div>



<div class="form-group row">
    <label class="col-md-2 control-label">Application No.
    </label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
 {{career_form.application_no}}
    </div>
  </div>
  <label class="col-md-2 control-label">Phone No.


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-envelope faicons"></i></span>
{{career_form.phone_no}}
    </div>
  </div>


</div>
   <div class="form-group row">
  <label class="col-md-2 control-label">Candidate Name

</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-envelope faicons"></i></span>
{{career_form.candidate_name}}
    </div>
  </div>



    <label class="col-md-2 control-label">Choose Position

</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
{{career_form.choose_position}}
    </div>
  </div>
  </div>





  <div class="form-group row">

  <label class="col-md-2 control-label">Candidate Email:
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
{{career_form.candidate_email}}
    </div>
  </div>

    <label class="col-md-2 control-label">Address

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
{{career_form.address}}
    </div>
  </div>
        </div>
       <div class="form-group row">

  <label class="col-md-2 control-label">Date Of Birth
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
{{career_form.date_of_birth}}
    </div>
  </div>
       </div>

     <hr>


<br>

     <center><h3>Education Details</h3></center>
     <br>
       <div class="form-group row">

  <label class="col-md-2 control-label">Institute Name / University
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
{{career_form.institute_name}}
    </div>
  </div>

    <label class="col-md-2 control-label">Course

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
{{career_form.course}}
    </div>
  </div>
        </div>

            <div class="form-group row">

  <label class="col-md-2 control-label">Year of completion
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>

 {{career_form.year_of_completion}}
    </div>
  </div>

    <label class="col-md-2 control-label">Grade / Percentage

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
{{career_form.percentage}}
    </div>
  </div>
        </div>

          <hr>


<br>

     <center><h3>Work Experience</h3></center>
     <br>
       <div class="form-group row">

  <label class="col-md-2 control-label">Company Name
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
{{career_form.company_name}}
    </div>
  </div>

    <label class="col-md-1 control-label">Experience:

</label>

    <div class="col-md-5 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  {{career_form.work_expirance_from}}&nbsp &nbsp
      To &nbsp &nbsp
{{career_form.work_expirance_to}}
    </div>
  </div>
        </div>

            <div class="form-group row">

    <label class="col-md-2 control-label">Experience Details
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
{{career_form.work_expirance_details}}
    </div>
  </div>

    <label class="col-md-2 control-label">Designation

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
{{career_form.designation}}
    </div>
  </div>
        </div>
 </div>


<br>
<br>

<center>
	<button style="background-color: #FC6E20;" type="submit" value="submit" class="btn btn-primary">Save</button>

</center>
<br>

</fieldset>
</form>
</div>
    </div>

  </div>
    <div class="row col-md-12">
        <div class="card-body" style="background-color:#faa252;">
            </div>
        </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



 <script>
                                                         $(document).ready(function(){
    $('#id_choose_position').on('change', function() {
      if ( this.value == 'Sales Position')
      {
        $("#sales_person").show();
      }
      else
      {
        $("#sales_person").show();
      }

          if ( this.value == 'Technical Position')
      {
        $("#technical_position").show();
      }
      else
      {
        $("#technical_position").show();
      }

    });

      $('#id_any_question').on('change', function() {
      if ( this.value == 'Yes')
      {
        $("#any_question").show();
      }
      else
      {
        $("#any_question").show();
      }
        });



         });
                         </script>


<script>



  function choice1(select) {
     //alert(select.options[select.selectedIndex].value);
    $.ajax({                       // initialize an AJAX request
        url: "/load_customer/",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'item_id': select.options[select.selectedIndex].value       // add the country id to the GET parameters

        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
    $("#loaded_customer").html(data);
        }
      });
}

   function isNumberKey(evt)
      {
         var charCode = (evt.which) ? evt.which : event.keyCode
         if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

         return true;
      }




</script>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/dashboard/jquery.min.js' %}"></script>
  <script src="{% static 'js/dashboard/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'jjs/dashboard/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/dashboard/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'js/dashboard/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/dashboard/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/dashboard/chart-pie-demo.js' %}"></script>

</body>

</html>
