
<!DOCTYPE html>

<html lang="en">
	<!--begin::Head-->
	<head><base href="">
		{% load static %}
		<meta charset="utf-8" />
		<title></title>
		<meta name="description" content="Updates and statistics" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Page Vendors Styles(used by this page)-->
		<link href="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" />
		<!--end::Page Vendors Styles-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="{% static 'plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'plugins/custom/prismjs/prismjs.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
		        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->
		<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="header-mobile-fixed subheader-enabled aside-enabled aside-fixed aside-secondary-enabled page-loading">
		<!--begin::Main-->
		<!--begin::Header Mobile-->
		<div id="kt_header_mobile" class="header-mobile">
			<!--begin::Logo-->
			<a href="/">
				<h1>HSCo</h1>
			</a>
			<!--end::Logo-->
			<!--begin::Toolbar-->
			<div class="d-flex align-items-center">
				<button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
					<span></span>
				</button>
			</div>
			<!--end::Toolbar-->
		</div>
		<!--end::Header Mobile-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Aside-->
					{% include 'base_templates/aside.html' %}


				<!--end::Aside-->
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
					<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div class="" id="kt_subheader">
							<div class="container-fluid">
								<!--begin::Info-->
									<!--begin::Page Heading-->


  <!-- Page Wrapper -->
  <div id="wrapper" style="margin-top:5%;">

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">


        <!-- Topbar -->
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class=" ">

          <!-- Page Heading -->
            <div class="row">
           <div class="col-xl-5 col-md-3 mb-3 ">


                <div class="card-body" style="padding: 2px;">
                  <div class="row no-gutters align-items-right">
<h1 class="h3 mb-0 text-gray-800 ">Career Module</h1>


                </div>
              </div>
            </div>



                 <div class="col-xl-5 col-md-5 mb-5 ">
                 </div>
                 <div class="col-xl-2 col-md-2 mb-2 ">


                <div class="card-body" style="padding: 2px;">
                  <div class="row no-gutters align-items-right">


 <a style="padding: 2px;" href="{% url 'career_module_form' %}"><button class="btn btn-primary"> Add Candidate </button></a>
                </div>
              </div>










            </div>



                </div>

            {% if err %}
                       <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Nothing Found!!!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
            {% endif %}


             {% if lead_count > 1 and error_exist %}
             <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Already Fetched!!! </strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


                {% elif lead_count > 1 %}


                     <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Total Lead Fetched : </strong> {{lead_count}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



 {% elif error_exist %}

                     <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error Fetching Lead From Indiamart : </strong> {{error}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}


<br>

<style>
    .border-right-primary{border-right:.25rem solid #4e73df!important}
</style>

                        <style>
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: green;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.divs{
display:none;
}

.card-body{
font-size: 12px;
}
</style>



            <script>
//$( document ).ready(function() {
  //      $('.divs').hide();});
$(function() {
  $('#divselector').change(function(){
    $('.divs').hide();
    $('#' + $(this).val()).show();
  });
});
            </script>
                    <!-- Date range, mob no, email id, customer name, company name, CRM no., CRM Number rnge -->


            <div class="row">

                <div  class="col-xl-3 col-md-3 col-mb-3">
                    <div class="button dropdown">
  <select id="divselector" class="form-control">
     <option value="d0">Select Search Type</option>
     <option value="d1">Search By Date Range</option>
     <option value="d2">Search By Mobile Number</option>
     <option value="d3">Search By Email Id</option>
     <option value="d4">Search By Candidate Name</option>
     <!--<option value="d5">Search By Company Name</option>-->

     <!--<option value="d6">Search By CRM No.</option>-->
<!--     <option value="d7">Search By Serial No.</option>-->
     <!--<option value="d7">Search By CRM Number Range</option>-->
  </select>
</div>


                </div>


                <div  class="col-xl-6 col-md-6 col-mb-8">


<div class="output">
  <div id="d1" class="divs d1 row">
                                                              <form method="POST" autocomplete="off">{% csrf_token%}

      <div style="float: left;" class="col-xl-4 col-md-4 col-mb-4">
                <input name="date1" type="date"  class="form-control">
      </div>

      <div style="float: left;" class="col-xl-0 col-md-0 col-mb-0">
                <p style="font-weight: 600;">_</p>
      </div>

      <div style="float: left;" class="col-xl-4 col-md-4 col-mb-4">
                <input name="date2" type="date"  class="form-control">
      </div>
      <div style="width: 25%;float: left;" class="col-xl-2 col-md-2 col-mb-2">
                <button name="sub1" type="submit" class="btn btn-primary">Search</button>
      </div>
                               </form>

      </div>


  <div id="d2" class="divs d2">
      <form method="POST" >{% csrf_token%}
      <input type="number" name="contact" placeholder="Mobile Number" class="form-control" style="width: 25%;float: left;">
      &nbsp; &nbsp;
      <button type="submit" name="sub2" class="btn btn-primary">Search</button>
  </form>
  </div>




  <div id="d3" class="divs d3">
      <form method="POST">{% csrf_token%}
      <input type="text" name="email" placeholder="Email Id" class="form-control" style="width: 25%;float: left;">
      &nbsp; &nbsp;

      <button name="sub3" class="btn btn-primary">Search</button>
          </form>
  </div>



    <div id="d4" class="divs d4">
        <form method="POST">{% csrf_token%}
      <input type="text" name="candidate_name"  placeholder="Candidate Name" class="form-control" style="width: 25%;float: left;">
      &nbsp; &nbsp;
      <button name="sub4" class="btn btn-primary">Search</button>
    </form>
    </div>

  <div id="d5" class="divs d5">
                                     <form method="POST">{% csrf_token%}

<!--      <input type="text" name="company" placeholder="Company Name" class="form-control" style="width: 25%;float: left;">-->
      &nbsp; &nbsp;
      <button name="sub5" class="btn btn-primary">Search</button>
  </form>

  </div>


<!--    <div id="d6" class="divs d6">-->
<!--                                       <form method="POST">{% csrf_token%}-->

<!--      <input type="text" name="crm" placeholder="CRM No." class="form-control" style="width: 25%;float: left;">-->
<!--      &nbsp; &nbsp;-->
<!--      <button style="background-color: #FC6E20;" name="submit6" class="btn btn-primary">Search</button>-->
<!--    </form>-->
<!--</div>-->

<!--    <div id="d7" class="divs d7">-->
<!--                               <form method="POST">{% csrf_token%}-->

<!--      <input type="text" name="serial_no" placeholder="Serial No." class="form-control" style="width: 25%;float: left;">-->
<!--      &nbsp; &nbsp;-->
<!--      <button style="background-color: #FC6E20;" name="submit7" class="btn btn-primary">Search</button>-->
<!--    </form>-->
<!--</div>-->

</div>
                </div>


                 <div class="col-xl-2 col-md-9 mb-9 ">
                 </div>
                                 <div class="col-xl-1 col-md-2 col-mb-8 row" style="color: black;">




                </div>

            </div>
            <br>
            <form action="" method="post" >{% csrf_token %}

            <div class="row">


                <div  class="col-xl-2 col-md-3 col-mb-3">
                    <div class="button dropdown">
  <select id="select" name="MONTH" class="form-control">
     <option value="0">Month </option>
     <option value="1">Jan </option>
     <option value="2">Feb </option>
     <option value="3">Mar </option>
     <option value="4">Apr </option>
     <option value="5">May </option>
     <option value="6">Jun </option>
     <option value="7">Jul </option>
     <option value="8">Aug </option>
     <option value="9">Sep </option>
     <option value="10">Oct </option>
     <option value="11">Nov </option>
     <option value="12">Dec </option>
  </select>
</div>
                            </div>


                 <div  class="col-xl-2 col-md-3 col-mb-3">
                    <div class="button dropdown">
  <select id="divsossrt" name="YEAR" class="form-control">
     <option value="2020">2020</option>
     <option value="2021">2021</option>
     <option value="2022">2022</option>
     <option value="2023">2023</option>
     <option value="2024">2024</option>
     <option value="2025">2025</option>
  </select>
</div>
                            </div>

                <div  class="col-xl-1 col-md-3 col-mb-3">
                    <div class="button">
 <input class="btn btn-primary" type="submit" value="GO" name="sort_submit">
</div>
                            </div>





                </div>
</form>




<br><form method="post">{% csrf_token %}
               <div class="row"  style="margin-left:0%;">


            <button class="col-xl-1 btn btn-primary" type="submit" name="submit2" style="background: #35477d !important;">

                  <center style="font-size: 15px;"> Applied but Not called for Interview<br> ( {{ applied_nocall }}  ) </center></button>                                               </form>

<div class="row col-xl-1 col-md-3 mb-12"></div>


      <button class="col-xl-1 btn btn-primary"  name="submit1" style="background: #7FA998 !important;">
          <center><p style="font-size: 15px;">Called for Interview <br> ( {{ called_nointerview }}  ) </p></center></button>
<div class="row col-xl-1 col-md-3 mb-12"></div>

              <button class="col-xl-1 btn btn-primary"  name="submit3" style="background: #12CAD6 !important">
                  <center><p style="margin-top:10px; font-size: 15px;"> Selection in Progress <br> ( {{ interview_progress }} ) </p></center></button>
<div class="row col-xl-1 col-md-3 mb-12"></div>
                        <button class="col-xl-1 btn btn-primary"  name="submit4" style="background: rgba(252,98,98,.9)">
                  <center><p style="margin-top:8px; font-size: 15px;"> Selected <br> ( {{ interview_notselected }})</p></center>
</button>
<div class="row col-xl-1 col-md-3 mb-12"></div>

            <button class="col-xl-1 btn btn-primary"  name="submit5" style="background: #015668">

                   <center><p style="margin-top:0px; font-size: 15px;"> Rejected <br> ( {{ interview_rejected }})</p></center>
</button>
<div class="row col-xl-1 col-md-3 mb-12"></div>

            <button class="col-xl-1 btn btn-primary"  name="submit6" style="background: #8B2F97">

                   <center><p style="margin-top:0 px; font-size: 15px;"> Future Reference <br> ( {{ interview_preserved }} ) </p></center>
</button>
<div class="row col-xl-1 col-md-3 mb-12"></div>

            <button class="col-xl-1 btn btn-primary"  name="submit7" style="background: #8B2F97">

                   <center><p style="margin-top:0 px; font-size: 15px;"> Did not Joined <br> ( {{ did_not_joined }} ) </p></center>
</button>
</form>

   </div>
                </form>

               <style>
        .border-right-primarya {
        border-right: 4px solid blue;
        }
        .border-left-primarya {
        border-left: 4px solid blue;
        }
    </style>
<style>
  .border-left-primary {
    border-left: .09rem solid #4e73df!important;
    font-size: 12px;

}

a:hover {
  text-decoration: none;
}

</style>
            <style>
                .border_class {
                border:1px solid black;
                height:45px;
                text-align:center;
                vertical-align: middle;
                line-height: 45px;
                }


  table {
  border-collapse: collapse;
  width: 99%;
  font-size: 12px;
  border-color: black;
  color: black;



}


th {

  font-size: 13px;
    border: 1px solid black;
    text-align: left;
    padding:5px;

}

td {
  border: 1px solid black;
  padding: 3px;
  font-size: 13px;
  padding: 5px;
  text-align: center;
}


            </style>

            {% if lead_list_count %}
                <br>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Data Exist</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
                {% endif %}
                {% if lead_lis %}
                <br>
           <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong></strong>Nothing Found Try Changing Month & Year
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
                {% endif %}

<div style="min-height: 26vw;">

        {% if deleted %}
                  <center> <p>list of deleted users</p></center>
                    {% endif %}
     <center><p>{{search_msg}}</p></center>
        <div class="row table-responsive" id="id_manager_view">

    <table class="table">
        <tr style="background-color: gray; color: white;">
            <td style="border-radius: 15px 0px 0px 0px; border: 0px solid gray;">Sr No</td>
            <td style="border: 0px solid gray;">Name</td>
            <td style="border: 0px solid gray;">Contact No</td>
            <td style="border: 0px solid gray;">Email ID</td>
            <td style="border-radius: 0px 15px 0px 0px; border: 0px solid gray;">Stage</td>
<!--            <td style="border-radius: 0px 15px 0px 0px; border: 0px solid gray;">Company Name</td>-->
        </tr>
                    {% for list in career_list %}

        <tr style="cursor: pointer;" onclick="location.href='/update_career_module_from/{{list.pk}}';">

            <td>{{ list.pk}}</td>
            <td>{{ list.candidate_name}}</td>
            <td>{{ list.phone_no }}</td>
            <td>{{ list.candidate_email }}</td>
            <td>{{ list.current_stage}}</td>
<!--            <td>{{list.company_name}}</td>-->

        </tr>
                          {% endfor %}

    </table>

        </div>





<br>
<br>

            <div class="pagination">
    <span class="step-links">
        {% if career_list.has_previous %}
            <a class="btn btn-primary" href="?page=1">&laquo; first</a>
            <a class="btn btn-primary" href="?page={{ career_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ career_list.number }} of {{ career_list.paginator.num_pages }}.
        </span>

        {% if career_list.has_next %}
            <a class="btn btn-primary" href="?page={{ career_list.next_page_number }}">next</a>
            <a class="btn btn-primary" href="?page={{ career_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
            </div>


            </div>



        </div>
</div>
<br>
  </div>
  <!-- End of Page Wrapper -->
  </div>


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

             <script>

        function toggleCheckbox(select) {
value = select.checked;

    $.ajax({
        url: "/load_dispatch_done/",
        data: {
          'loc_id':value,
        },
        success: function (data) {
           $("#id_subcat").html(data);
        }
      });
}
        function toggleCheckbox2(select) {
value = !select.checked;

    $.ajax({
        url: "/load_users/",
        data: {
          'loc_id':value,
        },
        success: function (data) {
           $("#id_manager_view").html(data);
        }
      });
}

    </script>



							</div>
						</div>
					</div>
				</div>



				<!--end::Purchase-->
			</div>
			<!--end::Content-->
		</div>
		<!--end::Demo Panel-->
		<!--begin::Global Config(global config for global JS scripts)-->

		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="{% static 'plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'plugins/custom/prismjs/prismjs.bundle.js' %}"></script>
<script src="{% static 'js/scripts.bundle.js' %}"></script>
<!--end::Global Theme Bundle-->
<!--begin::Page Vendors(used by this page)-->
<script src="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
<!--end::Page Vendors-->
<!--begin::Page Scripts(used by this page)-->
<script src="{% static 'js/pages/widgets.js' %}"></script>
		<!--end::Page Scripts-->
	</body>
	<!--end::Body-->
</html>