 <!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HSCO</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/dashboard/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

<style>

* {
color:;
}
  .faicons {
  font-size: 18px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #5a5c69;
  }

  .icon-border {
  border: 1px solid #d1d3e2;
  border-radius: 5px 1px 1px 5px;
  border-right: none;


  }

  .control-label {
  color: black;

  }

</style>

  <!-- Page Wrapper -->
  <div id="wrapper">
	{% include 'base_templates/sidebar.html' %}

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content" style="background-color: white;">


        <!-- Topbar -->
	{% include 'base_templates/navbar_for_dashboard.html' %}
        <!-- End of Topbar -->


<br>


    <form class="well form-horizontal" ion="" method="post"  id="contact_form" style="padding:20px;">{% csrf_token%}
<fieldset>
    <center><h2>Career Module</h2></center>
    <br>
    <br>

 <div id="loaded_customer">

<div class="form-group row">

      <label class="col-md-2 control-label">Current Stage



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">

{{career_form.current_stage}}
    </div>
  </div>


</div>



<div class="form-group row">
    <label class="col-md-2 control-label">Application No.
    </label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
 {{career_form.application_no}}
    </div>
  </div>
  <label class="col-md-2 control-label">Phone No.


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-envelope faicons"></i></span>
{{career_form.phone_no}}
    </div>
  </div>


</div>
   <div class="form-group row">
  <label class="col-md-2 control-label">Candidate Name

</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-envelope faicons"></i></span>
{{career_form.candidate_name}}
    </div>
  </div>



    <label class="col-md-2 control-label">Choose Position

</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
{{career_form.choose_position}}
    </div>
  </div>
  </div>





  <div class="form-group row">

  <label class="col-md-2 control-label">Candidate Email:
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
{{career_form.candidate_email}}
    </div>
  </div>

    <label class="col-md-2 control-label">Address

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
{{career_form.address}}
    </div>
  </div>
        </div>



  <div class="form-group row">

  <label class="col-md-2 control-label">Date Of Birth
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
{{career_form.date_of_birth}}
    </div>
  </div>

    <label class="col-md-2 control-label">Current/Previous Salary

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
{{career_form.current_salary}}
    </div>
  </div>
        </div>


  <div class="form-group row">

  <label class="col-md-2 control-label">Aadhar Card Available
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
{{career_form.aadhar_card}}
    </div>
  </div>

    <label class="col-md-2 control-label">Pan Card Available

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">

{{career_form.pan_card_availabe}}
    </div>
  </div>
        </div>


       <div class="form-group row">

  <label class="col-md-2 control-label">Bank Account Available
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">

{{career_form.bank_account}}
    </div>
  </div>
       </div>
     <hr>


<br>

     <center><h3>Education Details</h3></center>
     <br>
       <div class="form-group row">

  <label class="col-md-2 control-label">Institute Name / University
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
{{career_form.institute_name}}
    </div>
  </div>

    <label class="col-md-2 control-label">Course

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
{{career_form.course}}
    </div>
  </div>
        </div>

            <div class="form-group row">

  <label class="col-md-2 control-label">Year of completion
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
 {{career_form.year_of_completion}}
    </div>
  </div>

    <label class="col-md-2 control-label">Grade / Percentage

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
{{career_form.percentage}}
    </div>
  </div>
        </div>

          <hr>


<br>

     <center><h3>Work Expirance</h3></center>
     <br>
       <div class="form-group row">

  <label class="col-md-2 control-label">Company Name
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
{{career_form.company_name}}
    </div>
  </div>

    <label class="col-md-1 control-label">Experience:

</label>

    <div class="col-md-5 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  {{career_form.work_expirance_from}}&nbsp &nbsp
      To &nbsp &nbsp
{{career_form.work_expirance_to}}
    </div>
  </div>
        </div>

            <div class="form-group row">

    <label class="col-md-2 control-label">Experience Details
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
{{career_form.work_expirance_details}}
    </div>
  </div>

    <label class="col-md-2 control-label">Designation

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
{{career_form.designation}}
    </div>
  </div>
        </div>


      <hr>


<br>

     <center><h3>Test on Personal Skills</h3></center>
     <br>
       <div class="form-group row">

  <label class="col-md-4 control-label">How was the candidate able to say "Something about yourself
 in english"
</label>
  <div class="col-md-2 inputGroupContainer">
  <div class="input-group">
{{career_form.say_yourself}}
    </div>
  </div>

    <label class="col-md-4 control-label">was the candidate confident on a scale of 1 to 10

</label>

    <div class="col-md-2 inputGroupContainer">
  <div class="input-group">
{{career_form.confidance}}
    </div>
  </div>
        </div>

        <div class="form-group row">

  <label class="col-md-2 control-label">Since how long the candidate has been without job?
 what is the reason ?
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
{{career_form.without_job_with_reason}}
    </div>
  </div>

    <label class="col-md-2 control-label">Why did the candidate leave the last job ?and the job before that

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
{{career_form.reason_for_last_job_before}}
    </div>
  </div>
        </div>

        <div class="form-group row">

  <label class="col-md-4 control-label">Is the candidate be comfortable working from 10 am to 8 pm ?
</label>
  <div class="col-md-2 inputGroupContainer">
  <div class="input-group">

{{career_form.working_from_10_to_8_and}}
    </div>
  </div>

    <label class="col-md-4 control-label">Any Questions that the candidate has ?

</label>

    <div class="col-md-2 inputGroupContainer">
  <div class="input-group">
{{career_form.any_question}}
    </div>
  </div>
        </div>

<div id="any_question" style="display: none;">
        <div class="form-group row">



    <label class="col-md-2 control-label">Any Questions by Candidate

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
{{career_form.any_question_yes}}
    </div>
  </div>
        </div>
        </div>
<br>
     <hr>
     <br>



     <center><h3>General Aptitude</h3></center>
     <br>
       <div class="form-group row">

  <label class="col-md-4 control-label">Was the Candidate comfortable speaking English ?
</label>
  <div class="col-md-2 inputGroupContainer">
  <div class="input-group">
{{career_form.comfortable_english}}
    </div>
  </div>

    <label class="col-md-4 control-label">How good was the English on scale 1 to 10

</label>

    <div class="col-md-2 inputGroupContainer">
  <div class="input-group">
{{career_form.how_good_english}}
    </div>
  </div>
        </div>
     <div class="form-group row">

  <label class="col-md-4 control-label">Was the Candidate comfortable speaking Marathi ?
</label>
  <div class="col-md-2 inputGroupContainer">
  <div class="input-group">
{{career_form.comfortable_marathi}}
    </div>
  </div>

    <label class="col-md-4 control-label">Would the candidate be comfortable working from 10 am to 8 pm ?

</label>

    <div class="col-md-2 inputGroupContainer">
  <div class="input-group">
{{career_form.working_from_10_to_8}}
    </div>
  </div>
        </div>
     <br>

<hr>
     <br>



<div id="sales_person" style="display: none;">

     <center><h3>Position Applied For Sale</h3></center>
     <br>
     <br>
       <div class="form-group row">

  <label class="col-md-4 control-label">How much time in minutes did the candidate take to find out
 "5 weighting Scale Manufacturers in mumbai"
</label>
  <div class="col-md-2 inputGroupContainer">
  <div class="input-group">
{{career_form.weighting_scale_manufactures_mumbai}}
    </div>
  </div>

    <label class="col-md-4 control-label">Was the excel Properly Formated

</label>

    <div class="col-md-2 inputGroupContainer">
  <div class="input-group">
{{career_form.excel_formate}}
    </div>
  </div>
        </div>
     <div class="form-group row">

  <label class="col-md-4 control-label">Was the Candidate able to do sum of the cells?
</label>
  <div class="col-md-2 inputGroupContainer">
  <div class="input-group">
{{career_form.sum_in_excel}}
    </div>
  </div>

    <label class="col-md-4 control-label">How much time was taken to figure it out in second ?

</label>

    <div class="col-md-2 inputGroupContainer">
  <div class="input-group">
{{career_form.time_taken}}
    </div>
  </div>
        </div>

          <div class="form-group row">

  <label class="col-md-4 control-label">Was the Candidate able to take out 60% of the sum ?
</label>
  <div class="col-md-2 inputGroupContainer">
  <div class="input-group">
{{career_form.take_out_60}}
    </div>
  </div>
          </div>
        </div>

     <br>
     <br>




<div id="technical_position" style="display: none;">

     <center><h3>Position Applied For Technical Profile</h3></center>
     <br>
     <br>
     <div class="form-group row">

  <label class="col-md-4 control-label">How much time to disorder all the wires on the PCB in Secs
</label>
  <div class="col-md-2 inputGroupContainer">
  <div class="input-group">
{{career_form.time_to_disorder_wire_pcb}}
    </div>
  </div>

    <label class="col-md-4 control-label">How much time to Solder the wires in its respective places in Seconds

</label>

    <div class="col-md-2 inputGroupContainer">
  <div class="input-group">
{{career_form.time_to_solder_wire_back}}
    </div>
  </div>
        </div>
     <div class="form-group row">

  <label class="col-md-4 control-label">was the soldering strong ?
</label>
  <div class="col-md-2 inputGroupContainer">
  <div class="input-group">
{{career_form.soldering_strong}}
    </div>
  </div>

    <label class="col-md-4 control-label">Could the candidate identify the value of resistor ?

</label>

    <div class="col-md-2 inputGroupContainer">
  <div class="input-group">
{{career_form.value_of_resister}}
    </div>
  </div>
        </div>

          <div class="form-group row">

  <label class="col-md-4 control-label">Could the candidate identify the open and short circuit on the mains wire using a multi meter ?
</label>
  <div class="col-md-2 inputGroupContainer">
  <div class="input-group">
{{career_form.open_and_short_circuit}}
    </div>
  </div>
</div>
</div>
          </div>











 </div>


<br>
<br>

<center>
	<button style="background-color: #FC6E20;" type="submit" value="submit" class="btn btn-primary">Save</button>

</center>



<br>







</fieldset>
</form>
</div>
    </div>

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



    <script>
                                                         $(document).ready(function(){
    $('#id_choose_position').on('change', function() {
      if ( this.value == 'Sales Position')
      {
        $("#sales_person").show();
      }
      else
      {
        $("#sales_person").show();
      }

          if ( this.value == 'Technical Position')
      {
        $("#technical_position").show();
      }
      else
      {
        $("#technical_position").show();
      }

    });

      $('#id_any_question').on('change', function() {
      if ( this.value == 'Yes')
      {
        $("#any_question").show();
      }
      else
      {
        $("#any_question").show();
      }
        });
         });
                         </script>














  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/dashboard/jquery.min.js' %}"></script>
  <script src="{% static 'js/dashboard/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'js/dashboard/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/dashboard/sb-admin-2.min.js' %}"></script>


</body>

</html>
