<html>
<head>
  <title>
    HSCO
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

  <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
  </script>

  <script src=
"https://files.codepedia.info/files/uploads/iScripts/html2canvas.js">
  </script>


  <style>
      * {
    font-family: 'Poppins';
    font-size: 0.99em;
    background-color: white;

  }

  table {
  border-collapse: collapse;
  width: 85%;
  font-size: 18px;
  border-color: black;
  color: black;



}


th {

  font-size: 13px;
    border: 1px solid black;
    text-align: left;
    padding:5px;

}

td {
  border: 1px solid black;
  padding: 3px;
}


 @media print and (width: 10.5cm) and (height: 14.8cm) {
    @page {
       margin: 3cm;
    }
 }


  </style>

</head>
<body>

<div  id="html-content-holder" style="margin-left: 10%; margin-right: 10%; padding: 40px;">
<div class="row" style="padding: 5px; border-bottom: 5px solid black;">
    <div class="col-xl-2 col-md-2 ">
<img src="/media/pi_history_file/hsco.jpg" class="img-rounded" width="200" height="120" style="float: right;">
</div>
    <div class="col-xl-1 col-md-1 ">
    </div>
    <div class="col-xl-4 col-md-4 ">
        <center>Subject to Mumbai Jurisdiction</center><br>
        <center><h3 style="font: italic bold 22px/30px Georgia, serif;">Proforma Invoice</h3></center>
</div>
    <div class="col-xl-1 col-md-1 ">
    </div>
    <div class="col-xl-4 col-md-4 ">
        <p>Ph: 022-23423183, 7045922250/51/52<br>
Manufacture Licence No. LM/MH/H004<br>
Dealer Licence No. LD/MH/H004<br>
Repairing Licence No. LR/MH/H004</p>
</div>
</div>


        <div class="row">
         <div class="col-md-12" style="padding:10px;">
        <center><h1 style="font-weight:bold;"> Hindustan Scale Company</h1>
        </center></div>
        </div>
        <div class="row">
         <div class="col-md-12" style="padding:0px;">
        <center><p style="font-weight:bold;"> A one stop shop for all your weighing needs<br><font color="#FC6E20" style="font-weight:bold;"> AN ISO 9001: 2015 CERTIFIED COMPANY</font></p>
        </center></div>
        </div>


    <div class="row">
         <div class="col-md-12" style="padding:10px;">
        <center><p style="font-weight:bold;"> All kinds of Mechanical and Digital Weighing Scales, Weights & Measures.<br>
        186/188 Janjikar Street, Near Crawford Market, Mumbai- 400003/<font color="#FC6E20">www.hindustanscale.com/hsc@hindustanscale.com</font></p>
        </center></div>
        </div>


    <div class="row">
         <div class="col-md-2">
             <center><p style="font-weight:bold; float:left;"> Messrs</p>
        </center></div>
        <div class="col-md-5">
             </div>
        <div class="col-md-1">
             </div>
        <div class="col-md-2">
             <center><p style="font-weight:bold; float:left;"> Date :</p>
        </center></div>
        <div class="col-md-2">
             <center><p style="font-weight:bold; float:left;">{{todays_date}}</p>
                            </center></div>
                            </div>


                            <div class="row">
                                 <div class="col-md-2">
                                     <center><p style="font-weight:bold; float:left;"> Company Name</p>
                                </center></div>
                                <div class="col-md-5">
                                     <center><p style="font-weight:bold; float:left; text-decoration: underline;"> {{lead_id.customer_id.company_name}}</p>
                                </center></div>

                                <div class="col-md-1">
                                     </div>
                                <div class="col-md-2">
                                     <center><p style="font-weight:bold; float:left;">PI Number:</p>
                                </center></div>
                                <div class="col-md-2">
                                     <center><p style="font-weight:bold; float:left;"> {{pi_id.id}}</p>
                                </center></div>
                                </div>

                            <div class="row">
                                 <div class="col-md-2">
                                     <center><p style="font-weight:bold; float:left;">Contact Person</p>
                                </center></div>
                                <div class="col-md-5">
                                     <center><p style="font-weight:bold; float:left;"> {{lead_id.customer_id.customer_name}}</p>
                                </center></div>

                                <div class="col-md-1">
                                     </div>
                                <div class="col-md-2">
                                     <center><p style="font-weight:bold; float:left;">Proforma Made By :</p>
                                </center></div>
                                <div class="col-md-2">
                                     <center><p style="font-weight:bold; float:left;"> {{request.user.name}}</p>
                                </center></div>
                                </div>


                            <div class="row">
                                 <div class="col-md-2">
                                     <center><p style="font-weight:bold; float:left;">Address/State</p>
                                </center></div>
                                <div class="col-md-5">
                                     <center><p style="font-weight:bold; float:left;"> {{lead_id.customer_id.address}}</p>
                                </center></div>

                                <div class="col-md-1">
                                     </div>
                                <div class="col-md-2">
                                     <center><p style="font-weight:bold; float:left;">Contact Number:</p>
                                </center></div>
                                <div class="col-md-2">
                                     <center><p style="font-weight:bold; float:left;"> {{request.user.mobile}}</p>
                                </center></div>
                                </div>




                            <div class="row">
                                 <div class="col-md-2">
                                     <center><p style="font-weight:bold; float:left;">Phone</p>
                                </center></div>
                                <div class="col-md-5">
                                     <center><p style="font-weight:bold; float:left;"> {{lead_id.customer_id.contact_no}}</p>
        </center></div>

        <div class="col-md-1">
             </div>
        <div class="col-md-2">
             <center><p style="font-weight:bold; float:left;">Customer GST Number: </p>
        </center></div>
        <div class="col-md-2">
             <center><p style="font-weight:bold; float:left;"> {{lead_id.customer_id.customer_gst_no}}</p>
        </center></div>
        </div>




<style>
    .border_class {
    border:1px solid black;
    height:45px;
    text-align:center;
    vertical-align: middle;
    line-height: 45px;
    }


  table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
  border-color: black;
  color: black;



}


th {

  font-size: 13px;
    border: 1px solid black;
    text-align: left;
    padding:5px;

}

td {
  border: 1px solid black;
  padding: 3px;
  font-size: 13px;
  padding: 5px;
  text-align: center;
}


            </style>


<div style="min-height: 26vw;">


        <div class="row" id="id_manager_view">

    <table>
        <tr >
            <td >Quantity</td>
            <td >HSN Code</td>
            <td >Product Code</td>
            <td >Product Image</td>
            <td >Product Description</td>
            <td >Rate</td>
            <td >Total</td>
        </tr>
{% for product in pi_products %}
<tr>
        <td>{{product.quantity}}</td>
        <td>{{product.product_id.hsn_code}}</td>
        <td>{{product.product_id.sub_sub_category}}</td>
        <td>{% if product.product_id.product_image %}<img  src="{{product.product_id.product_image.url}}">{% endif %}</td>
        <td>{{product.product_id.product_desc}}</td>
        <td>{{product.product_id.selling_price}}</td>
        <td>{{product.product_total_cost}}</td>
        </tr>
{% endfor %}
        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total</td>
        <td>{{pi_id.total_cost}} INR</td>
        </tr>

        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Discount</td>
        <td>{{pi_id.discount}}{% if pi_id.discount_type == "percent" %} % {% elif pi_id.discount_type == "rupee" %} INR {% else %} {% endif %}</td>
        </tr>


        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Net Total</td>
        <td>{{pi_id.net_total}}</td>
        </tr>



        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>P&F</td>
        <td>{{pi_id.pf_total}} </td>
        </tr>


        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>CGST @ 9%</td>
        <td>{% if pi_id.select_gst_type == "CGST / SGST" %} {{pi_id.cgst_sgst}} {% endif %}</td>
        </tr>




        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>SGST @ 9%</td>
        <td>{% if pi_id.select_gst_type == "CGST / SGST" %} {{pi_id.cgst_sgst}} {% endif %}</td>
        </tr>




        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>IGST @ 18%</td>
        <td>{% if pi_id.select_gst_type == "IGST" %} {{pi_id.igst}} {% endif %}</td>
        </tr>



        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Round Up</td>
        <td>{{pi_id.round_up_total}} INR</td>
        </tr>

        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Grand Total</td>
        <td>{{pi_id.grand_total}} INR</td>
        </tr>


    </table>
        </div>
            </div>
        <div class="row">
            <div class="col-md-4" style="padding:10px;">
                <p>GST ID - <b>27AACFH2329F1ZP</b><br>
                    PAN Number - <b>AACFH2329F</b><br>
                    TAN Number - <b>MUMH17092F</b></p>
            </div>
         <div class="col-md-3" style="padding:10px;">
<img src="/media/pi_history_file/okay.png" style="width: 100%;">
         </div>


	         <div class="col-md-5" style="padding:10px;">
<img src="/media/pi_history_file/l.png" style="width: 100%;">
         </div>
        </div>
    <div class="row">
            <div class="col-md-12" style="padding:10px;"><p>
I/We hereby certify that my/our registration certificate under the Goods and Service Tax Laws is in force on the date of which the sale of goods specified in this “Proforma Invoice” is made by me/us and that the transaction of sale is covered <br><center>by this and has been effected by me/us and it shall be accounted for in the turnover of sales while filing of return and the due tax, if any, payable on the sale has been paid
  </center> </p>     </div>
        </div>
</div>


<div class="row">
            <div class="col-md-6" style="padding-left: 40px;">
<p>All prices are Ex-Workshop. Packing and forwarding is extra as indicated<br>
                All products have an warranty of 1 year against any manufacturing defect unless stated<br>
                There is no warranty for Loadcell, Battery and Mains Cord<br>
                Damages due to transportation is out of the scope of warranty<br>
                Payment is 50% advance with order and remaining 50% before Dispatch<br>
                This offer is valid for the next 10 days <br>
    Cheque should be in the name of "Hindustan Scale Co".</p></div>

    <div class="col-md-6" style="padding-left: 40px;">
<p>Bank details are as follows<br>
                <b>DCB Bank<br>
                Name – Hindustan Scale Co.<br>
                Acct No – 01922412121947<br>
                IFSC Code-DCBL0000019<br>
                Type of account – Current Account <br>
                Bank Name – DCB Bank<br>
                    Address Mohamedali Road Branch</b></p></div>
        </div>
</div>

	<hr>


  <input id="btn-Preview-Image" type="button"
        value="Preview" / style="visibility: hidden;">

  <a id="btn-Convert-Html2Image" href="#" style="visibility: hidden;">
    Download
  </a>

  <br/>





<span style="font-size: 11px;">HINDUSTAN SCALE COMPANY, 186/188 Janjikar Street, Crawford Market, Mumbai - 400003</span>
  </p>


</div>

</center>



<script>
  function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}



  $(document).ready(function() {

      // Global variable
      var element = $("#html-content-holder");

      // Global variable
      var getCanvas;

      $(document).ready(function() {
        html2canvas(element, {
          onrendered: function(canvas) {
            $("#previewImage").append(canvas);
            getCanvas = canvas;
          }
        });
      });

      $("#btn-Convert-Html2Image").on('click', function() {
        var imgageData =
          getCanvas.toDataURL("image/png");

        // Now browser starts downloading
        // it instead of just showing it
        var newData = imgageData.replace(
        /^data:image\/png/, "data:application/octet-stream");

        $("#btn-Convert-Html2Image").attr( "download", "s.png").attr("href", newData);

      });


    });





    function explode(){
    $('#btn-Convert-Html2Image')[0].click();
}

</script>

</body>
</html>