<html>
<head>
  <title>
    HSCO
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


  <style>
      * {
    font-family: 'Poppins';
    font-size: 0.99em;

  }

  table {
  border-collapse: collapse;
  width: 85%;
  font-size: 18px;
  border-color: black;
  color: black;



}


th {

  font-size: 13px;
    border: 1px solid black;
    text-align: left;
    padding:5px;

}

td {
  border: 1px solid black;
  padding: 3px;
}


 @media print and (width: 10.5cm) and (height: 14.8cm) {
    @page {
       margin: 3cm;
    }
 }


  </style>

</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>

<div  id="printableArea" style="margin-left: 10%; margin-right: 10%;">
<table style="border: 0px solid black;">
    <tr>
        <td style="border: 0px solid black;"><img src="/media/pi_history_file/hsco.jpg" width="200" height="120" style="float: left;"></td>
        <td colspan="2" style="border: 0px solid black;">&nbsp</td>
        <td style="border: 0px solid black;">Ph: 022-23423183, 7045922250/51/52<br>
                Manufacture Licence No. LM/MH/H004<br>
                Dealer Licence No. LD/MH/H004<br>
                Repairing Licence No. LR/MH/H004</td>
    </tr>
</table>

<hr style="border: 3px solid black;">
<table style="border: 0px solid black;">
    <tr>
        <td style="border: 0px solid black;"><center><h1 style="font-weight:bold;"> Hindustan Scale Company</h1></center></td>
    </tr>
    <tr>
        <td style="border: 0px solid black;"><center><p style="font-weight:bold;"> A one stop shop for all your weighing needs<br>
            <font color="#FC6E20" style="font-weight:bold;"> AN ISO 9001: 2015 CERTIFIED COMPANY</font></p></td>
    </tr>
    <tr>
        <td style="border: 0px solid black;"><center><p style="font-weight:bold;"> All kinds of Mechanical and Digital Weighing Scales, Weights & Measures.<br>
                    186/188 Janjikar Street, Near Crawford Market, Mumbai- 400003/<font color="#FC6E20">www.hindustanscale.com/hsc@hindustanscale.com</font></p>
        </center>
        </td>
    </tr>
</table>


<br>


<table>
  <tr>
    <td style="border: 0px solid black;">
        <center><p style="font-weight:bold; float:left;"> Messrs</p>
        </center>
    </td>
    <td style="border: 0px solid black;">
    </td>
    <td style="border: 0px solid black;"> <p style="font-weight:bold; float:left;">Date :</p>
    </td>
    <td style="border: 0px solid black;"> <p style="font-weight:bold; float:left;">{{todays_date}}</p>
    </td>
  </tr>

  <tr>
      <td style="border: 0px solid black;">
        <center><p style="font-weight:bold; float:left;"> Company Name</p>
        </center>
    </td>
    <td style="border: 0px solid black;">
    <p style="font-weight:bold; float:left;"> 
    {{lead_id.customer_id.company_name}}</p>
    
    </td>
    <td style="border: 0px solid black;"> <p style="font-weight:bold; float:left;">PI Number :</p>
    </td>
    <td style="border: 0px solid black;"> <p style="font-weight:bold; float:left;">{{pi_id.id}}</p>
    </td>
  </tr>

  <tr>
          <td style="border: 0px solid black;">
        <center><p style="font-weight:bold; float:left;"> Contact Person</p>
        </center>

    </td>
    <td style="border: 0px solid black;">
        <p style="font-weight:bold; float:left;"> {{lead_id.customer_id.customer_name}} </p>
    </td>
    <td style="border: 0px solid black;"> 
        <p style="font-weight:bold; float:left;">Proforma Made By :</p>
    </td>
    <td style="border: 0px solid black;"> 
        <p style="font-weight:bold; float:left;">{{request.user.name}}</p>
    </td>
  </tr>

  <tr>
      <td style="border: 0px solid black;">
        <center><p style="font-weight:bold; float:left;"> Address/State</p>
        </center>

    </td>
    <td style="border: 0px solid black;">
        <p style="font-weight:bold; float:left;"> {{lead_id.customer_id.address}}</p>
    </td>
    <td style="border: 0px solid black;"> 
        <p style="font-weight:bold; float:left;">Contact Number:</p>
    </td>
    <td style="border: 0px solid black;"> 
        <p style="font-weight:bold; float:left;">{{request.user.mobile}}</p>
    </td>



  </tr>

  <tr>
          <td style="border: 0px solid black;">
        <center><p style="font-weight:bold; float:left;"> Phone :</p>
        </center>

    </td>
    <td style="border: 0px solid black;">
        <p style="font-weight:bold; float:left;"> {{lead_id.customer_id.contact_no}}</p>
    </td>
    <td style="border: 0px solid black;"> 
        <p style="font-weight:bold; float:left;">Customer GST Number :</p>
    </td>
    <td style="border: 0px solid black;"> 
        <p style="font-weight:bold; float:left;">{{lead_id.customer_id.customer_gst_no}}</p>
    </td>
  </tr>



</table>
<br>


<style>
    .border_class {
    border:1px solid black;
    height:45px;
    text-align:center;
    vertical-align: middle;
    line-height: 45px;
    }


  table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
  border-color: black;
  color: black;



}


th {

  font-size: 13px;
    border: 1px solid black;
    text-align: left;
    padding:5px;

}

td {
  border: 1px solid black;
  padding: 3px;
  font-size: 13px;
  padding: 5px;
  text-align: center;
}


            </style>


<div style="min-height: 26vw;">

        
        <div class="row" id="id_manager_view">

    <table>
        <tr style="background-color: gray; color: white;">
            <td style="border-radius: 0px 0px 0px 0px; border: 0px solid gray;">Quantity</td>
            <td style="border: 0px solid gray;">HSN Code</td>
            <td style="border: 0px solid gray;">Product Description</td>
            <td style="border: 0px solid gray;">Rate</td>
            <td style="border: 0px solid gray;">Total</td>
        </tr>

{% for product in pi_products %}
<tr>
        <td>{{product.quantity}}</td>
        <td>{{product.product_id.hsn_code}}</td>
        <td>{{product.product_id.product_desc}}</td>
        <td>{{product.product_id.selling_price}}</td>
        <td>{{pi_id.total_cost}}</td>
        </tr>
{% endfor %}
        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total</td>
        <td>{{pi_id.total_cost}} INR</td>
        </tr>

        <tr>
        <td></td>

        <td></td>
        <td></td>
        <td>Discount%</td>
        <td>{{pi_id.discount}}{% if pi_id.discount_type == "percent" %} % {% elif pi_id.discount_type == "rupee" %} INR {% else %} {% endif %}</td>
        </tr>


        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Net Total</td>
        <td>{{pi_id.net_total}}</td>
        </tr>



        <tr>
        <td></td>
        <td></td>
        <td>Delivery Charges</td>
        <td>P&F</td>
        <td>{{pi_id.pf_total}} </td>
        </tr>



        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>CGST @ 9%</td>
        <td>{% if pi_id.select_gst_type == "CGST / SGST" %} {{pi_id.cgst_sgst}} {% endif %}</td>
        </tr>




        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>SGST @ 9%</td>
        <td>{% if pi_id.select_gst_type == "CGST / SGST" %} {{pi_id.cgst_sgst}} {% endif %}</td>
        </tr>




        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>IGST @ 18%</td>
        <td>{% if pi_id.select_gst_type == "IGST" %} {{pi_id.igst}} {% endif %}</td>
        </tr>



        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Round Up</td>
        <td>{{pi_id.round_up_total}} INR</td>
        </tr>

        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Grand Total</td>
        <td>{{pi_id.grand_total}} INR</td>
        </tr>
        <tr>
          <td colspan="2" style="border: 0px solid black;"><p>GST ID - <b>27AACFH2329F1ZP</b><br>
                    PAN Number - <b>AACFH2329F</b></td>
          <td colspan="3" style="border: 0px solid black;"><img src="/media/pi_history_file/l.png" style="width: 100%;"></td>

        </tr>
    </table>
        </div>
            </div>

        <table>
            <tr>
                <td style="border: 0px solid black;">
                    <p>This offer is valid for the next 10 days <br>
                All prices are Ex-Workshop. Packing and forwarding is extra<br>
                Cheque should be in the name of "Hindustan Sales and Consultancy"<br>
                Bank details are as follows
                </td>
           
                <td style="border: 0px solid black;">
                    <p>Bank details are as follows<br>
                <b>DCB Bank<br>
                Name – Hindustan Scale Co.<br>
                Acct No – 01922412121947<br>
                IFSC Code-DCBL0000019<br>
                Type of account – Current Account <br>
                Bank Name – DCB Bank<br>
                    Address Mohamedali Road Branch</b></p>
                </td>
            </tr>
        </table>
</div>

    <hr>

<center style="font-size: 11px;">HINDUSTAN SCALE COMPANY, 186/188 Janjikar Street, Crawford Market, Mumbai - 400003</center>
  </p>


</div>

</center>

<script type="text/javascript">
let doc = new jsPDF('p','pt','a4');
doc.addHTML(document.body,function() {

    doc.save('html.pdf');


});


</script>


</body>
</html>