
<!DOCTYPE html>

<html lang="en">
	<!--begin::Head-->
	<head><base href="">
		{% load static %}
		<meta charset="utf-8" />
		<title></title>
		<meta name="description" content="Updates and statistics" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Page Vendors Styles(used by this page)-->
		<link href="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" />
		<!--end::Page Vendors Styles-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="{% static 'plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'plugins/custom/prismjs/prismjs.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->
		<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="header-mobile-fixed subheader-enabled aside-enabled aside-fixed aside-secondary-enabled page-loading">
		<!--begin::Main-->
		<!--begin::Header Mobile-->
		<div id="kt_header_mobile" class="header-mobile">
			<!--begin::Logo-->
			<a href="/">
				<h1>HSCo</h1>
			</a>
			<!--end::Logo-->
			<!--begin::Toolbar-->
			<div class="d-flex align-items-center">
				<button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
					<span></span>
				</button>
			</div>
			<!--end::Toolbar-->
		</div>
		<!--end::Header Mobile-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Aside-->
					{% include 'base_templates/aside.html' %}


				<!--end::Aside-->
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
					<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div class="" id="kt_subheader">
							<div class="container-fluid">
								<!--begin::Info-->

  <!-- Page Wrapper -->
  <div id="wrapper" style="margin-top:2%;">

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">


        <!-- Topbar -->
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid ">

          <!-- Page Heading -->
            <div class="row">
           <div class="col-xl-6 col-md-3 mb-3 ">


                <div class="card-body" style="padding: 2px;">
                  <div class="row no-gutters align-items-right">
<h1 class="h3 mb-0 text-gray-800 ">Lead Management</h1>


                </div>
              </div>
            </div>





                </div>

                        <style>

                                .border-right-primarya {
        border-right: 4px solid blue;
        }
        .border-left-primarya {
        border-left: 4px solid blue;
        }

          .border-left-primary {
    border-left: .09rem solid #4e73df!important;
    font-size: 12px;

}

a:hover {
  text-decoration: none;
}
                .border_class {
                border:1px solid black;
                height:45px;
                text-align:center;
                vertical-align: middle;
                line-height: 45px;
                }


  table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
  border-color: black;
  color: black;



}


th {

  font-size: 13px;
    border: 1px solid black;
    text-align: left;
    padding:5px;

}

td {
  border: 1px solid black;
  padding: 3px;
  font-size: 13px;
  padding: 5px;
  text-align: center;
}


            </style>
                        <style>



                            .border-right-primary{border-right:.25rem solid #4e73df!important}


.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: green;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.divs{
display:none;
}

.card-body{
font-size: 12px;
}
</style>



            <script>
//$( document ).ready(function() {
  //      $('.divs').hide();});
$(function() {
  $('#divselector').change(function(){
    $('.divs').hide();
    $('#' + $(this).val()).show();
  });
});
            </script>
                    <!-- Date range, mob no, email id, customer name, company name, CRM no., CRM Number rnge -->
            <div class="row">
                <div  class="col-xl-2 col-md-3 col-mb-3">
                    <div class="button dropdown">
  <select id="okay" class="form-control">
     <option value="d0">Sort by</option>
  </select>
</div>
                            </div>


                <div  class="col-xl-2 col-md-3 col-mb-3">
                    <div class="button dropdown">
  <select id="divsort" class="form-control">
     <option value="00">Month </option>
     <option value="1">Jan  </option>
     <option value="2">Feb </option>
     <option value="3">Mar  </option>
     <option value="4">Apr </option>
     <option value="5">May </option>
     <option value="6">Jun </option>
     <option value="7">Jul </option>
     <option value="8">Aug </option>
     <option value="9">Sep </option>
     <option value="10">Oct </option>
     <option value="11">Nov </option>
     <option value="12">Dec </option>
  </select>
</div>


                </div>


                <div  class="col-xl-2 col-md-6 col-mb-8">
                     <div class="button dropdown">
  <select id="divyear" class="form-control">
     <option value="y1">Sort by Year </option>
     <option value="y2">Sort by 2020  </option>
     <option value="y3">Sort by 2021 </option>
     <option value="y4">Sort by 2022 </option>
     <option value="y5">Sort by 2023 </option>
     <option value="y6">Sort by 2024 </option>
     <option value="y7">Sort by 2025 </option>
  </select>
</div>

                </div>
                <div class="col-md-3"></div>

                                 <div class="col-xl-3 col-md-2 col-mb-8 row" style="color: black;">


{% if request.user.is_authenticated %}
{% if user.role == 'Super Admin' or user.role == 'Admin' or user.role == 'Manager' %}

<a href="{% url 'lead_home' %}">
    &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-primary ">Employee</button></a>

{% else %}
                     {% endif %}
                     {% endif %}



                </div>

            </div>
            <br>
            <div class="row">
                            <div  class="col-xl-2 col-md-3 col-mb-3">
                    <div class="button dropdown">

</div>
                            </div>


                <div  class="col-xl-2 col-md-3 col-mb-3">

                            </div>


                </div>






<div style="min-height: 26vw;">

        {% if deleted %}
                  <center> <p>list of deleted users</p></center>
                    {% endif %}
     <center><p>{{search_msg}}</p></center>
        <div class="row table-responsive" id="id_manager_view">

    <table class="table">
        <tr style="background-color: gray; color: white;">
            <td style="border-radius: 15px 0px 0px 0px; border: 0px solid gray;">Sr No</td>
            <td style="border: 0px solid gray;">Employee Name</td>
            <td style="border: 0px solid gray;">Lead Convertion</td>
            <td style="border: 0px solid gray;">Lost</td>
            <td style="border-radius: 0px 15px 0px 0px; border: 0px solid gray;">Postpond</td>
        </tr>

             {% for list12 in pi_list %}
             {% for list1 in list12 %}

        <tr style="cursor: pointer; " onclick="location.href='/update_customer_details/{{list1.pk}}';">

            <td>{{ forloop.counter}}</td>
            <td>{{ list1.0}}</td>
            <td>{{ list1.1 }}</td>
            <td>{{ list1.2}}</td>
            <td>{{ list1.3}}</td>

        </tr>
                          {% endfor %}
                          {% endfor %}


    </table>

        </div>





<br>
<br>



            </div>



        </div>
</div>
<br>
  </div>
  <!-- End of Page Wrapper -->
  </div>


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

             <script>

        function toggleCheckbox(select) {
value = select.checked;

    $.ajax({
        url: "/load_dispatch_done/",
        data: {
          'loc_id':value,
        },
        success: function (data) {
           $("#id_subcat").html(data);
        }
      });
}
        function toggleCheckbox2(select) {
value = !select.checked;

    $.ajax({
        url: "/load_users/",
        data: {
          'loc_id':value,
        },
        success: function (data) {
           $("#id_manager_view").html(data);
        }
      });
}

    </script>
    <!--<div class="row" style="width: 100%; margin-top: 20%;">-->

        <!--{% if request.user.is_authenticated %}-->
<!--{% if user.role == 'Super Admin' or user.role == 'Admin' or user.role == 'Manager' %}-->
                <!--<div class="col-xl-3 col-md-3 mb-12">-->
              <!--<div class="card border-left-primarya shadow border-right-primarya">-->
                <!--<div class="card-body" style="padding: 12px;">-->
                  <!--<div class="row no-gutters align-items-center">-->
                    <!--<div class="col ">-->
 <!--<a href="/add_purchase_details/"><button style="background-color: #FC6E20;" class="btn btn-primary"Add Purchase</button></a>-->
                    <!--</div>-->

                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->




        <!--<div class="col-xl-3 col-md-3 mb-12">-->
              <!--<div class="card border-left-primarya shadow border-right-primarya">-->
                <!--<div class="card-body" style="padding: 12px;">-->
                  <!--<div class="row no-gutters align-items-center">-->
                    <!--<div class="col ">-->
                        <!--<form method="POST" ion="">{%csrf_token%}-->
 <!--<a href="#"><button name="deleted" type="submit" class="btn btn-primary">Deleted User</button></a>-->
                              <!--</form>-->
                    <!--</div>-->

                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->


                <!--<div class="col-xl-3 col-md-12 mb-12">-->
              <!--<div class="card border-left-primarya shadow border-right-primarya">-->
                <!--<div class="card-body" style="padding: 12px;">-->
                  <!--<div class="row no-gutters align-items-center">-->
                    <!--<div class="col mr-2">-->
                        <!--<a href="/user_logs/"> <button style="background-color: #FC6E20;" class="btn btn-primary"Log</button></a>&nbsp; &nbsp;-->
                        <!--<a href="/report/"> <button style="background-color: #FC6E20;" class="btn btn-primary"Report</button></a>&nbsp;-->
                    <!--</div>-->

                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->


        <!--&lt;!&ndash; Earnings (Monthly) Card Example &ndash;&gt;-->
            <!--<div class="col-xl-3 col-md-12 mb-12">-->
              <!--<div class="card border-left-primarya shadow border-right-primarya">-->
                <!--<div class="card-body" style="padding: 12px;">-->
                  <!--<div class="row no-gutters align-items-center">-->
                    <!--<div class="col mr-2">-->
                        <!--<a href="/purchase_analytics/"><button style="background-color: #FC6E20;" class="btn btn-primary"Analytics</button></a>-->

                    <!--</div>-->

                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
<!--{% else %}-->
          <!--<div class="col-xl-3 col-md-3 mb-12">-->
              <!--<div class="card border-left-primarya shadow border-right-primarya">-->
                <!--<div class="card-body" style="padding: 12px;">-->
                  <!--<div class="row no-gutters align-items-center">-->
                    <!--<div class="col ">-->
 <!--<a href="/add_purchase_details/"><button style="background-color: #FC6E20;" class="btn btn-primary"Add Purchase</button></a>-->
                    <!--</div>-->

                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
<!--{% endif %}-->
<!--{% endif %}-->


          <!--</div>-->


							
							</div>
						</div>
					</div>
				</div>
										

			
				<!--end::Purchase-->
			</div>
			<!--end::Content-->
		</div>
		<!--end::Demo Panel-->
		<!--begin::Global Config(global config for global JS scripts)-->
		
		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="{% static 'plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'plugins/custom/prismjs/prismjs.bundle.js' %}"></script>
<script src="{% static 'js/scripts.bundle.js' %}"></script>
<!--end::Global Theme Bundle-->
<!--begin::Page Vendors(used by this page)-->
<script src="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
<!--end::Page Vendors-->
<!--begin::Page Scripts(used by this page)-->
<script src="{% static 'js/pages/widgets.js' %}"></script>
		<!--end::Page Scripts-->
	</body>
	<!--end::Body-->
</html>