<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Robot</title>


      <link rel="stylesheet" href="{% static 'css/dashboard/upload-images.css' %}">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/dashboard/sb-admin-2.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
  {% include 'base_templates/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
{% include 'base_templates/navbar_for_dashboard.html' %}

        <!-- End of Topbar -->




<style>

* {
color:;
}
  .faicons {
  font-size: 18px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #5a5c69;
  }

  .icon-border {
  border: 1px solid #d1d3e2;
  border-radius: 5px 1px 1px 5px;
  border-right: none;


  }

  .control-label {
  color: black;

  }

</style>

          <script>
$(document).ready(function(){

    $(".editableBox").change(function(){
        $(".timeTextBox").val($(".editableBox option:selected").html());
    });
});

$(document).ready(function(){

    $(".editableBoxa").change(function(){
        $(".timeTextBoxa").val($(".editableBoxa option:selected").html());
    });
});


$(document).ready(function(){

    $(".editableBoxz").change(function(){
        $(".timeTextBoxz").val($(".editableBoxz option:selected").html());
    });
});
</script>
  <script> function disable() {
  document.getElementById("name").disabled = true;
  }

  function enable() {
   document.getElementById("name").disabled = false;
  }

var form = document.getElementById("contact_form");
var elements = form.elements;
for (var i = 0, len = elements.length; i < len; ++i) {
    elements[i].disabled = true;
}
</script>

          <script>
function myFunction() {

  var x = document.getElementById("Mytext1");
  var y = document.getElementById("Mytext2");
  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "none";
  } else {
    x.style.display = "none";
    y.style.display = "block";
  }
    document.getElementById("customer_name").disabled = false;
    document.getElementById("company_name").disabled = false;
    document.getElementById("contact_no").disabled = false;
    document.getElementById("customer_email_id").disabled = false;
    document.getElementById("address").disabled = false;
    document.getElementById("customer_industry").disabled = false;
    document.getElementById("customer_gst_no").disabled = false;
    document.getElementById("Mytext1").style.display = "block";
}
</script>



        <!-- Begin Page Content -->
     <div class="container-fluid">


                     <form  method='POST' id="Customer_detail_form" enctype="multipart/form-data" >{% csrf_token %}

         <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <input style="background-color: #FC6E20;" type="button" class="btn btn-primary" style="width:40px; font-size: 15px;"  value="+" onclick="myFunction(); return change(this);" />
                  <h6 class="m-0 font-weight-bold text-primary">Customer Details Section</h6>
                  <div class="dropdown no-arrow">
<!--                      <button onclick="myFunction6()">.</button>-->
                  </div>
                </div>
                <!-- Card Body -->
<div class="card-body" id="myDIV" style="display: none; height:auto;">


                          <div class="form-group row">
                              <label class="col-md-2 control-label">Customer Name:</label>
                                  <div class="col-md-3 inputGroupContainer">
                                  <div class="input-group">
                                  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
                                      {{ form.customer_name }}
                          </div>
                        </div>


                                <label class="col-md-2 control-label">Company Name:</label>
                              <div class="col-md-3 inputGroupContainer">
                              <div class="input-group">
                              <span class="input-group-addon icon-border"><i class="fa fa-industry faicons"></i></span>
                                  {{ form.company_name }}
                            </div>
                             </div>
                          </div>


                            <div class="form-group row">
                                <label class="col-md-2 control-label">Customer Number</label>
                              <div class="col-md-3 inputGroupContainer">
                              <div class="input-group">
                              <span class="input-group-addon icon-border"><i class="fa fa-mobile faicons"></i></span>
                                  {{ form.contact_no }}
                            </div>
                          </div>

                                <label class="col-md-2 control-label">Customer Email ID</label>
                              <div class="col-md-3 inputGroupContainer">
                              <div class="input-group">
                              <span class="input-group-addon icon-border"><i class="fa fa-at faicons"></i></span>
                                  {{ form.customer_email_id }}
                   </div>
                             </div>
                          </div>


                            <div class="form-group row">

                                   <label class="col-md-2 control-label">Industry</label>
                              <div class="col-md-3 inputGroupContainer">
                              <div class="input-group">
                              <span class="input-group-addon icon-border"><i class="fa fa-industry faicons"></i></span>
                                  {{ form.customer_industry }}
                            </div>
                             </div>

                                <label class="col-md-2 control-label">Address</label>
                              <div class="col-md-3 inputGroupContainer">
                              <div class="input-group">
                              <span class="input-group-addon icon-border"><i class="fa fa-home faicons" aria-hidden="true"></i></span>
                                  {{ form.address }}
                            </div>
                            </div>

                          </div>


                            <div class="form-group row">
                                <label class="col-md-2 control-label">Customer GST No</label>
                              <div class="col-md-3 inputGroupContainer">
                              <div class="input-group">
                              <span class="input-group-addon icon-border"><i class="fa fa-user faicons" aria-hidden="true"></i></span>
                                  {{ form.customer_gst_no }}
                            </div>
                             </div>
                          </div>



<center>

     <button type="reset" style="background-color: #FC6E20;" onclick="myFunction()" id="Mytext2" class="btn btn-primary">Edit</button>
    <br>
     <button type="submit" style="background-color: #FC6E20; display:none;" id="Mytext1" class="btn btn-primary">Save</button>
</center>


                          </div>


              </div>
            </div>

           <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <input style="background-color: #FC6E20;" type="button" class="btn btn-primary" style="width:40px; font-size: 15px;" value="+" onclick="myFunction2(); return change(this);" />
                  <h6 class="m-0 font-weight-bold text-primary">Deal Details Section</h6>
                  <div class="dropdown no-arrow">

                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body" id="myDIV2" style="display: none; height: auto;">


                              <div class="form-group row">
                              <label class="col-md-2 control-label">Current Stage:</label>
                                  <div class="col-md-5 inputGroupContainer">
                                  <div class="input-group">
<!--                                  <span class="input-group-addon icon-border"><i class="fa fa-users faicons"></i></span>-->
                                {{ form2.current_stage }}
                          </div>
                        </div>


                                <label class="col-md-2 control-label">New/Existing Customer:</label>
                              <div class="col-md-3 inputGroupContainer">
                              <div class="input-group">
                              <span class="input-group-addon icon-border"><i class="fa fa-users faicons"></i></span>
                                {{ form2.new_existing_customer }}
                            </div>
                             </div>
                          </div>


                            <div class="form-group row">
                                <label class="col-md-2 control-label">Date of Initiation:</label>
                              <div class="col-md-5 inputGroupContainer">
                              <div class="input-group">
                              <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons" aria-hidden="true"></i></span>
                                {{ form2.date_of_initiation}}
                            </div>
                          </div>

                                <label class="col-md-2 control-label">Channel:</label>
                             <div class="col-md-3 inputGroupContainer">
  <div class="input-group">
 <span class="input-group-addon icon-border"><i class="fa fa-angle-double-down faicons"></i></span>
    <input type="text" required name="channel" placeholder="Channel of Sales" class="form-control" id="myText16" value="{{ lead_id.channel }}" list="channel10">
    <i class="fa fa-angle-double-down faicons" style="margin-left: -40px; z-index:9999; width: 10%;"></i>
      <datalist style="height:20px;" id="channel10">
      <option value="Phone"></option>
      <option value="Whatsapp"></option>
      <option value="ask"></option>
      <option value="hsc"></option>
      <option value="sales"></option>
      <option value="Google"></option>
      <option value="India Mart"></option>
      <option value="Justdial"></option>
      <option value="Website"></option>
      <option value="Reference from Existing Customer"></option>
      <option value="Existing Customer"></option>
      <option value="BNI"></option>
      <option value="Others"></option>
    </datalist>
    </div>
  </div>
                          </div>


                            <div class="form-group row">

                                   <label class="col-md-2 control-label">Requirement</label>
                              <div class="col-md-5 inputGroupContainer">
                              <div class="input-group">
                              <span class="input-group-addon icon-border"><i class="fa fa-check-square faicons"></i></span>
                                {{ form2.requirement }}
                            </div>
                             </div>

                                <label class="col-md-2 control-label">Upload Requirement File :</label>
                              <div class="col-md-3 inputGroupContainer">
                              <div class="input-group">
                              <span class="input-group-addon icon-border"><i class="fa fa-file-word-o" aria-hidden="true"></i></span>
                                {{ form2.upload_requirement_file}}
                                  {% if lead_id.upload_requirement_file %}
                                  <a href="{{ lead_id.upload_requirement_file.url }}" class="btn btn-primary">Old File</a>
                                  {% endif %}

                            </div>
                            </div>

                          </div>


                            <div class="form-group row">
                                <label class="col-md-2 control-label">Owner of Opportunity :</label>
                              <div class="col-md-5 inputGroupContainer">
                              <div class="input-group">
                              <span class="input-group-addon icon-border"><i class="fa fa-users faicons"></i></span>
                                {{ form2.owner_of_opportunity }}
                            </div>
                             </div>



</div>

<center>

     <button name="submit1" type="submit" style="background-color: #FC6E20;" class="btn btn-primary">Save</button>

</center>

                          </div>


              </div>
            </div>
                     </form>
          <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <input style="background-color: #FC6E20;" type="button" class="btn btn-primary" style="width:40px; font-size: 15px;" value="+" onclick="myFunction3();return change(this);" />
                  <h6 class="m-0 font-weight-bold text-primary">PI Section</h6>
                  <div class="dropdown no-arrow">
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body" id="myDIV3" style="display: none; height:auto;">
                         <div class="row">
                             <div class="col-xl-2 col-lg-2">
</div>
                         <a href="/select_product/{{lead_id.id}}"><input style="background-color: #FC6E20;" type="button" class="btn btn-primary" value="Add Product"></a>
<div class="col-xl-2 col-lg-2">
</div>
                             <a href="/lead_delete_product/{{lead_id.id}}">   <input style="background-color: #FC6E20;" type="button" class="btn btn-primary" value="Delete Product"></a>
<div class="col-xl-2 col-lg-2">
</div>
                             <a href="/pi_section_history/{{lead_id.id}}"> <input style="background-color: #FC6E20;" type="button" class="btn btn-primary" value="History of Record"></a>
                         </div>
<br>

                         <style>
table {
  font-family: arial, sans-serif;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
                 {% for product in lead_pi_products %}

                          <div class="card shadow">

<div class="card-body row" style="padding: 15px;color: black; font-weight: 300; font-size: 14px;">
    <!--<div class="col-xl-4 col-md-1 mb-1" style="border-right: 1px solid black;"><center> Product Name: {{list.product_name}} </center></div>-->
    <table style="font-size: 14px;">
  <tr>
    <td>Product Code: {{ product.product_id.sub_sub_category }}</td>
      <td rowspan="5">Product Image:
          {% if product.product_id.product_image %}
          <img height="100px" width="100px" src="{{ product.product_id.product_image.url }}">
      {% endif %}</td>

  </tr><tr>
    <td>HSN Code: {{ product.product_id.hsn_code }}</td>
</tr>

<tr>
    <td>Quantity: {{ product.quantity }}</td>
               </tr>

<tr>
    <td>Product Description: {{ product.product_id.product_desc }}</td>
               </tr>

<tr>
    <td>Rate : {{ product.models }}</td>

  </tr>
</table>
              </div>

                          </div>
               {% endfor %}

                         <br>
                     <form  method='POST'  enctype="multipart/form-data" >{% csrf_token %}

                              <div class="form-group row">
                              <label class="col-md-2 control-label">Discount:</label>

                                  <div class="col-md-3 inputGroupContainer">
                                  <div class="input-group">
                                  <span class="input-group-addon icon-border"><i class="fa fa-percent faicons"></i></span>
                                {{ form3.discount }}
                                      <select class="form-control" id="discount_type">
                                      <option value="volvo">%</option>
                                      <option value="saab">₹</option>
                                      </select>
                          </div>
                        </div>


                                <label class="col-md-2 control-label">Upload PI File:</label>
                              <div class="col-md-3 inputGroupContainer">
                              <div class="input-group">
                              <span class="input-group-addon icon-border"><i class="fa fa-folder faicons"></i></span>
                                {{ form3.upload_pi_file }}
                                  <!--{% if form3.upload_pi_file %}-->
                                  <!--<a href="/{{ form3.upload_pi_file.url }}/" class="btn btn-primary">Old File</a>-->
                                   <!--{% endif %}-->
                            </div>
                             </div>
                          </div>


                            <div class="form-group row">
                                              <label class="col-md-2 control-label">Select PI Template :</label>
                              <div class="col-md-3 inputGroupContainer">
                              <div class="input-group">
                              <span class="input-group-addon icon-border"><i class="fa fa-folder faicons"></i></span>
                                {{ form3.select_pi_template }}
                                                              </div>
                          </div>
                            </div>

                            <div class="form-group row" id="myDiv_call" style="display: none;">


                                <label class="col-md-2 control-label">Call:</label>
                              <div class="col-md-6 inputGroupContainer">
                              <div class="input-group">
                                {{ form3.call }}
                   </div>
                             </div>
                          </div>


                         <script>
function myFunction_call() {
  var x = document.getElementById("myDiv_call");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>


<br>



<div class="row">
                                                         <label class="col-md-2 control-label">Medium of Selection:</label>

    <label class="form-check-label">Email</label>&nbsp &nbsp &nbsp &nbsp  {{ form3.email  }} <div class="col-xl-2 col-lg-2"></div> <label class="form-check-label">Whatsapp:</label>&nbsp &nbsp&nbsp&nbsp{{ form3.whatsapp  }} <div class="col-xl-2 col-lg-2"></div>   <label class="form-check-label">Call:</label>&nbsp &nbsp &nbsp &nbsp{{ form3.call2  }}
</div>



                         <center>
     <button type="submit" name="submit2" style="background-color: #FC6E20;" class="btn btn-primary">Submit</button>
</center>

</form>
                          </div>

                  </div>
                </div>


        <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <input style="background-color: #FC6E20;" type="button" class="btn btn-primary" style="width:40px; font-size: 15px;" value="+" onclick="myFunction4();return change(this);" />
                  <h6 class="m-0 font-weight-bold text-primary">Follow-up Section</h6>
                  <div class="dropdown no-arrow">
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body" id="myDIV4" style="display: none; height: auto;">
                    <a  method='POST' id="xyzform" enctype="multipart/form-data" >{% csrf_token %}</a>



                    <label class="col-md-10 control-label">Whatsapp:</label><a href="/lead_follow_up_histroy/"><input type="button" style="background-color: #FC6E20;" class="btn btn-primary" value="history"></a> &nbsp<input type="button" onclick="" style="background-color: #FC6E20;" class="btn btn-primary" value="New">
                                <br> <br>{{ form4.whatsappno }}


<br>
                                <label class="col-md-2 control-label">Content:</label>

                                {{ form4.whatsapp2 }}

<br>
<div class="row">
                            <label class="col-md-2 control-label">Medium of Selection:</label>

    <label class="form-check-label">Email</label>&nbsp &nbsp &nbsp &nbsp  {{ form3.email  }} <div class="col-xl-2 col-lg-2"></div> <label class="form-check-label">Whatsapp:</label>&nbsp &nbsp&nbsp&nbsp{{ form3.whatsapp  }} <div class="col-xl-2 col-lg-2"></div>   <label class="form-check-label">Call:</label>&nbsp &nbsp &nbsp &nbsp{{ form3.call2  }}
</div>
<br>
<center>
      {{form4.email_auto_manual}}
<input type="button" style="background-color: #FC6E20;" class="btn btn-primary" value="Send">


</center>
                    <br>

                    <div class="card shadow" >
                        <div class="card-body" style="padding: 15px;color: black; font-weight: 300; font-size: 14px;">
                            <center><h4><b>Product Fields To Show</b></h4></center>
                            <br>
                            <br>
                            <form>
<div  style="margin-left:10%;">
<div class="form-group row">

    <label class="col-md-2 control-label">Product Code :

</label>

    <div class="col-md-4 inputGroupContainer">
<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="" id="customCheck1">
  <label class="custom-control-label" for="customCheck1"></label>
</div>
  </div>

 <label class="col-md-2 control-label">HSN Code :

</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="" id="customCheck2">
  <label class="custom-control-label" for="customCheck2"></label>
</div>
  </div>
  </div>
<div class="form-group row">

    <label class="col-md-2 control-label">Sub Sub Model :

</label>

    <div class="col-md-4 inputGroupContainer">
<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="" id="customCheck3">
  <label class="custom-control-label" for="customCheck3"></label>
</div>
  </div>

 <label class="col-md-2 control-label">Quantity :

</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="" id="customCheck8">
  <label class="custom-control-label" for="customCheck8"></label>
</div>
  </div>
  </div>
<div class="form-group row">

    <label class="col-md-2 control-label">Product Description :

</label>

    <div class="col-md-4 inputGroupContainer">
<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="" id="customCheck4">
  <label class="custom-control-label" for="customCheck4"></label>
</div>
  </div>

 <label class="col-md-2 control-label">Rate :

</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="" id="customCheck5">
  <label class="custom-control-label" for="customCheck5"></label>
</div>
  </div>
  </div>
<div class="form-group row">

    <label class="col-md-2 control-label">Product Image :

</label>

    <div class="col-md-4 inputGroupContainer">
<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="" id="customCheck6">
  <label class="custom-control-label" for="customCheck6"></label>
</div>
  </div>
  </div>
</div>
                                <center><input type="button" value="Save" style="background-color: #FC6E20;" class="btn btn-primary"></center>
                            </form>

                        </div>

                    </div>





                         <br>
                         <div class="card shadow">
<div class="card-body row" style="padding: 15px;color: black; font-weight: 300; font-size: 14px;">
    <!--<div class="col-xl-4 col-md-1 mb-1" style="border-right: 1px solid black;"><center> Product Name: {{list.product_name}} </center></div>-->
               <table style="font-size: 14px;">
  <tr>
    <td>Product Code:</td>
      <td colspan="5" style="text-align: center;"> Product Image  <input type="checkbox" class="custom-control-input" name="checks[]" value="" id="customCheck01"><label style="float:right;" class="custom-control-label" for="customCheck01"></label> src="{{item.product_id.product_image.url}}" </td>

  </tr><tr>
    <td>HSN Code:</td>
</tr>
<tr>
    <td>Sub Sub Model</td>
</tr>
<tr>
    <td>Quantity</td>
               </tr>

<tr>
    <td>Product Description</td>
               </tr>

<tr>
    <td>Rate :</td>

  </tr>
</table>
              </div>
                          </div>

                         <br>
                         <div class="card shadow">
<div class="card-body row" style="padding: 15px;color: black; font-weight: 300; font-size: 14px;">
    <!--<div class="col-xl-4 col-md-1 mb-1" style="border-right: 1px solid black;"><center> Product Name: {{list.product_name}} </center></div>-->
               <table style="font-size: 14px;">
  <tr>
    <td>Product Code:</td>
      <td colspan="5">Product Image  <input type="checkbox" class="custom-control-input" name="checks[]" value="" id="customCheck02"> <label style="float:right;" class="custom-control-label" for="customCheck02"></label>src="{{item.product_id.product_image.url}}" </td>

  </tr><tr>
    <td>HSN Code:</td>
</tr>
<tr>
    <td>Sub Sub Model</td>
</tr>
<tr>
    <td>Quantity</td>
               </tr>

<tr>
    <td>Product Description</td>
               </tr>

<tr>
    <td>Rate :</td>

  </tr>
</table>
              </div>
                          </div>




                         <br>

<center>

     <button type="submit" onclick="location.href='/select_product_followup/{{lead_id.pk}}'" style="background-color: #FC6E20;" class="btn btn-primary">Add Product</button>
</center>

</form>

                          </div>
              </div>
            </div>



        <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <input style="background-color: #FC6E20;" type="button" class="btn btn-primary" style="width:40px; font-size: 15px;"  value="+" onclick="myFunction5();return change(this);" />
                  <h6 class="m-0 font-weight-bold text-primary">Payment Details Form</h6>
                  <div class="dropdown no-arrow">
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body" id="myDIV5" style="display: none; height:auto;">
<form  method='POST' id="abc" enctype="multipart/form-data" >{% csrf_token %}


                              <div class="form-group row">
                              <label class="col-md-2 control-label">Payment Channel:</label>
                                  <div class="col-md-3 inputGroupContainer">
                                  <div class="input-group">
                                {{ form.payment_channel }}
                          </div>
                        </div>


                                <label class="col-md-2 control-label">Payment Receipt</label>
                              <div class="col-md-3 inputGroupContainer">
                              <div class="input-group">
                              <span class="input-group-addon icon-border"><i class="fa fa-users faicons"></i></span>
                                {{ form.payment_receipt }}
                            </div>
                             </div>
                          </div>


                            <div class="form-group row">
                                <label class="col-md-2 control-label">Payment Received Date</label>
                              <div class="col-md-3 inputGroupContainer">
                              <div class="input-group">
                              <span class="input-group-addon icon-border"><i class="fa fa-users faicons"></i></span>
                                {{ form.payment_received_date }}
                            </div>
                          </div>

                                <label class="col-md-2 control-label">Upload PO File:</label>
                              <div class="col-md-3 inputGroupContainer">
                              <div class="input-group">
                              <span class="input-group-addon icon-border"><i class="fa fa-users faicons"></i></span>
                                {{ form.upload_po_file }}
                   </div>
                             </div>
                          </div>


                            <div class="form-group row">

                                   <label class="col-md-2 control-label">Notes</label>
                              <div class="col-md-3 inputGroupContainer">
                              <div class="input-group">
                              <span class="input-group-addon icon-border"><i class="fa fa-users faicons"></i></span>
                                {{ form.notes }}
                            </div>
                             </div>



                          </div>







<center>
<button style="background-color: #FC6E20;" class="btn btn-primary">Edit</button>
     <button type="submit" style="background-color: #FC6E20;" class="btn btn-primary">Save</button>
</center>

</form>
                          </div>
              </div>
            </div>



        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">

        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>




  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
  </div>
    <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/dashboard/jquery.min.js' %}"></script>
  <script src="{% static 'js/dashboard/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'js/dashboard/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/dashboard/sb-admin-2.min.js' %}"></script>


  <!--&lt;!&ndash; Page level plugins &ndash;&gt;-->
  <!--<script src="vendor/chart.js/Chart.min.js"></script>-->

  <!--&lt;!&ndash; Page level custom scripts &ndash;&gt;-->
  <!--<script src="js/demo/chart-area-demo.js"></script>-->
  <!--<script src="js/demo/chart-pie-demo.js"></script>-->
  <!--<script src="js/demo/chart-bar-demo.js"></script>-->

 <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>




    <script  src="{% static 'js/dashboard/upload-images.js' %}"></script>

  <script>


function myFunction() {
  var x = document.getElementById("myDIV");
  x.style.display == "none";
  if (x.style.display == "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function myFunction2() {

  var y = document.getElementById("myDIV2");
  y.style.display == "none";
  if (y.style.display == "none") {
    y.style.display = "block";
  } else {
    y.style.display = "none";
  }
}

function myFunction3() {

  var y = document.getElementById("myDIV3");
  y.style.display == "none";
  if (y.style.display == "none") {
    y.style.display = "block";
  } else {
    y.style.display = "none";
  }
}

function myFunction4() {

  var y = document.getElementById("myDIV4");
  y.style.display == "none";
  if (y.style.display == "none") {
    y.style.display = "block";
  } else {
    y.style.display = "none";
  }
}
function myFunction5() {

  var y = document.getElementById("myDIV5");
  y.style.display == "none";
  if (y.style.display == "none") {
    y.style.display = "block";
  } else {
    y.style.display = "none";
  }
}


function myFunction6() {
  var x = document.getElementById("myDIV6");
  x.style.display == "none";
  if (x.style.display == "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}


function change( el )
{
    if ( el.value === "+" )
        el.value = "-";
    else
        el.value = "+";
}
  </script>



</body>

</html>
