
<html>
<head>
  <title>
    HSCO
  </title>
  {% load static %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>


  <style>
      * {
    font-family: 'Poppins';
    font-size: 0.99em;

  }

  table {
  border-collapse: collapse;
  width: 85%;
  font-size: 18px;
  border-color: black;
  color: black;



}


th {

  font-size: 13px;
    border: 1px solid black;
    text-align: left;
    padding:5px;

}

td {
  border: 1px solid black;
  padding: 3px;
}


 @media print and (width: 10.5cm) and (height: 14.8cm) {
    @page {
       margin: 3cm;
    }
 }

 .border-to-div {
    border-style: solid;
    border-color: darkgreen;
 }


  </style>

</head>
<body>

<div id="printableArea" style="margin-left: 10%; margin-right: 10%;">
<div class="row">
    <div class="col-xl-2 col-md-2 ">
<img src="{% static 'images/hsco_logo.jpg' %}" class="img-rounded" width="200" height="120" style="float: right;">
</div>
    <div class="col-xl-2 col-md-2 ">
    </div>
    <div class="col-xl-3 col-md-3 ">
        <center><i><b style="font: italic bold 22px/30px Georgia, serif;">Tax Invoice</b></i></center><br>
        <center><h3>Original for Customer</h3></center>
</div>
    <div class="col-xl-2 col-md-2 ">
    </div>
    <div class="col-xl-3 col-md-3 ">
    <p>Ph:<b> 022-23423183, 7045922250/51/52</b><br>
    Manufacture Licence No.<b>LM/MH/H004</b><br>
    Dealer Licence No. <b>LD/MH/H004</b><br>
    Repairing Licence No. <b>LR/MH/H004</b></p>
    </div>
    </div>


        <div class="row">
         <div class="col-md-12" style="padding:10px;">
        <center><h1 style="font-weight:bold;"> Hindustan Scale Company</h1>
        </center></div>
        </div>
        <div class="row">
         <div class="col-md-12" style="padding:0px;">
             <center><p style="font-weight:bold;"><b> A one stop shop for all your weighing needs</b><br><font color="#FC6E20" style="font-weight:bold;"> AN ISO 9001: 2015 CERTIFIED COMPANY</font></p>
        </center></div>
        </div>


    <div class="row">
         <div class="col-md-12" style="padding:10px;">
        <center><p style="font-weight:bold;"> All kinds of Mechanical and Digital Weighing Scales, Weights & Measures.</p>
        </center></div>
        </div>

 
        <div class="row">
          <div class="col-md-2">
          <center><p style="font-weight:bold; float:left;"> Company Name</p>
          </center></div>
          <div class="col-md-5">
          <center><p style="font-weight:bold; float:left; text-decoration: underline;"> {{invoice_details.crm_no__company_name}}</p>
          </center></div>
          
          <div class="col-md-1">
          </div>
          <div class="col-md-2">
          <center><p style="font-weight:bold; float:left;">GST Invoice:</p>
          </center></div>
          <div class="col-md-2">
          <center><p style="font-weight:bold; float:left;"> {{invoice_details.bill_no}}</p>
          </center></div>
          </div>
          
          <div class="row">
          <div class="col-md-2">
          <center><p style="font-weight:bold; float:left;">Contact Person</p>
          </center></div>
          <div class="col-md-5">
          <center><p style="font-weight:bold; float:left;"> {{invoice_details.second_person}}</p>
          </center></div>
          
          <div class="col-md-1">
          </div>
          <div class="col-md-2">
          <center><p style="font-weight:bold; float:left;">Sales Person :</p>
          </center></div>
          <div class="col-md-2">
          <center><p style="font-weight:bold; float:left;"> {{invoice_details.sales_person}}</p>
          </center></div>
          </div>
         
         
          <div class="row">
          <div class="col-md-2">
          <center><p style="font-weight:bold; float:left;">Address/State</p>
          </center></div>
          <div class="col-md-5">
          <center><p style="font-weight:bold; float:left;">  {{invoice_details.crm_no__address}}</p>
          </center></div>
          
          <div class="col-md-1">
          </div>
          <div class="col-md-2">
          <center><p style="font-weight:bold; float:left;">PO Number:</p>
          </center></div>
          <div class="col-md-2">
          <center><p style="font-weight:bold; float:left;"> {{invoice_details.po_number}}</p>
          </center></div>
          </div>
          
          
          
          
          <div class="row">
          <div class="col-md-2">
          <center><p style="font-weight:bold; float:left;">Phone</p>
          </center></div>
          <div class="col-md-5">
          <center><p style="font-weight:bold; float:left;"> {{invoice_details.second_contact_no}}</p>
          </center></div>
         
          <div class="col-md-1">
          </div>
          <div class="col-md-2">
          <center><p style="font-weight:bold; float:left;">Customer GST Number: </p>
          </center></div>
          <div class="col-md-2">
          <center><p style="font-weight:bold; float:left;"> {{invoice_details.crm_no__customer_gst_no}}</p>
          </center></div>
          </div>
          
          <div class="row">
          <div class="col-md-2">
          <center><p style="font-weight:bold; float:left;">Billing Address</p>
          </center></div>
          <div class="col-md-5">
          <center><p style="font-weight:bold; float:left;"> {{invoice_details.bill_address}}</p>
          </center></div>
         
          <div class="col-md-1">
          </div>
          <div class="col-md-2">
          <center>
            <!-- <p style="font-weight:bold; float:left;">Customer GST Number: </p> -->
          </center></div>
          <div class="col-md-2">
          <center>
            <!-- <p style="font-weight:bold; float:left;"> 123456789852</p> -->
          </center></div>
          </div>
          <div class="row">
          <div class="col-md-2">
          <center><p style="font-weight:bold; float:left;">Shipping Address</p>
          </center></div>
          <div class="col-md-5">
          <center><p style="font-weight:bold; float:left;"> {{invoice_details.shipping_address}}</p>
          </center></div>
         
          <div class="col-md-1">
          </div>
          <div class="col-md-2">
          <center>
            <!-- <p style="font-weight:bold; float:left;">Customer GST Number: </p> -->
          </center></div>
          <div class="col-md-2">
          <center>
            <!-- <p style="font-weight:bold; float:left;"> 123456789852</p> -->
          </center></div>
          </div>



<style>
    .border_class {
    border:1px solid black;
    height:45px;
    text-align:center;
    vertical-align: middle;
    line-height: 45px;
    }


  table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
  border-color: black;
  color: black;



}


th {

  font-size: 13px;
    border: 1px solid black;
    text-align: left;
    padding:5px;

}

td {
  border: 1px solid black;
  padding: 3px;
  font-size: 13px;
  padding: 5px;
  text-align: center;
}


            </style>


<div>

        {% if deleted %}
                  <center> <p>list of deleted users</p></center>
                    {% endif %}
     <center><p>{{search_msg}}</p></center>
        <div class="row" id="id_manager_view">

    <table>
        <tr style="background-color: gray; color: white;">
            <td style="border-radius: 20px 0px 0px 0px; border: 0px solid gray;">QTY</td>
            <td style="border: 0px solid gray;">HSN</td>
            <td style="border: 0px solid gray;">Sub Sub Model</td>
            <td style="border: 0px solid gray;">Rate</td>
            <td style="border-radius: 0px 20px 0px 0px; border: 0px solid gray;">Amount</td>
        </tr>

{% for item in products_details %}
    <tr>
        <td> {{item.quantity}}</td>
        <td> {{item.hsn_code}}</td>
        <td> {{item.sub_sub_model}}</td>
        <td> {{item.rate}}</td>
        <td> {{item.amount}}</td>

    </tr>
{% endfor %}


    <tr>
        <td> &nbsp</td>
        <td> &nbsp</td>
        <td> &nbsp</td>
        <td> Total</td>
        <td> {{invoice_details.value_of_goods}}</td>
    </tr>

{% if invoice_details.payment_mode == 'Cash' %}
    <tr>
        <td> &nbsp</td>
        <td> &nbsp</td>
        <td> Payment Mode : {{invoice_details.payment_mode}}</td>
        <td></td>
        <td></td>
    </tr>
 {% endif %}

{% if invoice_details.payment_mode == 'Credit' %}
        <tr>
        <td> &nbsp</td>
        <td> &nbsp</td>
        <td> Payment Mode : {{invoice_details.payment_mode}}, Credit Pending Amount: {{invoice_details.credit_pending_amount}}, Credit Authorised By: {{invoice_details.credit_authorised_by}}</td>
        <td> P&F</td>
        <td></td>
    </tr>
 {% endif %}

{% if invoice_details.payment_mode == 'Credit' %}
        <tr>
        <td> &nbsp</td>
        <td> &nbsp</td>
        <td> Payment Mode : {{invoice_details.payment_mode}}, Credit Pending Amount: {{invoice_details.credit_pending_amount}}, Credit Authorised By: {{invoice_details.credit_authorised_by}}</td>
        <td> P&F</td>
        <td></td>
    </tr>
 {% endif %}
{% if invoice_details.payment_mode == 'NEFT' %}
        <tr>
        <td> &nbsp</td>
        <td> &nbsp</td>
        <td> Payment Mode : {{invoice_details.payment_mode}}, NEFT Bank: {{invoice_details.neft_bank_name}}, NEFT date: {{invoice_details.neft_date}}, Referance No.: {{invoice_details.reference_no}}</td>
        <td> P&F</td>
        <td></td>
    </tr>
 {% endif %}
{% if invoice_details.payment_mode == 'Cheque' %}
        <tr>
        <td> &nbsp</td>
        <td> &nbsp</td>
        <td> Payment Mode : {{invoice_details.payment_mode}}, Cheque No: {{invoice_details.cheque_no}}, Cheque Date: {{invoice_details.cheque_date}}</td>
        <td></td>
        <td></td>
    </tr>
 {% endif %}

    <tr>
        <td> &nbsp</td>
        <td> &nbsp</td>
        <td> Bank : {{invoice_details.bank_name}}</td>
        <td> P&F</td>
        <td> {{invoice_details.total_pf}}</td>
    </tr>

    <tr>
        <td> &nbsp</td>
        <td> &nbsp</td>
        <td> Date : {{invoice_details.date_of_purchase}}</td>
        <td> Discount</td>
        <td> XXX</td>
    </tr>

    <tr>
        <td> &nbsp</td>
        <td> &nbsp</td>
        <td> Reference No: {{invoice_details.reference_no}}</td>
        <td> &nbsp</td>
        <td> &nbsp</td>
    </tr>

    <tr>
        <td> &nbsp</td>
        <td> &nbsp</td>
        <td>Amt</td>
        <td> &nbsp</td>
        <td> &nbsp</td>
    </tr>

    <tr>
        <td> &nbsp</td>
        <td> &nbsp</td>
        <td> &nbsp</td>
        <td>CGST</td>
        <td> {% if invoice_details.is_cgst %}{{invoice_details.tax_amount}}{% else %}0.0{% endif %}</td>
    </tr>

    <tr>
        <td> &nbsp</td>
        <td> &nbsp</td>
        <td> &nbsp</td>
        <td>SGST</td>
        <td> {% if invoice_details.is_cgst %}{{invoice_details.tax_amount}}{% else %}0.0{% endif %}</td>
    </tr>

    <tr>
        <td> &nbsp</td>
        <td> &nbsp</td>
        <td> &nbsp</td>
        <td>IGST</td>
        <td> {% if not invoice_details.is_cgst %}{{invoice_details.tax_amount}}{% else %}0.0{% endif %}</td>
    </tr>

    <tr>
        <td> &nbsp</td>
        <td> &nbsp</td>
        <td> &nbsp</td>
        <td>RoundUp</td>
        <td> &nbsp</td>
    </tr>
    <tr>
        <td> &nbsp</td>
        <td> &nbsp</td>
        <td> Amount in Words</td>
        <td>Grand Total</td>
        <td> {{invoice_details.total_amount}}</td>
    </tr>



    </table>
        </div>
            </div>
    <br>
    <center>
        <a href="/update_customer_details/{{sales_id}}"><button style="background-color: #FC6E20;" id="myText19" type="submit" value="Submit" class="btn btn-primary">Edit</button>

        <button style="background-color: #FC6E20;" type="submit" onclick="window.print()" value="Submit" class="btn btn-primary">Submit & Print</button>

    </center>
        <br>

        <div class="row">
            <div class="col-md-3" style="padding:10px;">
                <p>GST ID - <b>27AACFH2329F1ZP</b><br>
                    PAN Number - <b>AACFH2329F</b><br>
                    TAN Number - <b>MUMH17092F</b></p>
            </div>
	         <div class="col-md-9">
<img src="{% static 'images/l.png' %}" style="width: 100%; height:100%">
         </div>
             <div class="row">
            <div class="col-md-12 border-to-div" style="padding:10px;"><p>
I/We hereby certify that my/our registration certificate under the Goods and Service Tax Laws is in force on the date of which the sale of goods specified in this “Proforma Invoice” is made by me/us and that the transaction of sale is covered by this and has been effected by me/us and it shall be accounted for in the turnover of sales while filing of return and the due tax, if any, payable on the sale has been paid
  </p>     </div>
        </div>

<div class="row">
            <div class="col-md-6">
<p>All prices are Ex-Workshop. Packing and forwarding is extra as indicated
                All products have an warranty of 1 year against any manufacturing defect unless stated
                There is no warranty for Loadcell, Battery and Mains Cord
                Damages due to transportation is out of the scope of warranty
                Payment is 50% advance with order and remaining 50% before Dispatch
                This offer is valid for the next 10 days
                Cheque should be in the name of "Hindustan Scale Co".
                Bank details are as follows <br>
                <b>DCB Bank<br>
                Name – Hindustan Scale Co.<br>
                Acct No – 01922412121947<br>
                IFSC Code-DCBL0000019<br>
                Type of account – Current Account <br>
                Bank Name – DCB Bank<br>
                Address Mohamedali Road Branch</b></p>
            </div>
            <div class="col-md-6">
                    <img src="{% static 'images/qrcode.jpg' %}" style="width: 60%; height:100%;">
            </div>

        </div>
</div>
        </div>
</div>



	<hr>

<span style="font-size: 11px;">HINDUSTAN SCALE COMPANY, 186/188 Janjikar Street, Crawford Market, Mumbai - 400003</span>
  </p>


</div>

</center>



<script>
  function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;

}
</script>

</body>
</html>