{% load mathfilters %}
<table>
        <tr style="background-color: gray; color: white;">
            <td style="border-radius: 15px 0px 0px 0px; border: 0px solid gray;">Date</td>
            <td style="border: 0px solid gray;">Sales ID </td>
            <td style="border: 0px solid gray;">Invoice No</td>
            <td style="border: 0px solid gray;">Company Name</td>
            <td style="border: 0px solid gray;">Contact No.</td>
            {% if request.user.is_authenticated %}
            {% if request.user.role == 'Super Admin' or request.user.role == 'Admin' or request.user.role == 'Manager' %}
            <td style="border: 0px solid gray;">Basic Amount</td>
            <td style="border: 0px solid gray;">P & F</td>
            <td style="border-radius: 0px 0px 0px 0px; border: 0px solid gray;">CGST</td>
            <td style="border-radius: 0px 0px 0px 0px; border: 0px solid gray;">SGST</td>
            <td style="border-radius: 0px 0px 0px 0px; border: 0px solid gray;">IGST</td>
            <td style="border-radius: 0px 0px 0px 0px; border: 0px solid gray;">TDS</td>
            {% endif %}
            {% endif %}
            <td style="border-radius: 0px 0px 0px 0px; border: 0px solid gray;">Grand Total</td>
            <td style="border-radius: 0px 15px 0px 0px; border: 0px solid gray;">Actions</td>
        </tr>
        {% for item in bills_list %}
<!--      <tr onclick="location.href='/showBill/{{item.user_id}}';">-->
      <tr>
          <td>{{item.entry_date}}</td>
          <td>{{item.purchase_id.purchase_no}}</td>
          <td>{{item.purchase_id.bill_no}}</td>
          <td>{{item.purchase_id.second_company_name}}</td>
          <td>{{item.purchase_id.second_contact_no}}</td>
          <td>{{item.purchase_id.total_amount}}</td>
          <td>{{item.purchase_id.total_pf}}</td>
          {% if item.purchase_id.crm_no.customer_gst_no|slice:":2" == "27" or item.purchase_id.crm_no.customer_gst_no|length < 5 or item.purchase_id.crm_no.customer_gst_no == None  %}
        		<td>{{item.purchase_id.tax_amount|div:2}} </td>
        		<td>{{item.purchase_id.tax_amount|div:2}} </td>
            <td></td>
          {% else %}
          <td></td>
            <td></td>
        		<td>{{item.purchase_id.tax_amount}}</td>
            
          {% endif %}
          <td></td>
          <td>{{item.purchase_id.grand_total}}</td>

          <td>
          <form method="POST">{% csrf_token %}
            <input type="hidden" name="bill_id" value={{item.id}}></input>
              <a href="{% if item.bill_file %} {{item.bill_file.url}} {% endif %}"><span><i style="color: #FC6E20;" class="fa fa-print" aria-hidden="true"></i></span></a>
              <a href="{% if item.bill_file %} {{item.bill_file.url}} {% endif %}"><span><i style="color: #FC6E20;" class="fa fa-download" aria-hidden="true"></i></span></a>
              <a href="/update_customer_details/{{item.purchase_id.id}}"><span><i style="color: #FC6E20;" class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
              <button type="submit"  name="delete_bill"><span><i style="color: #FC6E20;" class="fa fa-trash" aria-hidden="true"></i></span></button>
          </form>
          </td>
        </tr>
        {% endfor %}

    </table>
