<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Robot</title>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Custom styles for this template-->
  <link href="{% static 'css/dashboard/sb-admin-2.min.css' %}" rel="stylesheet">
</head>
<style>
  hr.style-one {
border: 0;
height: 1px;
background: #333;
background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
</style>
<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    	{% include 'base_templates/sidebar.html' %}

    <!-- End of Sidebar -->


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        	{% include 'base_templates/navbar_for_dashboard.html' %}

        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">


          {% if request.user.role == 'Employee' %}
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dispatch Module Graph</h1>
            <a href="/onsite_views/" style="background-color: #FC6E20;" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> View Onsite Repairing </a>
          </div>
            {% endif %}

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12" id="myDIVa" style="display: block;">
                            <form method="post">{% csrf_token %}

                            <div id="d1" class="divs d1 row">

      <div class="col-xl-3 col-md-4 col-mb-4">
                <input type="date" name="date1" placeholder="Search 1" class="form-control">

      </div>

      <div class="col-xl-0 col-md-0 col-mb-0">
                <p style="font-weight: 600;">_</p>

      </div>

      <div class="col-xl-3 col-md-4 col-mb-4">
                <input type="date" name="date2" placeholder="Search 1" class="form-control">

      </div>
            <div class="col-xl-2 col-md-4 col-mb-4">
              <button type="submit" name="submit1" style="background-color: #FC6E20;" class="btn btn-primary">Submit</button>
      </div>

      </div>
                            </form>
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary"> Target Achieved</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                  </div>
                </div>
              </div>
            </div>







            <!-- Pie Chart -->
          </div>

          <!-- Content Row -->
          <div class="row">
                      {% if request.user.role != 'Employee' %}

            <!-- Earnings (Monthly) Card Example -->
            <!--<div class="col-xl-4 col-md-6 mb-4">-->
              <!--<div class="card border-left-primary shadow h-100 py-2">-->
                <!--<div class="card-body btn" onclick="myFunctionA()">-->
                  <!--<div class="row no-gutters align-items-center">-->
                    <!--<div class="col mr-2">-->
                      <!--<div class="h5 mb-0 font-weight-bold text-gray-800">Target Achieved:{{target_achieved|floatformat}}%</div>-->
                    <!--</div>-->
                    <!--<div class="col-auto">-->
                      <!--<i class="fas fa-calendar fa-2x text-gray-300"></i>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <!-- Earnings (Monthly) Card Example -->
            <!--<div class="col-xl-4 col-md-6 mb-4">-->
              <!--<div class="card border-left-success shadow h-100 py-2">-->

                <!--<div class="card-body btn" onclick="myFunctionB()">-->
                  <!--<div class="row no-gutters align-items-center">-->
                    <!--<div class="col mr-2">-->
                      <!--<div class="h5 mb-0 font-weight-bold text-gray-800">Average Time Taken To Solve A Problem</div>-->
                    <!--</div>-->
                    <!--<div class="col-auto">-->
                     <!--<i class="fa fa-clock-o fa-2x text-gray-300" aria-hidden="true"></i>-->




                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <!-- Earnings (Monthly) Card Example -->
            <!--<div class="col-xl-4 col-md-6 mb-4">-->
              <!--<div class="card border-left-info shadow h-100 py-2">-->
                <!--<div class="card-body btn" onclick="myFunctionC()">-->
                  <!--<div class="row no-gutters align-items-center">-->
                    <!--<div class="col mr-2">-->
                      <!--<div class="row no-gutters align-items-center">-->
                        <!--<div class="col-auto">-->
                          <!--<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">Average Time To Shift From One Stage To Another-->
                          <!--</div>-->
                        <!--</div>-->

                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-auto">-->
                      <!--<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->




                <div class="col-xl-6 col-md-6 mb-4">
                          <input class="form-control" placeholder="Defect">
                          <br>
                          <center> <button style="background-color: #FC6E20;" class="btn btn-primary"> Submit</button> </center>
                        </div>

                        <div class="col-xl-6 col-md-6 mb-4">
                          <input class="form-control" placeholder="Warning">
                          <br>
                          <center> <button style="background-color: #FC6E20;" class="btn btn-primary"> Submit</button> </center>
                        </div>
{% endif %}

</div>

<div class="row">
                          <div class="col-xl-6 col-md-6 mb-4">

              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary"> Sales (This Month)</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart2"></canvas>
                  </div>
                </div>
              </div>


                        </div>
                                    <div class="col-xl-6 col-md-6 mb-4">

              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary"> Sales (Previous Month) </h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart3"></canvas>
                  </div>
                </div>
              </div>


                        </div>
          </div>
                        </div>
                 <center>
<div class="card-header py-3">
                  <h4 class="m-0 font-weight-bold text-primary" > Average Feedback</h4>
                </div></center>

            <div class="row">
                        <div class="col-xl-12 col-md-12 mb-4">

              <div class="card shadow mb-4">
                <div class="card-body">
      <div class="row">
    <div class="col-lg-9">


                        <b>Backend Team : </b>{% for avg in backend_team_avg|rjust:'5'  %}
{% if forloop.counter <= backend_team_avg %}
									<i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
							{% else %}
									<i class="fa fa-star" aria-hidden="true"></i>
							{% endif %}
        						{% endfor %} <br>
        <b>Onsite Worker : </b>{% for avg in onsite_worker_avg|rjust:'5'  %}
{% if forloop.counter <= onsite_worker_avg %}
									<i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
							{% else %}
									<i class="fa fa-star" aria-hidden="true"></i>
							{% endif %}
        						{% endfor %}  <br>
                  <b> Speed Performance: </b>{% for avg in speed_of_performance_avg|rjust:'5'  %}
{% if forloop.counter <= speed_of_performance_avg %}
									<i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
							{% else %}
									<i class="fa fa-star" aria-hidden="true"></i>
							{% endif %}
        						{% endfor %}  <br>
                  <b>Price Of Repairing : </b>{% for avg in price_of_reparing_avg|rjust:'5'  %}
{% if forloop.counter <= price_of_reparing_avg %}
									<i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
							{% else %}
									<i class="fa fa-star" aria-hidden="true"></i>
							{% endif %}
        						{% endfor %}   <br>
                  <b>Over All Interaction : </b>{% for avg in overall_interaction_avg|rjust:'5'  %}
{% if forloop.counter <= overall_interaction_avg %}
									<i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
							{% else %}
									<i class="fa fa-star" aria-hidden="true"></i>
							{% endif %}
        						{% endfor %} <br>
                  <!--<b>About HSCO : </b>{{about_hsco}} <br>-->
                  <!--<b>Any Other Suggestions: </b>{{any_suggestion}} <br>-->
<!--
                      <b>Ratings : <i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
-->


    </div>
      </div>




            </div>
              </div>
                        </div>
                </div>
<br>


<br>
        <style>
          .editableBox {
    width: 175px;
    height: 30px;
}

.timeTextBox {
    width: 154px;
    margin-left: -178px;
    height: 25px;
    border: none;
}


.editableBoxa {
    width: 75px;
    height: 30px;
}

.timeTextBoxa {
    width: 54px;
    margin-left: -78px;
    height: 25px;
    border: none;
}


.editableBoxz {
    width: 75px;
    height: 30px;
}

.timeTextBoxz {
    width: 54px;
    margin-left: -78px;
    height: 25px;
    border: none;
}
        <
        </style>

<script>
$(document).ready(function(){

    $(".editableBox").change(function(){
        $(".timeTextBox").val($(".editableBox option:selected").html());
    });
});

$(document).ready(function(){

    $(".editableBoxa").change(function(){
        $(".timeTextBoxa").val($(".editableBoxa option:selected").html());
    });
});


$(document).ready(function(){

    $(".editableBoxz").change(function(){
        $(".timeTextBoxz").val($(".editableBoxz option:selected").html());
    });
});
</script>


        <!--<div class="wrapper">-->
    <!--<select class="editableBoxz"  id="main">-->
    <!--</select>-->
    <!--<input class="timeTextBoxz" name="timebox" maxlength="5"/>-->
<!--</div>-->




        <!--<div class="wrapper">-->
    <!--<select class="editableBoxa" id="town">-->
    <!--</select>-->
    <!--<input class="timeTextBoxa" name="timebox" maxlength="5"/>-->
<!--</div>-->


        <!--Test-->
<br><br>


          </div>


        </div>
        <!-- /.container-fluid -->

  </div>

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
<script>
var stateObject = {
"Table Top Scales": {
"ABS": ['ABS001','ABS002','ABS003','ABS004','ABS005','ABS006'],
'MSS': ['MSS001','MSS002','MSS003','MSS004','MSS005','MSS006'],
'SSS': ['SSS001','SSS002','SSS003','SSS004','SSS005','SSS006'],
'MSB': ['MSB001','MSB002','MSB003','MSB004','MSB005','MSB006'],
'SSS': ['SSS001','SSS002','SSS003','SSS004','SSS005','SSS006'],
'SSS': ['SSS001','SSS002','SSS003','SSS004','SSS005','SSS006'],
'SSS': ['SSS001','SSS002','SSS003','SSS004','SSS005','SSS006'],
'SSB': ['SSB001','SSB002','SSB003','SSB004','SSB005','SSB006'],
'MSBP':['MSBP001','MSBP002','MSBP003','MSBP004','MSBP005','MSBP006'],
'SSBP':['SSBP001','SSBP002','SSBP003','SSBP004','SSBP005','SSBP006'],
'PRCFB':['PRC001','PRC002','PRC003','PRC004','PRC005','PRC006],
'PRCP':['PRCP001','PRCP002','PRCP003','PRCP004','PRCP005','PRCP006]
},


"POS Scales": {
'PRCPT':['PRCPT001','PRCPT002','PRCPT003','PRCPT004'],
'POSP': ['PRCPT005','PRCPT006','PRCPT007']
},


"Water Proof Scales": {
'ABSWR': ['ABSWR001','ABSWR002','ABSWR003','ABSWR004','ABSWR005','ABSWR006','ABSWR007'],
'SSWR' : ['SSWR001','SSWR002','SSWR003','SSWR004','SSWR005','SSWR006','SSWR007']
},


"Jewellery Scales": {
'JEWE' :['JEWE001','JEWE002','JEWE003','JEWE004','JEWE005','JEWE006','JEWE007']
},



"Lab Scales": {
'LAB' :['LAB001','LAB002','LAB003','LAB004','LAB005','LAB006','LAB007','LAB008']

},



"Hanging Scales": {
'CRS' :['CRS001','CRS002,'CRS003,'CRS004,'CRS005,'CRS006']
},



"Crane Scales": {
'CRH' :['CRH001','CRH002','CRH003','CRH004','CRH005','CRH006','CRH007'],
'Crane Scales with Remote Display and Printer' : ['CRH008','CRH009','CRH010','CRH011'],
'Crane Scale with Heat Shield': ['CRH012','CRH013','CRH014'],
'Crane Scale with Hand Held Remote Display': ['CRH015','CRH016','CRH017']
},


"Platform Scales": {
'PLSS' : ['PLSS001','PLSS002','PLSS003','PLSS004','PLSS005','PLSS006','PLSS007'],
'PLCHQ' : ['PLCHQ001','PLCHQ002','PLCHQ003','PLCHQ004','PLCHQ005','PLCHQ006','PLCHQ007'],
'PLCHQH' : ['PLCHQH008','PLCHQH009','PLCHQH010','PLCHQH011','PLCHQH012'],
'PLCHQR': ['PLCHQR013','PLCHQR014','PLCHQR015','PLCHQR016','PLCHQR017'],
'PLSSW': ['PLSSW001','PLSSW002','PLSSW003','PLSSW004','PLSSW005'],
'PLSSWWR': ['PLSSWWR001','PLSSWWR002','PLSSWWR003','PLSSWWR004','PLSSWWR005','PLSSWWR006','PLSSWWR007']
},


"Mobile Platforms": {
'PLSSCHI': ['PLSSCHI001','PLSSCHI002','PLSSCHI003','PLSSCHI004','PLSSCHI005','PLSSCHI006','PLSSCHI007'],
'PLCHQCHI':'PLCHQCHI001','PLCHQCHI002','PLCHQCHI003','PLCHQCHI004','PLCHQCHI005','PLCHQCHI006','PLCHQCHI007','PLCHQCHI008','PLCHQCHI009','PLCHQCHI010']
},


"Infant Scales": {
'BCI': ['BCI001','BCI002','BCI003','BCI004','BCIC005']
},


"Baby Cum Adult Scales": {
'BCA': ['BCA001','BCA002','BCA003','BCA004']
},


"Animal Scales": {
'AS': ['AS001','AS002','AS003','AS004','AS005']
},


"Cattle Scales": {
'AWSSSG': ['ASSSG001','ASSSG002','ASSSG003','ASSSG004'],
'AWSCIG': ['AWSCIG001','AWSCIG002','AWSCIG003','AWSCIG004','AWSCIG005','AWSCIG006']
},


"Supra Pall Scales": {
'SUP': ['SUP001','SUP002','SUP003','SUP004','SUP005']
},



"Supra Pall Scales": {
'LPG': ['LPG001']
},


}
window.onload = function () {
var countySel = document.getElementById("countySel"),
stateSel = document.getElementById("stateSel"),
districtSel = document.getElementById("districtSel");
for (var country in stateObject) {
countySel.options[countySel.options.length] = new Option(country, country);
}
countySel.onchange = function () {
stateSel.length = 1; // remove all options bar first
districtSel.length = 1; // remove all options bar first
if (this.selectedIndex < 1) return; // done
for (var state in stateObject[this.value]) {
stateSel.options[stateSel.options.length] = new Option(state, state);
}
}
countySel.onchange(); // reset in case page is reloaded
stateSel.onchange = function () {
districtSel.length = 1; // remove all options bar first
if (this.selectedIndex < 1) return; // done
var district = stateObject[countySel.value][this.value];
for (var i = 0; i < district.length; i++) {
districtSel.options[districtSel.options.length] = new Option(district[i], district[i]);
}
}
}
</script>






<script>
  window.onload = function() {

  var main = {
        'Men 1': ['1', '2'],
        'Men 2': ['a1', 'b2'],
        'Men 3': ['11', '22']
      },

  var provs = {
        'Menu 1': ['Option 1', 'Option 2'],
        'Menu 2': ['Choice 1', 'Choice 2'],
        'Menu 3': ['XYZ 1', 'XYZ 2']
      },


      main_select = document.querySelector('#main'),
      prov_select = document.querySelector('#prov');

      prov_select = document.querySelector('#prov'),
      town_select = document.querySelector('#town');


  // populate the provinces drop-down
  setOptions(main_select, Object.keys(main));
  // populate the town drop-down
  setOptions(prov_select, main[main_select.value]);


  // populate the provinces drop-down
  setOptions(prov_select, Object.keys(provs));
  // populate the town drop-down
  setOptions(town_select, provs[prov_select.value]);






  // attach a change event listener to the provinces drop-down
  main_select.addEventListener('change', function() {
    // get the towns in the selected province
    setOptions(prov_select, main[main_select.value]);
  });

  // attach a change event listener to the provinces drop-down
  prov_select.addEventListener('change', function() {
    // get the towns in the selected province
    setOptions(town_select, provs[prov_select.value]);
  });




  function setOptions(dropDown, options) {
    // clear out any existing values
    dropDown.innerHTML = '';
    // insert the new options into the drop-down
    options.forEach(function(value) {
      dropDown.innerHTML += '<option name="' + value + '">' + value + '</option>';
    });
  }
};
</script>
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/dashboard/jquery.min.js' %}"></script>
  <script src="{% static 'js/dashboard/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'jjs/dashboard/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/dashboard/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'js/dashboard/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <!--<script src="{% static 'js/dashboard/chart-area-demo.js' %}"></script>-->
  <script src="{% static 'js/dashboard/chart-pie-demo.js' %}"></script>
<!--chart1-->
<script>

  // Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

function number_format(number, decimals, dec_point, thousands_sep) {

  // *     example: number_format(1234.56, 2, ',', ' ');
  // *     return: '1 234,56'
  number = (number + '').replace(',', '').replace(' ', '');
  var n = !isFinite(+number) ? 0 : +number,
    prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
    sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
    dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
    s = '',
    toFixedFix = function(n, prec) {
      var k = Math.pow(10, prec);
      return '' + Math.round(n * k) / k;
    };
  // Fix for IE parseFloat(0.55).toFixed(0) = 0;
  s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
  if (s[0].length > 3) {
    s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
  }
  if ((s[1] || '').length < prec) {
    s[1] = s[1] || '';
    s[1] += new Array(prec - s[1].length + 1).join('0');
  }
  return s.join(dec);
}

// Area Chart Example
var ctx = document.getElementById("myAreaChart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {

    labels: {{final_list|safe}},

    datasets: [{
      label: "Leads",
      lineTension: 0.3,
      backgroundColor: "rgba(78, 115, 223, 0.05)",
      borderColor: "rgba(78, 115, 223, 1)",
      pointRadius: 3,
      pointBackgroundColor: "rgba(78, 115, 223, 1)",
      pointBorderColor: "rgba(78, 115, 223, 1)",
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
      pointHoverBorderColor: "rgba(78, 115, 223, 1)",
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: {{final_list2}},

    }],
  },



  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          maxTicksLimit: 5,
          padding: 10,
          // Include a dollar sign in the ticks
          callback: function(value, index, values) {
            return '' + number_format(value);
          }
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      intersect: false,
      mode: 'index',
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel + ': ' + number_format(tooltipItem.yLabel);
        }
      }
    }
  }
});

</script>


<script>
function myFunctionA() {
  var x = document.getElementById("myDIVa");
  var y = document.getElementById("myDIVb");
  var z = document.getElementById("myDIVc");
  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "none";
    z.style.display = "none";
  } else {
    x.style.display = "block";
    y.style.display = "none";
    xz.style.display = "none";
  }
}


function myFunctionB() {
  var x = document.getElementById("myDIVa");
  var y = document.getElementById("myDIVb");
  var z = document.getElementById("myDIVc");
  if (y.style.display === "none") {
    x.style.display = "none";
    y.style.display = "block";
    z.style.display = "none";
  } else {
    x.style.display = "none";
    y.style.display = "block";
    z.style.display = "none";
  }
}


function myFunctionC() {
  var x = document.getElementById("myDIVa");
  var y = document.getElementById("myDIVb");
  var z = document.getElementById("myDIVc");
  if (z.style.display === "none") {
    x.style.display = "none";
    y.style.display = "none";
    z.style.display = "block";
  } else {
    x.style.display = "none";
    y.style.display = "none";
    z.style.display = "none";
  }
}
</script>
<!--chart2-->
<script>

  // Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

function number_format(number, decimals, dec_point, thousands_sep) {

  // *     example: number_format(1234.56, 2, ',', ' ');
  // *     return: '1 234,56'
  number = (number + '').replace(',', '').replace(' ', '');
  var n = !isFinite(+number) ? 0 : +number,
    prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
    sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
    dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
    s = '',
    toFixedFix = function(n, prec) {
      var k = Math.pow(10, prec);
      return '' + Math.round(n * k) / k;
    };
  // Fix for IE parseFloat(0.55).toFixed(0) = 0;
  s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
  if (s[0].length > 3) {
    s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
  }
  if ((s[1] || '').length < prec) {
    s[1] = s[1] || '';
    s[1] += new Array(prec - s[1].length + 1).join('0');
  }
  return s.join(dec);
}

// Area Chart Example
var ctx = document.getElementById("myAreaChart2");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {

    labels: {{this_lis_date|safe}},

    datasets: [{
      label: "Leads",
      lineTension: 0.3,
      backgroundColor: "rgba(78, 115, 223, 0.05)",
      borderColor: "rgba(78, 115, 223, 1)",
      pointRadius: 3,
      pointBackgroundColor: "rgba(78, 115, 223, 1)",
      pointBorderColor: "rgba(78, 115, 223, 1)",
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
      pointHoverBorderColor: "rgba(78, 115, 223, 1)",
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: {{this_lis_sum}},

    }],
  },



  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          maxTicksLimit: 5,
          padding: 10,
          // Include a dollar sign in the ticks
          callback: function(value, index, values) {
            return '' + number_format(value);
          }
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      intersect: false,
      mode: 'index',
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel + ': ' + number_format(tooltipItem.yLabel);
        }
      }
    }
  }
});

</script>
<!--chart3-->
<script>

  // Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

function number_format(number, decimals, dec_point, thousands_sep) {

  // *     example: number_format(1234.56, 2, ',', ' ');
  // *     return: '1 234,56'
  number = (number + '').replace(',', '').replace(' ', '');
  var n = !isFinite(+number) ? 0 : +number,
    prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
    sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
    dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
    s = '',
    toFixedFix = function(n, prec) {
      var k = Math.pow(10, prec);
      return '' + Math.round(n * k) / k;
    };
  // Fix for IE parseFloat(0.55).toFixed(0) = 0;
  s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
  if (s[0].length > 3) {
    s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
  }
  if ((s[1] || '').length < prec) {
    s[1] = s[1] || '';
    s[1] += new Array(prec - s[1].length + 1).join('0');
  }
  return s.join(dec);
}

// Area Chart Example
var ctx = document.getElementById("myAreaChart3");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {

    labels: {{previous_lis_date|safe}},

    datasets: [{
      label: "Leads",
      lineTension: 0.3,
      backgroundColor: "rgba(78, 115, 223, 0.05)",
      borderColor: "rgba(78, 115, 223, 1)",
      pointRadius: 3,
      pointBackgroundColor: "rgba(78, 115, 223, 1)",
      pointBorderColor: "rgba(78, 115, 223, 1)",
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
      pointHoverBorderColor: "rgba(78, 115, 223, 1)",
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: {{previous_lis_sum}},

    }],
  },



  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          maxTicksLimit: 5,
          padding: 10,
          // Include a dollar sign in the ticks
          callback: function(value, index, values) {
            return '' + number_format(value);
          }
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      intersect: false,
      mode: 'index',
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel + ': ' + number_format(tooltipItem.yLabel);
        }
      }
    }
  }
});

</script>

</body>

</html>
