<form method="POST" >{% csrf_token %}
<table>
    <tr style="background-color: gray; color: white;">
        <td style="border: 1px solid gray;">Sr. No.</td>
        <td style="border-radius: 0px 0px 0px 0px; border: 1px solid gray;">Transacation ID</td>
        <td style="border: 1px solid gray;">Date</td>
        <td style="border-radius: 0px 0px 0px 0px; border:1px solid gray;">By</td>
        {% if type == 'sales' %}
        <td style="border-radius: 0px 0px 0px 0px; border:1px solid gray;">Quantity</td>
        {% endif %}
    </tr>
    {% for item in pro_id %}
    <tr style="background-color: white; color: grey;">
        <td style="border-radius: 0px 0px 0px 0px; border: 1px solid gray;">{{forloop.counter}}. </td>
        {% if type == 'sales' %}
        <td style="border: 1px solid gray;"><a target="_blank" href="/edit_product_customer/{{item.pk}}">{{item.pk}}</a></td>
        <td style="border-radius: 0px 0px 0px 0px; border:1px solid gray;">{{item.entry_timedate}}</td>
        <td style="border-radius: 0px 0px 0px 0px; border:1px solid gray;">{{item.log_entered_by}}</td>
        <td style="border-radius: 0px 0px 0px 0px; border:1px solid gray;">{{item.quantity}}</td>
        {% elif type == 'purchase' %}
        <td style="border: 1px solid gray;"><a target="_blank" href="/stock_transaction_history/{{item.accept_goods_id.from_godown.id}}/{{item.pk}}">{{item.pk}}</a></td>
        <td style="border-radius: 0px 0px 0px 0px; border:1px solid gray;">{{item.entry_timedate}}</td>
        <td style="border-radius: 0px 0px 0px 0px; border:1px solid gray;">{{item.accept_goods_id.log_entered_by | default_if_none:''}}</td>
        {% else %}
        <td style="border: 1px solid gray;"><a target="_blank" href="/stock_transaction_history/{{item.goods_req_id.req_from_godown.id}}/{{item.pk}}">{{item.pk}}</a></td>
        <td style="border-radius: 0px 0px 0px 0px; border:1px solid gray;">{{item.entry_timedate}}</td>
        <td style="border-radius: 0px 0px 0px 0px; border:1px solid gray;">{{item.goods_req_id.log_entered_by | default_if_none:''}}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
</form>
