
<!DOCTYPE html>

<html lang="en">
	<!--begin::Head-->
	<head><base href="">
		{% load static %}
		<meta charset="utf-8" />
		<title></title>
		<meta name="description" content="Updates and statistics" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Page Vendors Styles(used by this page)-->
		<link href="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" />
		<!--end::Page Vendors Styles-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="{% static 'plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'plugins/custom/prismjs/prismjs.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
		        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->
		<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="header-mobile-fixed subheader-enabled aside-enabled aside-fixed aside-secondary-enabled page-loading">
		<!--begin::Main-->
		<!--begin::Header Mobile-->
		<div id="kt_header_mobile" class="header-mobile">
			<!--begin::Logo-->
			<a href="/">
				<h1>HSCo</h1>
			</a>
			<!--end::Logo-->
			<!--begin::Toolbar-->
			<div class="d-flex align-items-center">
				<button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
					<span></span>
				</button>
			</div>
			<!--end::Toolbar-->
		</div>
		<!--end::Header Mobile-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Aside-->
					{% include 'base_templates/aside.html' %}


				<!--end::Aside-->
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
					<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div class="" id="kt_subheader">
							<div class="container-fluid">
								<!--begin::Info-->


<style>
    .container-fluid {
    font-size: 14px;
    }
</style>
  <!-- Page Wrapper -->
  <div id="wrapper" style="margin-top:5%;">

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">


        <!-- Topbar -->
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Onsite Repairing Module</h1>
              &nbsp;
                           <div class="row no-gutters align-items-right">

     {% if request.user.is_authenticated %}
{% if user.role == 'Super Admin' or user.role == 'Admin' or user.role == 'Manager' %}
<a style="padding: 2px; " href="/add_onsite_aftersales_service/"><button class="btn btn-primary">Add Onsite Repairing</button></a>


<form method="POST" action="">{%csrf_token%}
 <a href="#"><button style=" margin-top: 3px;" name="deleted" type="submit" class="btn btn-primary">Deleted User</button></a>
</form>


 <a style="padding: 2px;" href="/onsite_repairing_logs/"> <button class="btn btn-primary">Log</button></a>
 <a style="padding: 2px;" href="/report_onsite/"> <button class="btn btn-primary">Report</button></a>
 <a style="padding: 2px;" href="/onsite_analytics/"><button class="btn btn-primary">Analytics</button></a>
{% else %}
 <a style="padding: 2px;" href="/add_onsite_aftersales_service/"><button class="btn btn-primary">Add Onsite Repairing</button></a>
{% endif %}
{% endif %}
                </div>

          </div>
                        <style>
table {
  font-family: arial, sans-serif;
  width: 100%;
  color: black;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
  font-size: 13px;
}


</style>
<style>
    .border-right-primary{border-right:.25rem solid #4e73df!important}
</style>
            <style>
.divs{
display:none;
}
</style>
            <script>
<!--$( document ).ready(function() {-->
        <!--$('.divs').hide();-->

<!--});-->
$(function() {
  $('#divselector').change(function(){
    $('.divs').hide();
    $('#' + $(this).val()).show();
  });
});

            </script>
                    <!-- Date range, mob no, email id, customer name, company name, CRM no., CRM Number rnge -->
            <div class="row">

                <div class="col-xl-3 col-md-3 col-mb-3">
                    <div class="button dropdown">
                        <select id="divselector" class="form-control">
                            <option value="d0">Select Search Type</option>
                            <option value="d1">Search By Date Range</option>
                            <option value="d2">Search By Mobile Number</option>
                            <option value="d3">Search By Email Id</option>
                            <option value="d4">Search By Customer Name</option>
                            <option value="d5">Search By Company Name</option>
                            <option value="d6">Search By CRM No.</option>
                            <!--<option value="d7">Search By CRM Number Range</option>-->
                        </select>
                    </div>
                    <br>
                </div>

                <div class="col-xl-6 col-md-5 col-mb-8">
                    <div class="output">

                        <form method="POST" autocomplete="off">{% csrf_token%}
                            <div id="d1" class="divs d1 row">

                                <div style="float: left;" class="col-xl-4 col-md-4 col-mb-4">
                                    <input name="date1" type="date" placeholder="Search 1" class="form-control">

                                </div>

                                <div style="float: left;" class="col-xl-0 col-md-0 col-mb-0">
                                    <p style="font-weight: 600;">_</p>

                                </div>

                                <div style="float: left;" class="col-xl-4 col-md-4 col-mb-4">
                                    <input name="date2" type="date" placeholder="Search 1" class="form-control">

                                </div>
                                <div style="width: 25%;float: left;" class="col-xl-2 col-md-2 col-mb-2">
                                    <button name="submit1" type="submit" class="btn btn-primary">Search</button>
                                </div>

                            </div>
                        </form>

                        <form method="POST">{% csrf_token %}
                            <div id="d2" class="divs d2">
                                <input type="number" name="contact" placeholder="Mobile Number" class="form-control"
                                       style="width: 25%;float: left;">
                                &nbsp; &nbsp;
                                <button type="submit" name="submit2" class="btn btn-primary">Search</button>
                            </div>
                        </form>

                        <form method="POST">{% csrf_token%}

                            <div id="d3" class="divs d3">
                                <input type="text" name="email" placeholder="Email Id" class="form-control"
                                       style="width: 25%;float: left;">
                                &nbsp; &nbsp;
                                <button name="submit3" class="btn btn-primary">Search</button>
                            </div>
                        </form>
                        <form method="POST">{% csrf_token%}

                            <div id="d4" class="divs d4">
                                <input type="text" name="customer" placeholder="Customer Name" class="form-control"
                                       style="width: 25%;float: left;">
                                &nbsp; &nbsp;
                                <button name="submit4" class="btn btn-primary">Search</button>
                            </div>
                        </form>
                        <form method="POST" autocomplete="off">{% csrf_token%}
                            <div id="d5" class="divs d5">
                                <input type="text" name="company" placeholder="Company Name" class="form-control"
                                       style="width: 25%;float: left;">
                                &nbsp; &nbsp;
                                <button name="submit5" class="btn btn-primary">Search</button>
                            </div>
                        </form>

                        <form method="POST" autocomplete="off">{% csrf_token%}

                            <div id="d6" class="divs d6">
                                <input type="text" name="crm" placeholder="CRM No." class="form-control"
                                       style="width: 25%;float: left;">
                                &nbsp; &nbsp;
                                <button name="submit6" class="btn btn-primary">Search</button>
                            </div>
                        </form>

                        <!--<form method="POST">{% csrf_token%}-->

                        <!--<div id="d7" class="divs d7 row" style="width: 50%;">-->
                        <!--<div class="col-xl-4 col-md-4 col-mb-4">-->
                        <!--<input name="crm1" type="text" placeholder="CRM No." class="form-control">-->

                        <!--</div>-->

                        <!--<div class="col-xl-0 col-md-0 col-mb-0">-->
                        <!--<p style="font-weight: 600;">_</p>-->

                        <!--</div>-->

                        <!--<div class="col-xl-4 col-md-4 col-mb-4">-->
                        <!--<input name="crm2" type="text" placeholder="CRM No." class="form-control">-->

                        <!--</div>-->
                        <!--<div class="col-xl-2 col-md-2 col-mb-2">-->
                        <!--<button style="background-color: #FC6E20;" class="btn btn-primary">Search</button></div>-->

                        <!--</div>-->
                        <!--</form>-->
                    </div>
                </div>

                <div class="col-xl-3 col-md-4 col-mb-8 row" style="color: black; ">
                    {% if request.user.is_authenticated %}
                    {% if user.role == 'Super Admin' or user.role == 'Admin' or user.role == 'Manager' %}
                        <div class="col-xl-4 col-md-4 col-mb-8">
                            <p style="font-size: 1.8vh;"> Manager</p>
                        </div>
                        <div class="col-xl-4 col-md-3 col-mb-8">
                            <label class="switch ">
                                <input name="Employee" type="checkbox" checked onchange="toggleCheckbox2(this)" style="height: 1vh; width: 1vh; font-size: 1vh;">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-xl-4 col-md-5 col-mb-8">
                            <p style="font-size: 1.8vh;">Employee</p>

                        </div>
                    {% else %}

                                   <!--<div class="col-xl-12 col-md-2 col-mb-8 row">-->
                         <!--<div class="col-xl-4 col-md-2 col-mb-8">-->
<!--<p>Done</p>-->
                     <!--</div>-->
                     <!--<div class="col-xl-3 col-md-2 col-mb-8">-->
                         <!--<label class="switch ">-->
  <!--<input name="Done" type="checkbox" checked onchange="toggleCheckbox(this)">-->
  <!--<span class="slider round"></span>-->
<!--</label>-->
                     <!--</div>-->
                     <!--<div class="col-xl-5 col-md-2 col-mb-8">-->
                         <!--<p> Pending</p>-->
                     <!--</div>-->
                     <!--</div>-->



                     {% endif %}
                     {% endif %}




                </div>


            </div>


 <style>
                .border_class {
                border:1px solid black;
                height:45px;
                text-align:center;
                vertical-align: middle;
                line-height: 45px;
                }


  table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  border-color: black;
  color: black;



}


th {

  font-size: 13px;
    border: 1px solid black;
    text-align: left;
    padding:5px;

}

td {
  border: 1px solid black;
  padding: 3px;
  font-size: 13px;
  padding: 5px;
  text-align: center;
}


            </style>






 <div class="row" style="">


            <div style="cursor: pointer; " onclick="choice1('Onsite repairing request is raised')" class="col-xl-3 col-md-3 col-6">
              <div class="card shadow" style=" background: linear-gradient(40deg,rgba(255,110,196,5.5),rgba(120,115,245,.9))">
                <div class="card-body row" style="color: white; font-weight: 600; font-size: 1.6vh; height: 110px;">

                  <center> Onsite repairing request is raised.  <br> ({{stage1}}) </center>

                    </div>

                </div>
              </div>

        <div style="cursor: pointer; " onclick="choice1('Onsite repairing request is assigned')" class="col-xl-3 col-md-3 col-6">
              <div class="card shadow" style="background: linear-gradient(40deg,rgba(32,150,255,.9),rgba(5,255,163,.9))!important;">
                <div class="card-body row" style="color: white; font-weight: 600; font-size: 1.6vh;  height: 110px;">
                 <center> Onsite repairing request is assigned &nbsp;<br> ({{stage2}})</center>


                    </div>

                </div>
              </div>

            <div style="cursor: pointer; " onclick="choice1('Onsite repairing request is completed')" class="col-xl-3 col-md-3 col-12">
              <div class="card shadow" style="background: linear-gradient(40deg,rgba(255,216,111,.9),rgba(252,98,98,.9))">
                <div class="card-body row" style="color: white; font-weight: 600; font-size: 1.6vh;  height: 110px;">

                   <center><p> Onsite repairing request is completed. <br>&nbsp; ({{stage3}}) </p></center>

                    </div>
                </div>
              </div>

        </div>



<br>     <center><p>{{search_msg}}</p></center>
                {% if deleted %}
                  <center> <p>list of deleted users</p></center>
                    {% endif %}
<div style="min-height: 26vw;">

        <div class="table-responsive" id="id_manager_view">

    <table class="table">
        <tr style="background-color: gray; color: white;">

                    <td style="border-radius: 15px 0px 0px 0px; border: 0px solid gray;"> Date </td>
                    <td style="border: 0px solid gray;"> Onsite ID </td>
                    <td style="border: 0px solid gray;"> Customer Name </td>
                    <td style="border: 0px solid gray;"> Company Name </td>
                    <td style="border: 0px solid gray;"> Contact No </td>
                    {% if user.role == 'Manager' or user.role == 'Admin' or user.role == 'Super Admin'  %}
                    <td style="border-radius: 0px 0px 0px 0px; border: 0px solid gray;"> Entered By </td>
                    {% else %}
                    <td style="border-radius: 0px 0px 0px 0px; border: 0px solid gray;">  Email ID </td>
                    {% endif %}

                    {% if user.role == 'Manager' or user.role == 'Admin' or user.role == 'Super Admin'  %}
                    <td style="border-radius: 0px 15px 0px 0px; border: 0px solid gray;">Complaint Assigned</td>
                    {% else %}
                    <td style="border-radius: 0px 15px 0px 0px; border: 0px solid gray;">Current Stage</td>

                    {% endif %}

</tr>

</table>

<div id="id_subcat">
           <table>

{% for list in onsite_list %}

<tr style="cursor:pointer;" onclick="location.href='/update_onsite_details/{{list.pk}}';"class="col-xl-12 col-md-12 mb-12">


<!--               {% if list.current_stage == 'Onsite repairing request is raised' %}-->
<!--              <div class="card shadow" style="border: 2px solid rgba(120,115,245,.9);" >-->
<!--                  {% elif list.current_stage == 'Onsite repairing request is assigned' %}-->
<!--              <div class="card shadow" style="border: 2px solid rgba(5,255,163,.9);" >-->
<!--                  {% elif list.current_stage == 'Onsite repairing request is completed' %}-->
<!--              <div class="card shadow" style="border: 2px solid rgba(252,98,98,.9);" >-->
<!--                  {% else %}-->

<!--                  {% endif %}-->
                    {% if user.role == 'Manager' or user.role == 'Admin' or user.role == 'Super Admin'  %}
                    <td style="width: 7%;">{{list.entry_timedate|date:'Y-m-d'}} </td>
                    <td style="width: 10%;"> {{list.onsite_no}} </td>
                    <td style="width: 20%;">{{ list.second_person }} </td>
                    <td style="width: 15%;"> {% if list.second_company_name != None and list.second_company_name != '' %}{{list.second_company_name}}{% else %}{% endif %}</td>
                    <td style="width: 12%;">{{ list.second_contact_no }} </td>
                  {% else %}
                    {% endif %}
                    {% if user.role == 'Manager' or user.role == 'Admin' or user.role == 'Super Admin'  %}
                    <td style="width: 15%;">{{list.user_id.profile_name}}</td>
                    {% else %}
                    {% endif %}
                    {% if user.role == 'Manager' or user.role == 'Admin' or user.role == 'Super Admin'  %}
                    <td style="width: 20%;">{{list.complaint_assigned_to}}</td>
                    {% else %}
                    {% endif %}
                            {% if user.role == 'Employee' %}
                  <td style="width: 8%;">{{ list.entry_timedate|date:'Y-m-d' }} </td>
                    <td style="width: 9%;"> {{list.onsite_no}} </td>
                    <td style="width: 20%;">{{ list.second_person }} </td>
                    <td style="width: 20%;"> {% if list.second_company_name != None and list.second_company_name != '' %}{{list.second_company_name}}{% else %}{% endif %}</td>
                    <td style="width: 15%;">{{ list.second_contact_no }} </td>
                  <td style="width: 13%;">{% if list.company_email != None and list.company_email != '' %}{{list.company_email}}{% else %}{% endif %} </td>
                  <td style="width: 15%;">{{list.current_stage}} </td>
                              {% else %}
                    {% endif %}

                <!--</div>-->
              <!--</div>-->
<!--</div>-->
</tr>
          {% endfor %}

    </table>
</div>

        </div>





<br>
<br>
<!-- <div class="pagination">-->
<!--    <span class="step-links">-->
<!--        {% if onsite_list.has_previous %}-->
<!--            <a href="?page=1">&laquo; first</a>-->
<!--            <a href="?page={{ onsite_list.previous_page_number }}">previous</a>-->
<!--        {% endif %}-->

<!--        <span class="current">-->
<!--            Page {{ onsite_list.number }} of {{ onsite_list.paginator.num_pages }}.-->
<!--        </span>-->

<!--        {% if onsite_list.has_next %}-->
<!--            <a href="?page={{ onsite_list.next_page_number }}">next</a>-->
<!--            <a href="?page={{ onsite_list.paginator.num_pages }}">last &raquo;</a>-->
<!--        {% endif %}-->
<!--    </span>-->
<!--</div>-->


            </div>
        </div>
      </div>

  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
   <script>

        function choice1(select) {

    $.ajax({
        url: "/load_onsite_reparing_stages_list/",
        data: {
          'loc_id': select,
        },
        success: function (data) {
           $("#id_subcat").html(data);
        }
      });
}


    </script>
             <script>

        function toggleCheckbox(select) {
value = select.checked;

    $.ajax({
        url: "/load_dispatch_done/",
        data: {
          'loc_id':value,
        },
        success: function (data) {
           $("#id_subcat").html(data);
        }
      });
}
        function toggleCheckbox2(select) {
value = !select.checked;

    $.ajax({
        url: "/load_onsite_reparing_manager/",
        data: {
          'loc_id':value,
        },
        success: function (data) {
           $("#id_manager_view").html(data);
        }
      });
}

    </script>


							</div>
						</div>
					</div>
				</div>



				<!--end::Purchase-->
			</div>
			<!--end::Content-->
		</div>
		<!--end::Demo Panel-->
		<!--begin::Global Config(global config for global JS scripts)-->

		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="{% static 'plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'plugins/custom/prismjs/prismjs.bundle.js' %}"></script>
<script src="{% static 'js/scripts.bundle.js' %}"></script>
<!--end::Global Theme Bundle-->
<!--begin::Page Vendors(used by this page)-->
<script src="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
<!--end::Page Vendors-->
<!--begin::Page Scripts(used by this page)-->
<script src="{% static 'js/pages/widgets.js' %}"></script>
		<!--end::Page Scripts-->
	</body>
	<!--end::Body-->
</html>