
<div class="form-group row">

    <label class="col-md-2 control-label">Capacity *

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-truck faicons"></i></span>
  <input  name="capacity" disabled required placeholder="Capacity" class="form-control"  type="text" value="{{product_id.max_capacity}}">
    </div>
  </div>
  <label class="col-md-2 control-label">Rate *



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input   disabled required id="rate" placeholder="Rate" class="form-control" step="0.2" type="number" value="{{product_id.selling_price}}">
    </div>
  </div>





</div>
