<div class="form-group row">

    <label class="col-md-2 control-label">HSN(Product DB) *

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-truck faicons"></i></span>
  <input  name="hsn_code" id="hsn_code"  required placeholder="HSN Code" class="form-control"  type="text" value="{{product_id.hsn_code}}">
    </div>
  </div>
  <label class="col-md-2 control-label">Product Description(Product DB)



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
    <textarea style="height:120px;" id="product_desc"  name="product_desc"   class="form-control" >{{product_id.product_desc}}</textarea>
    </div>
  </div>

</div>
<div class="form-group row">

    <label class="col-md-2 control-label">Rate(Product DB) *



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input name="rate"   required id="rate" placeholder="Rate" class="form-control" step="0.2" type="number"  value="{{product_id.selling_price}}">
    </div>
  </div>
    {% if product_id.product_image %}
  <label class="col-md-2 control-label">Product Image(Product DB)



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"></span>
      <input name="product_image" id="product_image" placeholder="Product Image" class="form-control"  type="file">

    </div>
        <img src="{{product_id.product_image.url}}" border="2" height="150" width="150">

  </div>
    {% endif %}

</div>