 <table>
        <tr style="background-color: gray; color: white;">
                    <td style="border-radius: 15px 0px 0px 0px; border: 0px solid gray;">Date</td>
                    <td style="border: 0px solid gray;"> Restamping No </td>
                    <td style="border: 0px solid gray;"> Customer Name </td>
                    <td style="border: 0px solid gray;"> Company Name </td>
                    <td style="border: 0px solid gray;"> Contact No </td>
                    {% if user.role == 'Manager' or user.role == 'Admin' or user.role == 'Super Admin'  %}
                    <td style="border-radius: 0px 15px 0px 0px; border: 0px solid gray;"> Entered By </td>
                    {% else %}
                    <td style="border-radius: 0px 15px 0px 0px; border: 0px solid gray;"> Address </td>
                    {% endif %}


                  </tr>






 <center><p>{{search_msg}}</p></center>
                  {% for list in restamp_list %}

                <tr style="cursor: pointer; " onclick="location.href='/update_restamping_details/{{list.id}}';" class="col-xl-12 col-md-12 mb-12">

<!--                  {% if list.current_stage == 'Scales in Restamping Queue' %}-->
<!--              <div class="card shadow" style="border: 2px solid rgba(120,115,245,.9);" >-->
<!--                  {% elif list.current_stage == 'Restamping is done but scale is not collected' %}-->
<!--              <div class="card shadow" style="border: 2px solid rgba(5,255,163,.9);" >-->
<!--                  {% elif list.current_stage == 'Restamping done and scale also collected' %}-->

<!--                  {% else %}-->


<!--                  {% endif %}-->



                                        <td><center>{{ list.entry_timedate|date:'Y-m-d'}} </center></td>
                    <td><center>{{ list.restamping_no }} </center></td>
                    <td><center>{{ list.second_person }} </center></td>
                    <td><center> {% if list.second_company_name != None and list.second_company_name != '' %} {{list.second_company_name}}{% else %}{% endif %}</center></td>
                    <td><center>{{ list.second_contact_no }} </center></td>
                    {% if user.role == 'Manager' or user.role == 'Admin' or user.role == 'Super Admin'  %}
                    <td><center>{{list.user_id.profile_name}}</center></td>
                    {% else %}
                    <td>{% if list.crm_no.short_address != None and list.crm_no.short_address != '' %}{{list.crm_no.short_address}}{% else %}{% endif %} </td>
                    {% endif %}

              <!--</div>-->
              <!--</div>-->

                    </tr>
                         {% endfor %}
</table>


              <!--</div>-->





            <!--</div>-->






        <!--</div>-->