           {% for list in onsite_list %}
           <table>

<tr style="cursor:pointer;" onclick="location.href='/update_onsite_details/{{list.pk}}'" class="col-xl-12 col-md-12 mb-12">


               {% if list.current_stage == 'Onsite repairing request is raised' %}
			<tr style="cursor: pointer;border: 2px solid rgba(120,115,245,.9); " onclick="location.href='/update_repairing_details/{{list.id}}';" class	="col-xl-12 col-md-12 mb-12">
				{% elif list.current_stage == 'Onsite repairing request is assigned' %}
               <tr style="cursor: pointer; border: 2px solid rgba(5,255,163,.9);" onclick="location.href='/update_repairing_details/{{list.id}}';" class="col-xl-12 col-md-12 mb-12">
                  {% elif list.current_stage == 'Onsite repairing request is completed' %}
              <tr style="cursor: pointer;border: 2px solid rgba(252,98,98,.9); " onclick="location.href='/update_repairing_details/{{list.id}}';" class="col-xl-12 col-md-12 mb-12">
                  {% else %}

                  {% endif %}
  {% if user.role == 'Manager' or user.role == 'Admin' or user.role == 'Super Admin'  %}
                    <td style="width: 7%;">{{list.entry_timedate|date:'Y-m-d'}} </td>
                    <td style="width: 10%;"> {{list.onsite_no}} </td>
                    <td style="width: 20%;">{{ list.second_person }} </td>
                    <td style="width: 15%;"> {% if list.second_company_name != None and list.second_company_name != '' %}{{list.second_company_name}}{% else %}{% endif %}</td>
                    <td style="width: 12%;">{{ list.second_contact_no }} </td>
                  {% else %}
                    {% endif %}
                    {% if user.role == 'Manager' or user.role == 'Admin' or user.role == 'Super Admin'  %}
                    <td style="width: 15%;">{{list.user_id.profile_name}}</td>
                    {% else %}
                    {% endif %}
                    {% if user.role == 'Manager' or user.role == 'Admin' or user.role == 'Super Admin'  %}
                    <td style="width: 20%;">{{list.complaint_assigned_to}}</td>
                    {% else %}
                    {% endif %}
                            {% if user.role == 'Employee' %}
                  <td style="width: 8%;">{{ list.entry_timedate|date:'Y-m-d' }} </td>
                    <td style="width: 9%;"> {{list.onsite_no}} </td>
                    <td style="width: 20%;">{{ list.second_person }} </td>
                    <td style="width: 20%;"> {% if list.second_company_name != None and list.second_company_name != '' %}{{list.second_company_name}}{% else %}{% endif %}</td>
                    <td style="width: 15%;">{{ list.second_contact_no }} </td>
                  <td style="width: 13%;">{% if list.company_email != None and list.company_email != '' %}{{list.company_email}}{% else %}{% endif %} </td>
                  <td style="width: 15%;">{{list.current_stage}} </td>
                              {% else %}
                    {% endif %}
                <!--</div>-->

              <!--</div>-->
</tr>
          {% endfor %}

</table>
