  {% if manager %}

     <div class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">
                <div class="card-body row" style="padding: 5px;color: black; font-weight: 600; font-size: 14px; height: 35px;">
                    <div class="col-xl-4 col-md-1 mb-1"><center> Name </center></div>|
                    <div class="col-xl-4 col-md-1 mb-1"><center> Dispatched This Month </center></div>|
                    <div class="col-xl-3 col-md-1 mb-1"><center> Avg Time(Form to Done) </center></div>


                </div>
              </div>
            </div>
    <br>
<br>
             <div id="id_subcat" class="row">
                  {% for list in dispatch_list2 %}

                <div class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">
                <div class="card-body row" style="padding: 5px;color: black; font-weight: 600; font-size: 14px; height: 35px;">

                    <div class="col-xl-2 col-md-1 mb-1"><center> <a href="/update_dispatch_details/{{list.id}}" >{{ list.user_id }}</a> </center></div>|
                    <div class="col-xl-3 col-md-1 mb-1"><center>{{ list.total_dispatch_done }} </center></div>|
                    <div class="col-xl-3 col-md-1 mb-1"><center>{{ list.avg_time_dispatch_form_to_done }} </center></div>



                    </div>

                </div>
              </div>
                  {% endfor %}
            </div>










{% else %}
  <div class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">
                <div class="card-body row" style="padding: 5px;color: black; font-weight: 600; font-size: 14px; height: 35px;">
                    <div class="col-xl-3 col-md-1 mb-1"><center> Dispatch ID </center></div>|
                    <div class="col-xl-3 col-md-1 mb-1"><center> Company Name </center></div>|
                    <div class="col-xl-3 col-md-1 mb-1"><center> Date Of Dispatch </center></div>|
                    <div class="col-xl-2 col-md-1 mb-1"><center> Dispatched by </center></div>


                </div>
              </div>
            </div>
    <br>
<br>
             <div id="id_subcat" class="row">
                  {% for list in dispatch_list %}

                <div class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">
                <div class="card-body row" style="padding: 5px;color: black; font-weight: 600; font-size: 14px; height: 35px;">

                    <div class="col-xl-2 col-md-1 mb-1"><center> <a href="/update_dispatch_details/{{list.id}}" >{{ list.dispatch_id }}</a> </center></div>|
                    <div class="col-xl-3 col-md-1 mb-1"><center>{{ list.company_name }} </center></div>|
                    <div class="col-xl-3 col-md-1 mb-1"><center>{{ list.date_of_dispatch }} </center></div>|
                    <div class="col-xl-3 col-md-1 mb-1"><center>{{ list.dispatch_by }} </center></div>



                    </div>

                </div>
              </div>
                  {% endfor %}
            </div>




  {% endif %}