<table class="table">
    <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Group</th>
    </tr>
    {% if deleted %}
    <tr>
        <th>List Of Deleted Manager Under Your Work Area</th>
    </tr>
    {% endif %}
    {% for list in manager_list %}
    <tr>
        <td><a href="/update_manager/{{list.id}}" >{{list.name}}</a></td>
        <td>{{list.role}}</td>
        <td>{{list.email}}</td>
        <td>{{list.mobile}}</td>
        <td>{{list.group}}</td>
    </tr>
    {% endfor %}
</table>



<br>