


                {% for list in repair_list%}
              <div class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">
                <div class="card-body row" style="padding: 5px;color: black; font-weight: 600; font-size: 14px; height: 35px;">

                     <div class="col-xl-7 col-md-1 mb-1"><center> <a href="/update_repairing_details/{{list.id}}">{{list.company_name}}</a></center></div>|
                    <div class="col-xl-4 col-md-1 mb-1"><center> Hash Pathak </center> </div>
                    </div>

                </div>
              </div>
                {% endfor %}

