
  {% if manager %}

       <div class="row">


 <div class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">
                <div class="card-body row" style="padding: 3px;color: black; font-weight: 600; font-size: 14px; height: 45px;">



                    <div class="col-xl-2 col-md-1 mb-1"><center> Employee Name </center></div>|
                    <div class="col-xl-1 col-md-1 mb-1"><center> Repairing done </center> </div>|
                    <div class="col-xl-1 col-md-1 mb-1"><center> Target achieved </center> </div>|
                    <div class="col-xl-2 col-md-1 mb-1"><center> Average time to repair scale </center> </div>|
                    <div class="col-xl-3 col-md-1 mb-1"><center> Average time to give Estimate after Scale is submitted </center> </div>|
                    <div class="col-xl-2 col-md-1 mb-1"><center> Feedback</center> </div>
                    </div>



                </div>
              </div>

        </div>





<br>

                <div id="id_subcat" class="row">


                {% for list in user_list%}
              <div style="cursor: pointer; " onclick="location.href='/repairing_employee_graph/{{list.user_id}}';" class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">
                <div class="card-body row" style="padding: 5px;color: black; font-weight: 600; font-size: 14px; height: 35px;">

                     <div class="col-xl-2 col-md-1 mb-1"><center> {{list.user_id.name}}</center></div>|
                    <div class="col-xl-1 col-md-1 mb-1"><center> {{list.total_reparing_done}} </center> </div>|
                    <div class="col-xl-1 col-md-1 mb-1"><center> {{list.reparing_target_given}} </center> </div>|
                    <div class="col-xl-2 col-md-1 mb-1"><center> {{list.reparing_target_given}} </center> </div>|
                    <div class="col-xl-3 col-md-1 mb-1"><center> Need some value </center> </div>|
                     <div class="col-xl-2 col-md-1 mb-1">
                         {% for avg in  list1.start_rating_feedback_reparing|rjust:'5'  %}
							{% if forloop.counter <= list1.start_rating_feedback_reparing %}
									<i class="fa fa-star" aria-hidden="true" style="color: yellow; font-size: 12px;"></i>
							{% else %}
									<i class="fa fa-star" aria-hidden="true" style=" font-size: 12px;"></i>
							{% endif %}
						{% endfor %}

                    </div>
                    </div>

                </div>
              </div>
                {% endfor %}

            </div>

{% else %}

            <div class="row">
              <div class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">
                <div class="card-body row" style="padding: 5px;color: black; font-weight: 600; font-size: 14px; height: auto;">


                    <div class="col-xl-1 col-md-2 mb-1"><center> Reparing No. </center> </div>|
                    <div class="col-xl-2 col-md-2 mb-1"><center> Customer Name </center></div>|
                    <div class="col-xl-2 col-md-2 mb-1"><center> Company Name </center></div>|
                    <div class="col-xl-2 col-md-2 mb-1"><center> Contact No. </center></div>|
                    {% if user.role == 'Manager' or user.role == 'Admin' or user.role == 'Super Admin'  %}
                    <div class="col-xl-2 col-md-1 mb-1 "><center class=""> Entered By </center> </div>|
                    {% else %}
                    <div class="col-xl-2 col-md-1 mb-1 "><center class="">  Email ID </center> </div>|
                    {% endif %}
                    <div class="col-xl-2 col-md-2 mb-1"><center> Taken By </center> </div>
                    </div>
                </div>
              </div>

        </div>


<br>

                <div id="id_subcat" class="row">
 <center><p>{{search_msg}}</p></center>

                  {% for list in repair_list %}
              <div style="cursor: pointer; " onclick="location.href='/update_repairing_details/{{list.id}}';" class="col-xl-12 col-md-12 mb-12">
                  {% if list.current_stage == 'Scale is collected but estimate is not given' %}
              <div class="card shadow" style="border: 2px solid rgba(120,115,245,.9);" >
                  {% elif list.current_stage == 'Estimate is given but Estimate is not confirmed' %}
              <div class="card shadow" style="border: 2px solid rgba(5,255,163,.9);" >
                  {% elif list.current_stage == 'Estimate is confirmed but not repaired' %}
              <div class="card shadow" style="border: 2px solid rgba(252,98,98,.9);" >
                  {% elif list.current_stage == 'Repaired but not collected' %}
              <div class="card shadow" style="border: 2px solid rgba(255,110,196,5.5);" >
                  {% elif list.current_stage == 'Finally Collected' %}
              <div class="card shadow" style="border: 2px solid rgba(69,202,252,.9);" >
                                  {% endif %}

                <div class="card-body row" style="padding: 5px;color: black; font-weight: 600; font-size: 14px; height: auto; ">
                    <div class="col-xl-1 col-md-1 mb-1"><center> {{list.repairing_no}} </center> </div>|
                    <div class="col-xl-2 col-md-1 mb-1"><center> {{list.second_person}}</center></div>|
                    <div class="col-xl-2 col-md-1 mb-1"><center> {% if list.second_company_name != None and list.second_company_name != '' %}{{list.second_company_name}}{% else %}{% endif %}</center></div>|
                    <div class="col-xl-2 col-md-1 mb-1"><center> {{list.second_contact_no}} </center> </div>|

                    <div class="col-xl-2 col-md-1 mb-1 "><center>{{list.entered_by}}</center></div>|

                    {% if user.role == 'Manager' or user.role == 'Admin' or user.role == 'Super Admin'  %}
                    <div class="col-xl-2 col-md-1 mb-1"><center> {{list.taken_by}} </center> </div>
                    {% else %}
                    <div class="col-xl-2 col-md-1 mb-1 ">{% if list.company_email != None and list.company_email != '' %}{{list.company_email}}{% else %}{% endif %} </div>|
                    {% endif %}

                    </div>

                </div>
              </div>
                {% endfor %}

            </div>






        </div>
</div>






  </div>

            </div>



  {% endif %}