 <div class="form-group row">
                      {% if 'Customer Module' in valid_modules.modules_assigned %}

  <label class="col-md-2 control-label ">Purchase Module





</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="Customer Module" id="customCheck1">
  <label class="custom-control-label" for="customCheck1"></label>
  </div>
</div>
        {% endif %}

{% if reparing_true %}
    <label class="col-md-2 control-label">Repairing Module



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="Repairing Module" id="customCheck2">
  <label class="custom-control-label" for="customCheck2"></label>
  </div>


</div>
    {% endif %}

</div>



<div class="form-group row">
                      {% if 'Restamping Module' in valid_modules.modules_assigned %}

  <label class="col-md-2 control-label">Restamping Module





</label>

  <div class="col-md-4 inputGroupContainer">
 <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="Restamping Module" id="customCheck3">
  <label class="custom-control-label" for="customCheck3"></label>
  </div>
</div>
{% endif %}

      <!-- Divider -->
                    {% if 'Dispatch Module' in valid_modules.modules_assigned %}
    <label class="col-md-2 control-label">Dispatch Module





</label>

    <div class="col-md-4 inputGroupContainer">
 <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="Dispatch Module" id="customCheck4">
  <label class="custom-control-label" for="customCheck4"></label>
  </div>

</div>
                    {% endif %}

</div>



<div class="form-group row">
                              {% if 'AMC Module' in valid_modules.modules_assigned %}

  <label class="col-md-2 control-label">AMC Module


</label>
  <div class="col-md-4 inputGroupContainer">
 <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="AMC Module" id="customCheck5">
  <label class="custom-control-label" for="customCheck5"></label>
  </div>
  </div>
        {% endif %}

                    {% if 'Onsite Repairing Module' in valid_modules.modules_assigned %}
    <label class="col-md-2 control-label">Onsite Repairing Module





</label>

    <div class="col-md-4 inputGroupContainer">
 <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="Onsite Repairing Module" id="customCheck6">
  <label class="custom-control-label" for="customCheck6"></label>
  </div>
</div>
          {% endif %}

</div>