<div class="form-group row">
  <label class="col-md-2 control-label">Date Of Purchase



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  <input type="date" name="date_of_purchase" value="{{date_of_purchase|date:'Y-m-d'}}" placeholder="" class="form-control">
    </div>
  </div>


      <label class="col-md-2 control-label">Location



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-map-marker faicons"></i></span>
  <input  name="location" placeholder="Location" value="{{location}}

" class="form-control" required type="text">
    </div>
  </div>



</div>