  {% if manager %}
<div class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">

                <div class="card-body row" style="padding: 5px;color: black; font-weight: 600; font-size: 14px; height: 35px;">



                    <div class="col-xl-3 col-md-1 mb-1"><center> Employee Name </center></div>|
                    <div class="col-xl-2 col-md-1 mb-1"><center> Sales </center> </div>|
                    <div class="col-xl-2 col-md-1 mb-1"><center> Target Given </center></div>|
                    <div class="col-xl-2 col-md-1 mb-1"><center> <p>Stars</p> </center>
                    </div>



                </div>
              </div>
            </div>

            <br>
<style>
  .border-left-primary {
    border-left: .09rem solid #4e73df!important;
    font-size: 12px;

}

a:hover {
  text-decoration: none;
}

</style>

<br>
<br>
            {% for list1 in user_list %}
                <div class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow" >
                <div class="card-body row" style="padding: 5px;color: black; font-weight: 600; font-size: 14px; min-height: 55px;">

                    <div class="col-xl-2 col-md-1 mb-1"> <a href="/customer_employee_sales_graph/{{list1.user_id.pk}}" style="color: black; font-size: 12px;" >{{ list1.user_id.name }}</a> </div>
                    <div class="col-xl-2 col-md-1 mb-1 border-left-primary">{{ list1.total_sales_done}} </div>
                    <div class="col-xl-1 col-md-1 mb-1 border-left-primary">{{ list1.sales_target_given}} </div>

                    <div class="col-xl-2 col-md-1 mb-1 border-left-primary">
                         {% for avg in  list1.start_rating_feedback_sales|rjust:'5'  %}
							{% if forloop.counter <= list1.start_rating_feedback_sales %}
									<i class="fa fa-star" aria-hidden="true" style="color: yellow; font-size: 12px;"></i>
							{% else %}
									<i class="fa fa-star" aria-hidden="true" style=" font-size: 12px;"></i>
							{% endif %}
						{% endfor %}

                    </div>


                    </div>



                </div>
              </div>
            {% endfor %}

{% else %}

  <div class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">
                <div class="card-body row" style="padding: 10px;color: black; font-weight: 600; font-size: 12px; height: 35px; ">



                    <div class="col-xl-2 col-md-1 mb-1" style="margin-left: -14px;"><center> Customer Name </center></div>
                    <div class="col-xl-2 col-md-1 mb-1 "><center class="border-left-primary"> Company Name </center></div>
                    <div class="col-xl-1 col-md-1 mb-1 "><center class="border-left-primary">  CRM No. </center></div>
                    <div class="col-xl-2 col-md-1 mb-1 "><center class="border-left-primary">  Contact No. </center> </div>
                    <div class="col-xl-2 col-md-1 mb-1 "><center class="border-left-primary">   Email Id </center> </div>
                    <div class="col-xl-1 col-md-1 mb-1 "><center class="border-left-primary"> Feedback Fd. </center></div>
                    <div class="col-xl-2 col-md-1 mb-1 "><center class="border-left-primary"> <p>Stars</p> </center>
                    </div>

                </div>
              </div>
            </div>

            <br>
<style>
  .border-left-primary {
    border-left: .09rem solid #4e73df!important;
    font-size: 12px;

}

a:hover {
  text-decoration: none;
}

</style>

<br>
<br>
            {% for list1 in customer_list %}
                <div class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow" >
                <div class="card-body row" style="padding: 5px;color: black; font-weight: 600; font-size: 14px; min-height: 55px;">
                    <div class="col-xl-12 col-md-11 mb-1" style="font-size:10px;">Dispatch Id: {{ list1.dispatch_id_assigned}} </div>

                    <div class="col-xl-2 col-md-1 mb-1"> <a href="/update_customer_details/{{list1.pk}}" style="color: black; font-size: 12px;" >{{ list1.crm_no.customer_name }}</a> </div>
                    <div class="col-xl-2 col-md-1 mb-1 border-left-primary">{{ list1.crm_no.company_name}} </div>
                    <div class="col-xl-1 col-md-1 mb-1 border-left-primary">{{ list1.crm_no.pk}} </div>
                    <div class="col-xl-2 col-md-1 mb-1 border-left-primary">{{ list1.crm_no.contact_no}} </div>
                    <div class="col-xl-2 col-md-1 mb-1 border-left-primary">{{ list1.crm_no.customer_email_id}} </div>
                    <div class="col-xl-1 col-md-1 mb-1 border-left-primary"> {{ list1.feedback_form_filled}}</div>
                    <div class="col-xl-2 col-md-1 mb-1 border-left-primary">
                         {% for avg in  list1.feedback_stars|rjust:'5'  %}
							{% if forloop.counter <= list1.feedback_stars %}
									<i class="fa fa-star" aria-hidden="true" style="color: yellow; font-size: 12px;"></i>
							{% else %}
									<i class="fa fa-star" aria-hidden="true" style=" font-size: 12px;"></i>
							{% endif %}
						{% endfor %}

                    </div>


                    </div>



                </div>
              </div>
            {% endfor %}

    {% endif %}