


  {% for list in onsite_list %}

<div style="cursor:pointer;" onclick="location.href='/update_onsite_details/{{list.pk}}'" class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">
                <div class="card-body row" style="padding: 5px;color: black; font-weight: 600; font-size: 13px; height: 35px;">

                    <div class="col-xl-2 col-md-1 mb-1"><center> {{list.crm_no.company_name}}</center></div>|
                    <div class="col-xl-2 col-md-1 mb-1"><center> {{list.pk}} </center> </div>|
                    <div class="col-xl-3 col-md-1 mb-1"><center> {{list.current_stage}} </center> </div>|
                    <div class="col-xl-2 col-md-1 mb-1"><center> {{list.total_cost}} </center> </div>
                    <div class="col-xl-2 col-md-1 mb-1"><center> {{list.nearest_railwaystation}} </center> </div>


                    </div>


                </div>
              </div>
          {% endfor %}

