        <div class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">
                <div class="card-body row" style="padding: 5px;color: black; font-weight: 600; font-size: 14px; height: 35px;">
                    <div class="col-xl-3 col-md-3 mb-1 cardText"><center> Name </center></div>|
                    <div class="col-xl-4 col-md-4 mb-1 cardText"><center> Contact No</center></div>|
                    <div class="col-xl-2 col-md-1 mb-1"><center> Email Id </center> </div>
                    <div class="col-xl-2 col-md-1 mb-1"><center> Role </center> </div>
                </div>
                </div>
              </div><br><br>
               {% if deleted %}
    <center>
                   <p>List Of Deleted Users Under Your Work Area</p>

               </center>
               {% endif %}

    {% for list in list%}
              <div class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">
                <div class="card-body row" style="padding: 5px;color: black; font-weight: 400; font-size: 14px; height: 35px;">
                    <div class="col-xl-3 col-md-3 mb-1 cardText"><center> <a href="/employee_profile/{{list.pk}}"> {{list.name}} </a></center></div>|
                    <div class="col-xl-4 col-md-4 mb-1 cardText"><center> {{list.mobile}}</center></div>|
                    <div class="col-xl-2 col-md-1 mb-1"><center> {{list.email}} </center> </div>|
                    <div class="col-xl-2 col-md-1 mb-1"><center> {{list.role}} </center> </div>
                </div>
                </div>
              </div>
            {% endfor %}