  {% if manager %}

              <div class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">
                <div class="card-body row" style="padding: 5px;color: black; font-weight: 600; font-size: 14px; height: 35px;">



                    <div class="col-xl-4 col-md-1 mb-1"><center> Name </center></div>|
                    <div class="col-xl-4 col-md-1 mb-1"><center> Restamping This Month </center></div>|
                    <div class="col-xl-3 col-md-1 mb-1"><center> Avg Time(Form to Done) </center></div>


                </div>
              </div>
            </div>



<br>
<br>
                  {% for list in user_list %}

                <div style="cursor: pointer; " onclick="location.href='/restamping_employee_graph/{{list.user_id}}';" class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">
                <div class="card-body row" style="padding: 5px;color: black; font-weight: 600; font-size: 14px; height: 35px;">

                    <div class="col-xl-4 col-md-1 mb-1"><center> {{ list.user_id.name }} </center></div>|
                    <div class="col-xl-4 col-md-1 mb-1"><center>{{ list.total_restamping_done}} </center></div>|
                    <div class="col-xl-1 col-md-1 mb-1"><center>static </center></div>



                    </div>



                </div>
              </div>
                              {% endfor %}


{% else %}
                  <div class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">
                <div class="card-body row" style="padding: 5px;color: black; font-weight: 600; font-size: 14px; height: 35px;">


                    <div class="col-xl-2 col-md-1 mb-1"><center> Customer Name </center></div>|
                    <div class="col-xl-2 col-md-1 mb-1"><center> Contact No </center></div>|
                    <div class="col-xl-3 col-md-1 mb-1"><center> Customer Email </center></div>|
                    <div class="col-xl-2 col-md-1 mb-1"><center> Restamping No </center></div>|
                    <div class="col-xl-2 col-md-1 mb-1"><center> Address </center></div>


                </div>
              </div>
            </div>



<br>
<br>
                  {% for list in restamp_list %}

                <div style="cursor: pointer; " onclick="location.href='/update_restamping_details/{{list.id}}';" class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">
                <div class="card-body row" style="padding: 5px;color: black; font-weight: 600; font-size: 14px; height: 35px;">

                    <div class="col-xl-2 col-md-1 mb-1"><center>{{ list.crm_no.customer_name }} </center></div>|
                    <div class="col-xl-2 col-md-1 mb-1"><center>{{ list.crm_no.contact_no }} </center></div>|
                    <div class="col-xl-3 col-md-1 mb-1"><center>{{ list.crm_no.customer_email_id }} </center></div>|
                    <div class="col-xl-2 col-md-1 mb-1"><center>{{ list.pk }} </center></div>|
                    <div class="col-xl-2 col-md-1 mb-1"><center>{{ list.crm_no.address  }} </center></div>



                    </div>



                </div>
              </div>
                              {% endfor %}


  {% endif %}