  {% if manager %}

              <div class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">
                <div class="card-body row" style="padding: 5px;color: black; font-weight: 600; font-size: 14px; height: 35px;">



                    <div class="col-xl-4 col-md-1 mb-1"><center> Name </center></div>|
                    <div class="col-xl-4 col-md-1 mb-1"><center> Restamping This Month </center></div>|
                    <div class="col-xl-3 col-md-1 mb-1"><center> Avg Time(Form to Done) </center></div>


                </div>
              </div>
            </div>



<br>
<br>
                  {% for list in user_list %}

                <div class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">
                <div class="card-body row" style="padding: 5px;color: black; font-weight: 600; font-size: 14px; height: 35px;">

                    <div class="col-xl-4 col-md-1 mb-1"><center> <a href="/restamping_employee_graph/{{list.user_id}}" >{{ list.user_id.name }}</a> </center></div>|
                    <div class="col-xl-4 col-md-1 mb-1"><center>{{ list.total_restamping_done}} </center></div>|
                    <div class="col-xl-1 col-md-1 mb-1"><center>static </center></div>



                    </div>



                </div>
              </div>
                              {% endfor %}


{% else %}
              <div class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">
                <div class="card-body row" style="padding: 5px;color: black; font-weight: 600; font-size: 14px; height: 35px;">


        <div class="col-xl-2 col-md-1 mb-1"><center> Company Name </center></div>|
                    <div class="col-xl-2 col-md-1 mb-1"><center> Restamping No </center></div>|
                    <div class="col-xl-2 col-md-1 mb-1"><center> New Sr. no. </center></div>|
                    <div class="col-xl-2 col-md-1 mb-1"><center> Brand </center></div>


                </div>
              </div>
            </div>



<br>
<br>
                  {% for list in restamp_list %}

                <div class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">
               <div class="card-body row" style="padding: 5px;color: black; font-weight: 600; font-size: 14px; height: 35px;">

                    <div class="col-xl-4 col-md-1 mb-1"><center> <a href="/update_restamping_details/{{list.id}}" >{{ list.crm_no.company_name }}</a> </center></div>|
                    <div class="col-xl-4 col-md-1 mb-1"><center>{{ list.restampingno }} </center></div>|
                    <div class="col-xl-1 col-md-1 mb-1"><center>{{ list.new_serial_no }} </center></div>
                    <div class="col-xl-1 col-md-1 mb-1"><center>{{ list.brand }} </center></div>



                    </div>



                </div>
              </div>
                              {% endfor %}


  {% endif %}