                   {% if error1 %}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error : </strong> {{error1_msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
                   {% elif error2 %}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error: </strong> {{error2_msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
                   {% elif error3 %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Warning: </strong> {{error3_msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
                    {% elif error4 %}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error: </strong> {{error4_msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
                   {% elif success %}
                   <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success : </strong> {{success_message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
                   {% endif %}
