 <!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HSCO</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/dashboard/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<div id="page-top">

<style>

.container-fluid {
font-size: 14px;
}
  .faicons {
  font-size: 18px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #5a5c69;
  }

  .icon-border {
  border: 1px solid #d1d3e2;
  border-radius: 5px 1px 1px 5px;
  border-right: none;


  }

  .control-label {
  color: black;

  }




</style>
   <style>
          .editableBox {
    width: 100%;
    height: 30px;
}

.timeTextBox {
    width: 154px;
    margin-left: -178px;
    height: 25px;
    border: none;
}


.editableBoxa {
    width: 100%;
    height: 30px;
}

.timeTextBoxa {
    width: 54px;
    margin-left: -78px;
    height: 25px;
    border: none;
}


.editableBoxz {
    width: 100%;
    height: 30px;
}

.timeTextBoxz {
    width: 54px;
    margin-left: -78px;
    height: 25px;
    border: none;
}

        </style>
  <script>
$(document).ready(function(){

    $(".editableBox").change(function(){
        $(".timeTextBox").val($(".editableBox option:selected").html());
    });
});

$(document).ready(function(){

    $(".editableBoxa").change(function(){
        $(".timeTextBoxa").val($(".editableBoxa option:selected").html());
    });
});


$(document).ready(function(){

    $(".editableBoxz").change(function(){
        $(".timeTextBoxz").val($(".editableBoxz option:selected").html());
    });
});
</script>
  <script> function disable() {
  document.getElementById("name").disabled = true;
  }

  function enable() {
   document.getElementById("name").disabled = false;
  }

var form = document.getElementById("contact_form");
var elements = form.elements;
for (var i = 0, len = elements.length; i < len; ++i) {
    elements[i].disabled = true;
}
</script>
  <!-- Page Wrapper -->
  <div id="wrapper"  style="overflow-y: hidden;">
  {% include 'base_templates/sidebar.html' %}

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content" style="background-color: white;">


        <!-- Topbar -->
  {% include 'base_templates/navbar_for_dashboard.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
   <div class="container-fluid" >

              <center>
               <label class=" control-label" style="font-size: 30px;">Repairing Module</label>

              </center>


<br>
<script>
function myFunction() {
  document.getElementById("myText").disabled = false;
    document.getElementById("myText2").disabled = false;
    document.getElementById("myText3").disabled = false;
    document.getElementById("myText3").disabled = false;
    document.getElementById("myText4").disabled = false;
    document.getElementById("myText5").disabled = false;
    document.getElementById("myText6").disabled = false;
    document.getElementById("myText7").disabled = false;
    document.getElementById("myText8").disabled = false;
    document.getElementById("myText9").disabled = false;
    document.getElementById("myText10").disabled = false;
    document.getElementById("myText11").disabled = false;
    document.getElementById("myText12").disabled = false;
    document.getElementById("myText13").disabled = false;
    document.getElementById("myText14").disabled = false;
    document.getElementById("myText15").disabled = false;
    document.getElementById("myText16").disabled = false;
    document.getElementById("myText17").disabled = false;
    document.getElementById("myText18").disabled = false;
    document.getElementById("myText19").disabled = false;
    document.getElementById("myText20").disabled = false;
    document.getElementById("myText21").disabled = false;
    document.getElementById("myText22").disabled = false;
    document.getElementById("myText23").disabled = false;
    document.getElementById("button").disabled = false;


}
</script>
<!--<div style="color:black; font-size: 15px; border: 1px solid black; border-radius: 5px; padding: 15px;" class="row">-->

<!--&lt;!&ndash;<div class="col-xl-4 col-md-4 col-mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;<select name="current_stage" id="display_limit2" class="form-control">&ndash;&gt;-->
    <!--&lt;!&ndash;<option value="-&#45;&#45;&#45;&#45;">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>&ndash;&gt;-->
  <!--&lt;!&ndash;<option value="Scale is collected but estimate is not given">Scale is collected but estimate is not given.</option>&ndash;&gt;-->
  <!--&lt;!&ndash;<option value="Estimate is given but Estimate is not confirmed">Estimate is given but Estimate is not confirmed.</option>&ndash;&gt;-->
  <!--&lt;!&ndash;<option value="Estimate is confirmed but not repaired">Estimate is confirmed but not repaired.</option>&ndash;&gt;-->
  <!--&lt;!&ndash;<option value="Repaired but not collected">Repaired but not collected.</option>&ndash;&gt;-->
  <!--&lt;!&ndash;<option value="Finally Collected">Finally Collected.</option>&ndash;&gt;-->
<!--&lt;!&ndash;</select>&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;<input type="checkbox" name="checks[]" value="Repaired but not collected"> Repaired but not collected. &nbsp; &nbsp; <br>&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;<input type="checkbox" name="checks[]" value="Finally Collected">  &nbsp; &nbsp;&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->




    <!--</div>-->


    <form  class="well form-horizontal" action=" " method="post"  id="contact_form" style="padding:20px;">{% csrf_token %}
<fieldset>

<div class="form-group row">
  <label class="col-md-2 control-label ">Repairing Number


</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="repairingnumber" placeholder="Repairing Number" class="form-control" id="myText" type="text" disabled value="{{repair_id.pk}}">
    </div>
  </div>

    <label class="col-md-2 control-label">Customer Number


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input name="customer_no" placeholder="Customer Number" class="form-control" id="myText2" maxlength="10" type="text" disabled value="{{repair_id.crm_no.pk}}">
    </div>
  </div>



</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Previous Repairing number



</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-card faicons"></i></span>
  <input  name="previous_repairing_number" placeholder="Previous Repairing number " id="myText3" class="form-control" type="text" disabled value="{{repair_id.previous_repairing_number}}">
    </div>
  </div>

    <label class="col-md-2 control-label">In Warranty



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-book faicons"></i></span>
      <input  name="in_warranty" placeholder="Previous Repairing number" class="form-control" id="myText4" type="text" disabled value="{{repair_id.in_warranty}}">
    </div>
  </div>



</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Date of purchase



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  <input type="date" required name="date_of_purchase" placeholder="Date of Purchase" class="form-control" id="myText5"
  type="email" disabled value="{{repair_id.date_of_purchase | date:'Y-m-d'}}">
    </div>
  </div>

  <label class="col-md-2 control-label">Today's Date



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  <input  name="today_date" required placeholder="Today's date" class="form-control" id="myText6" type="date" disabled value="{{repair_id.today_date|date:'Y-m-d'}}">
    </div>
  </div>
</div>



<div class="form-group row">


    <label class="col-md-2 control-label">Name



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="customer_name" placeholder="Name" class="form-control" id="myText7"  type="text" disabled value="{{customer_id.customer_name}}" >
    </div>
  </div>

  <label class="col-md-2 control-label">Company name





</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-building faicons"></i></span>
  <input  name="company_name" placeholder="Company name" class="form-control" id="myText8"  type="text" disabled value="{{customer_id.company_name}}">


     </div>
  </div>
</div>



<div class="form-group row">


    <label class="col-md-2 control-label">Phone Number



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-phone faicons"></i></span>
  <input  name="contact_no" placeholder="Phone Number" class="form-control" id="myText9"  type="text" disabled value="{{customer_id.contact_no}}">
    </div>
  </div>
<label class="col-md-2 control-label">Email-id




</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-envelope faicons"></i></span>
  <input type="email" name="customer_email_id" placeholder="Email-id" id="myText10" class="form-control"  type="text" disabled value="{{customer_id.customer_email_id}}">
    </div>
  </div>
</div>



<div class="form-group row">


    <label class="col-md-2 control-label">Location



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-marker faicons"></i></span>
      <input  name="location" placeholder="Location" class="form-control" id="myText11"  type="text" disabled value="{{repair_id.location}}">
  </div>

</div>




  <!--<label class="col-md-2 control-label">products To be repaired-->




<!--</label>-->
  <!--<div class="col-md-4 inputGroupContainer">-->
  <!--<div class="input-group">-->
  <!--<span class="input-group-addon icon-border"><i class="fa fa-wrench faicons"></i></span>-->
  <!--<input  name="products_to_be_repaired" placeholder="products To be repaired" id="myText12" class="form-control"  type="text" disabled value="{{repair_id.products_to_be_repaired}}">-->
    <!--</div>-->
  <!--</div>-->

    <!--<label class="col-md-2 control-label">Type of Machine-->



<!--</label>-->

    <!--<div class="col-md-4 inputGroupContainer">-->
  <!--<div class="input-group">-->
  <!--<span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>-->
  <!--<input  name="type_of_machine" placeholder="Type of Machine-->

<!--" class="form-control"  type="text" disabled value="{{repair_id.type_of_machine}}">-->
    <!--</div>-->
  <!--</div>-->





<!--<div class="form-group row">-->
  <!--<label class="col-md-2 control-label">Model-->




<!--</label>-->
  <!--<div class="col-md-4 inputGroupContainer">-->
  <!--<div class="input-group">-->
  <!--<span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>-->
  <!--<input  name="model" placeholder="Model-->

<!--" class="form-control"  type="text" disabled value="{{repair_id.model}}">-->
    <!--</div>-->
  <!--</div>-->

    <!--<label class="col-md-2 control-label">Sub model-->



<!--</label>-->

    <!--<div class="col-md-4 inputGroupContainer">-->
  <!--<div class="input-group">-->
  <!--<span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>-->
  <!--<input  name="sub_model" placeholder="Sub model-->

<!--" class="form-control"  type="text" disabled value="{{repair_id.sub_model}}">-->
    <!--</div>-->
  <!--</div>-->

<!--</div>-->



<!--<div class="form-group row">-->
  <!--<label class="col-md-2 control-label">Problem in the scale-->
<!--</label>-->
  <!--<div class="col-md-4 inputGroupContainer">-->
  <!--<div class="input-group">-->
  <!--<span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>-->
  <!--<input  name="problem_in_scale" placeholder="Problem in the scale-->

<!--" class="form-control"  type="text" disabled value="{{repair_id.problem_in_scale}}">-->
    <!--</div>-->
  <!--</div>-->

    <!--<label class="col-md-2 control-label">Components Replaced in Waranty(if scale in Waranty)-->



<!--</label>-->









  <!--<label class="col-md-2 control-label">Cost-->

<!--</label>-->
  <!--<div class="col-md-4 inputGroupContainer">-->
  <!--<div class="input-group">-->
  <!--<span class="input-group-addon icon-border"><i class="fa fa-money faicons"></i></span>-->
  <!--<input  name="cost" placeholder="Cost"  class="form-control"  type="text" disabled value="{{repair_id.cost}}">-->
    <!--</div>-->
  <!--</div>-->

    <label class="col-md-2 control-label">Total Cost




</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-money faicons"></i></span>
  <input  name="total_cost" placeholder="Total Cost" class="form-control"  id="myText12"  type="text" disabled value="{{repair_id.total_cost}}">
    </div>
  </div>
</div>








  <div class="form-group row">


  <label class="col-md-2 control-label">Informed On

</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  <input  name="informed_on" placeholder="Informed On" class="form-control" id="myText13"   type="text" disabled value="{{repair_id.informed_on}}">
    </div>
  </div>



    <label class="col-md-2 control-label">Informed By




</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="informed_by" placeholder="Informed By" class="form-control" id="myText14"   type="text" disabled value="{{repair_id.informed_by}}">
    </div>
  </div>
  </div>








  <div class="form-group row">

  <label class="col-md-2 control-label">Confirmed Estimate

</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-list faicons"></i></span>
  <input type="text" name="confirmed_estimate" class="form-control" id="myText15"  placeholder="Confirmed Estimate" disabled value="{{repair_id.confirmed_estimate}}">
    </div>
  </div>





    <label class="col-md-2 control-label">Repaired




</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-list faicons"></i></span>
  <input type="text" name="repaired" placeholder="Repaired" class="form-control" id="myText16"  disabled value="{{repair_id.repaired}}">
    </div>
  </div>
</div>


<div class="form-group row">
  <label class="col-md-2 control-label">Repaired date

</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  <input type="date" name="repaired_date" placeholder="Repaired date" class="form-control"  id="myText17" required disabled value="{{repair_id.repaired_date|date:'Y-m-d'}}">
    </div>
  </div>










  <label class="col-md-2 control-label">Delivery Date
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  <input type="date" name="delivery_date" placeholder="Delivery Date" class="form-control" id="myText18"  required disabled value="{{repair_id.delivery_date|date:'Y-m-d'}}">
    </div>
  </div>
</div>



  <div class="form-group row">
    <label class="col-md-2 control-label">Delivered By
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="delivery_by" placeholder="Delivery By" class="form-control"  type="text" id="myText19"  disabled value="{{repair_id.delivery_by}}">
    </div>
  </div>




  <label class="col-md-2 control-label">Feedback Given

</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-list faicons"></i></span>
  <input  name="feedback_given" placeholder="Feedback Given" id="myText20"  class="form-control"  type="text" disabled value="{{repair_id.feedback_given}}">
    </div>
  </div>
  </div>


      <div class="form-group row">
    <label class="col-md-2 control-label">Current Stage
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input name="current_stage_old" placeholder="current stage" class="form-control" id="myText21" disabled value="{{repair_id.current_stage}}">

     </div>
  </div>

              <label class="col-md-2 control-label">Update Stage
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
<select name="current_stage" id="display_limi" class="form-control">
  <option value="Scale is collected but estimate is not given">1)Scale is collected but estimate is not given.</option>
  <option value="Estimate is given but Estimate is not confirmed">2)Estimate is given but Estimate is not confirmed.</option>
  <option value="Estimate is confirmed but not repaired">3)Estimate is confirmed but not repaired.</option>
  <option value="Repaired but not collected">4)Repaired but not collected.</option>
  <option value="Finally Collected">5)Finally Collected.</option>
</select>      </div>
  </div>

  </div>


      <div class="form-group row">
    <label class="col-md-2 control-label">Repaired By
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input name="repaired_by" placeholder="Repaired By" class="form-control" id="myText22" disabled value="{{repair_id.repaired_by}}">

     </div>
  </div>

  </div>



<!--<p>"Below Provide Various button to send various SMS and E-mail  like-->
<!--1) Scale Submit sms-->
<!--2) Estimate informed sms-->
<!--3) Repairing done sms-->
<!--4) Late mark sms-->
<!--5) Final Deleviry sms"-->
<!--</p>-->

<center>
  <a  href="repairing_module_home/"><button  id="button"  class="btn btn-primary">Save</button></a>
                        <button  onclick="myFunction()" class="btn btn-primary" type="reset">Edit</button>

</center>



</fieldset>
</form>
<center>
                      <a href="/repair_product/{{repair_id.id}}"> <button class="btn btn-primary">Add Product</button></a>

</center>

          <br>
</div>

                <style>
table {
  font-family: arial, sans-serif;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<br>

<br>
        <h1 style="font-size: 25px; color: black; text-align: center;"> Added Repair List </h1>
  <br>





      <div class="col-xl-12 col-md-12 mb-12">
              {% for list in repair_list %}

              <div class="card shadow">
                <div class="card-body row" style="padding: 15px;color: black; font-weight: 300; font-size: 14px;">

                  <table style="font-size: 14px;">
  <tr>
    <td>Type of Machine:</td>
        <td>{{list.type_of_machine}}</td>
  </tr><tr>
    <td>Model:</td>
  <td>{{list.model}} </td></tr>
<tr>
    <td>Sub Model:</td>
  <td>{{list.sub_model}} </td></tr>
<tr>
    <td>Problem in the scale:</td>
        <td>{{list.problem_in_scale}}</td></tr>
<tr>
    <td>Components Replaced in Waranty(if scale in Waranty):</td>
        <td>{{list.components_replaced_in_warranty}} </td></tr>
<tr>
    <td>Components Replaced:</td>
        <td>{{list.components_replaced}} </td></tr>
<tr>
    <td>Replaced Scale given:</td>
        <td>{{list.replaced_scale_given}}</td></tr>
<tr>
    <td>Replaced scale Serial NO:</td>
        <td>{{list.Replaced_scale_serial_no}}</td></tr>
<tr>
    <td>Deposit taken for replaced Scale:</td>
        <td>{{list.deposite_taken_for_replaced_scale}} </td><s></s>

  </tr>
  <tr>
  </tr>


</table>


                    </div>
                <center>
                <a href="/edit_product/{{list.id}}"><button class="btn btn-primary">Edit</button></a>
</center>
                <br>
              </div>
          {% endfor %}


      </div>
        <br>
              <br>

  </div>
  </div>
</div>

   <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>





  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/dashboard/jquery.min.js' %}"></script>
  <script src="{% static 'js/dashboard/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'jjs/dashboard/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/dashboard/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'js/dashboard/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/dashboard/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/dashboard/chart-pie-demo.js' %}"></script>

      <script>

$(function() {
$("#stars").val("0");
    $("div.star-rating > s").on("click", function(e) {

    // remove all active classes first, needed if user clicks multiple times
    $(this).closest('div').find('.active').removeClass('active');

    $(e.target).parentsUntil("div").addClass('active'); // all elements up from the clicked one excluding self
    $(e.target).addClass('active');  // the element user has clicked on


        var numStars = $(e.target).parentsUntil("div").length+1;
        $("#stars").val(numStars);


    });
});

</script>
      <script>
var stateObject = {
"Table Top Scales": {
"ABS": ['ABS001','ABS002','ABS003','ABS004','ABS005','ABS006'],
"MSS": ['MSS001','MSS002','MSS003','MSS004','MSS005','MSS006'],
"SSS": ['SSS001','SSS002','SSS003','SSS004','SSS005','SSS006'],
"MSB": ['MSB001','MSB002','MSB003','MSB004','MSB005','MSB006'],
"SSB": ['SSB001','SSB002','SSB003','SSB004','SSB005','SSB006'],
"MSBP":['MSBP001','MSBP002','MSBP003','MSBP004','MSBP005','MSBP006'],
"SSBP":['SSBP001','SSBP002','SSBP003','SSBP004','SSBP005','SSBP006'],
"PRCFB":['PRC001','PRC002','PRC003','PRC004','PRC005','PRC006'],
"PRCP":['PRCP001','PRCP002','PRCP003','PRCP004','PRCP005','PRCP006']
},


"POS Scales": {
"PRCPT":['PRCPT001','PRCPT002','PRCPT003','PRCPT004'],
"POSP": ['PRCPT005','PRCPT006','PRCPT007']
},


"Water Proof Scales": {
"ABSWR": ['ABSWR001','ABSWR002','ABSWR003','ABSWR004','ABSWR005','ABSWR006','ABSWR007'],
"SSWR" : ['SSWR001','SSWR002','SSWR003','SSWR004','SSWR005','SSWR006','SSWR007']
},


"Jewellery Scales": {
"JEWE" :['JEWE001','JEWE002','JEWE003','JEWE004','JEWE005','JEWE006','JEWE007']
},



"Lab Scales": {
"LAB" :['LAB001','LAB002','LAB003','LAB004','LAB005','LAB006','LAB007','LAB008']
},



"Hanging Scales": {
"CRS" :['CRS001','CRS002','CRS003','CRS004','CRS005','CRS006']
},



"Crane Scales": {
"CRH" :['CRH001','CRH002','CRH003','CRH004','CRH005','CRH006','CRH007'],
"Crane Scales with Remote Display and Printer" : ['CRH008','CRH009','CRH010','CRH011'],
"Crane Scale with Heat Shield": ['CRH012','CRH013','CRH014'],
"Crane Scale with Hand Held Remote Display": ['CRH015','CRH016','CRH017']
},


"Platform Scales": {
"PLSS" : ['PLSS001','PLSS002','PLSS003','PLSS004','PLSS005','PLSS006','PLSS007'],
"PLCHQ" : ['PLCHQ001','PLCHQ002','PLCHQ003','PLCHQ004','PLCHQ005','PLCHQ006','PLCHQ007'],
"PLCHQH" : ['PLCHQH008','PLCHQH009','PLCHQH010','PLCHQH011','PLCHQH012'],
"PLCHQR": ['PLCHQR013','PLCHQR014','PLCHQR015','PLCHQR016','PLCHQR017'],
"PLSSW": ['PLSSW001','PLSSW002','PLSSW003','PLSSW004','PLSSW005'],
"PLSSWWR": ['PLSSWWR001','PLSSWWR002','PLSSWWR003','PLSSWWR004','PLSSWWR005','PLSSWWR006','PLSSWWR007']
},


"Mobile Platforms": {
"PLSSCHI": ['PLSSCHI001','PLSSCHI002','PLSSCHI003','PLSSCHI004','PLSSCHI005','PLSSCHI006','PLSSCHI007'],
"PLCHQCHI": ['PLCHQCHI001','PLCHQCHI002','PLCHQCHI003','PLCHQCHI004','PLCHQCHI005','PLCHQCHI006','PLCHQCHI007','PLCHQCHI008','PLCHQCHI009','PLCHQCHI010']
},


"Infant Scales": {
"BCI": ['BCI001','BCI002','BCI003','BCI004','BCIC005']
},


"Baby Cum Adult Scales": {
"BCA": ['BCA001','BCA002','BCA003','BCA004']
},


"Animal Scales": {
"AS": ['AS001','AS002','AS003','AS004','AS005']
},


"Cattle Scales": {
"AWSSSG": ['ASSSG001','ASSSG002','ASSSG003','ASSSG004'],
"AWSCIG": ['AWSCIG001','AWSCIG002','AWSCIG003','AWSCIG004','AWSCIG005','AWSCIG006']
},


"Supra Pall Scales": {
"SUP": ['SUP001','SUP002','SUP003','SUP004','SUP005']
},



"Supra Pall Scales": {
"LPG": ['LPG001']
},


}
window.onload = function () {
var countySel = document.getElementById("countySel"),
stateSel = document.getElementById("stateSel"),
districtSel = document.getElementById("districtSel");
for (var country in stateObject) {
countySel.options[countySel.options.length] = new Option(country, country);
}
countySel.onchange = function () {
stateSel.length = 1; // remove all options bar first
districtSel.length = 1; // remove all options bar first
if (this.selectedIndex < 1) return; // done
for (var state in stateObject[this.value]) {
stateSel.options[stateSel.options.length] = new Option(state, state);
}
}
countySel.onchange(); // reset in case page is reloaded
stateSel.onchange = function () {
districtSel.length = 1; // remove all options bar first
if (this.selectedIndex < 1) return; // done
var district = stateObject[countySel.value][this.value];
for (var i = 0; i < district.length; i++) {
districtSel.options[districtSel.options.length] = new Option(district[i], district[i]);
}
}
}
</script>

 </html>

</html>
