 <!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HSCO</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/dashboard/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

<style>

.container-fluid {
font-size: 14px;
}
  .faicons {
  font-size: 18px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #5a5c69;
  }

  .icon-border {
  border: 1px solid #d1d3e2;
  border-radius: 5px 1px 1px 5px;
  border-right: none;


  }

  .control-label {
  color: black;

  }




</style>
   <style>
          .editableBox {
    width: 100%;
    height: 30px;
}

.timeTextBox {
    width: 154px;
    margin-left: -178px;
    height: 25px;
    border: none;
}


.editableBoxa {
    width: 100%;
    height: 30px;
}

.timeTextBoxa {
    width: 54px;
    margin-left: -78px;
    height: 25px;
    border: none;
}


.editableBoxz {
    width: 100%;
    height: 30px;
}

.timeTextBoxz {
    width: 54px;
    margin-left: -78px;
    height: 25px;
    border: none;
}

        </style>


  <script> function disable() {
  document.getElementById("name").disabled = true;
  }

  function enable() {
   document.getElementById("name").disabled = false;
  }

var form = document.getElementById("contact_form");
var elements = form.elements;
for (var i = 0, len = elements.length; i < len; ++i) {
    elements[i].disabled = true;
}
</script>

  <!-- Page Wrapper -->
  <div id="wrapper">
	{% include 'base_templates/sidebar.html' %}

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content" style="background-color: white;">


        <!-- Topbar -->
	{% include 'base_templates/navbar_for_dashboard.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid" >

          <div class="row" style="padding:20px;">
               <label class="col-md-6 control-label">CRM Number: {{customer_id.pk}}</label>
               <label class="col-md-6 control-label">Sales ID: {{purchase_id_id.purchase_no}}</label>

          </div>
<br>
<script>
function myFunction() {

  var x = document.getElementById("myText19");
  var y = document.getElementById("myText20");
  var mode = document.getElementById("payment_mode_id").value;
  if (x != null){
    if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "none";
  } else {
    x.style.display = "none";
    y.style.display = "block";
  }
  }



    document.getElementById("myText").disabled = false;
    document.getElementById("myText2").disabled = false;
    document.getElementById("myText3").disabled = false;
    document.getElementById("myText4").disabled = false;
    document.getElementById("myText5").disabled = false;
    document.getElementById("myText6").disabled = false;
    document.getElementById("myText7").disabled = false;
    document.getElementById("myText8").disabled = false;
    document.getElementById("myText9").disabled = false;
    document.getElementById("myText14").disabled = false;
    document.getElementById("myText15").disabled = false;
    document.getElementById("myText16").disabled = false;
    document.getElementById("myText116").disabled = false;
    document.getElementById("myText17").disabled = false;
    document.getElementById("myText18").disabled = false;
    document.getElementById("myText21").disabled = false;
    document.getElementById("myText22").disabled = false;
    document.getElementById("myText27").disabled = false;
    document.getElementById("tax_amt_id").disabled = false;
    document.getElementById("payment_mode_id").disabled = false;
    document.getElementById("total_pf_id").disabled = false;
    document.getElementById("gst_id").disabled = false;


    <!--if (mode == 'Cheque'){-->
        <!--document.getElementById("bank_name2").disabled = false;-->
        <!--document.getElementById("cheque_no2").disabled = false;-->
        <!--document.getElementById("cheque_date2").disabled = false;-->

    <!--}-->
    <!--else if (mode == 'Credit'){-->
        <!--document.getElementById("credit_authorised_by_id").disabled = false;-->
        <!--document.getElementById("credit_authorised_by_id").disabled = false;-->
    <!--}-->
    <!--else if (mode == 'NEFT'){-->
        <!--document.getElementById("neft_bank_name2").disabled = false;-->
        <!--document.getElementById("neft_date2").disabled = false;-->
        <!--document.getElementById("reference_no2").disabled = false;-->
    <!--}-->


    document.getElementById("myText19").style.display = "block";

}

</script>

{% if channel_error %}
<script>
    alert("Please Select Valid Channel Of Dispatch");
</script>
{% endif %}
    <form class="well form-horizontal" action="" method="POST"  id="contact_form" style="padding:20px;" enctype="multipart/form-data" novalidate>{% csrf_token %}
<fieldset>


<div class="form-group row">
  <label class="col-md-2 control-label ">Name of Customer *
</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="customer_name" placeholder="Full Name" class="form-control" required type="text" disabled id="myText" value="{{purchase_id_id.second_person}}">

    </div>
  </div>

    <label class="col-md-2 control-label">Contact Number *

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-phone faicons"></i></span>
  <input  name="contact_no" placeholder="Contact No" required class="form-control"  type="text" onkeypress="return isNumber(event)" maxlength="10" minlength="10"  pattern="[789][0291]" disabled id="myText4" value="{{purchase_id_id.second_contact_no}}">

    </div>
  </div>
</div>



<div class="form-group row">
     <label class="col-md-2 control-label">Company Name
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-building faicons"></i></span>
  <input name="company_name" placeholder="Company Name" class="form-control"  type="text" disabled id="myText2" value="{% if purchase_id_id.second_company_name != None and purchase_id_id.second_company_name != '' %}{{purchase_id_id.second_company_name}}{% else %}{% endif %}">

    </div>
  </div>
    <label class="col-md-2 control-label">Address *

</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-card faicons"></i></span>
  <input class="form-control" name="customer_address" placeholder="Address" disabled id="myText3" value="{{purchase_id_id.company_address}}">

    </div>
  </div>
</div>



<div class="form-group row">
  <label class="col-md-2 control-label">E-mail Id
  </label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-envelope faicons"></i></span>
  <input name="customer_email_id" placeholder="E-mail Id" class="form-control"  type="email" disabled id="myText5" value="{% if purchase_id_id.company_email != None and purchase_id_id.company_email != '' %}{{purchase_id_id.company_email}}{% else %}{% endif %}">
    </div>
  </div>
{% if purchase_id_id.is_gst == True %}
      <label class="col-md-2 control-label">Customer GST No.
  </label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-envelope faicons"></i></span>
  <input type="text" name="customer_email_id" placeholder="Customer GST No" id="customer_email_id"  class="form-control" value="{{purchase_id_id.crm_no.customer_gst_no}}" >
    </div>
  </div>
{% endif %}
</div>


<hr style="background-color: gray;">
<div class="form-group row">

    <label class="col-md-2 control-label">New/Repeat Sale *</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-envelope-open faicons"></i></span>
  <input name="new_repeat_purchase" value="{{purchase_id_id.new_repeat_purchase}}" placeholder="New/Repeat Purchase" disabled id="myText8" class="form-control"  type="text">
    </div>
  </div>
      <label class="col-md-2 control-label">Bill No</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="bill_no" placeholder="Bill No" class="form-control"  type="text" disabled id="myText15" value="{{purchase_id_id.bill_no}}">
  </div>
  </div>
</div>
   <hr style="background-color: gray;">


<div class="form-group row">

<label class="col-md-2 control-label">Channel of Marketing
</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
 <span class="input-group-addon icon-border"><i class="fa fa-angle-double-down faicons"></i></span>
    <input  type="text"  name="channel_of_marketing" id="myText116" disabled placeholder="Channel of Marketing" value="{{purchase_id_id.channel_of_marketing|default_if_none:''}}" class="form-control" list="channel110">
    <i class="fa fa-angle-double-down faicons" style="margin-left: -40px; z-index:9999; width: 10%;"></i>
    <datalist style="height:20px;" id="channel110">
      <option value="Phone"></option>
      <option value="Whatsapp"></option>
      <option value="Ask"></option>
      <option value="Hsc"></option>
      <option value="Sales"></option>
      <option value="Google"></option>
      <option value="Justdial"></option>
      <option value="Reference from Existing Customer"></option>
      <option value="Existing Customer"></option>
      <option value="BNI"></option>
      <option value="Others"></option>
    </datalist>
    </div>
  </div>


   <label class="col-md-2 control-label">Industry * </label>
    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-angle-double-down faicons"></i></span>
    <input  type="text" required name="industry" placeholder="Industry" class="form-control" disabled id="myText18" value="{{purchase_id_id.industry}}" list="channel2">
        <i class="fa fa-angle-double-down faicons" style="margin-left: -40px; z-index:9999; width: 10%;"></i>
      <datalist style="height:20px;" id="channel2">
      <option value="Energy industry"></option>
      <option value="Chemicals"></option>
      <option value="Industrial Metals "></option>
      <option value="Gold/Gems and precious Metals "></option>
      <option value="Home and Heavy Construction companies "></option>
      <option value="Electrical and Electronic Manufacturers"></option>
      <option value="Industrial Transportation"></option>
      <option value="Agriculture"></option>
      <option value="Poultry/Livestock"></option>
      <option value="Healthcare Equipment and Services"></option>
      <option value="Textiles"></option>
      <option value="Hotels"></option>
      <option value="Grocery/Retail"></option>
      <option value="Bakery"></option>
      <option value="Supplier"></option>
      <option value="BNI"></option>
      <option value="Online Promotion"></option>
      <option value="Fishing"></option>
      <option value="Dealer"></option>

    </datalist>
    </div>
  </div>
</div>


<div class="form-group row" >

  <label class="col-md-2 control-label">Channel of Sales *


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
 <span class="input-group-addon icon-border"><i class="fa fa-angle-double-down faicons"></i></span>
    <input type="text" required name="channel_of_sales" placeholder="Channel of Sales" class="form-control" disabled id="myText16" value="{{purchase_id_id.channel_of_sales}}" list="channel10">
    <i class="fa fa-angle-double-down faicons" style="margin-left: -40px; z-index:9999; width: 10%;"></i>
      <datalist style="height:20px;" id="channel10">
      <option value="Retail through Physical Store"></option>
      <option value="Online Market Places"></option>
      <option value="India Mart"></option>
      <option value="Website"></option>
      <option value="App"></option>
      <option value="Field Salesmen"></option>
      <option value="Fairs and Trade Shows"></option>
    </datalist>
    </div>
  </div>


 <label class="col-md-2 control-label">Channel of Dispatch *
</label>
      <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-angle-double-down faicons"></i></span>
  <input  type="text" name="channel_of_dispatch" placeholder="Channel of Dispatch" required class="form-control" disabled id="myText21" value="{{purchase_id_id.channel_of_dispatch}}" list="channel">
    <i class="fa fa-angle-double-down faicons" style="margin-left: -40px; z-index:9999; width: 10%;"></i>
      <datalist style="height:20px;" id="channel">
      <option value="Courier">
      <option value="Transport">
      <option value="Franchisee Store">
      <option value="Online Market Places">
      <option value="Delivery Boys">
    </datalist>
    </div>
  </div>
</div>
 <hr style="background-color: gray;">


<div class="form-group row">
<label class="col-md-2 control-label">Value of Goods*
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="value_of_goods"  placeholder="Value of Goods"  value="{{purchase_id_id.value_of_goods}}" class="form-control" step="0.2" type="number" {% if request.user.role != 'Super Admin'%} disabled{%endif%} id="myText25">
</div>
  </div>

<label class="col-md-2 control-label">P&F


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="total_pf" disabled id="total_pf_id" onkeyup="calculate_total_amount()"  value="{{purchase_id_id.total_pf|default_if_none:''}}" placeholder="P&F Amount" class="form-control" step="any" type="number">
    </div>
  </div>

</div>
    <div class="form-group row">
 <label class="col-md-2 control-label">Tax Amount</label>
        <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="tax_amount" id="tax_amt_id" onkeyup="calculate_total_amount()" value="{{purchase_id_id.tax_amount}}" disabled placeholder="Tax Amount" class="form-control" step="0.2"  type="number">
    </div>
  </div>
<label class="col-md-2 control-label">Total Amount</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
<input  name="total_amount" id="total_amt_id" value="{{purchase_id_id.total_amount}}" placeholder="Total Amount" {% if request.user.role != 'Super Admin'%} disabled{%endif%}  class="form-control" step="0.2"  type="number">    </div>
  </div>

</div>

    <div class="form-group row">


  <label class="col-md-2 control-label">Payment Mode *
</label>
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-book faicons"></i></span>
<select name="payment_mode" id="payment_mode_id"  onchange="show()"  required disabled class="form-control">
      <option  value="{{purchase_id_id.payment_mode}}">{{purchase_id_id.payment_mode}}</option>
    <option value="Cash">Cash</option>
      <option  value="Credit">Credit</option>
  <option  value="Cheque">Cheque</option>
  <option  value="Razorpay">Razorpay</option>
  <option  value="NEFT">NEFT</option>
</select>
    </div>
  </div>
        <label class="col-md-2 control-label">GST*
</label>
<div class="col xl-12">
<div class="col-md-4 inputGroupContainer">
<div class="custom-control custom-checkbox">
    {% if purchase_id_id.is_gst == True %}
<input type="checkbox" class="custom-control-input" id="gst_id"  name="gst_id"  checked   >
  <label class="custom-control-label" for="gst_id"></label>
    {% else %}
    <input type="checkbox" class="custom-control-input" id="gst_id"  name="gst_id"    >
  <label class="custom-control-label" for="gst_id"></label>
    {% endif %}
  </div>
</div>
</div>
</div>
<div id="payment_cheque2" style="display: none;">
            <div class="form-group row">

<label class="col-md-2 control-label">Bank Name*


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="bank_name"  value="{{purchase_id_id.bank_name|default_if_none:''}}" id="bank_name2" placeholder="Bank Name" class="form-control"  type="text">
    </div>
  </div>

  <label class="col-md-2 control-label">Cheque No*


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="cheque_no" id="cheque_no2"  value="{{purchase_id_id.cheque_no|default_if_none:''}}" placeholder="Cheque Number" class="form-control"  type="text">
    </div>
  </div>


</div>
            <div class="form-group row">

<label class="col-md-2 control-label">Cheque Date*


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="cheque_date"  id="cheque_date2" value="{{purchase_id_id.cheque_date|date:'Y-m-d'}}" placeholder="Cheque Date" class="form-control"  type="date">
    </div>
  </div>

<!--  <label class="col-md-2 control-label">Cheque Notes*-->


<!--</label>-->
<!--  <div class="col-md-4 inputGroupContainer">-->
<!--  <div class="input-group">-->
<!--  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>-->
<!--    <textarea name="cheque_notes" id="cheque_notes"  rows="6" placeholder="Cheque Notes" class="form-control" >{purchase_id_id.cheque_notes}</textarea>-->
<!--    </div>-->
<!--  </div>-->

</div>
      </div>
          <div id="payment_neft2" style="display: none;">
            <div class="form-group row">

<label class="col-md-2 control-label">Bank Name*


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="neft_bank_name"  value="{{purchase_id_id.neft_bank_name|default_if_none:''}}" id="neft_bank_name2" placeholder="Bank Name" class="form-control"  type="text">
    </div>
  </div>

<label class="col-md-2 control-label">NEFT Date*


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="cheque_date" id="neft_date2"  value="{{purchase_id_id.neft_date|date:'Y-m-d'}}" placeholder="Cheque Date" class="form-control"  type="date">
    </div>
  </div>



</div>
            <div class="form-group row">

 <label class="col-md-2 control-label">Reference No


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="reference_no" id="reference_no2"  value="{{purchase_id_id.reference_no|default_if_none:''}}" placeholder="Reference Number" class="form-control"  type="text">
    </div>
  </div>

</div>
      </div>
          <div id="payent_credit2" style="display: none;">
                          <div class="form-group row">

<label class="col-md-2 control-label">Authorised By*


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  id="credit_authorised_by_id"  name="credit_authorised_by" value="{{purchase_id_id.credit_authorised_by|default_if_none:''}}"  placeholder="Authorised By" class="form-control"  type="text">
    </div>
  </div>

<label class="col-md-2 control-label">Pending Amount*


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="credit_pending_amount"  id="credit_pending_amount_id" value="{{purchase_id_id.credit_pending_amount|default_if_none:''}}" placeholder="Pending Amount" class="form-control" step="any" type="number">
    </div>
  </div>



</div>

          </div>
            <div class="form-group row">

<label class="col-md-2 control-label">Notes
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-file faicons"></i></span>
<input name="notes" class="form-control" value="{{purchase_id_id.notes}}" placeholder="Notes" disabled id="myText22">
</div>
  </div>

</div>
<hr style="background-color: gray;">

          <div class="form-group row">
    <label class="col-md-2 control-label">Date of Sale *
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  <input  name="date_of_purchase" placeholder="Date of Sale" required class="form-control"  type="date" disabled id="myText6" value="{{purchase_id_id.date_of_purchase|date:'Y-m-d'}}">
    </div>
  </div>



    <label class="col-md-2 control-label">Sales Person *

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="sales_person" placeholder="Sales Person" value="{{purchase_id_id.sales_person}}" id="myText7" disabled class="form-control"  type="text">
    </div>
  </div>
</div>

    <div class="form-group row">


 <label class="col-md-2 control-label">PO Number</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="po_number" placeholder="PO Number"  class="form-control"  type="text" disabled id="myText9" value="{{purchase_id_id.po_number}}">

    </div>
  </div>



 <label class="col-md-2 control-label">Upload PO File

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
    <input type="file" name="upload_op_file"  class="form-control" disabled id="myText14" value="{{purchase_id_id.upload_op_file}}">

   </div>
        {% if purchase_id_id.upload_op_file %}
        <a style="margin-left:30%;" href="{{purchase_id_id.upload_op_file.url}}">Download PO</a>
        {% endif %}
                  <p>Note: File size must be less than 5 mb </p>

  </div>
    </div>

    <div class="form-group row">
  <label class="col-md-2 control-label">Bill Address
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input name="bill_address" placeholder="Bill Address" class="form-control" disabled id="myText27" value="{{purchase_id_id.bill_address}}" type="text">
    </div>
  </div>

    <label class="col-md-2 control-label">Shipping Address

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input name="shipping_address" placeholder="Shipping Address" class="form-control" disabled id="myText17" value="{{purchase_id_id.shipping_address}}" type="text">
    </div>
  </div>
</div>

         <div class="form-group row">
                <label class="col-md-2 control-label">Bill Notes
                </label>
                  <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                    <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
                    <textarea id="bill_note_id" name="bill_notes" placeholder="Bill Notes" class="form-control">{{purchase_id_id.bill_notes}}</textarea>
                  </div>
                </div>
              </div>

<input hidden id="gst_check" value="{{purchase_id_id.is_gst}}" >

      <script>
      function on_gst(){
                gst_selected = document.getElementById("gst_id").checked;
                if (gst_selected == true){
                      $('#bill_no').attr('required', '');
                }
                else{
                      $('#bill_no').removeAttr('required', '');
                }
          }
                show();

              var gst_check = document.getElementById("gst_check").value;
                if (gst_check == True){
                  document.getElementById("gst_id").checked = true;
                }

          function show(){
              var mode = document.getElementById("payment_mode_id").value;
              var x = document.getElementById("payment_cheque2");
              var y = document.getElementById("payment_neft2");
              var z = document.getElementById("payent_credit2");

              if (mode == 'Cheque'){
                  y.style.display = "none";
                  z.style.display = "none";
                  x.style.display = "block";

                  $('#bank_name2').attr('required', '');
                  $('#cheque_no2').attr('required', '');
                  $('#cheque_date2').attr('required', '');
                  $('#bill_no').attr('required', '');

                  $('#credit_authorised_by_id').removeAttr('required', '');
                  $('#credit_pending_amount_id').removeAttr('required', '')

                  $('#neft_bank_name2').removeAttr('required', '');
                  $('#neft_date2').removeAttr('required', '');
              }

             else if (mode == 'NEFT'){
                  x.style.display = "none";
                  z.style.display = "none";
                  y.style.display = "block";

                  $('#neft_bank_name2').attr('required', '');
                  $('#neft_date2').attr('required', '');
                  $('#bill_no').attr('required', '');

                  $('#credit_authorised_by_id').removeAttr('required', '');
                  $('#credit_pending_amount_id').removeAttr('required', '')

                  $('#bank_name2').removeAttr('required', '');
                  $('#cheque_no2').removeAttr('required', '');
                  $('#cheque_date2').removeAttr('required', '');
              }
              else if (mode == 'Credit'){
                  x.style.display = "none";
                  y.style.display = "none";
                  z.style.display = "block";

                  $('#credit_authorised_by_id').attr('required', '');
                  $('#credit_pending_amount_id').attr('required', '');

                  $('#neft_bank_name2').removeAttr('required', '');
                  $('#neft_date2').removeAttr('required', '');

                  $('#bank_name2').removeAttr('required', '');
                  $('#cheque_no2').removeAttr('required', '');
                  $('#cheque_date2').removeAttr('required', '');
                  document.getElementById("gst_id").checked = false;
              }
              else{
                  if (mode == 'Razorpay'){
                                      $('#bill_no').attr('required', '');

                  }
                  else{
                    document.getElementById("gst_id").checked = false;
                                        $('#bill_no').removeAttr('required', '');

                  }
                  x.style.display = "none";
                  y.style.display = "none";
                  z.style.display = "none";

                  $('#credit_authorised_by_id').removeAttr('required', '');
                  $('#credit_pending_amount_id').removeAttr('required', '');

                  $('#neft_bank_name2').removeAttr('required', '');
                  $('#neft_date2').removeAttr('required', '');

                  $('#bank_name2').removeAttr('required', '');
                  $('#cheque_no2').removeAttr('required', '');
                  $('#cheque_date2').removeAttr('required', '');
              }
              var gst_id = document.getElementById("gst_id").checked;
              var value_of_goods = parseFloat(document.getElementById("myText25").value);
              var tax_amount = parseFloat(document.getElementById("tax_amt_id").value);
              var  pf = parseFloat(document.getElementById("total_pf_id").value);
              if (gst_id == true){
                  document.getElementById("tax_amt_id").value = Math.floor( (value_of_goods  + pf) * 0.18);
                  calculate_total_amount();
              }
              else if(gst_id == false){
                  document.getElementById("tax_amt_id").value = '0.0';
                  calculate_total_amount();
              }

          }
</script>
<script>
    var checkbox = document.querySelector("input[id=gst_id]");

checkbox.addEventListener( 'change', function() {
    var value_of_goods = parseFloat(document.getElementById("myText25").value);
    var tax_amount = parseFloat(document.getElementById("tax_amt_id").value);
    var  pf = parseFloat(document.getElementById("total_pf_id").value);
    if(this.checked) {
        document.getElementById("tax_amt_id").value = Math.floor( (value_of_goods  + pf) * 0.18);
        calculate_total_amount();
    } else {
        document.getElementById("tax_amt_id").value = '0.0';
        calculate_total_amount();
    }
});
</script>
<br>

    <div class="col-md-12 ">
      <br>
    <center>

{% if not purchase_id_id.dispatch_id_assigned and not purchase_id_id.is_quick_entry %}
        <button style="background-color: #FC6E20;" onclick="myFunction()" id="myText20" class="btn btn-primary" type="reset" >Edit</button>

                                          {% endif %}

        {% if request.session.enable_auto_edit %}
        <script>

            document.getElementById("myText20").click();
            document.getElementById("myText20").style.display = "none";

        </script>
        <br>
        <br>
        <button style="background-color: #FC6E20;" id="myText19" type="submit" value="Submit" class="btn btn-primary">Save</button>
<br>
        <a href="{{request.session.lead_url}}">Back To Lead Module</a>
        {% endif %}

          {% if not purchase_id_id.dispatch_id_assigned.dispatch_by == '' and purchase_id_id.dispatch_id_assigned.dispatch_by == 'None' and purchase_id_id.dispatch_id_assigned.dispatch_by == None and not purchase_id_id.is_quick_entry %}

        <button style="background-color: #FC6E20;" onclick="myFunction()" id="myText20" class="btn btn-primary" type="reset" >Edit</button>
                                  {% endif %}



        <br>
        <br>
        <button style="display:none; background-color: #FC6E20;" id="myText19" type="submit" value="Submit" class="btn btn-primary">Save</button>

    <select style="width:150px; background-color: #FC6E20; color:white;" name="payment_mode" id="billBUtton" class="form-control">
  <option value="">Select</option>
  <option value="Cash">Scale</option>
  <option  value="Cheque">Sales</option>
</select>

                  <button style="background-color: #FC6E20;" type="button" value="button1" class="btn btn-primary"><a href="/showBill/{{purchase_id_id.pk}}" target="_blank">Bill</a></button>


      </center>
    </div>
</fieldset>
</form>
                      <center>
              {% if purchase_id_id.is_last_product %}
              {% else %}
                {% if not purchase_id_id.dispatch_id_assigned.dispatch_by == '' and purchase_id_id.dispatch_id_assigned.dispatch_by == 'None' and purchase_id_id.dispatch_id_assigned.dispatch_by == None and not purchase_id_id.is_quick_entry %}

                <a href="/add_product_details/{{purchase_id_id.id}}"> <button style="background-color: #FC6E20;" class="btn btn-primary">Add Product</button></a>

              {% endif %}
              {% endif %}

              {% if not purchase_id_id.dispatch_id_assigned and not purchase_id_id.is_quick_entry %}
                                                  <a href="/add_product_details/{{purchase_id_id.id}}"> <button style="background-color: #FC6E20;" class="btn btn-primary">Add Product</button></a>

                                        {% endif %}

            </center>
<br>
                <style>
table {
  font-family: arial, sans-serif;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<br>
</div>

          <h1 style="font-size: 25px; color: black; text-align: center;"> Added Product List </h1>
  <br>
    {% for list in product_id %}
      <div class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">
<div class="card-body row" style="padding: 15px;color: black; font-weight: 300; font-size: 14px;">
    <!--<div class="col-xl-4 col-md-1 mb-1" style="border-right: 1px solid black;"><center> Product Name: {{list.product_name}} </center></div>-->
               <table style="font-size: 14px;">
  <tr>
    <td>Type of Scale:</td>
        <td>{{list.type_of_scale}}</td>
  </tr><tr>
    <td>Model of Purchase:</td>
  <td>{{list.model_of_purchase}}</td></tr>
               <tr>
<td>Sub Model</td>
<td>{{list.sub_model}} </td></tr>
<tr>
    <td>Sub Sub Model</td>
  <td>{{list.sub_sub_model}} </td></tr>

<tr>
    <td>Serial No. of Scale::</td>
        <td>{{list.serial_no_scale}}</td></tr>
<tr>
    <td>Brand:</td>
        <td>{{list.brand}} </td></tr>
<tr>
    <td>Capacity:</td>
        <td>{{list.capacity}} </td></tr>
<tr>
    <td>Unit:</td>
        <td>{{list.unit}}</td></tr>
<tr>
    <td>Quantity:</td>
        <td>{{list.quantity}}</td></tr>
<tr>
    <td>Amount:</td>
        <td>{{list.amount}} </td><s></s>

  </tr>

                   <tr>
    <td>Godown:</td>
        <td>{{list.godown_id.name_of_godown}} </td>

  </tr>
</table>
              </div>

          <br>
          <br><center>
                            {% if not purchase_id_id.dispatch_id_assigned.dispatch_by == '' and purchase_id_id.dispatch_id_assigned.dispatch_by == 'None' and purchase_id_id.dispatch_id_assigned.dispatch_by == None and not purchase_id_id.is_quick_entry  %}

                  <a href="/edit_product_customer/{{list.id}}"><button style="background-color: #FC6E20;" class="btn btn-primary">Edit</button></a>

                  {% elif user.role == 'Admin' or user.role == 'Super Admin' %}
                                    <a href="/edit_product_customer/{{list.id}}"><button style="background-color: #FC6E20;" class="btn btn-primary">Edit</button></a>

                  {% endif %}

<!--                                             not purchase_id_id.dispatch_id_assigned and not purchase_id_id.is_quick_entry -->
<!--                  <a href="/edit_product_customer/{{list.id}}"><button style="background-color: #FC6E20;" class="btn btn-primary">Edit</button></a>-->

<!--                   endif -->

              </center>
      </div>
                    <br>

          {% endfor %}



          <center>

{% if purchase_id_id.feedback_form_filled %}
     <div class="col-xl-6 col-md-6 mb-4">

              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary" >Feedback From : {{customer_id.company_name}}</h6>
                </div>
                <div class="card-body">
      <div class="row">
    <div class="col-lg-12">


                        <b>Knowledge : </b>{% for avg in feedback.knowledge_of_person|rjust:'5'  %}
{% if forloop.counter <= feedback.knowledge_of_person %}
									<i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
							{% else %}
									<i class="fa fa-star" aria-hidden="true"></i>
							{% endif %}
        						{% endfor %} <br>
                  <b>Timeliness : </b>{% for avg in feedback.timeliness_of_person|rjust:'5'  %}
{% if forloop.counter <= feedback.timeliness_of_person %}
									<i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
							{% else %}
									<i class="fa fa-star" aria-hidden="true"></i>
							{% endif %}
        						{% endfor %}  <br>
                  <b>Price Of Product : </b>{% for avg in feedback.price_of_product|rjust:'5'  %}
{% if forloop.counter <= feedback.price_of_product %}
									<i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
							{% else %}
									<i class="fa fa-star" aria-hidden="true"></i>
							{% endif %}
        						{% endfor %}   <br>
                  <b>Over All Interaction : </b>{% for avg in feedback.overall_interaction|rjust:'5'  %}
{% if forloop.counter <= feedback.overall_interaction %}
									<i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
							{% else %}
									<i class="fa fa-star" aria-hidden="true"></i>
							{% endif %}
        						{% endfor %} <br>
                  <b>About HSCO : </b>{{feedback.about_hsco}} <br>
                  <b>Any Other Suggestions: </b>{{feedback.any_suggestion}} <br>
<!--
                      <b>Ratings : <i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
-->


    </div>
      </div>




            </div>
              </div>
                        </div>
              </center>
{% endif %}





                <!--<center>-->
                              <!--<div class="col-lg-6">-->
              <!--<div class="card shadow mb-4">-->
                <!--<div class="card-header py-3">-->
                  <!--<h6 class="m-0 font-weight-bold text-primary" >Feedback</h6>-->
                <!--</div>-->
                <!--<div class="card-body">-->
      <!--<div class="row">-->
    <!--<div class="col-lg-4">-->

        <!--<form enctype="multipart/form-data" method="post">{% csrf_token %}-->

                        <!--<b>Knowledge : </b>{{ feedback_form.knowledge_of_person }} <br>-->
                  <!--<b>Timeliness : </b>{{feedback_form.timeliness_of_person}} <br>-->
                  <!--<b>Price Of Product : </b>{{feedback_form.price_of_product}} <br>-->
                  <!--<b>Over All Interaction : </b>{{feedback_form.overall_interaction}} <br>-->
                  <!--<b>About HSCO : </b>{{feedback_form.about_hsco}} <br>-->
                  <!--<b>Any Other Suggestions: </b>{{feedback_form.any_suggestion}} <br>-->
<!--&lt;!&ndash;-->
                      <!--<b>Ratings : <i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>-->
<!--&ndash;&gt;-->

								<!--<i class="fa fa-star" aria-hidden="true"></i></b>-->
								<!--<i class="fa fa-star" aria-hidden="true"></i></b>-->
								<!--<i class="fa fa-star" aria-hidden="true"></i></b>-->
								<!--<i class="fa fa-star" aria-hidden="true"></i></b>-->


<!--</form>-->
    <!--</div>-->
      <!--</div>-->



      </div>
        <br>
              <br>

  </div>
  </div>
</div>


  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
<script type="text/javascript">

function calculate_total_amount(){
    var value_of_goods = parseFloat(document.getElementById("myText25").value);
    var tax_amount = parseFloat(document.getElementById("tax_amt_id").value);
    var  pf = parseFloat(document.getElementById("total_pf_id").value);


            var total_amount =Math.floor(value_of_goods + tax_amount + pf);
            document.getElementById("total_amt_id").value = total_amount;

}
  </script>


  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/dashboard/jquery.min.js' %}"></script>
  <script src="{% static 'js/dashboard/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'jjs/dashboard/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/dashboard/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->

  <!-- Page level custom scripts -->

      <script>

$(function() {
$("#stars").val("0");
    $("div.star-rating > s").on("click", function(e) {

    // remove all active classes first, needed if user clicks multiple times
    $(this).closest('div').find('.active').removeClass('active');

    $(e.target).parentsUntil("div").addClass('active'); // all elements up from the clicked one excluding self
    $(e.target).addClass('active');  // the element user has clicked on


        var numStars = $(e.target).parentsUntil("div").length+1;
        $("#stars").val(numStars);


    });
});




</script>

</body>

</html>
