 <!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HSCO</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/dashboard/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

<style>

.container-fluid {
font-size: 14px;
}
  .faicons {
  font-size: 18px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #5a5c69;
  }

  .icon-border {
  border: 1px solid #d1d3e2;
  border-radius: 5px 1px 1px 5px;
  border-right: none;


  }

  .control-label {
  color: black;

  }

</style>
<style>
    .border-right-primary{border-right:.25rem solid #4e73df!important}
</style>
 <script> function disable() {
  document.getElementById("name").disabled = true;
  }

  function enable() {
   document.getElementById("name").disabled = false;
  }

var form = document.getElementById("contact_form");
var elements = form.elements;
for (var i = 0, len = elements.length; i < len; ++i) {
    elements[i].disabled = true;
}
</script>

  <!-- Page Wrapper -->
  <div id="wrapper">
	{% include 'base_templates/sidebar.html' %}

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content" style="background-color: white;">


        <!-- Topbar -->
	{% include 'base_templates/navbar_for_dashboard.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
<div class="container-fluid" >

          <div class="row" style="padding:20px;">
               <label class="col-md-6 control-label">Dispatch Module</label>

          </div>

<br>
<script>
function myFunction() {
  document.getElementById("myText").disabled = false;
    document.getElementById("myText2").disabled = false;
    document.getElementById("myText3").disabled = false;
    document.getElementById("myText4").disabled = false;
    document.getElementById("myText5").disabled = false;
    document.getElementById("myText6").disabled = false;
    document.getElementById("myText7").disabled = false;
    document.getElementById("myText8").disabled = false;
    document.getElementById("myText9").disabled = false;
    document.getElementById("myText10").disabled = false;
    document.getElementById("myText11").disabled = false;
    document.getElementById("myText12").disabled = false;
    document.getElementById("myText13").disabled = false;
    document.getElementById("myText14").disabled = false;
    document.getElementById("myText15").disabled = false;
    document.getElementById("myText16").disabled = false;
    document.getElementById("myText17").disabled = false;
    document.getElementById("myText18").disabled = false;
    document.getElementById("myText19").disabled = false;
    document.getElementById("myText20").disabled = false;
    document.getElementById("myText21").disabled = false;

}
</script>


    <form class="well form-horizontal" action=" " method="post"  id="contact_form" style="padding:20px;" enctype="multipart/form-data">{% csrf_token %}
<fieldset>

<div class="form-group row">
  <label class="col-md-2 control-label ">Dispatch ID

</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-list faicons"></i></span>
  <input  name="dispatch_id" placeholder="Dispatch ID" id="myText" class="form-control"  type="text" disabled value="{{dispatch_item.dispatch_id}}">
    </div>
  </div>

    <label class="col-md-2 control-label">Customer number

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-phone faicons"></i></span>
  <input  name="customer_no" placeholder="Customer number" class="form-control" type="text" id="myText2" disabled value="{{dispatch_item.customer_no}}">
    </div>
  </div>



</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Customer Email ID


</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-card faicons"></i></span>
  <input  name="customer_email" placeholder="Customer Email ID" class="form-control" type="text" id="myText3" disabled value="{{dispatch_item.customer_email}}">
    </div>
  </div>

    <label class="col-md-2 control-label">Customer Name


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="customer_name" placeholder="Customer Name" class="form-control"  type="text" id="myText4" disabled value="{{dispatch_item.customer_name}}">
    </div>
  </div>



</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Company Name


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-building faicons"></i></span>
  <input  name="company_name" placeholder="Company name" class="form-control"  type="text" id="myText5" disabled value="{{dispatch_item.company_name}}">
    </div>
  </div>

    <label class="col-md-2 control-label">customer Address

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-book faicons"></i></span>
<textarea name="customer_address" class="form-control" id="myText6" disabled value="{{dispatch_item.customer_address}}"></textarea>    </div>
  </div>

</div>



<div class="form-group row">
  <!--<label class="col-md-2 control-label">Goods to be Dispatched-->


<!--</label>-->
  <!--<div class="col-md-4 inputGroupContainer">-->
  <!--<div class="input-group">-->
  <!--<span class="input-group-addon icon-border"><i class="fa fa-car faicons"></i></span>-->
  <!--<input  name="first_name" placeholder="Goods to be Dispatched-->
<!--" class="form-control"  type="text">-->
    <!--</div>-->
  <!--</div>-->

    <label class="col-md-2 control-label">Dispatch Date


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  <input type="date" name="date_of_dispatch" id="myText7" placeholder="Dispatch Date" class="form-control" type="text" disabled value="{{dispatch_item.date_of_dispatch|date:'Y-m-d'}}">
    </div>
  </div>





  <label class="col-md-2 control-label">Dispatched By




</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="dispatch_by" placeholder="Dispatched By" id="myText8" class="form-control"  type="text" disabled value="{{dispatch_item.dispatch_by}}">

  </div>
     </div>
  </div>


  <div class="form-group row">

    <label class="col-md-2 control-label">Packed by


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input name="packed_by" placeholder="Packed by" id="myText9" class="form-control"  type="text" disabled value="{{dispatch_item.packed_by}}">
    </div>
  </div>





  <label class="col-md-2 control-label">Hamal Name



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="hamal_name" placeholder="Hamal Name" class="form-control" id="myText10" type="text" disabled value="{{dispatch_item.hamal_name}}">
    </div>
  </div>
  </div>


  <div class="form-group row">



    <label class="col-md-2 control-label">No. of Bundles


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-list faicons"></i></span>
  <input  name="no_bundles" placeholder="No. of Bundles" class="form-control" id="myText11" type="text" disabled value="{{dispatch_item.no_bundles}}">
    </div>
  </div>





  <label class="col-md-2 control-label">Transport  Name



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-car faicons"></i></span>
  <input  name="transport_name" placeholder="Transport Name" class="form-control" id="myText12" type="text" disabled value="{{dispatch_item.transport_name}}">
    </div>
  </div>
  </div>

  <div class="form-group row">


    <label class="col-md-2 control-label">LR NO


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-list faicons"></i></span>
  <input  name="lr_no" placeholder="LR NO" class="form-control" type="text" id="myText13" disabled value="{{dispatch_item.lr_no}}">
    </div>
  </div>





  <label class="col-md-2 control-label">Photo of LR No



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-drivers-license faicons"></i></span>
  <input  name="photo_lr_no" placeholder="Photo of LR No" class="form-control" id="myText14" type="file" disabled value="{{dispatch_item.photo_lr_no}}">
    </div>
  </div>
  </div>

<div class="form-group row">

    <label class="col-md-2 control-label">Channel of Dispatch


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="channel_of_dispatch" placeholder="Channel of Dispatch" class="form-control" id="myText15" type="text" disabled value="{{dispatch_item.channel_of_dispatch}}">
    </div>
  </div>





  <label class="col-md-2 control-label">Notes



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-book faicons"></i></span>
  <input  name="notes" placeholder="Notes" class="form-control" type="text" id="myText16" disabled value="{{dispatch_item.notes}}">
    </div>
  </div>
</div>




<center>
<a href="update_dispatch_details/"><button class="btn btn-primary">Save</button></a>
                        <button  onclick="myFunction()" class="btn btn-primary" type="reset">Edit</button>

</center>


</fieldset>
</form>


          <br>
</div>


  <br>
    {% for list in product_list %}
              <div class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">
                <div class="card-body row" style="padding: 15px;color: black; font-weight: 300; font-size: 14px;">

                  <table style="font-size: 14px;">
  <tr>
    <td> Product Name: </td>
    <td>   {{list.product_name}}</td>
  </tr>
  <tr>
    <td>  Type of Scale:  </td>
    <td> {{list.type_of_scale}}  </td>
  </tr>
  <tr>
    <td> Model of Purchase: </td>
    <td>  {{list.model_of_purchase}}  </td>
  </tr>
  <tr>
    <td>  Sub Model: </td>
    <td>  {{list.sub_model}} </td>
  </tr>
  <tr>
    <td> Sub Sub Model:  </td>
    <td> {{list.sub_sub_model}}  </td>
  </tr>
  <tr>
    <td> Serial No. of Scale:  </td>
    <td> {{list.serial_no_scale}} </td>
  </tr>
  <tr>
    <td>  Brand:</td>
    <td>  {{list.brand}}  </td>
  </tr>
   <tr>
    <td> Capacity:  </td>
    <td>  {{list.capacity}}  </td>
  </tr>
    <tr>
    <td> Quantity:  </td>
    <td> {{list.quantity}}  </td>
  </tr>
                      <tr>
    <td> Unit: </td>
    <td> {{list.unit}}  </td>
  </tr>


</table>


                    </div>
                <center>
                <a href="/edit_product/{{list.id}}"><button class="btn btn-primary">Edit</button></a>
</center>
                <br>
              </div>
      </div>




          {% endfor %}
          <center>
          <!--<a href="/add_product_details/{{cust_id.id}}"> <button class="btn btn-primary">Add Product</button></a>-->
            </center>
          <br>



<br>








</div>

  </div>
    </div>
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/dashboard/jquery.min.js' %}"></script>
  <script src="{% static 'js/dashboard/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'jjs/dashboard/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/dashboard/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'js/dashboard/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/dashboard/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/dashboard/chart-pie-demo.js' %}"></script>
      <script>

$(function() {
$("#stars").val("0");
    $("div.star-rating > s").on("click", function(e) {

    // remove all active classes first, needed if user clicks multiple times
    $(this).closest('div').find('.active').removeClass('active');

    $(e.target).parentsUntil("div").addClass('active'); // all elements up from the clicked one excluding self
    $(e.target).addClass('active');  // the element user has clicked on


        var numStars = $(e.target).parentsUntil("div").length+1;
        $("#stars").val(numStars);


    });
});

</script>

</body>

</html>
