 <!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HSCO</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/dashboard/sb-admin-2.min.css' %}" rel="stylesheet">


</head>

<body id="page-top">

<style>

* {
color:;
}
  .faicons {
  font-size: 18px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #5a5c69;
  }

  .icon-border {
  border: 1px solid #d1d3e2;
  border-radius: 5px 1px 1px 5px;
  border-right: none;


  }

  .control-label {
  color: black;

  }

</style>

  <!-- Page Wrapper -->
  <div id="wrapper">
	{% include 'base_templates/sidebar.html' %}

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content" style="background-color: white;">


        <!-- Topbar -->
	{% include 'base_templates/navbar_for_dashboard.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->

        <div class="container-fluid" >





    <form class="well form-horizontal" action="" method="POST"  id="contact_form" style="padding:20px;" enctype="multipart/form-data" novalidate>{% csrf_token %}
<fieldset>

<div class="form-group row">
  <label class="col-md-2 control-label ">Name
</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="name" placeholder="Full Name"  class="form-control" value="{{manager_id.profile_name}}" type="text">
    </div>
  </div>

    <label class="col-md-2 control-label">Email
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-building faicons"></i></span>
  <input  name="email" placeholder="Email" class="form-control" value="{{manager_id.email}}" type="text">
    </div>
  </div>
</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Mobile

</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-card faicons"></i></span>
  <input type="text" class="form-control" value="{{manager_id.mobile}}" name="mobile" placeholder="Mobile">
 </div>
  </div>

    <label class="col-md-2 control-label">Role

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
    <select   class="form-control" disabled>
  <option value="Manager">Manager</option>
</select>
    </div>
  </div>
</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Group
  </label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-envelope faicons"></i></span>
  <input  name="group" placeholder="Group" class="form-control" value="{{manager_id.group}}"  type="text">
    </div>
  </div>

    <label class="col-md-2 control-label">Is deleted
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <input  name="is_deleted" placeholder="Is deleted" class="form-control" type="checkbox" {% if manager_id.is_deleted == True %} checked {% endif %} >
  </div>
  </div>
</div>


    <!--<label class="col-md-2 control-label">Quantity-->

<!--</label>-->

    <!--<div class="col-md-4 inputGroupContainer">-->
  <!--<div class="input-group">-->
  <!--<span class="input-group-addon icon-border"><i class="fa fa-list faicons"></i></span>-->
  <!--<input  name="quantity" placeholder="Quantity" class="form-control" value=""  type="text">-->
    <!--</div>-->
  <!--</div>-->









  <div class="form-group row">
   <label class="col-md-2 control-label">Modules Assigned
  </label>

    <div class="col xl-12">
  <div class="form-group row">
      {% if 'Customer Module' in admin_id.modules_assigned %}
  <label class="col-md-2 control-label ">Purchase Module





</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="custom-control custom-checkbox">

    <input type="checkbox" class="custom-control-input" name="checks[]"  value="Customer Module" {% if 'Customer Module' in manager_id.modules_assigned %}checked{% endif %} id="customCheck1"   >

  <label class="custom-control-label"  for="customCheck1"></label>
  </div>
</div>
{% endif %}
      {% if "'Repairing Module'" in admin_id.modules_assigned %}
    <label class="col-md-2 control-label">Repairing Module



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="Repairing Module" {% if "'Repairing Module'" in manager_id.modules_assigned %}checked{% endif %} id="customCheck2">
  <label class="custom-control-label" for="customCheck2"></label>
  </div>


</div>
      {% endif %}
</div>



<div class="form-group row">
     {% if 'Restamping Module' in admin_id.modules_assigned %}
  <label class="col-md-2 control-label">Restamping Module





</label>

  <div class="col-md-4 inputGroupContainer">
 <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="Restamping Module" {% if 'Restamping Module' in manager_id.modules_assigned %}checked{% endif %} id="customCheck3">
  <label class="custom-control-label" for="customCheck3"></label>
  </div>
</div>
   {% endif %}
    {% if 'Dispatch Module' in admin_id.modules_assigned %}
    <label class="col-md-2 control-label">Dispatch Module





</label>

    <div class="col-md-4 inputGroupContainer">
 <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="Dispatch Module" {% if 'Dispatch Module' in manager_id.modules_assigned %}checked{% endif %} id="customCheck4">
  <label class="custom-control-label" for="customCheck4"></label>
  </div>

</div>
   {% endif %}
</div>



<div class="form-group row">
    {% if 'AMC Module' in admin_id.modules_assigned %}
  <label class="col-md-2 control-label">AMC Module


</label>
  <div class="col-md-4 inputGroupContainer">
 <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="AMC Module" {% if 'AMC Module' in manager_id.modules_assigned %}checked{% endif %} id="customCheck5">
  <label class="custom-control-label" for="customCheck5"></label>
  </div>
  </div>
 {% endif %}
    {% if 'Onsite Repairing Module' in admin_id.modules_assigned %}
    <label class="col-md-2 control-label">Onsite Repairing Module





</label>

    <div class="col-md-4 inputGroupContainer">
 <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="Onsite Repairing Module" {% if 'Onsite Repairing Module' in manager_id.modules_assigned %}checked{% endif %} id="customCheck6">
  <label class="custom-control-label" for="customCheck6"></label>
  </div>
</div>
     {% endif %}
</div>



  </div>

</div>

  <div class="form-group row">


    <label class="col-md-2 control-label">Average Rating

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
    <input type="text" name="average_rating" id="fileToUpload" placeholder="Average Rating" class="form-control" value="{{manager_id.average_rating}}">
    </div>
  </div>





  <label class="col-md-2 control-label">Bank Name


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="bank_name" placeholder="Bank Name" class="form-control" value="{{manager_id.bank_name}}"  type="text">
    </div>
  </div>
  </div>

  <div class="form-group row">



    <label class="col-md-2 control-label">Account no

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="account_no" placeholder="Account no" class="form-control" value="{{manager_id.account_no}}"  type="text">
    </div>
  </div>




  <label class="col-md-2 control-label">Branch Name



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="branch_name" placeholder="Branch Name" class="form-control" value="{{manager_id.branch_name}}"  type="text">
    </div>
  </div>
  </div>

  <div class="form-group row">


    <label class="col-md-2 control-label">IFSC Code


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  type="text" name="ifsc_code" placeholder="IFSC Code" class="form-control" value="{{manager_id.ifsc_code}}" >
    </div>
  </div>



   <label class="col-md-2 control-label">Photo



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="photo" placeholder="Photo" class="form-control" value="{{manager_id.photo}}"  type="file">
    </div>
  </div>
</div>


<div class="form-group row">
   <label class="col-md-2 control-label">Salary Slip
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="salary_slip" placeholder="Salary Slip" class="form-control"  type="file">
    </div>
  </div>


  <label class="col-md-2 control-label">Date of joining


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="date_of_joining" class="form-control" value="{{manager_id.date_of_joining|date:'Y-m-d'}}"  type="date">
    </div>
  </div>
</div>

     <div class="form-group row">

 <label class="col-md-2 control-label">Password
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="password" placeholder="Password" class="form-control" value="{{manager_id.password}}" type="text" required>
    </div>
  </div>
    </div>


<center>
   <button style="background-color: #FC6E20;" type="submit" value="Submit" class="btn btn-primary">Submit</button>
</center>



  <br>
</fieldset>
    </form>
  <!--Product List-->


                </div>
              </div>
            </div>
      </div>
<br>










  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/dashboard/jquery.min.js' %}"></script>
  <script src="{% static 'js/dashboard/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'jjs/dashboard/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/dashboard/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'js/dashboard/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/dashboard/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/dashboard/chart-pie-demo.js' %}"></script>
    </div>
  </div>

</body>

</html>
