 <!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HSCO</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/dashboard/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">


<style>

.container-fluid {
font-size: 14px;
}
  .faicons {
  font-size: 18px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #5a5c69;
  }

  .icon-border {
  border: 1px solid #d1d3e2;
  border-radius: 5px 1px 1px 5px;
  border-right: none;


  }

  .control-label {
  color: black;

  }

</style>
<style>
    .border-right-primary{border-right:.25rem solid #4e73df!important}
</style>
 <script> function disable() {
  document.getElementById("name").disabled = true;
  }

  function enable() {
   document.getElementById("name").disabled = false;
  }

var form = document.getElementById("contact_form");
var elements = form.elements;
for (var i = 0, len = elements.length; i < len; ++i) {
    elements[i].disabled = true;
}
</script>

  <!-- Page Wrapper -->
  <div id="wrapper">
  {% include 'base_templates/sidebar.html' %}

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content" style="background-color: white;">


        <!-- Topbar -->
  {% include 'base_templates/navbar_for_dashboard.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->

   <div class="container-fluid" >

          <div class="row" style="padding:20px;">
               <label class="col-md-6 control-label">Onsite Repairing Module</label>

          </div>

<br>
<script>
function myFunction() {

  var x = document.getElementById("myText21");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }

  document.getElementById("myText").disabled = true;
    document.getElementById("myText2").disabled = false;
    document.getElementById("myText3").disabled = false;
    document.getElementById("myText3").disabled = false;
    document.getElementById("myText4").disabled = false;
    document.getElementById("myText5").disabled = false;
    document.getElementById("myText6").disabled = false;
    document.getElementById("myText7").disabled = false;
    document.getElementById("myText8").disabled = false;
    document.getElementById("myText9").disabled = false;
    document.getElementById("myText10").disabled = false;
    document.getElementById("myText11").disabled = false;
    document.getElementById("myText12").disabled = false;
    document.getElementById("myText13").disabled = false;
    document.getElementById("myText14").disabled = false;
    document.getElementById("myText15").disabled = false;
    document.getElementById("myText16").disabled = false;
    document.getElementById("myText17").disabled = false;
    document.getElementById("myText18").disabled = false;
    document.getElementById("myText19").disabled = false;
    document.getElementById("myText20").disabled = true;
    document.getElementById("myText21").style.display = "block";

}
</script>

<br>


    <form class="well form-horizontal" ion=" " method="post"  enctype="multipart/form-data" id="contact_form" style="padding:20px;">{% csrf_token %}
<fieldset>

<div class="form-group row">
  <label class="col-md-2 control-label ">Repairing Number *




</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="repairingno" placeholder="Repairing Number" class="form-control" id="myText" type="text" disabled value="{{onsite_id.pk}}">
    </div>
  </div>

    <label class="col-md-2 control-label">Customer Number *


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input name="customer_no" placeholder="Customer Number" maxlength="10" class="form-control" id="myText4" type="text" disabled value="{{onsite_id.crm_no.pk}}">
    </div>
  </div>


</div>



<div class="form-group row">
     <label class="col-md-2 control-label">Customer Name *



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="customer_name" placeholder="Customer Name" id="myText2" class="form-control"  type="text" disabled value="{{onsite_id.crm_no.customer_name}}">
    </div>
  </div>


    <label class="col-md-2 control-label">Phone Number *


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input name="customer_no" placeholder="Customer Number" maxlength="10" class="form-control" id="myText4" type="text" disabled value="{{onsite_id.crm_no.pk}}">
    </div>
  </div>
</div>

<div class="form-group row">
	    <label class="col-md-2 control-label">Customer E-mail id




</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-envelope faicons"></i></span>
  <input type="email" name="customer_email_id" placeholder="Customer E-mail id" class="form-control" id="myText8" disabled value="{{onsite_id.crm_no.customer_email_id}}" >
    </div>
  </div>


    <label class="col-md-2 control-label">Customer Address *

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-card faicons"></i></span>
  <input name="customer_address" placeholder="Customer Address" class="form-control" id="myText10" disabled value="{{onsite_id.crm_no.address}}"/>
    </div>
  </div>
</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Previous Repairing number





</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="previous_repairing_number" placeholder="Previous Repairing number" id="myText5" class="form-control" type="text" disabled value="{{onsite_id.previous_repairing_number}}">
    </div>
  </div>

    <label class="col-md-2 control-label">In Warranty *




</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-card faicons"></i></span>
      <input  name="in_warranty" placeholder="In Warranty" class="form-control" id="myText6" type="text" disabled value="{{onsite_id.in_warranty}}">
    </div>
  </div>

</div>



<div class="form-group row">
 <label class="col-md-2 control-label">Date the complaint was Received *
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  <input required name="date_of_complaint_received" placeholder="Date the complaint was Received" id="myText9" class="form-control" type="date" disabled value="{{onsite_id.date_of_complaint_received|date:'Y-m-d'}}">


     </div>
  </div>
  <label class="col-md-2 control-label">Complaint Received By *






</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-list faicons"></i></span>
  <input  name="complaint_received_by" placeholder="Complaint Received By" id="myText11" class="form-control" type="text" disabled value="{{onsite_id.complaint_received_by}}">
    </div>
  </div>
</div>



<div class="form-group row">
 <label class="col-md-2 control-label">Nearest Railway Station *
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-card faicons"></i></span>
  <input  name="nearest_railwaystation" placeholder="Nearest Railway Station" list="stn_train_list" id="myText12" class="form-control" type="text" disabled value="{{onsite_id.nearest_railwaystation}}">
  <i class="fa fa-angle-double-down faicons" style="margin-left: -40px; z-index:9999; width: 10%;"></i>
      <datalist style="height:20px;" id="stn_train_list">
    <option value = "Airoli"></option>
<option value = "Ambarnath"></option>
<option value = "Ambivli"></option>
<option value = "Andheri"></option>
<option value = "Asangaon"></option>
<option value = "Atgaon"></option>
<option value = "Badlapur"></option>
<option value = "Baman Dongari"></option>
<option value = "Nerul–Uran line"></option>
<option value = "Bandra"></option>
<option value = "Bhandup"></option>
<option value = "Bhayandar"></option>
<option value = "Bhivpuri Road"></option>
<option value = "Bhiwandi"></option>
<option value = "Boisar"></option>
<option value = "Borivali"></option>
<option value = "Byculla"></option>
<option value = "CBD Belapur"></option>
<option value = "Charni Road"></option>
<option value = "Chembur"></option>
<option value = "Shivaji Maharaj Terminus"></option>
<option value = "Chinchpokli"></option>
<option value = "Chunabhatti"></option>
<option value = "Churchgate"></option>
<option value = "Cotton Green"></option>
<option value = "Currey Road"></option>
<option value = "Dadar Western"></option>
<option value = "Dahanu Road"></option>
<option value = "Dahisar"></option>
<option value = "Dativali"></option>
<option value = "Diva"></option>
<option value = "Panvel"></option>
<option value = "Dockyard Road"></option>
<option value = "Dolavli"></option>
<option value = "Dombivli"></option>
<option value = "Prabhadevi"></option>
<option value = "Parel"></option>
<option value = "Gavan"></option>
<option value = "Ghansoli"></option>
<option value = "Ghatkopar"></option>
<option value = "Goregaon"></option>
<option value = "Govandi"></option>
<option value = "Grant Road"></option>
<option value = "Guru Tegh Bahadur Nagar"></option>
<option value = "Jogeshwari"></option>
<option value = "Juchandra"></option>
<option value = "Juinagar"></option>
<option value = "Kalamboli"></option>
<option value = "Kalwa"></option>
<option value = "Kalyan"></option>
<option value = "Kaman Road"></option>
<option value = "Kandivali"></option>
<option value = "Kanjurmarg"></option>
<option value = "Karjat"></option>
<option value = "Kasara"></option>
<option value = "Kelavli"></option>
<option value = "Kelve Road"></option>
<option value = "Khadavli"></option>
<option value = "Khandeshwar"></option>
<option value = "Khar Road"></option>
<option value = "Kharbao"></option>
<option value = "Khardi"></option>
<option value = "Kharghar"></option>
<option value = "Kharkopar"></option>
<option value = "Khopoli"></option>
<option value = "King's Circle"></option>
<option value = "Kopar"></option>
<option value = "Kopar Khairane"></option>
<option value = "Kurla"></option>
<option value = "Lower Parel"></option>
<option value = "Lowjee"></option>
<option value = "Mahalaxmi"></option>
<option value = "Mahim"></option>
<option value = "Malad"></option>
<option value = "Mankhurd"></option>
<option value = "Mansarovar"></option>
<option value = "Marine Lines"></option>
<option value = "Masjid"></option>
<option value = "Matunga"></option>
<option value = "Matunga Road"></option>
<option value = "Mumbai Central"></option>
<option value = "Mira Road"></option>
<option value = "Mumbra"></option>
<option value = "Nahur"></option>
<option value = "Naigaon"></option>
<option value = "Nallasopara"></option>
<option value = "Neral"></option>
<option value = "Nerul"></option>
<option value = "Navade Road"></option>
<option value = "Nhava Sheva"></option>
<option value = "Nilaje"></option>
<option value = "Palghar"></option>
<option value = "Palasdari"></option>
<option value = "Panvel"></option>
<option value = "Harbour Line"></option>
<option value = "Parel"></option>
<option value = "Prabhadevi"></option>
<option value = "Rabale"></option>
<option value = "Ram Mandir"></option>
<option value = "Ranjanpada"></option>
<option value = "Roha"></option>
<option value = "Sagar Sangam"></option>
<option value = "Sandhurst Road"></option>
<option value = "Sanpada"></option>
<option value = "Santacruz"></option>
<option value = "Seawoods–Darave"></option>
<option value = "Saphale"></option>
<option value = "Sion"></option>
<option value = "Shahad"></option>
<option value = "Shelu"></option>
<option value = "Thansit"></option>
<option value = "Targhar"></option>
<option value = "Thane"></option>
<option value = "Thakurli"></option>
<option value = "Titwala"></option>
<option value = "Turbhe"></option>
<option value = "Ulhasnagar"></option>
<option value = "Umbermali"></option>
<option value = "Umroli"></option>
<option value = "Uran City"></option>
<option value = "Wadala Road"></option>
<option value = "Vaitarna"></option>
<option value = "Vangaon"></option>
<option value = "Vangani"></option>
<option value = "Vasai Road"></option>
<option value = "Vashi"></option>
<option value = "Vasind"></option>
<option value = "Vidyavihar"></option>
<option value = "Vikhroli"></option>
<option value = "Vile Parle"></option>
<option value = "Virar"></option>
<option value = "Vithalwadi"></option>
<option value = "Mulund"></option>
<option value = "Tilak Nagar"></option>
<option value = "Sewri"></option>
<option value = "Taloja"></option>
<option value = "Pen"></option>
<option value = "Rasayani"></option>
<option value = "Nagothane"></option>
    </datalist>
  </div>
  </div>

   <label class="col-md-2 control-label">Train Line *

</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-train faicons"></i></span>
  <input  name="train_line" placeholder="Train Line" class="form-control" id="myText13" type="text" id="myText13" list="train_list" disabled value="{{onsite_id.train_line}}">
   <i class="fa fa-angle-double-down faicons" style="margin-left: -40px; z-index:9999; width: 10%;"></i>
      <datalist style="height:20px;" id="train_list">


      <option value = "Western"></option>
      <option value = "Central"></option>
      <option value = "Harbour"></option>
      <option value = "Trans-Harbour"></option>
      <option value = "Nerul–Uran line"></option>

    </datalist>
  </div>
</div>
</div>


<div class="form-group row">

  <label class="col-md-2 control-label">Visiting Charges Told to Customer


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="visiting_charges_told_customer" placeholder="Visiting Charges Told to Customer" id="myText14" class="form-control" type="text" disabled value="{{onsite_id.visiting_charges_told_customer}}">
    </div>
  </div>


   <label class="col-md-2 control-label">Complain Assigned On



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  <input  name="complaint_assigned_on" placeholder="Complain Assigned On" class="form-control" id="myText17" type="text" disabled value="{{onsite_id.complaint_assigned_on}}">
    </div>
  </div>
</div>

<div class="form-group row">

  <label class="col-md-2 control-label">Time Taken to Reach Destination and Return to office in Minutes


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-clock-o faicons"></i></span>
  <input  name="time_taken_destination_return_office_min" placeholder="Time Taken to Reach Destination and Return to office in Minutes"
          class="form-control" id="myText18" type="text" disabled value="{{onsite_id.time_taken_destination_return_office_min}}">
    </div>
  </div>


  <label class="col-md-2 control-label">Notes




</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-list faicons"></i></span>
  <input  name="notes" placeholder="Notes" class="form-control" id="myText19" type="text" disabled value="{{onsite_id.notes}}">
    </div>
  </div>
</div>




 <div class="col-md-12 ">
      <br>
    <center>
        <button style="background-color: #FC6E20;" onclick="myFunction()" class="btn btn-primary" type="reset" style="">Edit</button>
        <br>
        <br>
        <button style="display:none; background-color: #FC6E20;" id="myText21" type="submit" value="Submit" class="btn btn-primary">Save</button>
      </center>
    </div>

</fieldset>
</form>
          <center>

          </center>


                <style>
table {
  font-family: arial, sans-serif;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
       <center>
                  <a href="/add_onsite_product/{{onsite_id.id}}"> <button style="background-color: #FC6E20;" class="btn btn-primary">Add Product</button></a>
        </center>
<br>

</div>
 <h1 style="font-size: 25px; color: black; text-align: center;"> Added Repair List </h1>
  <br>
      <div class="row">
    {% for list in onsite_product_list %}

              <div class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">
                <div class="card-body row" style="padding: 15px;color: black; font-weight: 300; font-size: 14px;">

                  <table style="font-size: 14px;">
  <tr>
    <td> Type of Machine:  </td>
    <td>  {{list.type_of_machine}} </td>
  </tr>
  <tr>
    <td> Model:  </td>
    <td> {{list.model}} </td>
  </tr>
  <tr>
    <td> Sub Model: </td>
    <td> {{list.sub_model}} </td>
  </tr>
  <tr>
    <td> Problem in the scale: </td>
    <td> {{list.problem_in_scale}} </td>
  </tr>
  <tr>
    <td> Components Replaced in Waranty(if scale in Waranty): </td>
    <td>  {{list.components_replaced_in_warranty}}</td>
  </tr>
  <tr>
    <td> Components Replaced: </td>
    <td>  {{list.components_replaced}}   </td>
  </tr>
  <tr>
    <td> Replaced Scale given:  </td>
    <td> {{list.replaced_scale_given}}  </td>
  </tr>
  <tr>
    <td> Replaced scale Serial NO: </td>
    <td> {{list.Replaced_scale_serial_no}}  </td>
  </tr>
  <tr>
    <td> Deposit taken for replaced Scale:  </td>
    <td>{{list.deposite_taken_for_replaced_scale}}  </td>
  </tr>
</table>
                    </div>
                <center>
                <a href="/update_onsite_product/{{list.pk}}"><button style="background-color: #FC6E20;" class="btn btn-primary">Edit</button></a>
</center>
                <br>
              </div>
      </div>

{% endfor %}

      </div>



         <center>

          {% if onsite_id.feedback_given %}
     <div class="col-xl-6 col-md-6 mb-4">

              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary" >Feedback From : {{customer_id.company_name}}</h6>
                </div>
                <div class="card-body">
      <div class="row">
    <div class="col-lg-12">


                        <b>Knowledge : </b>{% for avg in feedback.backend_team|rjust:'5'  %}
{% if forloop.counter <= feedback.backend_team %}
									<i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
							{% else %}
									<i class="fa fa-star" aria-hidden="true"></i>
							{% endif %}
        						{% endfor %} <br>
                  <b>Timeliness : </b>{% for avg in feedback.onsite_worker|rjust:'5'  %}
{% if forloop.counter <= feedback.onsite_worker %}
									<i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
							{% else %}
									<i class="fa fa-star" aria-hidden="true"></i>
							{% endif %}
        						{% endfor %}  <br>
                  <b>Price Of Product : </b>{% for avg in feedback.speed_of_performance|rjust:'5'  %}
{% if forloop.counter <= feedback.speed_of_performance %}
									<i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
							{% else %}
									<i class="fa fa-star" aria-hidden="true"></i>
							{% endif %}
        						{% endfor %}   <br>
                  <b>Over All Interaction : </b>{% for avg in feedback.price_of_reparing|rjust:'5'  %}
{% if forloop.counter <= feedback.price_of_reparing %}
									<i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
							{% else %}
									<i class="fa fa-star" aria-hidden="true"></i>
							{% endif %}
        						{% endfor %} <br>

         <b>Over All Interaction : </b>{% for avg in feedback.overall_interaction|rjust:'5'  %}
{% if forloop.counter <= feedback.overall_interaction %}
									<i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
							{% else %}
									<i class="fa fa-star" aria-hidden="true"></i>
							{% endif %}
        						{% endfor %} <br>
                  <b>About HSCO : </b>{{feedback.about_hsco}} <br>
                  <b>Any Other Suggestions: </b>{{feedback.any_suggestion}} <br>
<!--
                      <b>Ratings : <i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
-->


    </div>
      </div>




            </div>
              </div>
                        </div>
{% endif %}
         </center>
  </div>
  </div>

  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/dashboard/jquery.min.js' %}"></script>
  <script src="{% static 'js/dashboard/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'jjs/dashboard/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/dashboard/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'js/dashboard/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/dashboard/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/dashboard/chart-pie-demo.js' %}"></script>
      <script>

$(function() {
$("#stars").val("0");
    $("div.star-rating > s").on("click", function(e) {

    // remove all active classes first, needed if user clicks multiple times
    $(this).closest('div').find('.active').removeClass('active');

    $(e.target).parentsUntil("div").addClass('active'); // all elements up from the clicked one excluding self
    $(e.target).addClass('active');  // the element user has clicked on


        var numStars = $(e.target).parentsUntil("div").length+1;
        $("#stars").val(numStars);


    });
});

</script>
  </div>
</body>

</html>
