 <!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HSCO</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>


  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/dashboard/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
        {% include 'base_templates/sidebar.html' %}

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">


        <!-- Topbar -->
        {% include 'base_templates/navbar_for_dashboard.html' %}
        <!-- End of Topbar -->

<style>

* {
color:;
}
  .faicons {
  font-size: 18px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #5a5c69;
  }

  .icon-border {
  border: 1px solid #d1d3e2;
  border-radius: 5px 1px 1px 5px;
  border-right: none;


  }

  .control-label {
  color: black;

  }

</style>

 <script> function disable() {
  document.getElementById("name").disabled = true;
  }

  function enable() {
   document.getElementById("name").disabled = false;
  }

var form = document.getElementById("contact_form");
var elements = form.elements;
for (var i = 0, len = elements.length; i < len; ++i) {
    elements[i].disabled = true;
}
</script>
        <!-- Begin Page Content -->
        <div class="container-fluid">
<center>
         <!-- Page Heading -->
            <h1 class="h3 mb-0 text-gray-800"> Restamping Product</h1>
</center>
<br>
<br>



<script>
function myFunction() {

  var x = document.getElementById("myText9");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }

    document.getElementById("myText").disabled = false;
    document.getElementById("myText2").disabled = false;
    document.getElementById("myText3").disabled = false;
    document.getElementById("myText4").disabled = false;
    document.getElementById("myText5").disabled = false;
    document.getElementById("myText6").disabled = false;
    document.getElementById("myText7").disabled = false;
    document.getElementById("myText8").disabled = false;
    document.getElementById("myText9").style.display = "block";

}
</script>

            <form method="POST">{%csrf_token%}










<div class="form-group row">
   <label class="col-md-2 control-label">Scale Type



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
    <input  type="text" name="scale_type" disabled id="myText" value="{{restamping_product_id.scale_type}}" placeholder="Scale Type" class="form-control" >

    </div>
  </div>

 <label class="col-md-2 control-label">Sub Model



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>
    <input  type="text" name="sub_model" disabled id="myText2" value="{{restamping_product_id.sub_model}}" placeholder="Sub Model" class="form-control" >

    </div>
  </div>

</div>



<div class="form-group row">

              <label class="col-md-2 control-label">New Serial No
           </label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-sort-numeric-desc faicons"></i></span>
    <input  type="text" name="new_sr_no" id="myText3" disabled placeholder="New Serial No" class="form-control" value="{{restamping_product_id.new_sr_no}}" >

    </div>
  </div>

     <label class="col-md-2 control-label">Old Serial No



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-sort-numeric-asc faicons"></i></span>
    <input  type="text" name="old_serial_no" disabled id="myText4" value="{{restamping_product_id.old_serial_no}}" placeholder="Old Serial No" class="form-control" >

    </div>
  </div>

</div>





  <div class="form-group row">
   <label class="col-md-2 control-label">Brand



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-institution faicons"></i></span>
    <input  type="text" name="old_brand" disabled id="myText5" value="{{restamping_product_id.brand}}" placeholder="Brand" class="form-control" >

    </div>
  </div>

    <label class="col-md-2 control-label">Amount
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-money faicons"></i></span>
  <input  name="amount" disabled id="myText6" value="{{restamping_product_id.amount}}" placeholder="Amount" class="form-control"  type="text">
    </div>
  </div>

</div>

       <div class="form-group row">


                   <label class="col-md-2 control-label">Capacity



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-truck faicons"></i></span>
    <input  type="text" name="capacity" disabled id="myText7" value="{{restamping_product_id.capacity}}" placeholder="Capacity" class="form-control" >

    </div>
  </div>
       </div>


            <br>
    <div class="col-md-12 ">
      <br>
    <center>
        <button  onclick="myFunction()" class="btn btn-primary" type="reset" style="">Edit</button>
        <br>
        <br>
        <button style="display:none;" id="myText9" type="submit" value="Submit" class="btn btn-primary">Save</button>
      </center>
    </div>
            </form>



  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/dashboard/jquery.min.js' %}"></script>
  <script src="{% static 'js/dashboard/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'jjs/dashboard/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/dashboard/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'js/dashboard/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/dashboard/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/dashboard/chart-pie-demo.js' %}"></script>
       <script>

$(function() {
$("#stars").val("0");
    $("div.star-rating > s").on("click", function(e) {

    // remove all active classes first, needed if user clicks multiple times
    $(this).closest('div').find('.active').removeClass('active');

    $(e.target).parentsUntil("div").addClass('active'); // all elements up from the clicked one excluding self
    $(e.target).addClass('active');  // the element user has clicked on


        var numStars = $(e.target).parentsUntil("div").length+1;
        $("#stars").val(numStars);


    });
});

</script>
      </div>
    </div>
  </div>
</body>

</html>
