 <!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HSCO</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/dashboard/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

<style>

* {
color:;
}
  .faicons {
  font-size: 18px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #5a5c69;
  }

  .icon-border {
  border: 1px solid #d1d3e2;
  border-radius: 5px 1px 1px 5px;
  border-right: none;


  }

  .control-label {
  color: black;

  }

</style>


  <script> function disable() {
  document.getElementById("name").disabled = true;
  }

  function enable() {
   document.getElementById("name").disabled = false;
  }

var form = document.getElementById("contact_form");
var elements = form.elements;
for (var i = 0, len = elements.length; i < len; ++i) {
    elements[i].disabled = true;
}
</script>

  <!-- Page Wrapper -->
  <div id="wrapper">
	{% include 'base_templates/sidebar.html' %}

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content" style="background-color: white;">


        <!-- Topbar -->
	{% include 'base_templates/navbar_for_dashboard.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid" >

          <div class="row" style="padding:20px;">
               <label class="col-md-6 control-label">CRM Number:{{cust_id.pk}}</label>

          </div>
<br>
<script>
function myFunction() {
  document.getElementById("myText").disabled = false;
    document.getElementById("myText2").disabled = false;
    document.getElementById("myText3").disabled = false;
    document.getElementById("myText4").disabled = false;
    document.getElementById("myText5").disabled = false;
    document.getElementById("myText6").disabled = false;
    document.getElementById("myText7").disabled = false;
    document.getElementById("myText8").disabled = false;
    document.getElementById("myText9").disabled = false;
    document.getElementById("myText10").disabled = false;
    document.getElementById("myText11").disabled = false;
    document.getElementById("myText12").disabled = false;
    document.getElementById("myText13").disabled = false;
    document.getElementById("myText14").disabled = false;
    document.getElementById("myText15").disabled = false;
    document.getElementById("myText16").disabled = false;
    document.getElementById("myText17").disabled = false;
    document.getElementById("myText18").disabled = false;

}
</script>



    <form class="well form-horizontal" action="" method="POST"  id="contact_form" style="padding:20px;" enctype="multipart/form-data" novalidate>{% csrf_token %}
<fieldset>

    <div class="form-group row">
  <label class="col-md-2 control-label ">CRM No. {{crm_no}}
</label>
</div>

<div class="form-group row">
  <label class="col-md-2 control-label ">Name of customer
</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="customer_name" placeholder="Full Name"  class="form-control" required type="text" disabled id="myText" value="{{customer_id.customer_name}}">

    </div>
  </div>

    <label class="col-md-2 control-label">Company Name
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-building faicons"></i></span>
  <input  name="company_name" placeholder="Company Name" class="form-control"  type="text" disabled id="myText2" value="{{customer_id.company_name}}">

    </div>
  </div>
</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Address

</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-card faicons"></i></span>
  <input class="form-control" name="address" required placeholder="Address" disabled id="myText3" value="{{customer_id.address}}">

    </div>
  </div>

    <label class="col-md-2 control-label">Contact Number

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-phone faicons"></i></span>
  <input  name="contact_no" placeholder="Contact No" required class="form-control"  type="number" pattern="[789][0291]" disabled id="myText4" value="{{customer_id.contact_no}}">

    </div>
  </div>
</div>



<div class="form-group row">
  <label class="col-md-2 control-label">E-mail Id
  </label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-envelope faicons"></i></span>
  <input type="email" name="customer_email_id" placeholder="E-mail Id" class="form-control"  type="email" disabled id="myText5" value="{{customer_id.customer_email_id}}">

    </div>
  </div>

    <label class="col-md-2 control-label">Date of Purchase
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  <input  name="date_of_purchase" placeholder="Date of Purchase" required class="form-control"  type="date" disabled id="myText6" value="{{purchase_id_id.date_of_purchase|date:'Y-m-d'}}">

    </div>
  </div>
</div>



<div class="form-group row">





  <!--<label class="col-md-2 control-label">Type of Scale-->


<!--</label>-->
  <!--<div class="col-md-4 inputGroupContainer">-->
  <!--<div class="input-group">-->
  <!--<span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>-->

    <!--<select name="type_of_scale" class="form-control selectpicker">-->
      <!--<option value="">Type of Scale</option>-->

      <!--<option >Type A</option>-->
      <!--<option >Type B</option>-->
      <!--<option >Type C</option>-->
      <!--<option >Type D</option>-->
      <!--<option >Type E</option>-->
      <!--<option >Type F</option>-->
      <!--<option >Type G</option>-->
    <!--</select>-->
     <!--</div>-->
  <!--</div>-->

    <!--<label class="col-md-2 control-label">Model of Purchase-->

<!--</label>-->

    <!--<div class="col-md-4 inputGroupContainer">-->
  <!--<div class="input-group">-->
  <!--<span class="input-group-addon icon-border"><i class="fa fa-drivers-license faicons"></i></span>-->
  <!--<input  name="model_of_purchase" placeholder="Model of Purchase" class="form-control"  type="text">-->
    <!--</div>-->
  <!--</div>-->





<!--<div class="form-group row">-->
  <!--<label class="col-md-2 control-label">Sub Sub Model-->


<!--</label>-->
  <!--<div class="col-md-4 inputGroupContainer">-->
  <!--<div class="input-group">-->
  <!--<span class="input-group-addon icon-border"><i class="fa fa-drivers-license faicons"></i></span>-->
  <!--<input  name="sub_sub_model" placeholder="Sub Sub Model" class="form-control"  type="text">-->
    <!--</div>-->
  <!--</div>-->

    <!--<label class="col-md-2 control-label">Serial No. of Scale-->

<!--</label>-->

    <!--<div class="col-md-4 inputGroupContainer">-->
  <!--<div class="input-group">-->
  <!--<span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>-->
  <!--<input  name="serial_no_scale" placeholder="Serial No. of Scale" class="form-control"  type="text">-->
    <!--</div>-->
  <!--</div>-->

<!--</div>-->



<!--<div class="form-group row">-->
  <!--<label class="col-md-2 control-label">Brand-->


<!--</label>-->
  <!--<div class="col-md-4 inputGroupContainer">-->
  <!--<div class="input-group">-->
  <!--<span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>-->
  <!--<input  name="brand" placeholder="Brand" class="form-control"  type="text">-->
    <!--</div>-->
  <!--</div>-->

    <!--<label class="col-md-2 control-label">Capacity-->

<!--</label>-->

    <!--<div class="col-md-4 inputGroupContainer">-->
  <!--<div class="input-group">-->
  <!--<span class="input-group-addon icon-border"><i class="fa fa-balance-scale faicons"></i></span>-->
  <!--<input  name="capacity" placeholder="Capacity" class="form-control"  type="text">-->
    <!--</div>-->
  <!--</div>-->

<!--</div>-->



<!--<div class="form-group row">-->
  <!--<label class="col-md-2 con  trol-label">Unit-->


<!--</label>-->
  <!--<div class="col-md-4 inputGroupContainer">-->
  <!--<div class="input-group">-->
  <!--<span class="input-group-addon icon-border"><i class="fa fa-list faicons"></i></span>-->
  <!--<input  name="unit" placeholder="Unit" class="form-control"  type="text">-->
    <!--</div>-->
  <!--</div>-->



    <label class="col-md-2 control-label">Sales Person

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="first_name" placeholder="Sales Person" id="myText7" disabled class="form-control"  type="text">
    </div>
  </div>








  <label class="col-md-2 control-label">New/Repeat Purchase


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-envelope-open faicons"></i></span>
  <input  name="first_name" placeholder="New/Repeat Purchase" disabled id="myText8" class="form-control"  type="text">
    </div>
  </div>
</div>


<div class="form-group row" >

    <label class="col-md-2 control-label">Bill No

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="bill_no" placeholder="Bill No" class="form-control"  type="text" disabled id="myText9" value="{{purchase_id_id.bill_no}}">

    </div>
  </div>


 <label class="col-md-2 control-label">Upload PO File

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
    <input type="file" name="upload_op_file" class="form-control" disabled id="myText10" value="{{cust_id.upload_op_file}}">

    </div>
  </div>
</div>



<div class="form-group row">
  <label class="col-md-2 control-label">PO Number


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="po_number" placeholder="PO Number" class="form-control"  type="text" disabled id="myText11" value="{{purchase_id_id.po_number}}">

    </div>
  </div>

    <label class="col-md-2 control-label">Upload LR Photo

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
    <input type="file" name="photo_lr_no" class="form-control" disabled id="myText12" value="{{purchase_id_id.photo_lr_no}}">

    </div>
  </div>

</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Channel of Sales


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="channel_of_sales" placeholder="Channel of Sales" class="form-control"  type="text" disabled id="myText13" value="{{purchase_id_id.channel_of_sales}}">
    </div>
  </div>

    <label class="col-md-2 control-label">Industry

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="industry" placeholder="Industry" class="form-control"  type="text" disabled id="myText14" value="{{purchase_id_id.industry}}">

    </div>
  </div>

</div>


<div class="form-group row">
  <label class="col-md-2 control-label">Value of Goods
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="value_of_goods" placeholder="Value of Goods" class="form-control"  type="text" disabled id="myText15" value="{{purchase_id_id.value_of_goods}}">
    </div>
  </div>
    <label class="col-md-2 control-label">Channel of Dispatch
</label>
    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="channel_of_dispatch" placeholder="Channel of Dispatch" class="form-control"  type="text" disabled id="myText16" value="{{purchase_id_id.channel_of_dispatch}}">

    </div>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-2 control-label">Notes
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-file faicons"></i></span>
<input name="notes" class="form-control" placeholder="Notes" disabled id="myText17" value="{{cust_id.notes}}">

</div>
  </div>

    <label class="col-md-2 control-label">Feedback Form Filled by me


</label>

    <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
        <span class="input-group-addon icon-border"><i class="fa fa-file faicons"></i></span>
        <input class="form-control" placeholder="Yes or No" disabled id="myText18" value="{{purchase_id_id.feedback_form_filled}}">
      </div>
    </div>
</div>
    <div class="form-group row">


    <label class="col-md-2 control-label">Dispatch ID

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-list faicons"></i></span>
  <input  name="dispatch_id_assigned" placeholder="Quantity" class="form-control" disabled value="{{purchase_id_id.dispatch_id_assigned}}" type="text">
    </div>
  </div>
    </div>
<br>

    <div class="col-md-12 inputGroupContainer">
      <br>
    <center>
        <button type="submit" value="Submit" class="btn btn-primary">Save</button>
      </center>
    </div>
</fieldset>
</form>

         <center>
                      <button  onclick="myFunction()" class="btn btn-primary">Edit</button>

          </center>

</div>

          <h1 style="font-size: 25px; color: black; text-align: center;"> Added Product List </h1>
  <br>
    {% for list in product_list %}
      <div class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow">
                <div class="card-body row" style="padding: 5px;color: black; font-weight: 600; font-size: 14px;">



                    <div class="col-xl-4 col-md-1 mb-1" style="border-right: 1px solid black;"><center> Product Name: {{list.product_name}} </center></div>
                    <div class="col-xl-4 col-md-1 mb-1" style="border-right: 1px solid black;"><center> Type of Scale: {{list.type_of_scale}} </center></div>
                    <div class="col-xl-4 col-md-1 mb-1" style="border-right: 1px solid black;"><center> Model of Purchase: {{list.model_of_purchase}}  </center></div>

                  <div class="col-xl-4 col-md-1 mb-1"><center> Sub Model: {{list.sub_model}}  </center> </div>
                    <div class="col-xl-4 col-md-1 mb-1" style="border-right: 1px solid black;"><center> Sub Sub Model: {{list.sub_sub_model}}  </center></div>
                  <div class="col-xl-4 col-md-1 mb-1" style="border-right: 1px solid black;"><center> Serial No. of Scale: {{list.serial_no_scale}} </center> </div>
                  <div class="col-xl-4 col-md-1 mb-1" style="border-right: 1px solid black;"><center> Sales Person: {{list.sales_person}} </center> </div>

                  <div class="col-xl-4 col-md-1 mb-1"><center> Brand: {{list.brand}}  </center> </div>
                  <div class="col-xl-4 col-md-1 mb-1"><center> Capacity: {{list.capacity}}  </center> </div>
                  <div class="col-xl-4 col-md-1 mb-1"><center> Quantity: {{list.quantity}}  </center> </div>
                  <div class="col-xl-4 col-md-1 mb-1" style="border-right: 1px solid black;"><center> Unit: {{list.unit}}  </center> </div>

                    </div>

              </div>
          <br><center> <a href="/edit_product_customer/{{list.id}}"><button class="btn btn-primary">Edit</button></a></center>
      </div>
                    <br>

          {% endfor %}
          <center>
          <a href="/add_product_details/{{purchase_id_id.id}}"> <button class="btn btn-primary">Add Product</button></a>
            </center>
          <br>
</div>
                <center>
                              <div class="col-lg-6">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary" >Feedback</h6>
                </div>
                <div class="card-body">
      <div class="row">
    <div class="col-lg-4">

        <form enctype="multipart/form-data" method="post">{% csrf_token %}

                        <b>Knowledge : </b>{{ feedback_form.knowledge_of_person }} <br>
                  <b>Timeliness : </b>{{feedback_form.timeliness_of_person}} <br>
                  <b>Price Of Product : </b>{{feedback_form.price_of_product}} <br>
                  <b>Over All Interaction : </b>{{feedback_form.overall_interaction}} <br>
                  <b>About HSCO : </b>{{feedback_form.about_hsco}} <br>
                  <b>Any Other Suggestions: </b>{{feedback_form.any_suggestion}} <br>
<!--
                      <b>Ratings : <i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
-->

								<i class="fa fa-star" aria-hidden="true"></i></b>
								<i class="fa fa-star" aria-hidden="true"></i></b>
								<i class="fa fa-star" aria-hidden="true"></i></b>
								<i class="fa fa-star" aria-hidden="true"></i></b>


</form>
    </div>
      </div>




            </div>
              </div>
                              </div>
                </center>
  </div>










          </div>
                </div>
              </div>

            </div>


  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/dashboard/jquery.min.js' %}"></script>
  <script src="{% static 'js/dashboard/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'jjs/dashboard/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/dashboard/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'js/dashboard/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/dashboard/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/dashboard/chart-pie-demo.js' %}"></script>
      <script>

$(function() {
$("#stars").val("0");
    $("div.star-rating > s").on("click", function(e) {

    // remove all active classes first, needed if user clicks multiple times
    $(this).closest('div').find('.active').removeClass('active');

    $(e.target).parentsUntil("div").addClass('active'); // all elements up from the clicked one excluding self
    $(e.target).addClass('active');  // the element user has clicked on


        var numStars = $(e.target).parentsUntil("div").length+1;
        $("#stars").val(numStars);


    });
});


</script>
    </div>
  </div>
</body>

</html>
