 <!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HSCO</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Custom styles for this template-->
  <link href="{% static 'css/dashboard/sb-admin-2.min.css' %}" rel="stylesheet">


</head>

<body id="page-top">

<style>

* {
color:;
}
  .faicons {
  font-size: 18px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #5a5c69;
  }

  .icon-border {
  border: 1px solid #d1d3e2;
  border-radius: 5px 1px 1px 5px;
  border-right: none;


  }

  .control-label {
  color: black;

  }

</style>

  <!-- Page Wrapper -->
  <div id="wrapper">
	{% include 'base_templates/sidebar.html' %}

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content" style="background-color: white;">


        <!-- Topbar -->
	{% include 'base_templates/navbar_for_dashboard.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->

        <div class="container-fluid" >

{% if messages %}
    {% for message in messages %}
             {% if message.tags == 'success' %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Success : </strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    {% elif message.tags == 'error' %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error : </strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    {% endif %}


             {% endfor %}

{% endif %}
            <br>



    <form class="well form-horizontal" action="" method="POST" onsubmit="return isOneChecked();" autocomplete="off"  id="contact_form" style="padding:20px;" enctype="multipart/form-data" >{% csrf_token %}
<fieldset>

<div class="form-group row">
  <label class="col-md-2 control-label ">Name
</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="name" placeholder="Full Name"  class="form-control" value="{{employee_id.profile_name}}" type="text">
    </div>
  </div>

    <label class="col-md-2 control-label">Email
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-building faicons"></i></span>
  <input  name="email" placeholder="Email" class="form-control" value="{{employee_id.email}}" type="text">
    </div>
  </div>
</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Mobile

</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-card faicons"></i></span>
  <input type="text" class="form-control" value="{{employee_id.mobile}}" name="mobile" placeholder="Mobile">
    </div>
  </div>

    <label class="col-md-2 control-label">Role

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
    <select  name="{{role}}" class="form-control" disabled>
  <option value="employee">Employee</option>
</select>
    </div>
  </div>
</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Group
  </label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-envelope faicons"></i></span>
  <input  name="group" placeholder="Group" class="form-control" value="{{employee_id.group}}"  type="text">
    </div>
  </div>

     <label class="col-md-2 control-label">Is deleted
</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <input  name="is_deleted" placeholder="Is deleted" class="form-control" type="checkbox" {% if employee_id.is_deleted == True %} checked {% endif %} >
  </div>
  </div>
</div>


    <!--<label class="col-md-2 control-label">Quantity-->

<!--</label>-->

    <!--<div class="col-md-4 inputGroupContainer">-->
  <!--<div class="input-group">-->
  <!--<span class="input-group-addon icon-border"><i class="fa fa-list faicons"></i></span>-->
  <!--<input  name="quantity" placeholder="Quantity" class="form-control" value=""  type="text">-->
    <!--</div>-->
  <!--</div>-->









  <div class="form-group row">
 <label class="col-md-2 control-label">Modules Assigned
  </label>

    <div class="col xl-12">
  <div class="form-group row">
      {% if 'Customer Module' in request.user.modules_assigned %}
  <label class="col-md-2 control-label ">Sales Module





</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="custom-control custom-checkbox">

    <input type="checkbox" class="custom-control-input" name="checks[]"  value="Customer Module" {% if 'Customer Module' in employee_id.modules_assigned %}checked{% endif %} id="customCheck1"   >

  <label class="custom-control-label"  for="customCheck1"></label>
  </div>
</div>
{% endif %}
       {% if 'Repairing Module' in request.user.modules_assigned %}
    <label class="col-md-2 control-label">Repairing Module



</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="Repairing Module" {% if "'Repairing Module'" in employee_id.modules_assigned %}checked{% endif %} id="customCheck2">
  <label class="custom-control-label" for="customCheck2"></label>
  </div>


</div>
      {% endif %}
</div>



<div class="form-group row">
    {% if 'Restamping Module' in request.user.modules_assigned %}
  <label class="col-md-2 control-label">Restamping Module





</label>

  <div class="col-md-4 inputGroupContainer">
 <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="Restamping Module" {% if 'Restamping Module' in employee_id.modules_assigned %}checked{% endif %} id="customCheck3">
  <label class="custom-control-label" for="customCheck3"></label>
  </div>
</div>
  {% endif %}
    {% if 'Dispatch Module' in request.user.modules_assigned %}
    <label class="col-md-2 control-label">Dispatch Module





</label>

    <div class="col-md-4 inputGroupContainer">
 <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="Dispatch Module" {% if 'Dispatch Module' in employee_id.modules_assigned %}checked{% endif %} id="customCheck4">
  <label class="custom-control-label" for="customCheck4"></label>
  </div>

</div>
  {% endif %}
</div>



<div class="form-group row">
    {% if 'AMC Module' in request.user.modules_assigned %}
  <label class="col-md-2 control-label">AMC Module


</label>
  <div class="col-md-4 inputGroupContainer">
 <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="AMC Module" {% if 'AMC Module' in employee_id.modules_assigned %}checked{% endif %} id="customCheck5">
  <label class="custom-control-label" for="customCheck5"></label>
  </div>
  </div>
 {% endif %}
    {% if 'Onsite Repairing Module' in request.user.modules_assigned %}
    <label class="col-md-2 control-label">Onsite Repairing Module





</label>

    <div class="col-md-4 inputGroupContainer">
 <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="Onsite Repairing Module" {% if 'Onsite Repairing Module' in employee_id.modules_assigned %}checked{% endif %} id="customCheck6">
  <label class="custom-control-label" for="customCheck6"></label>
  </div>
</div>
     {% endif %}
</div>

<div class="form-group row">
    {% if 'Lead Module' in request.user.modules_assigned %}
  <label class="col-md-2 control-label">Lead Module


</label>
  <div class="col-md-4 inputGroupContainer">
 <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="Lead Module" {% if 'Lead Module' in employee_id.modules_assigned %}checked{% endif %} id="customCheck7">
  <label class="custom-control-label" for="customCheck7"></label>
  </div>
  </div>
 {% endif %}

 {% if 'Stock Module' in request.user.modules_assigned %}

            <label class="col-md-2 control-label">Stock Module


</label>
  <div class="col-md-4 inputGroupContainer">
 <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="Stock Module" {% if 'Stock Module' in employee_id.modules_assigned %}checked{% endif %} id="customCheck8">
  <label class="custom-control-label" for="customCheck8"></label>
  </div>
  </div>
     {% endif %}

</div>
        <div class="form-group row">
                {% if 'Career Module' in request.user.modules_assigned %}

             <label class="col-md-2 control-label">Career Module


</label>
  <div class="col-md-4 inputGroupContainer">
 <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="Career Module" {% if 'Career Module' in employee_id.modules_assigned %}checked{% endif %} id="customCheck9">
  <label class="custom-control-label" for="customCheck9"></label>
  </div>
  </div>
                 {% endif %}
                 {% if 'Bill Module' in request.user.modules_assigned %}

             <label class="col-md-2 control-label">Bill Module


</label>
  <div class="col-md-4 inputGroupContainer">
 <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="Bill Module" {% if 'Bill Module' in employee_id.modules_assigned %}checked{% endif %} id="customCheck91">
  <label class="custom-control-label" for="customCheck91"></label>
  </div>
  </div>
                 {% endif %}

        </div>

        <div class="form-group row">
                {% if 'Career Module' in request.user.modules_assigned %}

             <label class="col-md-2 control-label">Expense Module


</label>
  <div class="col-md-4 inputGroupContainer">
 <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="Expense Module" {% if 'Expense Module' in employee_id.modules_assigned %}checked{% endif %} id="customCheck92">
  <label class="custom-control-label" for="customCheck92"></label>
  </div>
  </div>
                 {% endif %}
                 

        </div>



        <div class="form-group row">
    {% if 'Indiamart Leads' in request.user.modules_assigned %}
  <label class="col-md-2 control-label">Indiamart Leads


</label>
  <div class="col-md-4 inputGroupContainer">
 <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="Indiamart Leads" {% if 'Indiamart Leads' in employee_id.modules_assigned %}checked{% endif %} id="customCheck10">
  <label class="custom-control-label" for="customCheck10"></label>
  </div>
  </div>
 {% endif %}

 {% if 'Hsco Website Leads' in request.user.modules_assigned %}

            <label class="col-md-2 control-label">Hsco Website Leads


</label>
  <div class="col-md-4 inputGroupContainer">
 <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="checks[]" value="Hsco Website Leads" {% if 'Hsco Website Leads' in employee_id.modules_assigned %}checked{% endif %} id="customCheck11">
  <label class="custom-control-label" for="customCheck11"></label>
  </div>
  </div>
     {% endif %}

</div>
{% if user.product_master_access %}
         <div class="form-group row">
             <label class="col-md-2 control-label">Product Master


</label>
  <div class="col-md-4 inputGroupContainer">
 <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" name="product_master" value="True" {% if employee_id.product_master_access == True %}checked{% endif %} id="customCheck12">
  <label class="custom-control-label" for="customCheck12"></label>
  </div>
  </div>
         </div>
      {% endif %}
  </div>


</div>

  <div class="form-group row">


    <label class="col-md-2 control-label">Average Rating

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
    <input type="text" name="average_rating" id="fileToUpload" placeholder="Average Rating" class="form-control" value="{{employee_id.average_rating}}">
    </div>
  </div>





  <label class="col-md-2 control-label">Bank Name


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="bank_name" placeholder="Bank Name" class="form-control" value="{{employee_id.bank_name}}"  type="text">
    </div>
  </div>
  </div>

  <div class="form-group row">



    <label class="col-md-2 control-label">Account no

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>

  <input  name="account_no" placeholder="Account no" class="form-control" value="{{employee_id.account_number}}"  type="text">
    </div>
  </div>




  <label class="col-md-2 control-label">Branch Name



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="branch_name" placeholder="Branch Name" class="form-control" value="{{employee_id.branch_name}}"  type="text">
    </div>
  </div>
  </div>

  <div class="form-group row">


    <label class="col-md-2 control-label">IFSC Code


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  type="text" name="ifsc_code" placeholder="IFSC Code" class="form-control" value="{{employee_id.ifsc_code}}" >
    </div>
  </div>



   <label class="col-md-2 control-label">Photo



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="photo" placeholder="Photo" class="form-control" value="{{employee_id.photo}}"  type="file">
    </div>
  </div>
</div>



<div class="form-group row">
   <label class="col-md-2 control-label">Salary Slip
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="salary_slip" placeholder="Salary Slip" class="form-control"  type="file">
    </div>
  </div>

    <label class="col-md-2 control-label">Date of joining *


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>

  <input  name="date_of_joining" required placeholder="Date of joining" class="form-control" value="{{employee_id.date_of_joining|date:'Y-m-d'}}"  type="text">
    </div>
  </div>
</div>

         <div class="form-group row">

 <label class="col-md-2 control-label">Password
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="password" placeholder="Password" class="form-control" value="{{employee_id.password_text}}" type="text" required>
    </div>
  </div>

             <label class="col-md-2 control-label">Employee Number
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input name="employee_number" placeholder="Employee ID" class="form-control" value="{{employee_id.employee_number}}" type="text" required>
    </div>
  </div>
    </div>

     <div class="form-group row">
   <label class="col-md-2 control-label"> Pan Card
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
        <input name="pancard" id="pancard" placeholder="Pan Card Number" class="form-control" value="{% if employee_id.pancard == None %}{% else %}{{employee_id.pancard}}{% endif %}" type="text">

    </div>
  </div>

   <label class="col-md-2 control-label">Aadhar Card
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
      <input type="text" name="aadhar_card" placeholder="Aadhar Card Number" data-type="adhaar-number" maxLength="19" class="form-control" value="{% if employee_id.aadhar_card == None or employee_id.aadhar_card == 'None' %}{% else %}{{employee_id.aadhar_card}}{% endif %}" >

  </div>
    </div>
</div>
<div class="form-group row">
   <label class="col-md-2 control-label">Upload Pan Card
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="upload_pancard" placeholder="Upload Pan Card" class="form-control"  type="file">
    </div>
      {% if employee_id.upload_pancard %}
      <img src="{{employee_id.upload_pancard.url}}" width="250" height="250">
      <br>
      NOTE: Right click on image to download
      {% endif %}
  </div>

   <label class="col-md-2 control-label">Upload Aadhar Card
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input name="upload_aadhar_card" placeholder="Upload Aadhar Card" class="form-control" type="file" >
  </div>
      {% if employee_id.upload_aadhar_card %}
      <img src="{{employee_id.upload_aadhar_card.url}}" width="250" height="250">
      <br>
      NOTE: Right click on image to download
      {% endif %}
    </div>
</div>

    <div class="separator"><b>Professional Email configuration</b></div>
<br>
    <div class="form-group row">
   <label class="col-md-2 control-label">Email ID
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
        <input name="professional_email" placeholder="Enter Email" class="form-control" value="{% if employee_id.professional_email == None %}{% else %}{{employee_id.professional_email}}{% endif %}" type="text">

    </div>
  </div>

   <label class="col-md-2 control-label">Password
</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
      <input type="text" name="professional_email_password" placeholder="Enter Password" class="form-control" value="{% if employee_id.professional_email_password == None %}{% else %}{{employee_id.professional_email_password}}{% endif %}" >

  </div>
    </div>
</div>
<br>
<center>
   <button style="background-color: #FC6E20;" type="submit" value="Submit" class="btn btn-primary">Submit</button>
</center>



  <br>
</fieldset>
    </form>
  <!--Product List-->
<!--              <center>-->
<!--               <button style="background-color: #FC6E20;" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Test Email Credentials</button>-->
<!--            </center>-->
  <!--Product List-->
<br>
<script>
$('[data-type="adhaar-number"]').keyup(function() {
  var value = $(this).val();
  value = value.replace(/\D/g, "").split(/(?:([\d]{4}))/g).filter(s => s.length > 0).join("-");
  $(this).val(value);
});



function isOneChecked(){
    var panVal = $('#pancard').val();
    var regpan = /^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$/;

if(panVal == ""){

if ($('[data-type="adhaar-number"]').val() !== ""){
  if ($('[data-type="adhaar-number"]').val().length != $('[data-type="adhaar-number"]').attr("maxLength")) {
       alert("Invalid Aadhar Card Number");
       return false;
  } else {
       return true;
  }
}else{
return true;
}


}
else{

if(regpan.test(panVal)){
if ($('[data-type="adhaar-number"]').val() !== ""){
  if ($('[data-type="adhaar-number"]').val().length != $('[data-type="adhaar-number"]').attr("maxLength")) {
    alert("Invalid Aadhar Card Number");
   return false;
  } else {
    return true;
  }
}else{
return true;
}


} else {
   alert("Invalid Pancard Number");
   return false;
}

}


}


</script>

                </div>
              </div>
            </div>
      </div>
<br>



  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Test Email Credentials</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">


        <div class="row" >

           <div class="col-md-12">
               <h5>Credentials:</h5>
               <span>Email Id: {% if employee_id.professional_email == None %}{% else %}{{employee_id.professional_email}}{% endif %}</span><br>
               <span>Password: {% if employee_id.professional_email_password == None %}{% else %}{{employee_id.professional_email_password}}{% endif %}</span>
           </div>
  <br>
            <div class="col-md-12">
            <form action="" method="post" >{% csrf_token %}
                <input type="hidden" name="test_professional_email" value="{{employee_id.professional_email}}">
                <input type="hidden" name="test_professional_email_password" value="{{employee_id.professional_email_password}}">
<!--                <span>To:</span>-->
                <br>
                <input placeholder="Your Email" name="test_to" class="form-control">

                      <center>
<br>
            <button type="submit" id="test_submit" name="test_submit" class="btn btn-primary">CHECK</button><br><br>
                    <div id="spinner-border" class="spinner-border text-info" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <script>
$(document).ready(function(){
$("#spinner-border").hide();
  $("#test_submit").click(function(){
    $("#spinner-border").show();
  });

});
</script>
        </center>
            </form>
            </div>
        </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>







  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/dashboard/jquery.min.js' %}"></script>
  <script src="{% static 'js/dashboard/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'jjs/dashboard/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/dashboard/sb-admin-2.min.js' %}"></script>


</body>

</html>
