
<!DOCTYPE html>

<html lang="en">
	<!--begin::Head-->
	<head><base href="">
		{% load static %}
		<meta charset="utf-8" />
		<title></title>
		<meta name="description" content="Updates and statistics" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Page Vendors Styles(used by this page)-->
		<link href="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" />
		<!--end::Page Vendors Styles-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="{% static 'plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'plugins/custom/prismjs/prismjs.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->
		<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="header-mobile-fixed subheader-enabled aside-enabled aside-fixed aside-secondary-enabled page-loading">
		<!--begin::Main-->
		<!--begin::Header Mobile-->
		<div id="kt_header_mobile" class="header-mobile">
			<!--begin::Logo-->
			<a href="/">
				<h1>HSCo</h1>
			</a>
			<!--end::Logo-->
			<!--begin::Toolbar-->
			<div class="d-flex align-items-center">
				<button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
					<span></span>
				</button>
			</div>
			<!--end::Toolbar-->
		</div>
		<!--end::Header Mobile-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Aside-->
					{% include 'base_templates/aside.html' %}


				<!--end::Aside-->
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
					<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div class="" id="kt_subheader">
							<div class="container-fluid">


<style>

.container-fluid {
font-size: 14px;
}
  .faicons {
  font-size: 18px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: #5a5c69;
  }

  .icon-border {
  border: 1px solid #d1d3e2;
  border-radius: 5px 1px 1px 5px;
  border-right: none;


  }

  .control-label {
  color: black;

  }




</style>
   <style>
          .editableBox {
    width: 100%;
    height: 30px;
}

.timeTextBox {
    width: 154px;
    margin-left: -178px;
    height: 25px;
    border: none;
}


.editableBoxa {
    width: 100%;
    height: 30px;
}

.timeTextBoxa {
    width: 54px;
    margin-left: -78px;
    height: 25px;
    border: none;
}


.editableBoxz {
    width: 100%;
    height: 30px;
}

.timeTextBoxz {
    width: 54px;
    margin-left: -78px;
    height: 25px;
    border: none;
}

        </style>
 <script> function disable() {
  document.getElementById("name").disabled = true;
  }

  function enable() {
   document.getElementById("name").disabled = false;
  }

var form = document.getElementById("contact_form");
var elements = form.elements;
for (var i = 0, len = elements.length; i < len; ++i) {
    elements[i].disabled = true;
}
</script>
 <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content" style="background-color: white;">


        <!-- Topbar -->
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
<div class="container-fluid" >


     <div class="row">
           <div class="col-xl-4 col-md-3 mb-3 ">


                <div class="card-body" style="padding: 2px;">
                  <div class="row no-gutters align-items-right">

                    <h1 class="h3 mb-0 text-gray-800 ">
                      <br>Dispatch Module</h1>
                </div>
              </div>
            </div>
     </div>



<br>
<script>
function myFunction() {

  var x = document.getElementById("myText21");
  var y = document.getElementById("myText17");
  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "none";
  } else {
    x.style.display = "none";
    y.style.display = "block";
  }
  document.getElementById("myText").disabled = false;
    document.getElementById("myText2").disabled = false;
    document.getElementById("myText3").disabled = false;
    document.getElementById("myText4").disabled = false;
    document.getElementById("myText5").disabled = true;
    document.getElementById("myText6").disabled = false;
    document.getElementById("myText7").disabled = false;
    document.getElementById("myText8").disabled = false;
    document.getElementById("myText9").disabled = false;
    document.getElementById("myText10").disabled = false;
    document.getElementById("myText11").disabled = false;
    document.getElementById("myText12").disabled = false;
    document.getElementById("myText13").disabled = false;
    document.getElementById("myText14").disabled = false;
    document.getElementById("myText16").disabled = false;
    document.getElementById("myText20").disabled = false;
    document.getElementById("myText26").disabled = false;
    document.getElementById("myText27").disabled = false;
    document.getElementById("myText28").disabled = false;
    document.getElementById("myText15").disabled = false;

}
</script>


<br>
    <form class="well form-horizontal" ion=" " method="post"  id="contact_form" style="padding:20px;" enctype="multipart/form-data">{% csrf_token %}
<fieldset>

<div class="form-group row">
<label class="col-md-2 control-label ">Dispatch ID :- {{dispatch_item.dispatch_no}}

</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
    </div>
  </div>

    <label class="col-md-2 control-label">Customer number :- {{dispatch_item.crm_no.pk}}

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
    </div>
  </div>



</div>



<div class="form-group row">


    <label class="col-md-2 control-label">Customer Name *


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="customer_name" placeholder="Customer Name" class="form-control" required type="text" id="myText2" disabled value="{{dispatch_item.second_person}}">
    </div>
  </div>

    <label class="col-md-2 control-label">Customer Email ID


</label>

  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-card faicons"></i></span>
  <input  name="customer_email_id" placeholder="Customer Email ID" class="form-control" type="text" id="myText" disabled value="{% if dispatch_item.company_email != None and dispatch_item.company_email != '' %}{{dispatch_item.company_email}}{% else %}{% endif %}">
    </div>
  </div>


</div>



<div class="form-group row">
  <label class="col-md-2 control-label">Company Name


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-building faicons"></i></span>
  <input name="company_name" placeholder="Company name" class="form-control"  type="text" id="myText3" disabled value="{% if dispatch_item.second_company_name != None and dispatch_item.second_company_name != '' %}{{dispatch_item.second_company_name}}{% else %}{% endif %}">
    </div>
  </div>

    <label class="col-md-2 control-label">Customer Address *

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-book faicons"></i></span>
<input name="customer_address" class="form-control" id="myText4" disabled value="{{dispatch_item.company_address}}"/>    </div>
  </div>

</div>


<div class="form-group row">
  <label class="col-md-2 control-label">Contact No *


</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-building faicons"></i></span>
  <input  name="contact_no" placeholder="Contact No" onkeypress="return isNumber(event)" maxlength="10" minlength="10"  required class="form-control"  type="text" id="myText5" disabled value="{{dispatch_item.second_contact_no}}">
    </div>
  </div>


</div>
         <div class="form-group row">
  <label class="col-md-2 control-label">Bill Address

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input name="bill_address" placeholder="Bill Address" class="form-control" disabled id="myText6" value="{{dispatch_item.bill_address}}" type="text">
    </div>
  </div>

    <label class="col-md-2 control-label">Shipping Address

</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input name="shipping_address" placeholder="Shipping Address" class="form-control" disabled id="myText7" value="{{dispatch_item.shipping_address}}" type="text">
    </div>
  </div>
</div>
<div class="form-group row">


    <label class="col-md-2 control-label">Dispatch Date


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-calendar faicons"></i></span>
  <input type="date" name="date_of_dispatch" id="myText8" placeholder="Dispatch Date" class="form-control" disabled value="{{dispatch_item.date_of_dispatch|date:'Y-m-d'}}">
    </div>
  </div>





  <label class="col-md-2 control-label">Dispatched By




</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
<input  name="dispatch_by" placeholder="Dispatched By" id="myText9" disabled class="form-control" value="{% if dispatch_item.dispatch_by == None %}{% else %}{{dispatch_item.dispatch_by}}{% endif %}" type="text" list="dispat_list">
    <datalist style="height:20px;" id="dispat_list">
        <option value = "{{user.profile_name}}"></option>
      {% for item in user_list %}

      <option value = "{{item.profile_name}}"></option>
    {% endfor %}
    </datalist>


  </div>
     </div>
  </div>


  <div class="form-group row">

    <label class="col-md-2 control-label">Packed by


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>

      <input  name="packed_by" placeholder="Packed by
" class="form-control" id="myText10" disabled value="{% if dispatch_item.packed_by == None %}{% else %}{{dispatch_item.packed_by}}{% endif %}" type="text" list="packed_list">
        <datalist style="height:20px;" id="packed_list">
      {% for item in user_list %}

      <option value = "{{item.profile_name}}"></option>
    {% endfor %}
    </datalist>


    </div>
  </div>





  <label class="col-md-2 control-label">Hamal Name



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
  <input  name="hamal_name" placeholder="Hamal Name" class="form-control" id="myText11" type="text" disabled value="{% if dispatch_item.hamal_name == None %}{% else %}{{dispatch_item.hamal_name}}{% endif %}">
    </div>
  </div>
  </div>


  <div class="form-group row">



    <label class="col-md-2 control-label">No. of Bundles


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-list faicons"></i></span>
  <input  name="no_bundles" placeholder="No. of Bundles" class="form-control" id="myText12" type="text" disabled value="{{dispatch_item.no_bundles}}">
    </div>
  </div>





  <label class="col-md-2 control-label">Transport  Name



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-car faicons"></i></span>
  <input  name="transport_name" placeholder="Transport Name" class="form-control" id="myText13" type="text" disabled value="{% if dispatch_item.transport_name == None %}{% else %}{{dispatch_item.transport_name}}{% endif %}">
    </div>
  </div>
  </div>

  <div class="form-group row">


    <label class="col-md-2 control-label">LR NO


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-list faicons"></i></span>
  <input  name="lr_no" placeholder="LR NO" class="form-control" type="text" id="myText14" disabled value="{{dispatch_item.lr_no}}">
    </div>
  </div>





  <label class="col-md-2 control-label">Photo of LR No



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">

      <div style="padding-left:11px;" class="row">
          <div style="padding-left:0px;" class="col-xl-8">
  <input size="1" name="photo_lr_no" placeholder="Photo of LR No" class="form-control" id="myText15" type="file"  value="{{dispatch_item.photo_lr_no}}">
          </div>
          {% if dispatch_item.photo_lr_no %}
          <div class="col-xl-3">
              <a href="{{dispatch_item.photo_lr_no.url}}" class="btn btn-primary">Old File</a>
          </div>
          {% endif %}
    </div>

  </div>
  </div>
  </div>
<div class="form-group row">

    <label class="col-md-2 control-label">Channel of Dispatch


</label>

    <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-user faicons"></i></span>
<select name="channel_of_dispatch" required class="form-control" id="myText16" disabled>
  <option value="{{dispatch_item.channel_of_dispatch_id.id}}">{{dispatch_item.channel_of_dispatch_id.name}}</option>
  {% for item in channel_dispatch %}
          <option value="{{item.id}}">{{item.name}}</option>
          {% endfor %}
</select>




    </div>

  </div>





  <label class="col-md-2 control-label">Notes



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon icon-border"><i class="fa fa-address-book faicons"></i></span>
  <input  name="notes" placeholder="Notes" class="form-control" type="text" id="myText20" disabled value="{{dispatch_item.notes}}">
    </div>
  </div>
</div>



<div class="form-group row">
 <label class="col-md-2 control-label">Entry Date & Time:



</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <p>{{dispatch_item.entry_timedate}}</p>

    </div>
  </div>


  </div>












  <!--<label class="col-md-2 control-label">Output here-->



<!--</label>-->
  <!--<div class="col-md-4 inputGroupContainer">-->
  <!--<div class="input-group">-->
  <!--<span class="input-group-addon icon-border"><i class="fa fa-address-book faicons"></i></span>-->
  <!--<input name="user" placeholder="Notes" id="aa" class="form-control" type="text">-->
    <!--</div>-->
  <!--</div>-->

<!--</div>-->








<div class="col-md-12 ">
      <br>
    {% if 'Dispatch Module' in user.modules_assigned %}
    <center>
        <button onclick="myFunction()" class="btn btn-primary" id="myText17" type="reset" style="">Edit</button>
        <br>
        <br>
        <button style="display:none;" id="myText21" type="submit" value="Submit" class="btn btn-primary">Save</button>
      </center>
    {% endif %}
    </div>


</fieldset>
</form>


          <br>
</div>
                <style>
table {
  font-family: arial, sans-serif;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

  <br>
        <div class="col-xl-12 col-md-12 mb-12">
    {% for list in product_list %}

              <div class="card shadow">
                <div class="card-body row" style="padding: 15px;color: black; font-weight: 300; font-size: 14px;">

                  <table style="font-size: 14px;">
  <tr>
    <td>  Type of Scale:  </td>
    <td> {{list.type_of_scale}}  </td>
  </tr>
  <tr>
    <td> Model of Sales: </td>
    <td>  {{list.model_of_purchase}}  </td>
  </tr>
  <tr>
    <td>  Sub Model: </td>
    <td>  {{list.sub_model}} </td>
  </tr>
  <tr>
    <td> Sub Sub Model:  </td>
    <td> {{list.sub_sub_model}}  </td>
  </tr>
  <tr>
    <td> Serial No. of Scale:  </td>
    <td> {{list.serial_no_scale}} </td>
  </tr>
  <tr>
    <td>  Brand:</td>
    <td>  {{list.brand}}  </td>
  </tr>
   <tr>
    <td> Capacity:  </td>
    <td>  {{list.capacity}}  </td>
  </tr>
    <tr>
    <td> Quantity:  </td>
    <td> {{list.quantity}}  </td>
  </tr>
                      <tr>
    <td> Unit: </td>
    <td> {{list.unit}}  </td>
  </tr>


</table>


                    </div>

                  <br>
                  <br>
                      {% if 'Dispatch Module' in user.modules_assigned %}

                <center>
                <a href="/edit_dispatch_product/{{list.id}}"><button class="btn btn-primary">Edit</button></a>
</center>    {% endif %}
                <br>
              </div>
            {% endfor %}
      </div>
      </div>

    </div>
  </div>





          <center>
          <!--<a href="/add_product_details/{{cust_id.id}}"> <button style="background-color: #FC6E20;" class="btn btn-primary"Add Product</button></a>-->
            </center>
          <br>



<br>








</div>

  </div>
    </div>
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/dashboard/jquery.min.js' %}"></script>
  <script src="{% static 'js/dashboard/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'jjs/dashboard/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/dashboard/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'js/dashboard/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/dashboard/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/dashboard/chart-pie-demo.js' %}"></script>
      <script>

$(function() {
$("#stars").val("0");
    $("div.star-rating > s").on("click", function(e) {

    // remove all active classes first, needed if user clicks multiple times
    $(this).closest('div').find('.active').removeClass('active');

    $(e.target).parentsUntil("div").addClass('active'); // all elements up from the clicked one excluding self
    $(e.target).addClass('active');  // the element user has clicked on


        var numStars = $(e.target).parentsUntil("div").length+1;
        $("#stars").val(numStars);


    });
});

  window.onload = function() {
document.getElementById("").style.display = "none";
};


</script>



<script type="text/javascript">





 $(document).ready(function() {
            $("#submitList").click(function() {

              var details = $('.item_name').map(function() {
  return {
    name: $(this).val(),
  };
}).get();

$("#test").val(details.join(''));


console.log(details);
// document.getElementById("whereToPrint").innerHTML = JSON.stringify(details, null, 4);



var myJSON = JSON.stringify(details);  // String me convert


  var myJSON2 = myJSON.replace(/[[\]]/g,'');  // remove square

  var matches = myJSON2.replace(/[{:["}]/g, " ");  // remove Some characters

  var matches2 = matches.replace(/name/g, "");  // remove curly braces
var final = matches2.replace(/  /g,'');

  // var matches = myJSON.replace(/[^1-9 ]/g, "");

  // var matches2 = matches.split(/[ ,]+/).join(',');
    $("#aa").val(final);


// document.getElementById("demo").innerHTML = ;





    //     result = myJSON.split(":"),
    //     alpha = result[0],
    //     count = result[1],
    //     count_array = count.split(",");
    // for(var i=0; i<count_array.length;i++) count_array[i] = +count_array[i];



            var myJSON = "jhkj7682834";

            if (matches) {
                document.getElementById('GFG').innerHTML
                        = matches[0];
            }










            });
        });


 $(function () {
    $(".repeat").on('click', function (e) {
        e.preventDefault();
        var $self = $(this);
        $self.before($self.prev('table').clone());
        //$self.remove();
    });
});


// var inputArray = [];
// var input = document.getElementById('inputbox');
// var screen = document.getElementById('screen');

// document.getElementById('submit').onclick = function () {
//     inputArray.push(input.value);
//     screen.innerHTML = input.value;
// };
// document.getElementById('display').onclick = function () {
//     screen.innerHTML = inputArray
// };


</script>




							</div>
						</div>
					</div>
				</div>



				<!--end::Purchase-->
			</div>
			<!--end::Content-->
		</div>
		<!--end::Demo Panel-->
		<!--begin::Global Config(global config for global JS scripts)-->

		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="{% static 'plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'plugins/custom/prismjs/prismjs.bundle.js' %}"></script>
<script src="{% static 'js/scripts.bundle.js' %}"></script>
<!--end::Global Theme Bundle-->
<!--begin::Page Vendors(used by this page)-->
<script src="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
<!--end::Page Vendors-->
<!--begin::Page Scripts(used by this page)-->
<script src="{% static 'js/pages/widgets.js' %}"></script>
		<!--end::Page Scripts-->
	</body>
	<!--end::Body-->
</html>