
<!DOCTYPE html>

<html lang="en">
	<!--begin::Head-->
	<head><base href="">
		{% load static %}
		<meta charset="utf-8" />
		<title>Sales | HSCo</title>
		<meta name="description" content="Updates and statistics" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Page Vendors Styles(used by this page)-->
		<link href="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" />
		<!--end::Page Vendors Styles-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="{% static 'plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'plugins/custom/prismjs/prismjs.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->
		<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="header-mobile-fixed subheader-enabled aside-enabled aside-fixed aside-secondary-enabled page-loading">
		<!--begin::Main-->
		<!--begin::Header Mobile-->
		<div id="kt_header_mobile" class="header-mobile">
			<!--begin::Logo-->
			<a href="/">
				<h1>HSCo</h1>
			</a>
			<!--end::Logo-->
			<!--begin::Toolbar-->
			<div class="d-flex align-items-center">
				<button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
					<span></span>
				</button>
			</div>
			<!--end::Toolbar-->
		</div>
		<!--end::Header Mobile-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Aside-->
					{% include 'base_templates/aside.html' %}


				<!--end::Aside-->
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
					<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div class="" id="kt_subheader">
							<div class="container-fluid">
								<!--begin::Info-->

  <!-- Page Wrapper -->
  <div id="wrapper" style="margin-top: 5vh;">

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">


        <!-- Topbar -->
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class=" ">

          <!-- Page Heading -->
            <div class="row">
           <div class="col-xl-4 col-md-3 mb-3 ">


                <div class="card-body" style="padding: 2px;">
                  <div class="row no-gutters align-items-right">
<h1 class="h3 mb-0 text-gray-800 ">Sales Module</h1>


                </div>
              </div>
            </div>



                 <div class="col-xl-8 col-md-9 mb-9 ">


                <div class="card-body" style="padding: 2px;">
                  <div class="row no-gutters align-items-right">

     {% if request.user.is_authenticated %}
{% if user.role == 'Super Admin' or user.role == 'Admin' or user.role == 'Manager' %}
<a style="padding: 2px; " href="/purchase_analytics/"><button class="btn btn-primary">Analytics</button></a>


<form method="POST" ion="">{%csrf_token%}
 <a href="#"><button style=" margin-top: 3px;" name="deleted" type="submit" class="btn btn-primary" >Deleted User</button></a>
</form>

 <a style="padding: 2px;" href="/purchase_logs/"><button class="btn btn-primary">Log</button></a>
 <a style="padding: 2px;" href="/report/"><button class="btn btn-primary">Report</button></a>
 <a style="padding: 2px;" href="/add_purchase_details/"><button  class="btn btn-primary"> Add Sales </button></a>
                      <a style="padding: 2px;" href="/quick_purchase_entry/"><button class="btn btn-primary"> Rush Hour Entry </button></a>
                      <a style="padding: 2px;" href="/gstvsCash/"><button class="btn btn-primary"> GST vs Cash </button></a>

{% else %}
 <a style="padding: 2px;" href="/add_purchase_details/"><button  class="btn btn-primary"> Add Sales </button></a>
 <a style="padding: 2px;" href="/quick_purchase_entry/"><button  class="btn btn-primary"> Quick Entry </button></a>
{% endif %}
{% endif %}





                </div>
              </div>




            </div>



                </div>



<br>

<style>
    .border-right-primary{border-right:.25rem solid #4e73df!important}
</style>

                        <style>



.divs{
display:none;
}
</style>



            <script>
//$( document ).ready(function() {
  //      $('.divs').hide();});
$(function() {
  $('#divselector').change(function(){
    $('.divs').hide();
    $('#' + $(this).val()).show();
  });
});
            </script>
                    <!-- Date range, mob no, email id, customer name, company name, CRM no., CRM Number rnge -->
            <div class="row">

                <div  class="col-xl-3 col-md-3 col-mb-3">
                    <div class="button dropdown">
  <select id="divselector" class="form-control">
     <option value="d0">Select Search Type</option>
     <option value="d1">Search By Date Range</option>
     <option value="d2">Search By Mobile Number</option>
     <option value="d3">Search By Email Id</option>
     <option value="d4">Search By Customer Name</option>
     <option value="d5">Search By Company Name</option>
     <option value="d6">Search By CRM No.</option>
     <option value="d7">Search By Sales No.</option>
     <!--<option value="d7">Search By CRM Number Range</option>-->
  </select>
</div>

<br>
                </div>


                <div  class="col-xl-6 col-md-6 col-mb-8">


<div class="output">
                                                              <form method="POST" autocomplete="off">{% csrf_token%}
  <div id="d1" class="divs d1 row">

      <div style="float: left;" class="col-xl-4 col-md-4 col-mb-4">
                <input name="date1" type="date" placeholder="Search 1" class="form-control">

      </div>

      <div style="float: left;" class="col-xl-0 col-md-0 col-mb-0">
                <p style="font-weight: 600;">_</p>

      </div>

      <div style="float: left;" class="col-xl-4 col-md-4 col-mb-4">
                <input name="date2" type="date" placeholder="Search 1" class="form-control">

      </div>
      <div style="width: 25%;float: left;" class="col-xl-2 col-md-2 col-mb-2">
                <button name="submit1" type="submit" class="btn btn-primary">Search</button></div>

      </div>
                               </form>


  <div id="d2" class="divs d2">
      <form method="POST" >{% csrf_token%}
      <input type="number" name="contact" placeholder="Mobile Number" class="form-control" style="width: 25%;float: left;">
      &nbsp; &nbsp;
      <button  type="submit" name="submit2" class="btn btn-primary">Search</button>
  </form>
  </div>




  <div id="d3" class="divs d3">
      <form method="POST">{% csrf_token%}
      <input type="text" name="email" placeholder="Email Id" class="form-control" style="width: 25%;float: left;">
      &nbsp; &nbsp;

      <button name="submit3" class="btn btn-primary">Search</button>
          </form>
  </div>



    <div id="d4" class="divs d4">
        <form method="POST">{% csrf_token%}
      <input type="text" name="customer"  placeholder="Customer Name" class="form-control" style="width: 25%;float: left;">
      &nbsp; &nbsp;
      <button name="submit4" class="btn btn-primary">Search</button>
    </form>
    </div>

                               <form method="POST">{% csrf_token%}
  <div id="d5" class="divs d5">
      <input type="text" name="company" placeholder="Company Name" class="form-control" style="width: 25%;float: left;">
      &nbsp; &nbsp;
      <button name="submit5" class="btn btn-primary">Search</button></div>
</form>

                               <form method="POST">{% csrf_token%}

    <div id="d6" class="divs d6">
      <input type="text" name="crm" placeholder="CRM No." class="form-control" style="width: 25%;float: left;">
      &nbsp; &nbsp;
      <button name="submit6" class="btn btn-primary">Search</button></div>
</form>
                       <form method="POST">{% csrf_token%}

    <div id="d7" class="divs d7">
      <input type="text" name="purchase_no" placeholder="Sales No." class="form-control" style="width: 25%;float: left;">
      &nbsp; &nbsp;
      <button name="submit7" class="btn btn-primary">Search</button></div>
</form>
                               <!--<form method="POST">{% csrf_token%}-->

  <!--<div id="d7" class="divs d7 row" style="width: 50%;">-->
      <!--<div class="col-xl-4 col-md-4 col-mb-4">-->
                <!--<input name="crm1" type="text" placeholder="CRM No." class="form-control">-->

      <!--</div>-->

      <!--<div class="col-xl-0 col-md-0 col-mb-0">-->
                <!--<p style="font-weight: 600;">_</p>-->

      <!--</div>-->

      <!--<div class="col-xl-4 col-md-4 col-mb-4">-->
                <!--<input name="crm2" type="text" placeholder="CRM No." class="form-control">-->

      <!--</div>-->
      <!--<div class="col-xl-2 col-md-2 col-mb-2">-->
                <!--<button style="background-color: #FC6E20;" class="btn btn-primary">Search</button></div>-->

      <!--</div>-->
                               <!--</form>-->
</div>

                </div>


                                 <div class="col-xl-3 col-md-2 col-mb-8 row" style="color: black;">


{% if request.user.is_authenticated %}
{% if user.role == 'Super Admin' or user.role == 'Admin' or user.role == 'Manager' %}
                     <div class="col-xl-12 col-md-2 col-mb-8 row">
                         <div class="col-xl-4 col-md-2 col-mb-8">
    <p> Manager</p>
                     </div>
                     <div class="col-xl-3 col-md-2 col-mb-8">
                         <label class="switch ">
  <input name="deleted" type="checkbox" id="checker" checked onchange="toggleCheckbox2(this)">
  <span class="slider round"></span>
</label>
                     </div>
                     <div class="col-xl-5 col-md-2 col-mb-8">
                         <p>Employee</p>

                     </div>
                     </div>
{% else %}
                     {% endif %}
                     {% endif %}



                </div>

            </div>


                <div class="row" id="date_year" style="display:none;">

                       <div  class="col-xl-2 col-md-3 col-mb-3">
                    <div class="button dropdown">
                    <select id="selected_year" class="form-control">
     

                    </select>
                    </div>
                    </div>
<br>
                    <div class="col-xl-3 col-md-3 col-mb-3">
                    <div class="button dropdown">
                    <select id="selected_month" onchange="toggleCheckbo(this)" class="form-control">
     <option value="0">Select Month</option>
     <option value="1">January</option>
     <option value="2">February</option>
     <option value="3">March</option>
     <option value="4">April</option>
     <option value="5">May</option>
     <option value="6">June</option>
     <option value="7">July</option>
     <option value="8">August</option>
     <option value="9">September</option>
     <option value="10">October</option>
     <option value="11">November</option>
     <option value="12">December</option>
                    </select>
                    </div>
                    </div>




                </div>




               <style>
        .border-right-primarya {
        border-right: 4px solid blue;
        }
        .border-left-primarya {
        border-left: 4px solid blue;
        }
    </style>
<style>
  .border-left-primary {
    border-left: .09rem solid #4e73df!important;
    font-size: 12px;

}

a:hover {
  text-decoration: none;
}
    #btn-delete{

    }

</style>

                        <style>
                .border_class {
                border:1px solid black;
                height:45px;
                text-align:center;
                vertical-align: middle;
                line-height: 45px;
                }


  table {
  border-collapse: collapse;
  width: 99%;
  font-size: 14px;
  border-color: black;
  color: black;



}


th {

  font-size: 13px;
    border: 1px solid black;
    text-align: left;
    padding:5px;

}

td {
  border: 1px solid black;
  padding: 3px;
  font-size: 13px;
  padding: 5px;
  text-align: center;
}


            </style>


<div >

        {% if deleted %}
                  <center> <p>list of deleted users</p></center>
                    {% endif %}
     <center><p>{{search_msg}}</p></center>

<!--    <form action="" method="post">{% csrf_token %}-->
        <div class="row table-responsive" id="id_manager_view">

    <table class="table">

        <tr style="background-color: gray; color: white;">
            <td style="border-radius: 15px 0px 0px 0px; border: 0px solid gray;">Dispatch Id</td>
            <td style="border: 0px solid gray;">Date </td>
            <td style="border: 0px solid gray;"> Sales ID</td>
            <td style="border: 0px solid gray;">Customer Name</td>
            <td style="border: 0px solid gray;"> Company Name </td>
            <td style="border: 0px solid gray;">Contact No.</td>
            <td style="border: 0px solid gray;">Sales Person  </td>
            <td style="border: 0px solid gray;">Feedback  </td>
            <td style="border-radius: 0px 15px 0px 0px; border: 0px solid gray;">Selection</td>
        </tr>{% csrf_token %}
                    {% for list1 in customer_list %}
        {% if list1.payment_mode == 'Credit' and list1.credit_pending_amount != 0.0 %}
            <tr bgcolor="red" style="background-color:red; cursor: pointer; ">
        {% elif list1.payment_mode == 'Credit' and list1.is_gst == True %}
            <tr bgcolor="#ffbf00" style="background-color:#ffbf00; cursor: pointer; ">
        {% elif list1.is_gst == True %}
            <tr bgcolor="green" style="background-color:green; cursor: pointer; ">
        {% else %}
            <tr style="cursor: pointer; " id="{{list1.purchase_no}}">
        {% endif %}

                        <td onclick="location.href='/update_customer_details/{{list1.pk}}';">{% if list1.dispatch_id_assigned == None %} N/A {% else %}{{ list1.dispatch_id_assigned.dispatch_no }}{% endif %}</td>

            <td onclick="location.href='/update_customer_details/{{list1.pk}}';">{{ list1.date_of_purchase|date:'Y-m-d'}}</td>
            <td onclick="location.href='/update_customer_details/{{list1.pk}}';">{{ list1.purchase_no}}</td>
            <td onclick="location.href='/update_customer_details/{{list1.pk}}';">{{ list1.second_person }}</td>
            <td onclick="location.href='/update_customer_details/{{list1.pk}}';">{% if list1.second_company_name != None and list1.second_company_name != '' %}{{list1.second_company_name}}{% else %}{% endif %}</td>
            <td onclick="location.href='/update_customer_details/{{list1.pk}}';">{{ list1.second_contact_no }}</td>
            <td onclick="location.href='/update_customer_details/{{list1.pk}}';">{{list1.sales_person}}</td>
            <td>
                       {% for avg in  list1.feedback_stars|rjust:'5'  %}
              {% if forloop.counter <= list1.feedback_stars %}
                  <i class="fa fa-star" aria-hidden="true" style="color: yellow; font-size: 12px;"></i>
              {% else %}
                  <i class="fa fa-star" aria-hidden="true" style=" font-size: 12px;"></i>
              {% endif %}
            {% endfor %}
            </td>
            <td>
                <input type="checkbox" name="delete_purchase_id" value="{{list1.purchase_no}}">
            </td>

        </tr>
                          {% endfor %}

    </table>
        {% if user.role == 'Manager' or user.role == 'Admin' or user.role == 'Super Admin' %}
            <div>
                <button style="cursor: pointer;" type="submit" name="delete_purchase_id" id="delete_btn" class="btn btn-danger">Delete Selected Sales</button>
                <div>
                    {% for message in messages %}
                        <h4>{{message}}</h4>
                    {% endfor %}
                </div>
                <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
                <script>
                    $(document).ready(function(){
                        $('#delete_btn').click(function () {
                            if(confirm("Are you sure want to delete selected items?")){
                                let delete_purchase_id='';
                                let id=[];
                                let csrf=$('input[name=csrfmiddlewaretoken]').val();
                                $(':checkbox:checked').each(function(i){
                                    id[i]=$(this).val();
                                });
                                if(id.length===0){
                                    alert("Please select item first!!");
                                }
                                else{
                                    console.log(id)
                                    $.ajax({
                                        url:"/view_customer_details/",
                                        method:"POST",
                                        data:{
                                        delete_purchase_id,
                                        id,
                                        csrfmiddlewaretoken:csrf,
                                        },
                                        success:function(response) {
                                            for (let i = 0; i < id.length; i++) {
                                                $('tr#' + id[i] + '').css('background-color', '#ccc');
                                                $('tr#' + id[i] + '').fadeOut('slow');
                                            }//for
                                        },
                                        fail:function(response){
                                            $('#delete_btn').css('background-color', 'red');
                                        }//success
                                });//ajax
                            }//else
                        }
                    })})
                </script>
            </div>
        </div>

<!--    </form>-->
            <br>



            {% endif %}






<br>


<!--            <div class="pagination">-->
<!--    <span class="step-links">-->
<!--        {% if customer_list.has_previous %}-->
<!--            <a href="?page=1"  class="btn btn-primary">&laquo; First</a>&nbsp;&nbsp;-->
<!--            <a href="?page={{ customer_list.previous_page_number }}" class="btn btn-primary">Previous</a>&nbsp;-->
<!--        {% endif %}-->

<!--        <span class="current">-->
<!--            Page {{ customer_list.number }} of {{ customer_list.paginator.num_pages }}.-->
<!--        </span>-->

<!--        {% if customer_list.has_next %}-->
<!--        &nbsp;-->
<!--            <a href="?page={{ customer_list.next_page_number }}" class="btn btn-primary">Next</a>&nbsp;&nbsp;-->
<!--            <a href="?page={{ customer_list.paginator.num_pages }}" class="btn btn-primary">Last &raquo;</a>-->
<!--        {% endif %}-->
<!--    </span>-->
<!--            </div>-->



        </div>
              </div>

</div>
<br>

  </div>

  <!-- End of Page Wrapper -->
  </div>



  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

             <script>

        function toggleCheckbox(select) {
value = select.checked;

    $.ajax({
        url: "/load_dispatch_done/",
        data: {
          'loc_id':value,
        },
        success: function (data) {
           $("#id_subcat").html(data);
        }
      });
}
        function toggleCheckbox2(select) {
value = !select.checked;
if(!select.checked == true){

    document.getElementById("date_year").style.display = "block";
}else{
document.getElementById("date_year").style.display = "none";
}


    $.ajax({
        url: "/load_users/",
        data: {
          'loc_id':value,
          'sel_month':value,
          'sel_year':value,

        },
        success: function (data) {
           $("#id_manager_view").html(data);
        }
      });
}

function toggleCheckbo(select) {
sel_month = select.options[select.selectedIndex].value;
sel_month_text = select.options[select.selectedIndex].text;
sel_year = document.getElementById("selected_year")
sel_year= sel_year.options[sel_year.selectedIndex].value;
value = !document.getElementById("checker").checked;


    $.ajax({
        url: "/load_users/",
        data: {
          'loc_id':value,
          'sel_month':sel_month,
          'sel_month_text':sel_month_text,
          'sel_year':sel_year,

        },
        success: function (data) {
           $("#id_manager_view").html(data);
        }
      });
}

function addYearsToDropdown(startYear, endYear) {
  const selectElement = document.getElementById('selected_year');
  
  // Clear existing options
  selectElement.innerHTML = '';

  // Loop through the years and create option elements
  for (let year = startYear; year <= endYear; year++) {
    const option = document.createElement('option');
    option.value = year;
    option.textContent = year;
    selectElement.appendChild(option);
  }
}

// Add years from 2020 to 2030 (you can adjust the range as needed)
addYearsToDropdown(2020, 2026);
    </script>



							</div>
						</div>
					</div>
				</div>



				<!--end::Purchase-->
			</div>
			<!--end::Content-->
		</div>
		<!--end::Demo Panel-->
		<!--begin::Global Config(global config for global JS scripts)-->

		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="{% static 'plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'plugins/custom/prismjs/prismjs.bundle.js' %}"></script>
<script src="{% static 'js/scripts.bundle.js' %}"></script>
<!--end::Global Theme Bundle-->
<!--begin::Page Vendors(used by this page)-->
<script src="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
<!--end::Page Vendors-->
<!--begin::Page Scripts(used by this page)-->
<script src="{% static 'js/pages/widgets.js' %}"></script>

		<!--end::Page Scripts-->
	</body>
	<!--end::Body-->
</html>