 <!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

		<title>HSCO</title>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/dashboard/sb-admin-2.min.css' %}" rel="stylesheet">

<style>

* {
    font-family: 'Poppins';
}

    a:link {
  text-decoration: none;
}
</style>


</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
	{% include 'base_templates/sidebar.html' %}

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">


        <!-- Topbar -->
      {% include 'base_templates/navbar_for_dashboard.html' %}



        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
          </div>
<center>
                <h1 class="h3 mb-0 text-gray-800" style="font-size: 25px;">Dashboard</h1>

</center>

            <br><br>
          <!-- Content Row -->
          <div class="row">


            {% if request.user.is_authenticated and 'Customer Module' in user.modules_assigned %}

               <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow">
                  <a href="/view_customer_details/">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">

                      <div class=" font-weight-bold text-primary text-uppercase mb-1" style="font-size: 18px;">Purchase Module
</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-user fa-x text-gray-300" style="font-size: 18px;"></i>
                    </div>
                  </div>
                </div>
                         </a>
              </div>
            </div>
            {% endif %}
            {% if request.user.is_authenticated and "'Repairing Module'" in user.modules_assigned %}

            <!-- Earnings (Monthly) Card Example -->

            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-success shadow  ">
                <div class="card-body">
                    <a href="/repairing_module_home/">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1" style="font-size: 18px;">Repairing Module
</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                    </div>
                    <div class="col-auto">

                      <i class="fas fa-wrench fa-x text-gray-300"  style="font-size: 18px;"></i>


                    </div>
                  </div>
                    </a>
                </div>
              </div>
            </div>
            {% endif %}

            <!-- Earnings (Monthly) Card Example -->
                                                {% if request.user.is_authenticated and 'Restamping Module' in user.modules_assigned %}

            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-info shadow  ">
                <div class="card-body">
                                        <a href="/restamping_manager/">

                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1" style="font-size: 18px;">Restamping Module
</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                        </div>

                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-x text-gray-300"  style="font-size: 18px;"></i>
                    </div>
                  </div>
                                        </a>
                </div>
              </div>
            </div>
            {% endif %}

            <!-- Pending Requests Card Example -->
                                                {% if request.user.is_authenticated and 'Dispatch Module' in user.modules_assigned %}

            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-warning shadow  ">
                <div class="card-body">
                                                        <a href="/dispatch_view/">

                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1" style="font-size: 18px;">Dispatch
Module
</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-truck fa-x text-gray-300"  style="font-size: 18px;"></i>
                    </div>
                  </div>
                                                        </a>
                </div>
              </div>
            </div>
            {% endif %}

            <!-- Earnings (Monthly) Card Example -->
                                          {% if request.user.is_authenticated and 'AMC Module' in user.modules_assigned %}

            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow  ">
                <div class="card-body">
                                                                            <a href="/amc_views/">

                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-size: 18px;">AMC Module
</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-area-chart fa-x text-gray-300"  style="font-size: 18px;"></i>
                    </div>
                  </div>
                                                                            </a>
                </div>
              </div>
            </div>
            {% endif %}

            <!-- Earnings (Monthly) Card Example -->
                                  {% if request.user.is_authenticated and 'Onsite Repairing Module' in user.modules_assigned %}

            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-success shadow  ">
                <div class="card-body">
                                                                                                <a href="/onsite_views/">

                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1" style="font-size: 18px;">Onsite Repairing Module
</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                    </div>
                    <div class="col-auto">

                      <i class="fas fa-institution fa-x text-gray-300"  style="font-size: 18px;"></i>


                    </div>
                  </div>
                                                                                                </a>
                </div>
              </div>
            </div>
                        {% endif %}
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-info shadow  ">
                <div class="card-body">
                   <a href="/employee_profile/{{user.id}}">

                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1" style="font-size: 18px;">Employee Self Service
</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                        </div>
                        <div class="col">

                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-x text-gray-300"  style="font-size: 18px;"></i>
                    </div>
                  </div>
                                                                                                                    </a>
                </div>
              </div>
            </div>


               <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-warning shadow  ">
                <div class="card-body">
                    <a href="/notif_decl_home/">

                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1" style="font-size: 15px;">Notification and Declaration

</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-x text-gray-300"  style="font-size: 18px;"></i>
                    </div>
                  </div>
                        </a>
                </div>
              </div>
            </div>


                                  {% if request.user.is_authenticated and 'Lead Module' in user.modules_assigned %}

                            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-info shadow  ">
                <div class="card-body">
                    <a href="/lead_home/">

                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1" style="font-size: 15px;"> Lead Management

</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-x text-gray-300"  style="font-size: 18px;"></i>
                    </div>
                  </div>
                        </a>
                </div>
              </div>
            </div>
            {% endif %}

                                                {% if request.user.is_authenticated and 'Stock Module' in user.modules_assigned %}

                                          <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-info shadow  ">
                <div class="card-body">
                    <a href="{% url 'stock_godown_list' %}">

                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1" style="font-size: 15px;"> Stock Management System

</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-x text-gray-300"  style="font-size: 18px;"></i>
                    </div>
                  </div>
                        </a>
                </div>
              </div>
            </div>
            {% endif %}


                                                {% if request.user.is_authenticated and 'Career Module' in user.modules_assigned %}

              <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-info shadow  ">
                <div class="card-body">
                    <a href="{% url 'career_module_list' %}">

                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1" style="font-size: 15px;"> Career Module

</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-x text-gray-300"  style="font-size: 18px;"></i>
                    </div>
                  </div>
                        </a>
                </div>
              </div>
            </div>
            {% endif %}

          </div>

          <!-- Content Row -->
<br>
<br>




    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


</div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/dashboard/jquery.min.js' %}"></script>
  <script src="{% static 'js/dashboard/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'jjs/dashboard/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/dashboard/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'js/dashboard/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/dashboard/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/dashboard/chart-pie-demo.js' %}"></script>

</body>

</html>
