 <!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HSCO</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/dashboard/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

<style>

* {
color:;
}
  .faicons {
  font-size: 18px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #5a5c69;
  }

  .icon-border {
  border: 1px solid #d1d3e2;
  border-radius: 5px 1px 1px 5px;
  border-right: none;


  }

  .control-label {
  color: black;

  }


  table {
  border-collapse: collapse;
  width: 90%;
  font-size: 13px;
  border-color: black;


}


th {

  font-size: 15px;
    border: 1px solid black;
    text-align: left;
    font-weight: 900;
    color: black;

}

td {
  border: 1px solid black;
  padding: 5px;
}

.alignL {
  text-align: left; padding-left: 15px;
  color: black;
  font-weight: 600;
  font-size: 12px;
}

.alignR {
  text-align: right; padding-right: 10px;
}

</style>

  <!-- Page Wrapper -->
  <div id="wrapper">
	{% include 'base_templates/sidebar.html' %}

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content" style="background-color: white;">


        <!-- Topbar -->
	{% include 'base_templates/navbar_for_dashboard.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid" >

      <!-- Page Heading -->
          <!--<div class="d-sm-flex align-items-center justify-content-between mb-4">-->
      <!--<center>  <h1 style="color: black; font-size: 25px;">Custom Report</h1>  </center>-->
            <!--<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"  onclick="exportHTMLTableToCSV('purchase_report.csv', 'MyTable2')"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
          <!--</div>-->




<br>
<div style="overflow-x:auto;">

          <!--<table id="MyTable">-->
            <!--<tr>-->
              <!--{% for list in selected_list%}-->
              <!--<th>{{list}}</th>-->
              <!--{% endfor %}-->


            <!--</tr>-->
                            <!--{% for list in final_row %}-->
                          <!--<tr>-->

                            <!--{% for lis in list %}-->

              <!--<td>{{lis}}</td>-->


                            <!--{% endfor %}-->
                              <!--</tr>-->
                            <!--{% endfor %}-->


          <!--</table>-->

    <br>
    <br>

     <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <center>  <h1 style="color: black; font-size: 25px;">Custom Product Report</h1>  </center>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"  onclick="tableToExcel(&#39;testTable&#39;, &#39;W3C Example Table&#39;)" ><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>

<!--      <table id="testTable" summary="Code page support in different versions of MS Windows." rules="groups" frame="hsides">-->
<!--            <tr>-->
<!--              {% for list in selected_product_list%}-->
<!--              <th>{{list}}</th>-->
<!--              {% endfor %}-->


<!--            </tr>-->
<!--                            {% for list in final_row_product %}-->
<!--                          <tr>-->

<!--                            {% for lis in list %}-->

<!--              <td>{{lis}}</td>-->


<!--                            {% endfor %}-->
<!--                              </tr>-->
<!--                            {% endfor %}-->


<!--          </table>-->


    <table style="border:2px solid black" id="testTable" summary="Code page support in different versions of MS Windows." rules="groups" frame="hsides">
        <tr>
            {% for lead in sales_query %}
                {% if forloop.first %}
                    {% for header in lead.keys %}
                        <th>{{ header }}</th>
                    {% endfor %}
                {% endif %}
         </tr>
                <tr>
                    {% for value in lead.values %}
                        {% if 'products_list' in lead.keys %}
                            {% if forloop.last %}

                            {% else %}
                                <td>{{ value }}</td>
                            {% endif %}
                        {% else %}
                            <td>{{ value }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}

    </table>

</div>
</div>





<br>







</div>
    </div>
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/dashboard/jquery.min.js' %}"></script>
  <script src="{% static 'js/dashboard/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'jjs/dashboard/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/dashboard/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'js/dashboard/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/dashboard/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/dashboard/chart-pie-demo.js' %}"></script>
<script>

var tableToExcel = (function() {
  var uri = 'data:application/vnd.ms-excel;base64,'
    , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
    , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
    , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
  return function(table, name) {
    if (!table.nodeType) table = document.getElementById(table)
    var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
    window.location.href = uri + base64(format(template, ctx))
  }
})()

</script>
</body>

</html>
