<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

		<title>Landscape Duniya CMS</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'css/dashboard/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/search/thumbnail-gallery.css' %}">
<link rel="stylesheet" id="select2.min-css" href="{% static 'css/search/select2.css' %}" type="text/css" media="all">
<link rel="stylesheet" id="jquery-ui-css" href="{% static 'css/search/jquery-ui.css' %}" type="text/css" media="all">
<link rel="stylesheet" id="bootstrap-css" href="{% static 'css/search/bootstrap.css' %}" type="text/css" media="all">
<link rel="stylesheet" id="animate.min-css" href="{% static 'css/search/animate.css' %}" type="text/css" media="all">
<link rel="stylesheet" id="bootstrap-dropdownhover.min-css" href="{% static 'css/search/bootstrap-dropdownhover.css' %}" type="text/css" media="all">
<link rel="stylesheet" id="classiera-components-css" href="{% static 'css/search/classiera-components.css' %}" type="text/css" media="all">
<link rel="stylesheet" id="classiera-css" href="{% static 'css/search/classiera.css' %}" type="text/css" media="all">
<link rel="stylesheet" id="owl.theme.default.min-css" href="{% static 'css/search/owl.css' %}" type="text/css" media="all">
<link rel="stylesheet" id="responsive-css" href="{% static 'css/search/responsive.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Custom styles for this template-->
  <link href="{% static 'css/dashboard/sb-admin-2.min.css' %}" rel="stylesheet">

  <style>
input[type=text], select {
    padding: 5px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 60px 20px 100px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


@media screen and (min-width: 600px) {

input[type=text], select {
   width: 60%;
}



input[type=submit] {
  width: 60%;

}

}





</style>

</head>


<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
	{% include 'base_templates/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <!-- Dropdown - Alerts -->
         <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">February 8, 2019</div>
                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">February 10, 2019</div>
                    24 People viewed your profile.
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">February 20, 2019</div>
                    10 People searched for your profile.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>


            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">7</span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://images.performgroup.com/di/library/GOAL/7f/5b/cristiano-ronaldo-juventus-2018-19_1rpt4c6b200ms1azb3eb21f5sc.jpg?t=-96920201" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">Hi there! I am wondering if you can call me regarding the.</div>
                    <div class="small text-gray-500">Harsh Pathak · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://images.performgroup.com/di/library/GOAL/7f/5b/cristiano-ronaldo-juventus-2018-19_1rpt4c6b200ms1azb3eb21f5sc.jpg?t=-96920201" alt="">
                    <div class="status-indicator"></div>
                  </div>
                  <div>
                    <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                    <div class="small text-gray-500">Vikas Pandey · 1d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://images.performgroup.com/di/library/GOAL/7f/5b/cristiano-ronaldo-juventus-2018-19_1rpt4c6b200ms1azb3eb21f5sc.jpg?t=-96920201" alt="">
                    <div class="status-indicator bg-warning"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                    <div class="small text-gray-500">Harsh Pathak · 2d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://images.performgroup.com/di/library/GOAL/7f/5b/cristiano-ronaldo-juventus-2018-19_1rpt4c6b200ms1azb3eb21f5sc.jpg?t=-96920201" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div>
                    <div class="text-truncate">I'd like to buy grass pavers from you</div>
                    <div class="small text-gray-500">Vikas Pandey · 2w</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="{% url 'all_messages' %}">Read More Messages</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - user Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Vikas Pandey</span>
                <img class="img-profile rounded-circle" src="ronaldo.jpg">
              </a>
              <!-- Dropdown - user Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->













<style type="text/css">

	/* Full-width input fields */
.qfinp {
  width: 60%;
  padding: 15px;
  margin: 5px 0 5px 0;
  display: inline-block;

border-radius: 10px;

overflow: hidden;

}
.button {
  background-color: #a0e418; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}



.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.lname {
width: 35%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
border:3px solid #696969;
border-radius: 10px;

}

.fname {
width: 35%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
border:3px solid #696969;
border-radius: 10px;

}

.drop {
	width: 58%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
border:3px solid #696969;
border-radius: 10px;
}


.qfinp:focus {
  background-color: #ddd;
  outline: none;
}



@media screen and (min-width: 600px) {

.cont {
	width:800px;
}


}
@media screen and (max-width: 600px) {
  .qfinp {
    width: 100%;
    margin-top: 0;
  }




  .lname {
 width: 100%;
    margin-top: 0;

}

.fname {
 width: 100%;
    margin-top: 0;



}

.drop {
width: 100%;
    margin-top: 0;
}




</style>






        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Package  Selection</h1>

        </div>
        <!-- /.container-fluid -->

 <div class="tz-gallery" >

        <div class="row" >
  {% for package in packages %}

               <div class="col-md-11 rr" style="height: 185px; margin-left: 20px; margin-top: 30px;">
                <div class="thumbnail">
                    <!--{% if package.company_image %}-->
                                                             <!--<img src="{{ package.company_image.url }}" style="float: left; height: 150px; padding-top: 8px; padding-left: 5px; padding-right: 20px; width: 250px; ">-->

                    <!--{% else %}-->
                     <!--<img src="{% static 'images/tp.jpg' %}" style="float: left; height: 150px; padding-top: 8px; padding-left: 5px; padding-right: 20px; width: 250px; ">-->

                    <!--{% endif %}-->


                      <p id="para" style=" font-size: 18px; font-weight: 600; text-align: left; color: black; padding-top: 5px;"><a href="/user/{{ package.pk }}/{{query}}/{{location}}">{{ package.package_name }}</a><br>



<i class="fa fa-credit-card" aria-hidden="true" style="color: #383838;"> </i> <span style="font-size: 14px; font-weight: 300;"> Price:{{ package.package_amt }}</span> <br>
<i class="fa fa-hand-o-right" aria-hidden="true" style="color: #383838;"> </i> <span style="font-size: 14px; font-weight: 300;"> Subcategory Points:{{ package.subcategory_points }}</span> <br>
<i class="fa fa-hand-o-right" aria-hidden="true" style="color: #383838;"> </i> <span style="font-size: 14px; font-weight: 300;"> Estimated Impressions:{{ package.est_impressions }}</span> <br>
<i class="fa fa-hand-o-right" aria-hidden="true" style="color: #383838;"> </i> <span style="font-size: 14px; font-weight: 300;"> Estimated Profile Views:{{ package.est_profileviews }}</span> <br>
<i class="fa fa-hand-o-right" aria-hidden="true" style="color: #383838;"> </i> <span style="font-size: 14px; font-weight: 300;"> Estimated Call Enquiries:{{ package.est_callenquiries }}</span> <br>
<i class="fa fa-hand-o-right" aria-hidden="true" style="color: #383838;"> </i> <span style="font-size: 14px; font-weight: 300;"> Estimated Website Visits:{{ package.est_websitevisits }}</span> <br>
<i class="fa fa-hand-o-right" aria-hidden="true" style="color: #383838;"> </i> <span style="font-size: 14px; font-weight: 300;"> Estimated Email Visits:{{ package.est_emailvisits }}</span> <br>



                            <button class="button button2"  style="float: right; margin-top: -9%; margin-right: 40px;  font-size: 18px;">Select Package</button>
                    </a>

                </div>
                   <div class="caption" >



                    </div>
            </div>

        </div>
         {% endfor %}


</div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">

        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/dashboard/jquery.min.js' %}"></script>
  <script src="{% static 'js/dashboard/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'js/dashboard/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/dashboard/sb-admin-2.min.js' %}"></script>
  </div>
</body>

</html>
