<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
            <!--for modal-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

		<title>Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'css/dashboard/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/dashboard/sb-admin-2.min.css' %}" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

  <style>
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

*{
font-family: 'Montserrat', sans-serif;
}

</style>
</head>

<body id="page-top">

  <div id="wrapper">
      {% include 'base_templates/sidebar.html' %}

    <div id="content-wrapper" class="d-flex flex-column">

      <div id="content">

      {% include 'base_templates/navbar_for_dashboard.html' %}

      <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-12 col-md-12 mb-12" style="padding-top: 15px;">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="h5 mb-0 font-weight-bold text-gray-800">PLY</div>
                    </div>
                    <div class="col-auto">
                      <a href="/item_list/">
<button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="padding: 10px;">ADD</button> &nbsp;

                      </a>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-12 col-md-12 mb-12" style="padding-top: 15px;">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">

                      <div class="h5 mb-0 font-weight-bold text-gray-800">BLACKBOARD</div>
                    </div>
                     <div class="col-auto">
                                            <a href="/mis/">

                      <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="padding: 10px;">ADD</button> &nbsp;
                    </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-12 col-md-12 mb-12" style="padding-top: 15px;">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">

                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">DOORS</div>
                        </div>

                      </div>

                    </div>
                     <div class="col-auto">
                                            <a href="/mis/">

                      <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="padding: 10px;">ADD</button> &nbsp;
                    </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-12 col-md-12 mb-12" style="padding-top: 15px;">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">

                      <div class="h5 mb-0 font-weight-bold text-gray-800">SOFTBOARD</div>
                    </div>
                     <div class="col-auto">
                                            <a href="/mis/">

                      <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="padding: 10px;">ADD</button> &nbsp;
                    </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>
            </div>

          </div>


      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">

        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->




  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/dashboard/jquery.min.js' %}"></script>
  <script src="{% static 'js/dashboard/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'jjs/dashboard/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/dashboard/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'js/dashboard/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/dashboard/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/dashboard/chart-pie-demo.js' %}"></script>






</body>

</html>
