				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% comment %}
{% include 'session_security/all.html' %}
{% endcomment %}
{% load session_security_tags %}
{% load i18n l10n %}
{% load static from staticfiles %}
{# If the user is not authenticated then there is no session to secure ! #}
{% if request.user.is_authenticated %}
<link rel="stylesheet" type="text/css" href="{% static 'session_security/style.css' %}">
{% include 'session_security/dialog.html' %}
<script type="text/javascript" src="{% static 'session_security/script.js' %}"></script>
{% localize off %}
<script type="text/javascript">
var sessionSecurity = new yourlabs.SessionSecurity({
pingUrl: '{% url 'session_security_ping' %}',
warnAfter: {{ request|warn_after|unlocalize }},
expireAfter: {{ request|expire_after|unlocalize }},
confirmFormDiscard: "{% trans 'You have unsaved changes in a form of this page.' %}"
});
</script>
{% endlocalize %}
{% endif %}
